<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zhangliaolh7_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,332},{97,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,85}}</string>
                <key>sourceSize</key>
                <string>{97,85}</string>
            </dict>
            <key>zhangliaolh7_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,431},{35,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,57}}</string>
                <key>sourceSize</key>
                <string>{35,57}</string>
            </dict>
            <key>zhangliaolh7_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,2},{236,172}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{236,172}}</string>
                <key>sourceSize</key>
                <string>{236,176}</string>
            </dict>
            <key>zhangliaolh7_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{373,170}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{373,170}}</string>
                <key>sourceSize</key>
                <string>{373,176}</string>
            </dict>
            <key>zhangliaolh7_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,593},{160,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,123}}</string>
                <key>sourceSize</key>
                <string>{160,123}</string>
            </dict>
            <key>zhangliaolh7_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,356},{302,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{302,213}}</string>
                <key>sourceSize</key>
                <string>{302,213}</string>
            </dict>
            <key>zhangliaolh7_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{669,717},{6,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{6,9}}</string>
                <key>sourceSize</key>
                <string>{6,9}</string>
            </dict>
            <key>zhangliaolh7_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{719,615},{14,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,14}}</string>
                <key>sourceSize</key>
                <string>{14,14}</string>
            </dict>
            <key>zhangliaolh7_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,634},{22,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,29}}</string>
                <key>sourceSize</key>
                <string>{22,29}</string>
            </dict>
            <key>zhangliaolh7_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,748},{147,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,87}}</string>
                <key>sourceSize</key>
                <string>{147,87}</string>
            </dict>
            <key>zhangliaolh7_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,392},{156,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,54}}</string>
                <key>sourceSize</key>
                <string>{156,54}</string>
            </dict>
            <key>zhangliaolh7_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,571},{299,175}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{299,175}}</string>
                <key>sourceSize</key>
                <string>{299,183}</string>
            </dict>
            <key>zhangliaolh7_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,815},{13,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,13}}</string>
                <key>sourceSize</key>
                <string>{13,13}</string>
            </dict>
            <key>zhangliaolh7_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,802},{43,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,57}}</string>
                <key>sourceSize</key>
                <string>{43,57}</string>
            </dict>
            <key>zhangliaolh7_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,174},{355,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{355,180}}</string>
                <key>sourceSize</key>
                <string>{359,188}</string>
            </dict>
            <key>zhangliaolh7_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,782},{82,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,65}}</string>
                <key>sourceSize</key>
                <string>{82,65}</string>
            </dict>
            <key>zhangliaolh7_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,725},{68,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,75}}</string>
                <key>sourceSize</key>
                <string>{68,75}</string>
            </dict>
            <key>zhangliaolh7_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{683,674},{49,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,102}}</string>
                <key>sourceSize</key>
                <string>{49,102}</string>
            </dict>
            <key>zhangliaolh7_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,2},{8,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,3}}</string>
                <key>sourceSize</key>
                <string>{8,3}</string>
            </dict>
            <key>zhangliaolh7_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,840},{15,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,7}}</string>
                <key>sourceSize</key>
                <string>{15,7}</string>
            </dict>
            <key>zhangliaolh7_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,550},{61,86}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,86}}</string>
                <key>sourceSize</key>
                <string>{63,86}</string>
            </dict>
            <key>zhangliaolh7_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,474},{62,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,107}}</string>
                <key>sourceSize</key>
                <string>{62,107}</string>
            </dict>
            <key>zhangliaolh7_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,794},{28,34}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{28,34}}</string>
                <key>sourceSize</key>
                <string>{28,38}</string>
            </dict>
            <key>zhangliaolh7_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{615,2},{212,227}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,227}}</string>
                <key>sourceSize</key>
                <string>{212,227}</string>
            </dict>
            <key>zhangliaolh7_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,613},{109,97}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{109,97}}</string>
                <key>sourceSize</key>
                <string>{119,97}</string>
            </dict>
            <key>zhangliaolh7_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,717},{63,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,97}}</string>
                <key>sourceSize</key>
                <string>{63,97}</string>
            </dict>
            <key>zhangliaolh7_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,712},{93,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,77}}</string>
                <key>sourceSize</key>
                <string>{93,77}</string>
            </dict>
            <key>zhangliaolh7_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,652},{63,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,105}}</string>
                <key>sourceSize</key>
                <string>{63,105}</string>
            </dict>
            <key>zhangliaolh7_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,216},{263,114}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{263,114}}</string>
                <key>sourceSize</key>
                <string>{269,122}</string>
            </dict>
            <key>zhangliaolh7_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,718},{129,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,113}}</string>
                <key>sourceSize</key>
                <string>{129,113}</string>
            </dict>
            <key>zhangliaolh7_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,590},{141,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,60}}</string>
                <key>sourceSize</key>
                <string>{141,60}</string>
            </dict>
            <key>zhangliaolh7_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{669,725},{67,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,77}}</string>
                <key>sourceSize</key>
                <string>{67,77}</string>
            </dict>
            <key>zhangliaolh7_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{719,634},{38,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,103}}</string>
                <key>sourceSize</key>
                <string>{38,103}</string>
            </dict>
            <key>zhangliaolh7_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,665},{25,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,22}}</string>
                <key>sourceSize</key>
                <string>{25,22}</string>
            </dict>
            <key>zhangliaolh7_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{807,802},{36,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,39}}</string>
                <key>sourceSize</key>
                <string>{36,39}</string>
            </dict>
            <key>zhangliaolh7_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,791},{53,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,73}}</string>
                <key>sourceSize</key>
                <string>{53,73}</string>
            </dict>
            <key>zhangliaolh7_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,718},{55,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,120}}</string>
                <key>sourceSize</key>
                <string>{55,120}</string>
            </dict>
            <key>zhangliaolh7_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,474},{172,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,114}}</string>
                <key>sourceSize</key>
                <string>{172,114}</string>
            </dict>
            <key>zhangliaolh7_45.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,176},{214,215}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,215}}</string>
                <key>sourceSize</key>
                <string>{214,223}</string>
            </dict>
            <key>zhangliaolh7_46.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,748},{37,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,9}}</string>
                <key>sourceSize</key>
                <string>{37,9}</string>
            </dict>
            <key>zhangliaolh7_47.png</key>
            <dict>
                <key>frame</key>
                <string>{{683,652},{33,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,16}}</string>
                <key>sourceSize</key>
                <string>{33,16}</string>
            </dict>
            <key>zhangliaolh7_48.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,392},{156,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,202}}</string>
                <key>sourceSize</key>
                <string>{156,202}</string>
            </dict>
            <key>zhangliaolh7_49.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,356},{15,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,25}}</string>
                <key>sourceSize</key>
                <string>{15,25}</string>
            </dict>
            <key>zhangliaolh7_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,794},{49,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,62}}</string>
                <key>sourceSize</key>
                <string>{49,62}</string>
            </dict>
            <key>zhangliaolh7_50.png</key>
            <dict>
                <key>frame</key>
                <string>{{821,431},{35,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,26}}</string>
                <key>sourceSize</key>
                <string>{35,26}</string>
            </dict>
            <key>zhangliaolh7_51.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,830},{12,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,15}}</string>
                <key>sourceSize</key>
                <string>{12,15}</string>
            </dict>
            <key>zhangliaolh7_52.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,356},{31,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,34}}</string>
                <key>sourceSize</key>
                <string>{31,34}</string>
            </dict>
            <key>zhangliaolh7_53.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,538},{106,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,94}}</string>
                <key>sourceSize</key>
                <string>{106,94}</string>
            </dict>
            <key>zhangliaolh7_54.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,748},{78,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,139}}</string>
                <key>sourceSize</key>
                <string>{78,139}</string>
            </dict>
            <key>zhangliaolh7_55.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,550},{41,167}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,167}}</string>
                <key>sourceSize</key>
                <string>{41,169}</string>
            </dict>
            <key>zhangliaolh7_56.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,332},{184,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,140}}</string>
                <key>sourceSize</key>
                <string>{184,140}</string>
            </dict>
            <key>zhangliaolh7_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,791},{18,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,22}}</string>
                <key>sourceSize</key>
                <string>{18,22}</string>
            </dict>
            <key>zhangliaolh7_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,176},{25,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,38}}</string>
                <key>sourceSize</key>
                <string>{25,38}</string>
            </dict>
            <key>zhangliaolh7_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{719,590},{19,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,23}}</string>
                <key>sourceSize</key>
                <string>{19,23}</string>
            </dict>
            <key>zhangliaolh7_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{787,674},{35,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,49}}</string>
                <key>sourceSize</key>
                <string>{35,49}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zhangliaolh5.pvr.ccz</string>
            <key>size</key>
            <string>{849,849}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2c4f1f1f22498a156f245bb85b5f6b17:1/1$</string>
            <key>textureFileName</key>
            <string>zhangliaolh5.pvr.ccz</string>
        </dict>
    </dict>
</plist>
