<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>simayilh9_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,318},{192,360}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,9},{192,360}}</string>
                <key>sourceSize</key>
                <string>{200,372}</string>
            </dict>
            <key>simayilh9_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,2},{264,271}}</string>
                <key>offset</key>
                <string>{-2,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,47},{264,271}}</string>
                <key>sourceSize</key>
                <string>{272,323}</string>
            </dict>
            <key>simayilh9_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{387,314}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{387,314}}</string>
                <key>sourceSize</key>
                <string>{387,316}</string>
            </dict>
            <key>simayilh9_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,275},{49,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,41}}</string>
                <key>sourceSize</key>
                <string>{49,41}</string>
            </dict>
            <key>simayilh9_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{781,847},{21,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,23}}</string>
                <key>sourceSize</key>
                <string>{21,23}</string>
            </dict>
            <key>simayilh9_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,647},{39,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,23}}</string>
                <key>sourceSize</key>
                <string>{39,23}</string>
            </dict>
            <key>simayilh9_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{507,856},{18,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,34}}</string>
                <key>sourceSize</key>
                <string>{18,34}</string>
            </dict>
            <key>simayilh9_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,637},{36,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,46}}</string>
                <key>sourceSize</key>
                <string>{36,46}</string>
            </dict>
            <key>simayilh9_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{565,513},{19,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,26}}</string>
                <key>sourceSize</key>
                <string>{19,26}</string>
            </dict>
            <key>simayilh9_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{813,823},{22,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,21}}</string>
                <key>sourceSize</key>
                <string>{22,21}</string>
            </dict>
            <key>simayilh9_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,421},{120,78}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,78}}</string>
                <key>sourceSize</key>
                <string>{122,78}</string>
            </dict>
            <key>simayilh9_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,677},{12,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,13}}</string>
                <key>sourceSize</key>
                <string>{12,13}</string>
            </dict>
            <key>simayilh9_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,512},{62,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,82}}</string>
                <key>sourceSize</key>
                <string>{62,82}</string>
            </dict>
            <key>simayilh9_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{677,613},{82,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,71}}</string>
                <key>sourceSize</key>
                <string>{82,71}</string>
            </dict>
            <key>simayilh9_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{849,733},{24,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,25}}</string>
                <key>sourceSize</key>
                <string>{24,25}</string>
            </dict>
            <key>simayilh9_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,801},{76,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,67}}</string>
                <key>sourceSize</key>
                <string>{76,67}</string>
            </dict>
            <key>simayilh9_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,800},{53,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,56}}</string>
                <key>sourceSize</key>
                <string>{53,56}</string>
            </dict>
            <key>simayilh9_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{787,348},{87,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,56}}</string>
                <key>sourceSize</key>
                <string>{87,56}</string>
            </dict>
            <key>simayilh9_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,406},{104,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,73}}</string>
                <key>sourceSize</key>
                <string>{104,73}</string>
            </dict>
            <key>simayilh9_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,677},{97,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,102}}</string>
                <key>sourceSize</key>
                <string>{97,102}</string>
            </dict>
            <key>simayilh9_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{731,736},{52,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,56}}</string>
                <key>sourceSize</key>
                <string>{52,56}</string>
            </dict>
            <key>simayilh9_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{573,613},{81,102}}</string>
                <key>offset</key>
                <string>{0,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,52},{81,102}}</string>
                <key>sourceSize</key>
                <string>{81,154}</string>
            </dict>
            <key>simayilh9_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,764},{15,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,23}}</string>
                <key>sourceSize</key>
                <string>{15,23}</string>
            </dict>
            <key>simayilh9_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{819,733},{28,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,48}}</string>
                <key>sourceSize</key>
                <string>{28,48}</string>
            </dict>
            <key>simayilh9_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,858},{16,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,23}}</string>
                <key>sourceSize</key>
                <string>{16,23}</string>
            </dict>
            <key>simayilh9_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,843},{62,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,30}}</string>
                <key>sourceSize</key>
                <string>{62,30}</string>
            </dict>
            <key>simayilh9_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,854},{19,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,22}}</string>
                <key>sourceSize</key>
                <string>{19,22}</string>
            </dict>
            <key>simayilh9_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{731,794},{8,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,4}}</string>
                <key>sourceSize</key>
                <string>{8,4}</string>
            </dict>
            <key>simayilh9_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{781,870},{18,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,4}}</string>
                <key>sourceSize</key>
                <string>{18,4}</string>
            </dict>
            <key>simayilh9_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{849,759},{24,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,30}}</string>
                <key>sourceSize</key>
                <string>{24,30}</string>
            </dict>
            <key>simayilh9_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{543,856},{18,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,32}}</string>
                <key>sourceSize</key>
                <string>{18,32}</string>
            </dict>
            <key>simayilh9_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,697},{25,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,37}}</string>
                <key>sourceSize</key>
                <string>{25,37}</string>
            </dict>
            <key>simayilh9_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,417},{145,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{145,94}}</string>
                <key>sourceSize</key>
                <string>{149,98}</string>
            </dict>
            <key>simayilh9_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,776},{34,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,30}}</string>
                <key>sourceSize</key>
                <string>{34,30}</string>
            </dict>
            <key>simayilh9_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,675},{44,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,29}}</string>
                <key>sourceSize</key>
                <string>{44,29}</string>
            </dict>
            <key>simayilh9_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,816},{58,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,67}}</string>
                <key>sourceSize</key>
                <string>{58,67}</string>
            </dict>
            <key>simayilh9_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,843},{18,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,21}}</string>
                <key>sourceSize</key>
                <string>{18,21}</string>
            </dict>
            <key>simayilh9_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,559},{116,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,118}}</string>
                <key>sourceSize</key>
                <string>{116,118}</string>
            </dict>
            <key>simayilh9_45.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,736},{62,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,79}}</string>
                <key>sourceSize</key>
                <string>{62,79}</string>
            </dict>
            <key>simayilh9_46.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,512},{8,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,12}}</string>
                <key>sourceSize</key>
                <string>{8,12}</string>
            </dict>
            <key>simayilh9_47.png</key>
            <dict>
                <key>frame</key>
                <string>{{745,794},{42,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,51}}</string>
                <key>sourceSize</key>
                <string>{42,51}</string>
            </dict>
            <key>simayilh9_48.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,421},{111,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,124}}</string>
                <key>sourceSize</key>
                <string>{111,124}</string>
            </dict>
            <key>simayilh9_49.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,854},{20,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,19}}</string>
                <key>sourceSize</key>
                <string>{20,19}</string>
            </dict>
            <key>simayilh9_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,318},{130,327}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{130,327}}</string>
                <key>sourceSize</key>
                <string>{132,331}</string>
            </dict>
            <key>simayilh9_50.png</key>
            <dict>
                <key>frame</key>
                <string>{{657,240},{89,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,146}}</string>
                <key>sourceSize</key>
                <string>{89,146}</string>
            </dict>
            <key>simayilh9_51.png</key>
            <dict>
                <key>frame</key>
                <string>{{787,331},{13,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,15}}</string>
                <key>sourceSize</key>
                <string>{13,15}</string>
            </dict>
            <key>simayilh9_52.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,801},{53,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,86}}</string>
                <key>sourceSize</key>
                <string>{53,86}</string>
            </dict>
            <key>simayilh9_53.png</key>
            <dict>
                <key>frame</key>
                <string>{{507,815},{22,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,15}}</string>
                <key>sourceSize</key>
                <string>{22,15}</string>
            </dict>
            <key>simayilh9_54.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,331},{139,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,88}}</string>
                <key>sourceSize</key>
                <string>{139,88}</string>
            </dict>
            <key>simayilh9_55.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,596},{46,39}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,39}}</string>
                <key>sourceSize</key>
                <string>{48,41}</string>
            </dict>
            <key>simayilh9_56.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,680},{167,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,172}}</string>
                <key>sourceSize</key>
                <string>{167,172}</string>
            </dict>
            <key>simayilh9_57.png</key>
            <dict>
                <key>frame</key>
                <string>{{759,696},{35,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,52}}</string>
                <key>sourceSize</key>
                <string>{35,52}</string>
            </dict>
            <key>simayilh9_58.png</key>
            <dict>
                <key>frame</key>
                <string>{{813,706},{25,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,51}}</string>
                <key>sourceSize</key>
                <string>{25,51}</string>
            </dict>
            <key>simayilh9_59.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,680},{137,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,68}}</string>
                <key>sourceSize</key>
                <string>{137,68}</string>
            </dict>
            <key>simayilh9_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{657,2},{217,236}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,236}}</string>
                <key>sourceSize</key>
                <string>{219,238}</string>
            </dict>
            <key>simayilh9_60.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,691},{71,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,114}}</string>
                <key>sourceSize</key>
                <string>{71,114}</string>
            </dict>
            <key>simayilh9_61.png</key>
            <dict>
                <key>frame</key>
                <string>{{813,789},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>simayilh9_62.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,639},{50,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,123}}</string>
                <key>sourceSize</key>
                <string>{50,123}</string>
            </dict>
            <key>simayilh9_63.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,819},{55,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,92}}</string>
                <key>sourceSize</key>
                <string>{55,92}</string>
            </dict>
            <key>simayilh9_64.png</key>
            <dict>
                <key>frame</key>
                <string>{{745,847},{34,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,22}}</string>
                <key>sourceSize</key>
                <string>{34,22}</string>
            </dict>
            <key>simayilh9_65.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,774},{40,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,55}}</string>
                <key>sourceSize</key>
                <string>{40,55}</string>
            </dict>
            <key>simayilh9_66.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,854},{49,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,17}}</string>
                <key>sourceSize</key>
                <string>{49,17}</string>
            </dict>
            <key>simayilh9_67.png</key>
            <dict>
                <key>frame</key>
                <string>{{789,789},{56,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,22}}</string>
                <key>sourceSize</key>
                <string>{56,22}</string>
            </dict>
            <key>simayilh9_68.png</key>
            <dict>
                <key>frame</key>
                <string>{{699,543},{109,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,60}}</string>
                <key>sourceSize</key>
                <string>{109,60}</string>
            </dict>
            <key>simayilh9_69.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,815},{87,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,53}}</string>
                <key>sourceSize</key>
                <string>{87,53}</string>
            </dict>
            <key>simayilh9_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,318},{239,117}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{239,117}}</string>
                <key>sourceSize</key>
                <string>{247,121}</string>
            </dict>
            <key>simayilh9_70.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,647},{125,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,78}}</string>
                <key>sourceSize</key>
                <string>{125,78}</string>
            </dict>
            <key>simayilh9_71.png</key>
            <dict>
                <key>frame</key>
                <string>{{541,696},{106,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,51}}</string>
                <key>sourceSize</key>
                <string>{106,51}</string>
            </dict>
            <key>simayilh9_72.png</key>
            <dict>
                <key>frame</key>
                <string>{{649,697},{81,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,37}}</string>
                <key>sourceSize</key>
                <string>{81,37}</string>
            </dict>
            <key>simayilh9_73.png</key>
            <dict>
                <key>frame</key>
                <string>{{785,733},{54,32}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{54,32}}</string>
                <key>sourceSize</key>
                <string>{56,32}</string>
            </dict>
            <key>simayilh9_74.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,605},{76,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,89}}</string>
                <key>sourceSize</key>
                <string>{76,89}</string>
            </dict>
            <key>simayilh9_75.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,513},{115,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,124}}</string>
                <key>sourceSize</key>
                <string>{115,124}</string>
            </dict>
            <key>simayilh9_76.png</key>
            <dict>
                <key>frame</key>
                <string>{{805,240},{106,61}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,61}}</string>
                <key>sourceSize</key>
                <string>{106,65}</string>
            </dict>
            <key>simayilh9_77.png</key>
            <dict>
                <key>frame</key>
                <string>{{565,534},{77,132}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,132}}</string>
                <key>sourceSize</key>
                <string>{77,134}</string>
            </dict>
            <key>simayilh9_78.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,764},{49,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,97}}</string>
                <key>sourceSize</key>
                <string>{49,97}</string>
            </dict>
            <key>simayilh9_79.png</key>
            <dict>
                <key>frame</key>
                <string>{{541,749},{50,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,107}}</string>
                <key>sourceSize</key>
                <string>{50,107}</string>
            </dict>
            <key>simayilh9_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,776},{82,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{82,65}}</string>
                <key>sourceSize</key>
                <string>{92,73}</string>
            </dict>
            <key>simayilh9_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,275},{197,140}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{197,140}}</string>
                <key>sourceSize</key>
                <string>{205,148}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>simayilh7.pvr.ccz</string>
            <key>size</key>
            <string>{876,876}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:39361bd2a896a9cd678c5e2cc70f16da:1/1$</string>
            <key>textureFileName</key>
            <string>simayilh7.pvr.ccz</string>
        </dict>
    </dict>
</plist>
