<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jiangweicjzpszlh_TX_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,306},{91,188}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,24},{91,188}}</string>
                <key>sourceSize</key>
                <string>{109,228}</string>
            </dict>
            <key>jiangweicjzpszlh_TX_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,471},{50,55}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{50,55}}</string>
                <key>sourceSize</key>
                <string>{56,59}</string>
            </dict>
            <key>jiangweicjzpszlh_TX_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{571,425},{44,72}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{44,72}}</string>
                <key>sourceSize</key>
                <string>{56,76}</string>
            </dict>
            <key>jiangweicjzpszlh_TX_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{597,586},{27,26}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,3},{27,26}}</string>
                <key>sourceSize</key>
                <string>{31,32}</string>
            </dict>
            <key>jiangweicjzpszlh_TX_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,253},{60,123}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{60,123}}</string>
                <key>sourceSize</key>
                <string>{74,143}</string>
            </dict>
            <key>jiangweicjzpszlh_TX_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{567,248},{28,25}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{28,25}}</string>
                <key>sourceSize</key>
                <string>{36,31}</string>
            </dict>
            <key>jiangweicjzpszlh_TX_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,635},{13,14}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{13,14}}</string>
                <key>sourceSize</key>
                <string>{19,18}</string>
            </dict>
            <key>jiangweicjzpszlh_TX_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,635},{13,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{13,14}}</string>
                <key>sourceSize</key>
                <string>{17,18}</string>
            </dict>
            <key>jiangweicjzpszlh_TX_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{639,204},{10,7}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{10,7}}</string>
                <key>sourceSize</key>
                <string>{14,13}</string>
            </dict>
            <key>jiangweicjzpszlh_TX_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{639,191},{10,11}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{10,11}}</string>
                <key>sourceSize</key>
                <string>{12,13}</string>
            </dict>
            <key>jiangweicjzpszlh_TX_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,289},{8,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{8,7}}</string>
                <key>sourceSize</key>
                <string>{12,11}</string>
            </dict>
            <key>jiangweicjzpszlh_TX_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,203},{108,77}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{108,77}}</string>
                <key>sourceSize</key>
                <string>{116,83}</string>
            </dict>
            <key>jiangweicjzpszlh_TX_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{595,140},{54,49}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{54,49}}</string>
                <key>sourceSize</key>
                <string>{62,53}</string>
            </dict>
            <key>jiangweicjzpszlh_TX_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,588},{78,58}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{78,58}}</string>
                <key>sourceSize</key>
                <string>{84,62}</string>
            </dict>
            <key>jiangweicjzpszlh_TX_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{539,282},{87,71}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{87,71}}</string>
                <key>sourceSize</key>
                <string>{93,75}</string>
            </dict>
            <key>jiangweicjzpszlh_TX_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,2},{138,156}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,156}}</string>
                <key>sourceSize</key>
                <string>{146,160}</string>
            </dict>
            <key>jiangweicjzpszlh_TX_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,538},{50,49}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{50,49}}</string>
                <key>sourceSize</key>
                <string>{64,53}</string>
            </dict>
            <key>jiangweicjzpszlh_TX_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,469},{67,48}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{67,48}}</string>
                <key>sourceSize</key>
                <string>{75,50}</string>
            </dict>
            <key>jiangweicjzpszlh_TX_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,253},{51,34}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{51,34}}</string>
                <key>sourceSize</key>
                <string>{55,38}</string>
            </dict>
            <key>jiangweicjzpszlh_TX_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,477},{120,156}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,7},{120,156}}</string>
                <key>sourceSize</key>
                <string>{130,170}</string>
            </dict>
            <key>jiangweicjzpszlh_TX_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,306},{169,99}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,2},{169,99}}</string>
                <key>sourceSize</key>
                <string>{181,105}</string>
            </dict>
            <key>jiangweicjzpszlh_TX_bi.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,371},{101,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,52}}</string>
                <key>sourceSize</key>
                <string>{101,52}</string>
            </dict>
            <key>jiangweicjzpszlh_TX_ditu01-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,306},{123,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,186}}</string>
                <key>sourceSize</key>
                <string>{123,186}</string>
            </dict>
            <key>jiangweicjzpszlh_TX_ditu01-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,425},{107,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,42}}</string>
                <key>sourceSize</key>
                <string>{107,42}</string>
            </dict>
            <key>jiangweicjzpszlh_TX_ditu02.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,165},{157,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,86}}</string>
                <key>sourceSize</key>
                <string>{157,86}</string>
            </dict>
            <key>jiangweicjzpszlh_TX_lazhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,538},{48,49}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,4},{48,49}}</string>
                <key>sourceSize</key>
                <string>{54,53}</string>
            </dict>
            <key>jiangweicjzpszlh_TX_shu.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,289},{32,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,15}}</string>
                <key>sourceSize</key>
                <string>{32,15}</string>
            </dict>
            <key>jiangweicjzpszlh_TX_zhuomian.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,183},{264,121}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{264,121}}</string>
                <key>sourceSize</key>
                <string>{270,121}</string>
            </dict>
            <key>jiangweicjzpszlh_body_bozi.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,627},{17,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,22}}</string>
                <key>sourceSize</key>
                <string>{17,22}</string>
            </dict>
            <key>jiangweicjzpszlh_body_face.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,471},{32,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,41}}</string>
                <key>sourceSize</key>
                <string>{32,41}</string>
            </dict>
            <key>jiangweicjzpszlh_body_faji01.png</key>
            <dict>
                <key>frame</key>
                <string>{{625,604},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>jiangweicjzpszlh_body_faji02.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,223},{25,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,43}}</string>
                <key>sourceSize</key>
                <string>{25,43}</string>
            </dict>
            <key>jiangweicjzpszlh_body_faji03.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,201},{45,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,18}}</string>
                <key>sourceSize</key>
                <string>{45,18}</string>
            </dict>
            <key>jiangweicjzpszlh_body_hair01.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,635},{11,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,18}}</string>
                <key>sourceSize</key>
                <string>{11,18}</string>
            </dict>
            <key>jiangweicjzpszlh_body_hair02.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,165},{20,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,34}}</string>
                <key>sourceSize</key>
                <string>{20,34}</string>
            </dict>
            <key>jiangweicjzpszlh_body_hair03.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,626},{15,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,18}}</string>
                <key>sourceSize</key>
                <string>{15,18}</string>
            </dict>
            <key>jiangweicjzpszlh_body_hair04.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,626},{23,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,15}}</string>
                <key>sourceSize</key>
                <string>{23,15}</string>
            </dict>
            <key>jiangweicjzpszlh_body_hair05.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,505},{40,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,29}}</string>
                <key>sourceSize</key>
                <string>{40,29}</string>
            </dict>
            <key>jiangweicjzpszlh_body_hair06.png</key>
            <dict>
                <key>frame</key>
                <string>{{633,394},{14,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,29}}</string>
                <key>sourceSize</key>
                <string>{14,29}</string>
            </dict>
            <key>jiangweicjzpszlh_body_hair07.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,588},{44,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,59}}</string>
                <key>sourceSize</key>
                <string>{44,59}</string>
            </dict>
            <key>jiangweicjzpszlh_body_hair08.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,2},{179,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,161}}</string>
                <key>sourceSize</key>
                <string>{179,161}</string>
            </dict>
            <key>jiangweicjzpszlh_body_pifeng.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{270,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,179}}</string>
                <key>sourceSize</key>
                <string>{270,179}</string>
            </dict>
            <key>jiangweicjzpszlh_body_shanbing.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,345},{19,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,7}}</string>
                <key>sourceSize</key>
                <string>{19,7}</string>
            </dict>
            <key>jiangweicjzpszlh_body_shanzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,586},{63,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,39}}</string>
                <key>sourceSize</key>
                <string>{63,39}</string>
            </dict>
            <key>jiangweicjzpszlh_body_shuben.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,528},{56,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,45}}</string>
                <key>sourceSize</key>
                <string>{56,45}</string>
            </dict>
            <key>jiangweicjzpszlh_body_shuye.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,191},{43,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,30}}</string>
                <key>sourceSize</key>
                <string>{43,30}</string>
            </dict>
            <key>jiangweicjzpszlh_body_st.png</key>
            <dict>
                <key>frame</key>
                <string>{{565,371},{52,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,66}}</string>
                <key>sourceSize</key>
                <string>{52,66}</string>
            </dict>
            <key>jiangweicjzpszlh_body_yan01.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,65},{19,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,9}}</string>
                <key>sourceSize</key>
                <string>{19,9}</string>
            </dict>
            <key>jiangweicjzpszlh_body_yan02.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,44},{19,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,9}}</string>
                <key>sourceSize</key>
                <string>{19,9}</string>
            </dict>
            <key>jiangweicjzpszlh_body_yan03.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,23},{19,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,9}}</string>
                <key>sourceSize</key>
                <string>{19,9}</string>
            </dict>
            <key>jiangweicjzpszlh_body_yan04.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,2},{19,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,9}}</string>
                <key>sourceSize</key>
                <string>{19,9}</string>
            </dict>
            <key>jiangweicjzpszlh_body_yaodai01.png</key>
            <dict>
                <key>frame</key>
                <string>{{633,371},{16,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,21}}</string>
                <key>sourceSize</key>
                <string>{16,21}</string>
            </dict>
            <key>jiangweicjzpszlh_body_yaodai02.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,315},{34,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,28}}</string>
                <key>sourceSize</key>
                <string>{34,28}</string>
            </dict>
            <key>jiangweicjzpszlh_body_yaodaibei.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,86},{9,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,10}}</string>
                <key>sourceSize</key>
                <string>{9,10}</string>
            </dict>
            <key>jiangweicjzpszlh_body_ydabi.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,278},{35,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,35}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>jiangweicjzpszlh_body_yiling.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,535},{53,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,28}}</string>
                <key>sourceSize</key>
                <string>{53,28}</string>
            </dict>
            <key>jiangweicjzpszlh_body_yiqunbei.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,476},{77,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,110}}</string>
                <key>sourceSize</key>
                <string>{77,110}</string>
            </dict>
            <key>jiangweicjzpszlh_body_yjian01.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,589},{34,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,25}}</string>
                <key>sourceSize</key>
                <string>{34,25}</string>
            </dict>
            <key>jiangweicjzpszlh_body_yjian02.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,250},{35,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,26}}</string>
                <key>sourceSize</key>
                <string>{35,26}</string>
            </dict>
            <key>jiangweicjzpszlh_body_yjian03.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,590},{35,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,27}}</string>
                <key>sourceSize</key>
                <string>{35,27}</string>
            </dict>
            <key>jiangweicjzpszlh_body_yjian04.png</key>
            <dict>
                <key>frame</key>
                <string>{{567,203},{25,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,43}}</string>
                <key>sourceSize</key>
                <string>{25,43}</string>
            </dict>
            <key>jiangweicjzpszlh_body_ypiaodai.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,253},{72,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,150}}</string>
                <key>sourceSize</key>
                <string>{72,150}</string>
            </dict>
            <key>jiangweicjzpszlh_body_yshou.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,184},{18,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,17}}</string>
                <key>sourceSize</key>
                <string>{18,17}</string>
            </dict>
            <key>jiangweicjzpszlh_body_yshouzhi.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,635},{21,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,12}}</string>
                <key>sourceSize</key>
                <string>{21,12}</string>
            </dict>
            <key>jiangweicjzpszlh_body_ytui.png</key>
            <dict>
                <key>frame</key>
                <string>{{595,2},{43,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,136}}</string>
                <key>sourceSize</key>
                <string>{43,136}</string>
            </dict>
            <key>jiangweicjzpszlh_body_yxiaobi.png</key>
            <dict>
                <key>frame</key>
                <string>{{597,615},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,26}}</string>
                <key>sourceSize</key>
                <string>{26,26}</string>
            </dict>
            <key>jiangweicjzpszlh_body_yyibai.png</key>
            <dict>
                <key>frame</key>
                <string>{{603,536},{47,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,43}}</string>
                <key>sourceSize</key>
                <string>{47,43}</string>
            </dict>
            <key>jiangweicjzpszlh_body_yyixiu01.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,496},{128,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,116}}</string>
                <key>sourceSize</key>
                <string>{128,116}</string>
            </dict>
            <key>jiangweicjzpszlh_body_yyixiu02.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,378},{88,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,57}}</string>
                <key>sourceSize</key>
                <string>{88,57}</string>
            </dict>
            <key>jiangweicjzpszlh_body_yyixiu03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,494},{152,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,100}}</string>
                <key>sourceSize</key>
                <string>{152,100}</string>
            </dict>
            <key>jiangweicjzpszlh_body_yyixiu04.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,282},{80,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,87}}</string>
                <key>sourceSize</key>
                <string>{80,87}</string>
            </dict>
            <key>jiangweicjzpszlh_body_zjian01.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,160},{19,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,22}}</string>
                <key>sourceSize</key>
                <string>{19,22}</string>
            </dict>
            <key>jiangweicjzpszlh_body_zjian02.png</key>
            <dict>
                <key>frame</key>
                <string>{{625,585},{17,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,17}}</string>
                <key>sourceSize</key>
                <string>{17,17}</string>
            </dict>
            <key>jiangweicjzpszlh_body_zpiaodai01.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,469},{52,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,64}}</string>
                <key>sourceSize</key>
                <string>{52,64}</string>
            </dict>
            <key>jiangweicjzpszlh_body_zpiaodai02.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,468},{27,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,68}}</string>
                <key>sourceSize</key>
                <string>{27,68}</string>
            </dict>
            <key>jiangweicjzpszlh_body_zshou.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,626},{20,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,15}}</string>
                <key>sourceSize</key>
                <string>{20,15}</string>
            </dict>
            <key>jiangweicjzpszlh_body_ztui.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,590},{25,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,55}}</string>
                <key>sourceSize</key>
                <string>{25,55}</string>
            </dict>
            <key>jiangweicjzpszlh_body_zxiaobi.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,345},{28,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,24}}</string>
                <key>sourceSize</key>
                <string>{28,24}</string>
            </dict>
            <key>jiangweicjzpszlh_body_zyibai.png</key>
            <dict>
                <key>frame</key>
                <string>{{631,250},{18,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,15}}</string>
                <key>sourceSize</key>
                <string>{18,15}</string>
            </dict>
            <key>jiangweicjzpszlh_body_zyiqunqian.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,160},{41,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,117}}</string>
                <key>sourceSize</key>
                <string>{41,117}</string>
            </dict>
            <key>jiangweicjzpszlh_body_zyixiu01.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,626},{57,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,22}}</string>
                <key>sourceSize</key>
                <string>{57,22}</string>
            </dict>
            <key>jiangweicjzpszlh_body_zyixiu02.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,405},{69,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,80}}</string>
                <key>sourceSize</key>
                <string>{69,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>jiangweilh7.pvr.ccz</string>
            <key>size</key>
            <string>{651,651}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bdf17c2a457ed26e14375968c95c0911:1/1$</string>
            <key>textureFileName</key>
            <string>jiangweilh7.pvr.ccz</string>
        </dict>
    </dict>
</plist>
