<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lvbulh6_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,2},{145,336}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{145,336}}</string>
                <key>sourceSize</key>
                <string>{153,344}</string>
            </dict>
            <key>lvbulh6_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,565},{60,195}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{60,195}}</string>
                <key>sourceSize</key>
                <string>{70,205}</string>
            </dict>
            <key>lvbulh6_0110.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,964},{13,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,9}}</string>
                <key>sourceSize</key>
                <string>{13,9}</string>
            </dict>
            <key>lvbulh6_0111.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,324},{13,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,9}}</string>
                <key>sourceSize</key>
                <string>{13,9}</string>
            </dict>
            <key>lvbulh6_0112.png</key>
            <dict>
                <key>frame</key>
                <string>{{907,301},{9,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,13}}</string>
                <key>sourceSize</key>
                <string>{9,13}</string>
            </dict>
            <key>lvbulh6_0113.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,564},{20,215}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,215}}</string>
                <key>sourceSize</key>
                <string>{20,215}</string>
            </dict>
            <key>lvbulh6_0114.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,955},{15,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,116}}</string>
                <key>sourceSize</key>
                <string>{15,116}</string>
            </dict>
            <key>lvbulh6_0115.png</key>
            <dict>
                <key>frame</key>
                <string>{{679,950},{12,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,22}}</string>
                <key>sourceSize</key>
                <string>{12,22}</string>
            </dict>
            <key>lvbulh6_0116.png</key>
            <dict>
                <key>frame</key>
                <string>{{861,718},{97,72}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{97,72}}</string>
                <key>sourceSize</key>
                <string>{97,74}</string>
            </dict>
            <key>lvbulh6_0117.png</key>
            <dict>
                <key>frame</key>
                <string>{{937,497},{48,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,29}}</string>
                <key>sourceSize</key>
                <string>{48,29}</string>
            </dict>
            <key>lvbulh6_0118.png</key>
            <dict>
                <key>frame</key>
                <string>{{883,930},{50,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,26}}</string>
                <key>sourceSize</key>
                <string>{50,26}</string>
            </dict>
            <key>lvbulh6_0119.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,955},{20,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,53}}</string>
                <key>sourceSize</key>
                <string>{20,53}</string>
            </dict>
            <key>lvbulh6_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{388,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{388,163}}</string>
                <key>sourceSize</key>
                <string>{396,171}</string>
            </dict>
            <key>lvbulh6_0120.png</key>
            <dict>
                <key>frame</key>
                <string>{{921,256},{54,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,63}}</string>
                <key>sourceSize</key>
                <string>{54,63}</string>
            </dict>
            <key>lvbulh6_0121.png</key>
            <dict>
                <key>frame</key>
                <string>{{935,720},{29,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,12}}</string>
                <key>sourceSize</key>
                <string>{29,12}</string>
            </dict>
            <key>lvbulh6_0122.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,697},{252,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,95}}</string>
                <key>sourceSize</key>
                <string>{252,95}</string>
            </dict>
            <key>lvbulh6_0123.png</key>
            <dict>
                <key>frame</key>
                <string>{{759,375},{188,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,116}}</string>
                <key>sourceSize</key>
                <string>{188,116}</string>
            </dict>
            <key>lvbulh6_0124.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,149},{22,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,27}}</string>
                <key>sourceSize</key>
                <string>{22,27}</string>
            </dict>
            <key>lvbulh6_0125.png</key>
            <dict>
                <key>frame</key>
                <string>{{907,321},{77,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,49}}</string>
                <key>sourceSize</key>
                <string>{77,49}</string>
            </dict>
            <key>lvbulh6_0126.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,416},{17,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,16}}</string>
                <key>sourceSize</key>
                <string>{17,16}</string>
            </dict>
            <key>lvbulh6_0127.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,580},{29,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,33}}</string>
                <key>sourceSize</key>
                <string>{29,33}</string>
            </dict>
            <key>lvbulh6_0128.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,213},{33,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,52}}</string>
                <key>sourceSize</key>
                <string>{33,52}</string>
            </dict>
            <key>lvbulh6_0129.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,585},{142,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{142,216}}</string>
                <key>sourceSize</key>
                <string>{142,218}</string>
            </dict>
            <key>lvbulh6_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,623},{308,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{308,110}}</string>
                <key>sourceSize</key>
                <string>{314,114}</string>
            </dict>
            <key>lvbulh6_0130.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,538},{25,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,10}}</string>
                <key>sourceSize</key>
                <string>{25,10}</string>
            </dict>
            <key>lvbulh6_0131.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,681},{12,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,32}}</string>
                <key>sourceSize</key>
                <string>{12,32}</string>
            </dict>
            <key>lvbulh6_0132.png</key>
            <dict>
                <key>frame</key>
                <string>{{645,788},{109,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,65}}</string>
                <key>sourceSize</key>
                <string>{109,65}</string>
            </dict>
            <key>lvbulh6_0133.png</key>
            <dict>
                <key>frame</key>
                <string>{{615,335},{38,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,29}}</string>
                <key>sourceSize</key>
                <string>{38,29}</string>
            </dict>
            <key>lvbulh6_0134.png</key>
            <dict>
                <key>frame</key>
                <string>{{935,751},{11,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,29}}</string>
                <key>sourceSize</key>
                <string>{11,29}</string>
            </dict>
            <key>lvbulh6_0135.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,951},{11,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,18}}</string>
                <key>sourceSize</key>
                <string>{11,18}</string>
            </dict>
            <key>lvbulh6_0136.png</key>
            <dict>
                <key>frame</key>
                <string>{{877,455},{30,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,83}}</string>
                <key>sourceSize</key>
                <string>{30,83}</string>
            </dict>
            <key>lvbulh6_0137.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,933},{14,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,29}}</string>
                <key>sourceSize</key>
                <string>{14,29}</string>
            </dict>
            <key>lvbulh6_0138.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,321},{47,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,17}}</string>
                <key>sourceSize</key>
                <string>{47,17}</string>
            </dict>
            <key>lvbulh6_0139.png</key>
            <dict>
                <key>frame</key>
                <string>{{907,400},{53,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,28}}</string>
                <key>sourceSize</key>
                <string>{53,28}</string>
            </dict>
            <key>lvbulh6_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,335},{116,244}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,244}}</string>
                <key>sourceSize</key>
                <string>{116,244}</string>
            </dict>
            <key>lvbulh6_0140.png</key>
            <dict>
                <key>frame</key>
                <string>{{909,455},{26,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,81}}</string>
                <key>sourceSize</key>
                <string>{26,81}</string>
            </dict>
            <key>lvbulh6_0141.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,951},{24,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,63}}</string>
                <key>sourceSize</key>
                <string>{24,63}</string>
            </dict>
            <key>lvbulh6_0142.png</key>
            <dict>
                <key>frame</key>
                <string>{{961,580},{50,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,9}}</string>
                <key>sourceSize</key>
                <string>{50,9}</string>
            </dict>
            <key>lvbulh6_0143.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,681},{37,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,16}}</string>
                <key>sourceSize</key>
                <string>{37,16}</string>
            </dict>
            <key>lvbulh6_0144.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,895},{7,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,6}}</string>
                <key>sourceSize</key>
                <string>{7,6}</string>
            </dict>
            <key>lvbulh6_0145.png</key>
            <dict>
                <key>frame</key>
                <string>{{949,720},{18,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,18}}</string>
                <key>sourceSize</key>
                <string>{18,18}</string>
            </dict>
            <key>lvbulh6_0146.png</key>
            <dict>
                <key>frame</key>
                <string>{{935,930},{13,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,30}}</string>
                <key>sourceSize</key>
                <string>{13,30}</string>
            </dict>
            <key>lvbulh6_0147.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,862},{84,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,52}}</string>
                <key>sourceSize</key>
                <string>{84,52}</string>
            </dict>
            <key>lvbulh6_0148.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,788},{23,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,12}}</string>
                <key>sourceSize</key>
                <string>{23,12}</string>
            </dict>
            <key>lvbulh6_0149.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,370},{17,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,44}}</string>
                <key>sourceSize</key>
                <string>{17,44}</string>
            </dict>
            <key>lvbulh6_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,2},{244,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,124}}</string>
                <key>sourceSize</key>
                <string>{244,124}</string>
            </dict>
            <key>lvbulh6_0150.png</key>
            <dict>
                <key>frame</key>
                <string>{{847,817},{43,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,89}}</string>
                <key>sourceSize</key>
                <string>{43,89}</string>
            </dict>
            <key>lvbulh6_0151.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,862},{75,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,35}}</string>
                <key>sourceSize</key>
                <string>{75,35}</string>
            </dict>
            <key>lvbulh6_0152.png</key>
            <dict>
                <key>frame</key>
                <string>{{937,400},{39,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,19}}</string>
                <key>sourceSize</key>
                <string>{39,19}</string>
            </dict>
            <key>lvbulh6_0153.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,916},{67,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,59}}</string>
                <key>sourceSize</key>
                <string>{67,59}</string>
            </dict>
            <key>lvbulh6_0154.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,301},{31,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,64}}</string>
                <key>sourceSize</key>
                <string>{31,64}</string>
            </dict>
            <key>lvbulh6_0155.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,951},{17,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,24}}</string>
                <key>sourceSize</key>
                <string>{17,24}</string>
            </dict>
            <key>lvbulh6_0156.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,862},{71,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,100}}</string>
                <key>sourceSize</key>
                <string>{71,100}</string>
            </dict>
            <key>lvbulh6_0157.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,167},{43,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,16}}</string>
                <key>sourceSize</key>
                <string>{43,16}</string>
            </dict>
            <key>lvbulh6_0158.png</key>
            <dict>
                <key>frame</key>
                <string>{{877,367},{86,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,28}}</string>
                <key>sourceSize</key>
                <string>{86,30}</string>
            </dict>
            <key>lvbulh6_0159.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,648},{31,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,28}}</string>
                <key>sourceSize</key>
                <string>{31,28}</string>
            </dict>
            <key>lvbulh6_016.png</key>
            <dict>
                <key>frame</key>
                <string>{{615,375},{142,187}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{142,187}}</string>
                <key>sourceSize</key>
                <string>{148,193}</string>
            </dict>
            <key>lvbulh6_0160.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,213},{120,281}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,281}}</string>
                <key>sourceSize</key>
                <string>{120,281}</string>
            </dict>
            <key>lvbulh6_0160_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,623},{10,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,58}}</string>
                <key>sourceSize</key>
                <string>{10,58}</string>
            </dict>
            <key>lvbulh6_0161.png</key>
            <dict>
                <key>frame</key>
                <string>{{937,441},{54,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,28}}</string>
                <key>sourceSize</key>
                <string>{54,28}</string>
            </dict>
            <key>lvbulh6_0162.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,899},{31,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,13}}</string>
                <key>sourceSize</key>
                <string>{31,13}</string>
            </dict>
            <key>lvbulh6_0163.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,894},{59,132}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,132}}</string>
                <key>sourceSize</key>
                <string>{61,132}</string>
            </dict>
            <key>lvbulh6_0164.png</key>
            <dict>
                <key>frame</key>
                <string>{{877,540},{43,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,23}}</string>
                <key>sourceSize</key>
                <string>{43,23}</string>
            </dict>
            <key>lvbulh6_0165.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,933},{94,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,41}}</string>
                <key>sourceSize</key>
                <string>{94,41}</string>
            </dict>
            <key>lvbulh6_0166.png</key>
            <dict>
                <key>frame</key>
                <string>{{883,958},{28,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,17}}</string>
                <key>sourceSize</key>
                <string>{28,17}</string>
            </dict>
            <key>lvbulh6_0167.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,899},{60,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,29}}</string>
                <key>sourceSize</key>
                <string>{60,29}</string>
            </dict>
            <key>lvbulh6_0168.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,565},{70,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,151}}</string>
                <key>sourceSize</key>
                <string>{70,151}</string>
            </dict>
            <key>lvbulh6_0169.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,615},{31,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,29}}</string>
                <key>sourceSize</key>
                <string>{31,29}</string>
            </dict>
            <key>lvbulh6_017.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,324},{297,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{297,130}}</string>
                <key>sourceSize</key>
                <string>{297,130}</string>
            </dict>
            <key>lvbulh6_0170.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,762},{137,53}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,53}}</string>
                <key>sourceSize</key>
                <string>{137,57}</string>
            </dict>
            <key>lvbulh6_0171.png</key>
            <dict>
                <key>frame</key>
                <string>{{499,813},{144,79}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,79}}</string>
                <key>sourceSize</key>
                <string>{144,81}</string>
            </dict>
            <key>lvbulh6_0172.png</key>
            <dict>
                <key>frame</key>
                <string>{{703,935},{93,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,32}}</string>
                <key>sourceSize</key>
                <string>{93,32}</string>
            </dict>
            <key>lvbulh6_0173.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,817},{43,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,133}}</string>
                <key>sourceSize</key>
                <string>{43,133}</string>
            </dict>
            <key>lvbulh6_0174.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,564},{222,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,80}}</string>
                <key>sourceSize</key>
                <string>{222,80}</string>
            </dict>
            <key>lvbulh6_0175.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,565},{195,72}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,72}}</string>
                <key>sourceSize</key>
                <string>{195,74}</string>
            </dict>
            <key>lvbulh6_0176.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,895},{130,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,77}}</string>
                <key>sourceSize</key>
                <string>{130,77}</string>
            </dict>
            <key>lvbulh6_0177.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,803},{90,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,131}}</string>
                <key>sourceSize</key>
                <string>{90,131}</string>
            </dict>
            <key>lvbulh6_0178.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,547},{37,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,31}}</string>
                <key>sourceSize</key>
                <string>{37,31}</string>
            </dict>
            <key>lvbulh6_0179.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,899},{49,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,61}}</string>
                <key>sourceSize</key>
                <string>{49,61}</string>
            </dict>
            <key>lvbulh6_018.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,324},{128,295}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,295}}</string>
                <key>sourceSize</key>
                <string>{128,295}</string>
            </dict>
            <key>lvbulh6_0180.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,585},{15,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,29}}</string>
                <key>sourceSize</key>
                <string>{15,29}</string>
            </dict>
            <key>lvbulh6_0181.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,935},{14,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,16}}</string>
                <key>sourceSize</key>
                <string>{14,16}</string>
            </dict>
            <key>lvbulh6_0182.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,324},{83,371}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,371}}</string>
                <key>sourceSize</key>
                <string>{83,371}</string>
            </dict>
            <key>lvbulh6_0183.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,623},{86,303}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{86,303}}</string>
                <key>sourceSize</key>
                <string>{92,307}</string>
            </dict>
            <key>lvbulh6_0184_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,301},{225,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,72}}</string>
                <key>sourceSize</key>
                <string>{225,72}</string>
            </dict>
            <key>lvbulh6_0184_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,167},{360,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,155}}</string>
                <key>sourceSize</key>
                <string>{360,155}</string>
            </dict>
            <key>lvbulh6_0185_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,928},{47,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,161}}</string>
                <key>sourceSize</key>
                <string>{47,161}</string>
            </dict>
            <key>lvbulh6_0185_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,335},{146,248}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,248}}</string>
                <key>sourceSize</key>
                <string>{146,248}</string>
            </dict>
            <key>lvbulh6_0186.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,621},{299,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{299,65}}</string>
                <key>sourceSize</key>
                <string>{299,65}</string>
            </dict>
            <key>lvbulh6_0187.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,128},{56,245}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,245}}</string>
                <key>sourceSize</key>
                <string>{56,245}</string>
            </dict>
            <key>lvbulh6_0188.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,149},{312,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{312,62}}</string>
                <key>sourceSize</key>
                <string>{312,62}</string>
            </dict>
            <key>lvbulh6_0189.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,581},{106,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,230}}</string>
                <key>sourceSize</key>
                <string>{106,230}</string>
            </dict>
            <key>lvbulh6_019.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,167},{8,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,11}}</string>
                <key>sourceSize</key>
                <string>{8,11}</string>
            </dict>
            <key>lvbulh6_0190.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,186},{68,263}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,263}}</string>
                <key>sourceSize</key>
                <string>{72,263}</string>
            </dict>
            <key>lvbulh6_0191.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,256},{43,272}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,272}}</string>
                <key>sourceSize</key>
                <string>{43,272}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>lvbulh3.pvr.ccz</string>
            <key>size</key>
            <string>{977,977}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d5f3fc549c49e7c827074724a332e51d:1/1$</string>
            <key>textureFileName</key>
            <string>lvbulh3.pvr.ccz</string>
        </dict>
    </dict>
</plist>
