<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zhugelianglh7_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{905,897},{70,50}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{70,50}}</string>
                <key>sourceSize</key>
                <string>{84,62}</string>
            </dict>
            <key>zhugelianglh7_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,603},{316,281}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,5},{316,281}}</string>
                <key>sourceSize</key>
                <string>{330,287}</string>
            </dict>
            <key>zhugelianglh7_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,809},{167,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,87}}</string>
                <key>sourceSize</key>
                <string>{167,87}</string>
            </dict>
            <key>zhugelianglh7_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,864},{27,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,36}}</string>
                <key>sourceSize</key>
                <string>{27,36}</string>
            </dict>
            <key>zhugelianglh7_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{903,949},{59,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,50}}</string>
                <key>sourceSize</key>
                <string>{59,50}</string>
            </dict>
            <key>zhugelianglh7_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,960},{49,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,45}}</string>
                <key>sourceSize</key>
                <string>{49,45}</string>
            </dict>
            <key>zhugelianglh7_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{735,960},{38,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,78}}</string>
                <key>sourceSize</key>
                <string>{38,78}</string>
            </dict>
            <key>zhugelianglh7_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,583},{18,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,8}}</string>
                <key>sourceSize</key>
                <string>{18,8}</string>
            </dict>
            <key>zhugelianglh7_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{625,896},{59,106}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,106}}</string>
                <key>sourceSize</key>
                <string>{61,108}</string>
            </dict>
            <key>zhugelianglh7_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{905,860},{85,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,35}}</string>
                <key>sourceSize</key>
                <string>{85,35}</string>
            </dict>
            <key>zhugelianglh7_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{733,898},{60,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,97}}</string>
                <key>sourceSize</key>
                <string>{60,97}</string>
            </dict>
            <key>zhugelianglh7_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,759},{163,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,103}}</string>
                <key>sourceSize</key>
                <string>{163,103}</string>
            </dict>
            <key>zhugelianglh7_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,583},{164,174}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{164,174}}</string>
                <key>sourceSize</key>
                <string>{182,190}</string>
            </dict>
            <key>zhugelianglh7_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{741,719},{171,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,88}}</string>
                <key>sourceSize</key>
                <string>{171,88}</string>
            </dict>
            <key>zhugelianglh7_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,896},{105,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,138}}</string>
                <key>sourceSize</key>
                <string>{105,138}</string>
            </dict>
            <key>zhugelianglh7_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,897},{140,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,110}}</string>
                <key>sourceSize</key>
                <string>{140,110}</string>
            </dict>
            <key>zhugelianglh7_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{815,960},{50,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,40}}</string>
                <key>sourceSize</key>
                <string>{50,40}</string>
            </dict>
            <key>zhugelianglh7_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{583,574},{159,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,77}}</string>
                <key>sourceSize</key>
                <string>{159,77}</string>
            </dict>
            <key>zhugelianglh7_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,898},{111,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,63}}</string>
                <key>sourceSize</key>
                <string>{111,63}</string>
            </dict>
            <key>zhugelianglh7_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,794},{152,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,100}}</string>
                <key>sourceSize</key>
                <string>{152,100}</string>
            </dict>
            <key>zhugelianglh7_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{867,960},{40,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,30}}</string>
                <key>sourceSize</key>
                <string>{40,30}</string>
            </dict>
            <key>zhugelianglh7_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{650,237}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{650,237}}</string>
                <key>sourceSize</key>
                <string>{650,237}</string>
            </dict>
            <key>zhugelianglh7_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,217},{255,246}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,5},{255,246}}</string>
                <key>sourceSize</key>
                <string>{263,254}</string>
            </dict>
            <key>zhugelianglh7_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,474},{243,250}}</string>
                <key>offset</key>
                <string>{-6,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,13},{243,250}}</string>
                <key>sourceSize</key>
                <string>{263,266}</string>
            </dict>
            <key>zhugelianglh7_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,819},{80,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,76}}</string>
                <key>sourceSize</key>
                <string>{80,76}</string>
            </dict>
            <key>zhugelianglh7_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,241},{340,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{340,197}}</string>
                <key>sourceSize</key>
                <string>{340,197}</string>
            </dict>
            <key>zhugelianglh7_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,886},{274,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,106}}</string>
                <key>sourceSize</key>
                <string>{274,106}</string>
            </dict>
            <key>zhugelianglh7_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,603},{214,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,95}}</string>
                <key>sourceSize</key>
                <string>{214,95}</string>
            </dict>
            <key>zhugelianglh7_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,241},{358,360}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{358,360}}</string>
                <key>sourceSize</key>
                <string>{368,360}</string>
            </dict>
            <key>zhugelianglh7_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{583,653},{156,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,139}}</string>
                <key>sourceSize</key>
                <string>{156,139}</string>
            </dict>
            <key>zhugelianglh7_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,2},{343,213}}</string>
                <key>offset</key>
                <string>{3,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,18},{343,213}}</string>
                <key>sourceSize</key>
                <string>{361,231}</string>
            </dict>
            <key>zhugelianglh7_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{561,241},{331,181}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{331,181}}</string>
                <key>sourceSize</key>
                <string>{337,181}</string>
            </dict>
            <key>zhugelianglh7_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,719},{139,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{139,81}}</string>
                <key>sourceSize</key>
                <string>{141,81}</string>
            </dict>
            <key>zhugelianglh7_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,898},{60,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,69}}</string>
                <key>sourceSize</key>
                <string>{60,69}</string>
            </dict>
            <key>zhugelianglh7_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{977,897},{26,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,42}}</string>
                <key>sourceSize</key>
                <string>{26,42}</string>
            </dict>
            <key>zhugelianglh7_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{625,957},{52,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,61}}</string>
                <key>sourceSize</key>
                <string>{52,61}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zhugelianglh7.pvr.ccz</string>
            <key>size</key>
            <string>{1011,1011}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ee04d316bd36db83aa3f5ff3942409f3:1/1$</string>
            <key>textureFileName</key>
            <string>zhugelianglh7.pvr.ccz</string>
        </dict>
    </dict>
</plist>
