<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sjxs_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,730},{18,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,26}}</string>
                <key>sourceSize</key>
                <string>{18,26}</string>
            </dict>
            <key>sjxs_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,774},{18,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,47}}</string>
                <key>sourceSize</key>
                <string>{18,47}</string>
            </dict>
            <key>sjxs_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{503,745},{13,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,45}}</string>
                <key>sourceSize</key>
                <string>{13,45}</string>
            </dict>
            <key>sjxs_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,721},{13,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,33}}</string>
                <key>sourceSize</key>
                <string>{13,33}</string>
            </dict>
            <key>sjxs_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{585,632},{30,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,10}}</string>
                <key>sourceSize</key>
                <string>{30,10}</string>
            </dict>
            <key>sjxs_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{599,702},{39,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,17}}</string>
                <key>sourceSize</key>
                <string>{39,17}</string>
            </dict>
            <key>sjxs_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,741},{95,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,31}}</string>
                <key>sourceSize</key>
                <string>{95,31}</string>
            </dict>
            <key>sjxs_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{575,760},{32,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,26}}</string>
                <key>sourceSize</key>
                <string>{32,26}</string>
            </dict>
            <key>sjxs_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{693,683},{29,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,27}}</string>
                <key>sourceSize</key>
                <string>{29,27}</string>
            </dict>
            <key>sjxs_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,769},{30,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,23}}</string>
                <key>sourceSize</key>
                <string>{30,23}</string>
            </dict>
            <key>sjxs_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{595,202},{102,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,62}}</string>
                <key>sourceSize</key>
                <string>{102,62}</string>
            </dict>
            <key>sjxs_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,760},{32,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,29}}</string>
                <key>sourceSize</key>
                <string>{32,29}</string>
            </dict>
            <key>sjxs_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{657,701},{32,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,21}}</string>
                <key>sourceSize</key>
                <string>{32,21}</string>
            </dict>
            <key>sjxs_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{769,39},{73,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,17}}</string>
                <key>sourceSize</key>
                <string>{73,17}</string>
            </dict>
            <key>sjxs_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,762},{75,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,24}}</string>
                <key>sourceSize</key>
                <string>{75,24}</string>
            </dict>
            <key>sjxs_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{769,114},{65,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,13}}</string>
                <key>sourceSize</key>
                <string>{65,13}</string>
            </dict>
            <key>sjxs_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,719},{62,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,13}}</string>
                <key>sourceSize</key>
                <string>{62,13}</string>
            </dict>
            <key>sjxs_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,701},{41,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,27}}</string>
                <key>sourceSize</key>
                <string>{41,27}</string>
            </dict>
            <key>sjxs_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{503,705},{49,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,38}}</string>
                <key>sourceSize</key>
                <string>{49,38}</string>
            </dict>
            <key>sjxs_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{501,646},{55,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,57}}</string>
                <key>sourceSize</key>
                <string>{55,57}</string>
            </dict>
            <key>sjxs_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{695,750},{19,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,13}}</string>
                <key>sourceSize</key>
                <string>{19,13}</string>
            </dict>
            <key>sjxs_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,656},{61,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,60}}</string>
                <key>sourceSize</key>
                <string>{61,60}</string>
            </dict>
            <key>sjxs_31_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,668},{64,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,27}}</string>
                <key>sourceSize</key>
                <string>{64,27}</string>
            </dict>
            <key>sjxs_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,730},{19,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,25}}</string>
                <key>sourceSize</key>
                <string>{19,25}</string>
            </dict>
            <key>sjxs_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{603,756},{31,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,36}}</string>
                <key>sourceSize</key>
                <string>{31,36}</string>
            </dict>
            <key>sjxs_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{691,712},{31,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,16}}</string>
                <key>sourceSize</key>
                <string>{31,16}</string>
            </dict>
            <key>sjxs_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{585,571},{47,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,59}}</string>
                <key>sourceSize</key>
                <string>{47,59}</string>
            </dict>
            <key>sjxs_35_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{599,644},{53,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,56}}</string>
                <key>sourceSize</key>
                <string>{53,56}</string>
            </dict>
            <key>sjxs_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,517},{247,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,67}}</string>
                <key>sourceSize</key>
                <string>{247,67}</string>
            </dict>
            <key>sjxs_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,584},{32,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,68}}</string>
                <key>sourceSize</key>
                <string>{32,68}</string>
            </dict>
            <key>sjxs_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,266},{108,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,128}}</string>
                <key>sourceSize</key>
                <string>{108,128}</string>
            </dict>
            <key>sjxs_38_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,483},{214,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,53}}</string>
                <key>sourceSize</key>
                <string>{214,53}</string>
            </dict>
            <key>sjxs_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{767,701},{36,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,25}}</string>
                <key>sourceSize</key>
                <string>{36,25}</string>
            </dict>
            <key>sjxs_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,710},{42,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,32}}</string>
                <key>sourceSize</key>
                <string>{42,32}</string>
            </dict>
            <key>sjxs_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,538},{66,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,116}}</string>
                <key>sourceSize</key>
                <string>{66,116}</string>
            </dict>
            <key>sjxs_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,646},{62,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,39}}</string>
                <key>sourceSize</key>
                <string>{62,39}</string>
            </dict>
            <key>sjxs_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,741},{26,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,71}}</string>
                <key>sourceSize</key>
                <string>{26,71}</string>
            </dict>
            <key>sjxs_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,258},{116,131}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{116,131}}</string>
                <key>sourceSize</key>
                <string>{120,133}</string>
            </dict>
            <key>sjxs_44_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,2},{196,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,73}}</string>
                <key>sourceSize</key>
                <string>{196,73}</string>
            </dict>
            <key>sjxs_45.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,395},{86,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,154}}</string>
                <key>sourceSize</key>
                <string>{86,154}</string>
            </dict>
            <key>sjxs_46.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,396},{102,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,116}}</string>
                <key>sourceSize</key>
                <string>{102,116}</string>
            </dict>
            <key>sjxs_47.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,668},{156,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,71}}</string>
                <key>sourceSize</key>
                <string>{156,71}</string>
            </dict>
            <key>sjxs_47_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,580},{153,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,86}}</string>
                <key>sourceSize</key>
                <string>{153,86}</string>
            </dict>
            <key>sjxs_48.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,721},{38,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,33}}</string>
                <key>sourceSize</key>
                <string>{38,33}</string>
            </dict>
            <key>sjxs_49.png</key>
            <dict>
                <key>frame</key>
                <string>{{499,571},{73,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,84}}</string>
                <key>sourceSize</key>
                <string>{73,84}</string>
            </dict>
            <key>sjxs_50.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,538},{178,40}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,40}}</string>
                <key>sourceSize</key>
                <string>{178,42}</string>
            </dict>
            <key>sjxs_51.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,398},{121,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,65}}</string>
                <key>sourceSize</key>
                <string>{121,65}</string>
            </dict>
            <key>sjxs_52.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,500},{99,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,69}}</string>
                <key>sourceSize</key>
                <string>{99,69}</string>
            </dict>
            <key>sjxs_53.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,734},{60,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,34}}</string>
                <key>sourceSize</key>
                <string>{60,34}</string>
            </dict>
            <key>sjxs_54.png</key>
            <dict>
                <key>frame</key>
                <string>{{635,516},{97,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,56}}</string>
                <key>sourceSize</key>
                <string>{97,56}</string>
            </dict>
            <key>sjxs_55.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,465},{130,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,49}}</string>
                <key>sourceSize</key>
                <string>{130,49}</string>
            </dict>
            <key>sjxs_56.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,258},{135,156}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,156}}</string>
                <key>sourceSize</key>
                <string>{137,156}</string>
            </dict>
            <key>sjxs_57.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,756},{31,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,34}}</string>
                <key>sourceSize</key>
                <string>{31,34}</string>
            </dict>
            <key>sjxs_58.png</key>
            <dict>
                <key>frame</key>
                <string>{{769,2},{23,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,35}}</string>
                <key>sourceSize</key>
                <string>{23,35}</string>
            </dict>
            <key>sjxs_59.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,202},{54,297}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,297}}</string>
                <key>sourceSize</key>
                <string>{54,297}</string>
            </dict>
            <key>sjxs_60.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,734},{28,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,26}}</string>
                <key>sourceSize</key>
                <string>{28,26}</string>
            </dict>
            <key>sjxs_61.png</key>
            <dict>
                <key>frame</key>
                <string>{{763,739},{27,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,10}}</string>
                <key>sourceSize</key>
                <string>{27,10}</string>
            </dict>
            <key>sjxs_62.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,751},{13,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,16}}</string>
                <key>sourceSize</key>
                <string>{13,16}</string>
            </dict>
            <key>sjxs_63.png</key>
            <dict>
                <key>frame</key>
                <string>{{737,730},{24,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,19}}</string>
                <key>sourceSize</key>
                <string>{24,19}</string>
            </dict>
            <key>sjxs_64.png</key>
            <dict>
                <key>frame</key>
                <string>{{503,760},{39,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,32}}</string>
                <key>sourceSize</key>
                <string>{39,32}</string>
            </dict>
            <key>sjxs_65.png</key>
            <dict>
                <key>frame</key>
                <string>{{693,644},{37,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,29}}</string>
                <key>sourceSize</key>
                <string>{37,29}</string>
            </dict>
            <key>sjxs_66.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,744},{39,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,14}}</string>
                <key>sourceSize</key>
                <string>{39,14}</string>
            </dict>
            <key>sjxs_67.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,769},{23,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,31}}</string>
                <key>sourceSize</key>
                <string>{23,31}</string>
            </dict>
            <key>sjxs_68.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,762},{30,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,20}}</string>
                <key>sourceSize</key>
                <string>{30,20}</string>
            </dict>
            <key>sjxs_69.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,751},{18,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,24}}</string>
                <key>sourceSize</key>
                <string>{18,24}</string>
            </dict>
            <key>sjxs_70.png</key>
            <dict>
                <key>frame</key>
                <string>{{769,181},{17,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,17}}</string>
                <key>sourceSize</key>
                <string>{17,17}</string>
            </dict>
            <key>sjxs_71.png</key>
            <dict>
                <key>frame</key>
                <string>{{751,751},{17,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,10}}</string>
                <key>sourceSize</key>
                <string>{17,10}</string>
            </dict>
            <key>sjxs_72.png</key>
            <dict>
                <key>frame</key>
                <string>{{695,771},{14,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,21}}</string>
                <key>sourceSize</key>
                <string>{14,21}</string>
            </dict>
            <key>sjxs_73.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,770},{16,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,22}}</string>
                <key>sourceSize</key>
                <string>{16,22}</string>
            </dict>
            <key>sjxs_74.png</key>
            <dict>
                <key>frame</key>
                <string>{{669,750},{24,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,23}}</string>
                <key>sourceSize</key>
                <string>{24,23}</string>
            </dict>
            <key>sjxs_75.png</key>
            <dict>
                <key>frame</key>
                <string>{{499,538},{26,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,33}}</string>
                <key>sourceSize</key>
                <string>{26,33}</string>
            </dict>
            <key>sjxs_76.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,729},{104,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,55}}</string>
                <key>sourceSize</key>
                <string>{104,55}</string>
            </dict>
            <key>sjxs_77.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,483},{53,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{53,42}}</string>
                <key>sourceSize</key>
                <string>{53,44}</string>
            </dict>
            <key>sjxs_78.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,762},{49,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,20}}</string>
                <key>sourceSize</key>
                <string>{49,20}</string>
            </dict>
            <key>sjxs_79.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,258},{6,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{6,6}}</string>
                <key>sourceSize</key>
                <string>{6,6}</string>
            </dict>
            <key>sjxs_80.png</key>
            <dict>
                <key>frame</key>
                <string>{{699,200},{94,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,93}}</string>
                <key>sourceSize</key>
                <string>{94,93}</string>
            </dict>
            <key>sjxs_81.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,516},{58,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,66}}</string>
                <key>sourceSize</key>
                <string>{58,66}</string>
            </dict>
            <key>sjxs_82.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,296},{105,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,100}}</string>
                <key>sourceSize</key>
                <string>{105,100}</string>
            </dict>
            <key>sjxs_83.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,618},{67,81}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{67,81}}</string>
                <key>sourceSize</key>
                <string>{73,81}</string>
            </dict>
            <key>sjxs_84.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,702},{15,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,17}}</string>
                <key>sourceSize</key>
                <string>{15,17}</string>
            </dict>
            <key>sjxs_85.png</key>
            <dict>
                <key>frame</key>
                <string>{{711,771},{21,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,12}}</string>
                <key>sourceSize</key>
                <string>{21,12}</string>
            </dict>
            <key>sjxs_86.png</key>
            <dict>
                <key>frame</key>
                <string>{{617,632},{9,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,15}}</string>
                <key>sourceSize</key>
                <string>{9,15}</string>
            </dict>
            <key>sjxs_87.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,517},{21,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,19}}</string>
                <key>sourceSize</key>
                <string>{21,19}</string>
            </dict>
            <key>sjxs_88.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,114},{33,8}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,8}}</string>
                <key>sourceSize</key>
                <string>{33,10}</string>
            </dict>
            <key>sjxs_89.png</key>
            <dict>
                <key>frame</key>
                <string>{{635,500},{14,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,17}}</string>
                <key>sourceSize</key>
                <string>{14,17}</string>
            </dict>
            <key>sjxs_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{725,771},{10,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,10}}</string>
                <key>sourceSize</key>
                <string>{10,10}</string>
            </dict>
            <key>sjxs_90.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,770},{43,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,19}}</string>
                <key>sourceSize</key>
                <string>{43,19}</string>
            </dict>
            <key>sjxs_91.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,774},{53,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,18}}</string>
                <key>sourceSize</key>
                <string>{53,18}</string>
            </dict>
            <key>sjxs_92.png</key>
            <dict>
                <key>frame</key>
                <string>{{653,724},{27,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,23}}</string>
                <key>sourceSize</key>
                <string>{27,23}</string>
            </dict>
            <key>sjxs_93.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,266},{15,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,21}}</string>
                <key>sourceSize</key>
                <string>{15,21}</string>
            </dict>
            <key>sjxs_94.png</key>
            <dict>
                <key>frame</key>
                <string>{{669,775},{24,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,17}}</string>
                <key>sourceSize</key>
                <string>{24,17}</string>
            </dict>
            <key>sjxs_95.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,751},{12,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,13}}</string>
                <key>sourceSize</key>
                <string>{12,13}</string>
            </dict>
            <key>sjxs_96.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,395},{86,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,104}}</string>
                <key>sourceSize</key>
                <string>{86,104}</string>
            </dict>
            <key>sjxs_tx_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,202},{292,181}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{292,181}}</string>
                <key>sourceSize</key>
                <string>{296,183}</string>
            </dict>
            <key>sjxs_tx_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,586},{141,115}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{141,115}}</string>
                <key>sourceSize</key>
                <string>{145,117}</string>
            </dict>
            <key>sjxs_tx_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,644},{37,55}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{37,55}}</string>
                <key>sourceSize</key>
                <string>{39,57}</string>
            </dict>
            <key>sjxs_tx_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,385},{270,130}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{270,130}}</string>
                <key>sourceSize</key>
                <string>{274,132}</string>
            </dict>
            <key>sjxs_tx_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,586},{131,174}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{131,174}}</string>
                <key>sourceSize</key>
                <string>{137,174}</string>
            </dict>
            <key>sjxs_tx_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,574},{68,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{68,88}}</string>
                <key>sourceSize</key>
                <string>{72,92}</string>
            </dict>
            <key>sjxs_tx_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{777,398},{15,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,55}}</string>
                <key>sourceSize</key>
                <string>{15,55}</string>
            </dict>
            <key>sjxs_tx_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,580},{86,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,22}}</string>
                <key>sourceSize</key>
                <string>{86,22}</string>
            </dict>
            <key>sjxs_tx_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{690,198}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{690,198}}</string>
                <key>sourceSize</key>
                <string>{694,210}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shuijinglh5.pvr.ccz</string>
            <key>size</key>
            <string>{794,794}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cb76259ff328639018c012673d4f7125:1/1$</string>
            <key>textureFileName</key>
            <string>shuijinglh5.pvr.ccz</string>
        </dict>
    </dict>
</plist>
