<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>luzhisznhlh_TX_deng1.png</key>
            <dict>
                <key>frame</key>
                <string>{{569,171},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{140,140}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>luzhisznhlh_TX_deng2.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,561},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{100,100}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>luzhisznhlh_TX_guang01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{405,203}}</string>
                <key>offset</key>
                <string>{4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,2},{405,203}}</string>
                <key>sourceSize</key>
                <string>{419,217}</string>
            </dict>
            <key>luzhisznhlh_TX_guang02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,207},{339,170}}</string>
                <key>offset</key>
                <string>{-7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{339,170}}</string>
                <key>sourceSize</key>
                <string>{359,176}</string>
            </dict>
            <key>luzhisznhlh_TX_stone.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,379},{137,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,39}}</string>
                <key>sourceSize</key>
                <string>{137,39}</string>
            </dict>
            <key>luzhisznhlh_body_bi.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,683},{21,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,75}}</string>
                <key>sourceSize</key>
                <string>{21,75}</string>
            </dict>
            <key>luzhisznhlh_body_boshi01.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,505},{15,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,11}}</string>
                <key>sourceSize</key>
                <string>{15,11}</string>
            </dict>
            <key>luzhisznhlh_body_boshi02.png</key>
            <dict>
                <key>frame</key>
                <string>{{701,408},{23,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,14}}</string>
                <key>sourceSize</key>
                <string>{23,14}</string>
            </dict>
            <key>luzhisznhlh_body_face.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,611},{48,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,50}}</string>
                <key>sourceSize</key>
                <string>{48,50}</string>
            </dict>
            <key>luzhisznhlh_body_hair01.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,662},{44,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,16}}</string>
                <key>sourceSize</key>
                <string>{44,16}</string>
            </dict>
            <key>luzhisznhlh_body_hair02.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,674},{16,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,61}}</string>
                <key>sourceSize</key>
                <string>{16,61}</string>
            </dict>
            <key>luzhisznhlh_body_hair03.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,692},{31,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,24}}</string>
                <key>sourceSize</key>
                <string>{31,24}</string>
            </dict>
            <key>luzhisznhlh_body_hair04.png</key>
            <dict>
                <key>frame</key>
                <string>{{531,706},{10,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,37}}</string>
                <key>sourceSize</key>
                <string>{10,37}</string>
            </dict>
            <key>luzhisznhlh_body_hair05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,704},{12,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,22}}</string>
                <key>sourceSize</key>
                <string>{12,22}</string>
            </dict>
            <key>luzhisznhlh_body_hair06.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,355},{17,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,25}}</string>
                <key>sourceSize</key>
                <string>{17,25}</string>
            </dict>
            <key>luzhisznhlh_body_hair07.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,692},{24,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,17}}</string>
                <key>sourceSize</key>
                <string>{24,17}</string>
            </dict>
            <key>luzhisznhlh_body_hqunbai01.png</key>
            <dict>
                <key>frame</key>
                <string>{{659,65},{50,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,104}}</string>
                <key>sourceSize</key>
                <string>{50,104}</string>
            </dict>
            <key>luzhisznhlh_body_hqunbai02.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,376},{53,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,107}}</string>
                <key>sourceSize</key>
                <string>{53,107}</string>
            </dict>
            <key>luzhisznhlh_body_hqunbai03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,563},{139,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,185}}</string>
                <key>sourceSize</key>
                <string>{139,185}</string>
            </dict>
            <key>luzhisznhlh_body_hqunbai04.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,207},{56,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,167}}</string>
                <key>sourceSize</key>
                <string>{56,167}</string>
            </dict>
            <key>luzhisznhlh_body_luodai01.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,561},{89,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,99}}</string>
                <key>sourceSize</key>
                <string>{89,99}</string>
            </dict>
            <key>luzhisznhlh_body_luodai02.png</key>
            <dict>
                <key>frame</key>
                <string>{{539,376},{105,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,117}}</string>
                <key>sourceSize</key>
                <string>{105,117}</string>
            </dict>
            <key>luzhisznhlh_body_luodai03.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,2},{248,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,167}}</string>
                <key>sourceSize</key>
                <string>{248,167}</string>
            </dict>
            <key>luzhisznhlh_body_luodai04.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,379},{180,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,130}}</string>
                <key>sourceSize</key>
                <string>{180,130}</string>
            </dict>
            <key>luzhisznhlh_body_qunzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,663},{99,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,53}}</string>
                <key>sourceSize</key>
                <string>{99,53}</string>
            </dict>
            <key>luzhisznhlh_body_toushi01.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,661},{34,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,29}}</string>
                <key>sourceSize</key>
                <string>{34,29}</string>
            </dict>
            <key>luzhisznhlh_body_toushi02.png</key>
            <dict>
                <key>frame</key>
                <string>{{549,276},{34,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,16}}</string>
                <key>sourceSize</key>
                <string>{34,16}</string>
            </dict>
            <key>luzhisznhlh_body_toushi03.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,658},{42,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,53}}</string>
                <key>sourceSize</key>
                <string>{42,53}</string>
            </dict>
            <key>luzhisznhlh_body_toushi04.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,207},{6,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{6,10}}</string>
                <key>sourceSize</key>
                <string>{6,10}</string>
            </dict>
            <key>luzhisznhlh_body_xiong.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,550},{55,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,59}}</string>
                <key>sourceSize</key>
                <string>{55,59}</string>
            </dict>
            <key>luzhisznhlh_body_yao.png</key>
            <dict>
                <key>frame</key>
                <string>{{673,589},{38,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,21}}</string>
                <key>sourceSize</key>
                <string>{38,21}</string>
            </dict>
            <key>luzhisznhlh_body_yaodai01.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,578},{35,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,31}}</string>
                <key>sourceSize</key>
                <string>{35,31}</string>
            </dict>
            <key>luzhisznhlh_body_yaodai02.png</key>
            <dict>
                <key>frame</key>
                <string>{{699,692},{17,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,17}}</string>
                <key>sourceSize</key>
                <string>{17,17}</string>
            </dict>
            <key>luzhisznhlh_body_yaodai03.png</key>
            <dict>
                <key>frame</key>
                <string>{{549,253},{21,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,18}}</string>
                <key>sourceSize</key>
                <string>{21,18}</string>
            </dict>
            <key>luzhisznhlh_body_yaoshi.png</key>
            <dict>
                <key>frame</key>
                <string>{{669,692},{21,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,28}}</string>
                <key>sourceSize</key>
                <string>{21,28}</string>
            </dict>
            <key>luzhisznhlh_body_ybiyan01.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,237},{7,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,6}}</string>
                <key>sourceSize</key>
                <string>{7,6}</string>
            </dict>
            <key>luzhisznhlh_body_ybiyan02.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,228},{7,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,6}}</string>
                <key>sourceSize</key>
                <string>{7,6}</string>
            </dict>
            <key>luzhisznhlh_body_ybiyan03.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,219},{7,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,6}}</string>
                <key>sourceSize</key>
                <string>{7,6}</string>
            </dict>
            <key>luzhisznhlh_body_yjian01.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,614},{79,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,42}}</string>
                <key>sourceSize</key>
                <string>{79,42}</string>
            </dict>
            <key>luzhisznhlh_body_yjian02.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,555},{38,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,32}}</string>
                <key>sourceSize</key>
                <string>{38,32}</string>
            </dict>
            <key>luzhisznhlh_body_yqunbai01.png</key>
            <dict>
                <key>frame</key>
                <string>{{629,495},{47,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,81}}</string>
                <key>sourceSize</key>
                <string>{47,81}</string>
            </dict>
            <key>luzhisznhlh_body_yqunbai02.png</key>
            <dict>
                <key>frame</key>
                <string>{{545,578},{34,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,89}}</string>
                <key>sourceSize</key>
                <string>{34,89}</string>
            </dict>
            <key>luzhisznhlh_body_yqunbai03.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,171},{80,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,158}}</string>
                <key>sourceSize</key>
                <string>{80,158}</string>
            </dict>
            <key>luzhisznhlh_body_yshou.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,683},{21,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,22}}</string>
                <key>sourceSize</key>
                <string>{21,22}</string>
            </dict>
            <key>luzhisznhlh_body_yshouzhi01.png</key>
            <dict>
                <key>frame</key>
                <string>{{621,614},{21,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,16}}</string>
                <key>sourceSize</key>
                <string>{21,16}</string>
            </dict>
            <key>luzhisznhlh_body_ytui.png</key>
            <dict>
                <key>frame</key>
                <string>{{549,313},{61,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,137}}</string>
                <key>sourceSize</key>
                <string>{61,137}</string>
            </dict>
            <key>luzhisznhlh_body_yxiaobi.png</key>
            <dict>
                <key>frame</key>
                <string>{{659,2},{57,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,61}}</string>
                <key>sourceSize</key>
                <string>{57,61}</string>
            </dict>
            <key>luzhisznhlh_body_yxieshi.png</key>
            <dict>
                <key>frame</key>
                <string>{{701,392},{14,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,15}}</string>
                <key>sourceSize</key>
                <string>{14,15}</string>
            </dict>
            <key>luzhisznhlh_body_yyixiu01.png</key>
            <dict>
                <key>frame</key>
                <string>{{545,495},{81,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,82}}</string>
                <key>sourceSize</key>
                <string>{81,82}</string>
            </dict>
            <key>luzhisznhlh_body_yyixiu02.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,376},{78,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,127}}</string>
                <key>sourceSize</key>
                <string>{78,127}</string>
            </dict>
            <key>luzhisznhlh_body_zbiyan01.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,485},{12,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,8}}</string>
                <key>sourceSize</key>
                <string>{12,8}</string>
            </dict>
            <key>luzhisznhlh_body_zbiyan02.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,550},{13,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,9}}</string>
                <key>sourceSize</key>
                <string>{13,9}</string>
            </dict>
            <key>luzhisznhlh_body_zbiyan03.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,550},{15,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,9}}</string>
                <key>sourceSize</key>
                <string>{15,9}</string>
            </dict>
            <key>luzhisznhlh_body_zdabi.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,518},{41,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,88}}</string>
                <key>sourceSize</key>
                <string>{41,88}</string>
            </dict>
            <key>luzhisznhlh_body_zjian01.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,612},{56,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,60}}</string>
                <key>sourceSize</key>
                <string>{56,60}</string>
            </dict>
            <key>luzhisznhlh_body_zjian02.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,658},{64,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,46}}</string>
                <key>sourceSize</key>
                <string>{64,46}</string>
            </dict>
            <key>luzhisznhlh_body_zqunbai01.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,485},{31,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,68}}</string>
                <key>sourceSize</key>
                <string>{31,68}</string>
            </dict>
            <key>luzhisznhlh_body_zqunbai02.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,663},{53,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,82}}</string>
                <key>sourceSize</key>
                <string>{53,82}</string>
            </dict>
            <key>luzhisznhlh_body_zqunbai03.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,505},{39,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,54}}</string>
                <key>sourceSize</key>
                <string>{39,54}</string>
            </dict>
            <key>luzhisznhlh_body_zqunbai04.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,563},{104,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{104,118}}</string>
                <key>sourceSize</key>
                <string>{104,120}</string>
            </dict>
            <key>luzhisznhlh_body_zqunbai05.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,373},{93,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,123}}</string>
                <key>sourceSize</key>
                <string>{93,123}</string>
            </dict>
            <key>luzhisznhlh_body_zshou.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,313},{40,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,28}}</string>
                <key>sourceSize</key>
                <string>{40,28}</string>
            </dict>
            <key>luzhisznhlh_body_zshouzhi.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,706},{19,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,10}}</string>
                <key>sourceSize</key>
                <string>{19,10}</string>
            </dict>
            <key>luzhisznhlh_body_ztui.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,253},{118,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,146}}</string>
                <key>sourceSize</key>
                <string>{118,146}</string>
            </dict>
            <key>luzhisznhlh_body_zxieshi.png</key>
            <dict>
                <key>frame</key>
                <string>{{701,374},{16,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,15}}</string>
                <key>sourceSize</key>
                <string>{16,15}</string>
            </dict>
            <key>luzhisznhlh_body_zyixiu01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,379},{187,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,182}}</string>
                <key>sourceSize</key>
                <string>{187,182}</string>
            </dict>
            <key>luzhisznhlh_body_zyixiu02.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,498},{50,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,89}}</string>
                <key>sourceSize</key>
                <string>{50,89}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zhenjilh2.pvr.ccz</string>
            <key>size</key>
            <string>{718,718}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d4e872cac7b76e9586303423874edaed:1/1$</string>
            <key>textureFileName</key>
            <string>zhenjilh2.pvr.ccz</string>
        </dict>
    </dict>
</plist>
