<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>simayilh5_lizi_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{101,71}</string>
                <key>spriteSourceSize</key>
                <string>{103,77}</string>
                <key>textureRect</key>
                <string>{{1229,1},{101,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>simayilh5_lizi_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{103,75}</string>
                <key>spriteSourceSize</key>
                <string>{103,77}</string>
                <key>textureRect</key>
                <string>{{1076,170},{103,75}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>simayilh5_lizi_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{103,75}</string>
                <key>spriteSourceSize</key>
                <string>{103,77}</string>
                <key>textureRect</key>
                <string>{{1000,380},{103,75}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>simayilh5_lizi_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{103,75}</string>
                <key>spriteSourceSize</key>
                <string>{103,77}</string>
                <key>textureRect</key>
                <string>{{1077,380},{103,75}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>simayilh5_lizi_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{99,73}</string>
                <key>spriteSourceSize</key>
                <string>{103,77}</string>
                <key>textureRect</key>
                <string>{{1153,1},{99,73}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>simayilh5_lizi_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{99,73}</string>
                <key>spriteSourceSize</key>
                <string>{103,77}</string>
                <key>textureRect</key>
                <string>{{1229,74},{99,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>simayilh5_lizi_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,2}</string>
                <key>spriteSize</key>
                <string>{93,73}</string>
                <key>spriteSourceSize</key>
                <string>{103,77}</string>
                <key>textureRect</key>
                <string>{{1153,102},{93,73}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>simayilh5_lizi_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,2}</string>
                <key>spriteSize</key>
                <string>{93,73}</string>
                <key>spriteSourceSize</key>
                <string>{103,77}</string>
                <key>textureRect</key>
                <string>{{1153,197},{93,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>simayilh5_lizi_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,2}</string>
                <key>spriteSize</key>
                <string>{101,73}</string>
                <key>spriteSourceSize</key>
                <string>{103,77}</string>
                <key>textureRect</key>
                <string>{{1154,380},{101,73}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>simayilh5_lizi_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{103,75}</string>
                <key>spriteSourceSize</key>
                <string>{103,77}</string>
                <key>textureRect</key>
                <string>{{1079,275},{103,75}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>simayilh5_lizi_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,77}</string>
                <key>spriteSourceSize</key>
                <string>{103,77}</string>
                <key>textureRect</key>
                <string>{{997,170},{103,77}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>simayilh5_lizi_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,77}</string>
                <key>spriteSourceSize</key>
                <string>{103,77}</string>
                <key>textureRect</key>
                <string>{{1000,275},{103,77}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>simayilh5_xing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,180}</string>
                <key>spriteSourceSize</key>
                <string>{186,180}</string>
                <key>textureRect</key>
                <string>{{1,1},{186,180}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>simayilh5_yan1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,1}</string>
                <key>spriteSize</key>
                <string>{134,167}</string>
                <key>spriteSourceSize</key>
                <string>{142,169}</string>
                <key>textureRect</key>
                <string>{{861,170},{134,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>simayilh5_yan1_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,2}</string>
                <key>spriteSize</key>
                <string>{140,165}</string>
                <key>spriteSourceSize</key>
                <string>{142,169}</string>
                <key>textureRect</key>
                <string>{{479,345},{140,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>simayilh5_yan1_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{138,167}</string>
                <key>spriteSourceSize</key>
                <string>{142,169}</string>
                <key>textureRect</key>
                <string>{{621,343},{138,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>simayilh5_yan1_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{138,169}</string>
                <key>spriteSourceSize</key>
                <string>{142,169}</string>
                <key>textureRect</key>
                <string>{{569,1},{138,169}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>simayilh5_yan1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,1}</string>
                <key>spriteSize</key>
                <string>{138,167}</string>
                <key>spriteSourceSize</key>
                <string>{142,169}</string>
                <key>textureRect</key>
                <string>{{721,171},{138,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>simayilh5_yan1_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,1}</string>
                <key>spriteSize</key>
                <string>{138,167}</string>
                <key>spriteSourceSize</key>
                <string>{142,169}</string>
                <key>textureRect</key>
                <string>{{806,1},{138,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>simayilh5_yan1_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{140,167}</string>
                <key>spriteSourceSize</key>
                <string>{142,169}</string>
                <key>textureRect</key>
                <string>{{168,365},{140,167}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>simayilh5_yan1_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{142,165}</string>
                <key>spriteSourceSize</key>
                <string>{142,169}</string>
                <key>textureRect</key>
                <string>{{1,365},{142,165}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>simayilh5_yan1_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,1}</string>
                <key>spriteSize</key>
                <string>{138,167}</string>
                <key>spriteSourceSize</key>
                <string>{142,169}</string>
                <key>textureRect</key>
                <string>{{761,340},{138,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>simayilh5_yan1_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{134,169}</string>
                <key>spriteSourceSize</key>
                <string>{142,169}</string>
                <key>textureRect</key>
                <string>{{585,172},{134,169}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>simayilh5_yan1_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-1}</string>
                <key>spriteSize</key>
                <string>{134,167}</string>
                <key>spriteSourceSize</key>
                <string>{142,169}</string>
                <key>textureRect</key>
                <string>{{946,1},{134,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>simayilh5_yan1_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,2}</string>
                <key>spriteSize</key>
                <string>{140,163}</string>
                <key>spriteSourceSize</key>
                <string>{142,169}</string>
                <key>textureRect</key>
                <string>{{337,347},{140,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>simayilh5_yan2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{95,174}</string>
                <key>spriteSourceSize</key>
                <string>{97,176}</string>
                <key>textureRect</key>
                <string>{{100,189},{95,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>simayilh5_yan2_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,3}</string>
                <key>spriteSize</key>
                <string>{95,168}</string>
                <key>spriteSourceSize</key>
                <string>{97,176}</string>
                <key>textureRect</key>
                <string>{{709,1},{95,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>simayilh5_yan2_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,3}</string>
                <key>spriteSize</key>
                <string>{95,170}</string>
                <key>spriteSourceSize</key>
                <string>{97,176}</string>
                <key>textureRect</key>
                <string>{{375,1},{95,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>simayilh5_yan2_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{95,170}</string>
                <key>spriteSourceSize</key>
                <string>{97,176}</string>
                <key>textureRect</key>
                <string>{{393,173},{95,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>simayilh5_yan2_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{95,174}</string>
                <key>spriteSourceSize</key>
                <string>{97,176}</string>
                <key>textureRect</key>
                <string>{{183,1},{95,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>simayilh5_yan2_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{95,174}</string>
                <key>spriteSourceSize</key>
                <string>{97,176}</string>
                <key>textureRect</key>
                <string>{{197,177},{95,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>simayilh5_yan2_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{97,174}</string>
                <key>spriteSourceSize</key>
                <string>{97,176}</string>
                <key>textureRect</key>
                <string>{{1,189},{97,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>simayilh5_yan2_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{97,170}</string>
                <key>spriteSourceSize</key>
                <string>{97,176}</string>
                <key>textureRect</key>
                <string>{{294,175},{97,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>simayilh5_yan2_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,2}</string>
                <key>spriteSize</key>
                <string>{95,170}</string>
                <key>spriteSourceSize</key>
                <string>{97,176}</string>
                <key>textureRect</key>
                <string>{{472,1},{95,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>simayilh5_yan2_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,2}</string>
                <key>spriteSize</key>
                <string>{93,172}</string>
                <key>spriteSourceSize</key>
                <string>{97,176}</string>
                <key>textureRect</key>
                <string>{{280,1},{93,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>simayilh5_yan2_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{93,170}</string>
                <key>spriteSourceSize</key>
                <string>{97,176}</string>
                <key>textureRect</key>
                <string>{{490,173},{93,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>simayilh5_yan2_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{97,166}</string>
                <key>spriteSourceSize</key>
                <string>{97,176}</string>
                <key>textureRect</key>
                <string>{{901,339},{97,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>simayilh5_yan3_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,67}</string>
                <key>spriteSourceSize</key>
                <string>{67,67}</string>
                <key>textureRect</key>
                <string>{{1082,1},{67,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>simayilh5_yan3_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,67}</string>
                <key>spriteSourceSize</key>
                <string>{67,67}</string>
                <key>textureRect</key>
                <string>{{1082,70},{67,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>simayilh5_yan3_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,67}</string>
                <key>spriteSourceSize</key>
                <string>{67,67}</string>
                <key>textureRect</key>
                <string>{{1156,272},{67,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>simayilh5_yan3_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,67}</string>
                <key>spriteSourceSize</key>
                <string>{67,67}</string>
                <key>textureRect</key>
                <string>{{1225,272},{67,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>simayilh5_yan3_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,67}</string>
                <key>spriteSourceSize</key>
                <string>{67,67}</string>
                <key>textureRect</key>
                <string>{{1294,149},{67,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>simayilh5_yan3_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,67}</string>
                <key>spriteSourceSize</key>
                <string>{67,67}</string>
                <key>textureRect</key>
                <string>{{1294,218},{67,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>simayilh5_yan3_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,67}</string>
                <key>spriteSourceSize</key>
                <string>{67,67}</string>
                <key>textureRect</key>
                <string>{{1294,287},{67,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>simayilh5_yan3_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,67}</string>
                <key>spriteSourceSize</key>
                <string>{67,67}</string>
                <key>textureRect</key>
                <string>{{1229,356},{67,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>simayilh5_yan3_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,67}</string>
                <key>spriteSourceSize</key>
                <string>{67,67}</string>
                <key>textureRect</key>
                <string>{{1298,356},{67,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>simayilh5_yan3_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,67}</string>
                <key>spriteSourceSize</key>
                <string>{67,67}</string>
                <key>textureRect</key>
                <string>{{1082,1},{67,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>simayilh5_yan3_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,67}</string>
                <key>spriteSourceSize</key>
                <string>{67,67}</string>
                <key>textureRect</key>
                <string>{{1229,425},{67,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>simayilh5_yan3_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,67}</string>
                <key>spriteSourceSize</key>
                <string>{67,67}</string>
                <key>textureRect</key>
                <string>{{1298,425},{67,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>simayilh5.png</string>
            <key>size</key>
            <string>{1366,511}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:91946a6c2f01984c74455fc8c59c12e5:367b08f7b8c0f17479dd0a1843fc3c92:db35cf06c50119562734b5ed9b59a775$</string>
            <key>textureFileName</key>
            <string>simayilh5.png</string>
        </dict>
    </dict>
</plist>
