<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>luzhilh8_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{679,775},{26,49}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{26,49}}</string>
                <key>sourceSize</key>
                <string>{26,53}</string>
            </dict>
            <key>luzhilh8_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{953,696},{30,64}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{30,64}}</string>
                <key>sourceSize</key>
                <string>{30,66}</string>
            </dict>
            <key>luzhilh8_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1005,716},{25,7}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{25,7}}</string>
                <key>sourceSize</key>
                <string>{27,7}</string>
            </dict>
            <key>luzhilh8_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{961,882},{24,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,10}}</string>
                <key>sourceSize</key>
                <string>{24,10}</string>
            </dict>
            <key>luzhilh8_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{725,999},{32,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,8}}</string>
                <key>sourceSize</key>
                <string>{32,8}</string>
            </dict>
            <key>luzhilh8_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,1005},{31,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{31,7}}</string>
                <key>sourceSize</key>
                <string>{33,7}</string>
            </dict>
            <key>luzhilh8_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{985,696},{18,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,27}}</string>
                <key>sourceSize</key>
                <string>{18,27}</string>
            </dict>
            <key>luzhilh8_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1001,659},{16,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,11}}</string>
                <key>sourceSize</key>
                <string>{16,11}</string>
            </dict>
            <key>luzhilh8_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,990},{18,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,46}}</string>
                <key>sourceSize</key>
                <string>{18,46}</string>
            </dict>
            <key>luzhilh8_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{699,2},{313,109}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{313,109}}</string>
                <key>sourceSize</key>
                <string>{315,113}</string>
            </dict>
            <key>luzhilh8_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,450},{362,88}}</string>
                <key>offset</key>
                <string>{4,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,39},{362,88}}</string>
                <key>sourceSize</key>
                <string>{372,128}</string>
            </dict>
            <key>luzhilh8_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{899,785},{60,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{60,107}}</string>
                <key>sourceSize</key>
                <string>{62,109}</string>
            </dict>
            <key>luzhilh8_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,990},{22,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,53}}</string>
                <key>sourceSize</key>
                <string>{22,53}</string>
            </dict>
            <key>luzhilh8_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,2},{149,282}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{149,282}}</string>
                <key>sourceSize</key>
                <string>{151,286}</string>
            </dict>
            <key>luzhilh8_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,691},{184,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{184,122}}</string>
                <key>sourceSize</key>
                <string>{186,124}</string>
            </dict>
            <key>luzhilh8_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,785},{69,104}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,104}}</string>
                <key>sourceSize</key>
                <string>{69,112}</string>
            </dict>
            <key>luzhilh8_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{359,288}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{359,288}}</string>
                <key>sourceSize</key>
                <string>{359,288}</string>
            </dict>
            <key>luzhilh8_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,286},{173,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,137}}</string>
                <key>sourceSize</key>
                <string>{173,137}</string>
            </dict>
            <key>luzhilh8_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,292},{319,156}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{319,156}}</string>
                <key>sourceSize</key>
                <string>{323,158}</string>
            </dict>
            <key>luzhilh8_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{529,803},{146,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,105}}</string>
                <key>sourceSize</key>
                <string>{146,105}</string>
            </dict>
            <key>luzhilh8_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,947},{37,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,48}}</string>
                <key>sourceSize</key>
                <string>{37,48}</string>
            </dict>
            <key>luzhilh8_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,969},{31,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,34}}</string>
                <key>sourceSize</key>
                <string>{31,34}</string>
            </dict>
            <key>luzhilh8_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{857,693},{11,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,8}}</string>
                <key>sourceSize</key>
                <string>{11,8}</string>
            </dict>
            <key>luzhilh8_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{961,785},{28,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{28,36}}</string>
                <key>sourceSize</key>
                <string>{32,40}</string>
            </dict>
            <key>luzhilh8_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,815},{148,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,173}}</string>
                <key>sourceSize</key>
                <string>{148,173}</string>
            </dict>
            <key>luzhilh8_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,450},{239,179}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,179}}</string>
                <key>sourceSize</key>
                <string>{243,179}</string>
            </dict>
            <key>luzhilh8_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{679,693},{80,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,176}}</string>
                <key>sourceSize</key>
                <string>{80,176}</string>
            </dict>
            <key>luzhilh8_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,113},{84,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,133}}</string>
                <key>sourceSize</key>
                <string>{84,133}</string>
            </dict>
            <key>luzhilh8_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{949,458},{86,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,62}}</string>
                <key>sourceSize</key>
                <string>{86,62}</string>
            </dict>
            <key>luzhilh8_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{867,483},{106,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,80}}</string>
                <key>sourceSize</key>
                <string>{106,80}</string>
            </dict>
            <key>luzhilh8_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{763,901},{70,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,76}}</string>
                <key>sourceSize</key>
                <string>{70,76}</string>
            </dict>
            <key>luzhilh8_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,815},{130,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,54}}</string>
                <key>sourceSize</key>
                <string>{130,54}</string>
            </dict>
            <key>luzhilh8_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,868},{55,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,125}}</string>
                <key>sourceSize</key>
                <string>{55,125}</string>
            </dict>
            <key>luzhilh8_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{519,425},{29,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,18}}</string>
                <key>sourceSize</key>
                <string>{29,18}</string>
            </dict>
            <key>luzhilh8_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,762},{104,133}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,133}}</string>
                <key>sourceSize</key>
                <string>{112,133}</string>
            </dict>
            <key>luzhilh8_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,2},{183,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,282}}</string>
                <key>sourceSize</key>
                <string>{183,282}</string>
            </dict>
            <key>luzhilh8_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,925},{72,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,53}}</string>
                <key>sourceSize</key>
                <string>{72,53}</string>
            </dict>
            <key>luzhilh8_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,610},{133,150}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{133,150}}</string>
                <key>sourceSize</key>
                <string>{137,152}</string>
            </dict>
            <key>luzhilh8_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{895,894},{73,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,73}}</string>
                <key>sourceSize</key>
                <string>{73,73}</string>
            </dict>
            <key>luzhilh8_45.png</key>
            <dict>
                <key>frame</key>
                <string>{{985,716},{28,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,18}}</string>
                <key>sourceSize</key>
                <string>{28,18}</string>
            </dict>
            <key>luzhilh8_46.png</key>
            <dict>
                <key>frame</key>
                <string>{{725,910},{36,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,87}}</string>
                <key>sourceSize</key>
                <string>{36,87}</string>
            </dict>
            <key>luzhilh8_47.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1000},{20,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,12}}</string>
                <key>sourceSize</key>
                <string>{20,12}</string>
            </dict>
            <key>luzhilh8_48.png</key>
            <dict>
                <key>frame</key>
                <string>{{961,823},{29,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,30}}</string>
                <key>sourceSize</key>
                <string>{29,30}</string>
            </dict>
            <key>luzhilh8_49.png</key>
            <dict>
                <key>frame</key>
                <string>{{937,373},{83,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,75}}</string>
                <key>sourceSize</key>
                <string>{83,75}</string>
            </dict>
            <key>luzhilh8_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,990},{16,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,31}}</string>
                <key>sourceSize</key>
                <string>{16,31}</string>
            </dict>
            <key>luzhilh8_50.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,775},{16,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,15}}</string>
                <key>sourceSize</key>
                <string>{16,15}</string>
            </dict>
            <key>luzhilh8_51.png</key>
            <dict>
                <key>frame</key>
                <string>{{519,580},{20,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,8}}</string>
                <key>sourceSize</key>
                <string>{20,8}</string>
            </dict>
            <key>luzhilh8_52.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,947},{16,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,13}}</string>
                <key>sourceSize</key>
                <string>{16,13}</string>
            </dict>
            <key>luzhilh8_53.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,792},{9,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,14}}</string>
                <key>sourceSize</key>
                <string>{9,14}</string>
            </dict>
            <key>luzhilh8_54.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,901},{13,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,7}}</string>
                <key>sourceSize</key>
                <string>{13,7}</string>
            </dict>
            <key>luzhilh8_55.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,894},{24,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,15}}</string>
                <key>sourceSize</key>
                <string>{24,15}</string>
            </dict>
            <key>luzhilh8_56.png</key>
            <dict>
                <key>frame</key>
                <string>{{949,546},{47,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,41}}</string>
                <key>sourceSize</key>
                <string>{47,41}</string>
            </dict>
            <key>luzhilh8_57.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,450},{190,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,118}}</string>
                <key>sourceSize</key>
                <string>{190,118}</string>
            </dict>
            <key>luzhilh8_58.png</key>
            <dict>
                <key>frame</key>
                <string>{{951,659},{48,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,35}}</string>
                <key>sourceSize</key>
                <string>{48,35}</string>
            </dict>
            <key>luzhilh8_59.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,814},{184,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,86}}</string>
                <key>sourceSize</key>
                <string>{184,86}</string>
            </dict>
            <key>luzhilh8_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{763,979},{17,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,48}}</string>
                <key>sourceSize</key>
                <string>{17,48}</string>
            </dict>
            <key>luzhilh8_60.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,593},{175,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,98}}</string>
                <key>sourceSize</key>
                <string>{175,98}</string>
            </dict>
            <key>luzhilh8_61.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,286},{158,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,136}}</string>
                <key>sourceSize</key>
                <string>{158,136}</string>
            </dict>
            <key>luzhilh8_62.png</key>
            <dict>
                <key>frame</key>
                <string>{{871,591},{110,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,78}}</string>
                <key>sourceSize</key>
                <string>{110,78}</string>
            </dict>
            <key>luzhilh8_63.png</key>
            <dict>
                <key>frame</key>
                <string>{{677,803},{105,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,69}}</string>
                <key>sourceSize</key>
                <string>{105,69}</string>
            </dict>
            <key>luzhilh8_64.png</key>
            <dict>
                <key>frame</key>
                <string>{{835,966},{48,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,46}}</string>
                <key>sourceSize</key>
                <string>{48,46}</string>
            </dict>
            <key>luzhilh8_65.png</key>
            <dict>
                <key>frame</key>
                <string>{{521,910},{88,102}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,102}}</string>
                <key>sourceSize</key>
                <string>{90,102}</string>
            </dict>
            <key>luzhilh8_66.png</key>
            <dict>
                <key>frame</key>
                <string>{{885,969},{43,41}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,41}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>luzhilh8_67.png</key>
            <dict>
                <key>frame</key>
                <string>{{529,692},{148,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,109}}</string>
                <key>sourceSize</key>
                <string>{148,109}</string>
            </dict>
            <key>luzhilh8_68.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,775},{124,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,78}}</string>
                <key>sourceSize</key>
                <string>{124,78}</string>
            </dict>
            <key>luzhilh8_69.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,806},{96,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,117}}</string>
                <key>sourceSize</key>
                <string>{96,117}</string>
            </dict>
            <key>luzhilh8_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,925},{20,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,13}}</string>
                <key>sourceSize</key>
                <string>{20,13}</string>
            </dict>
            <key>luzhilh8_70.png</key>
            <dict>
                <key>frame</key>
                <string>{{699,254},{242,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,87}}</string>
                <key>sourceSize</key>
                <string>{242,87}</string>
            </dict>
            <key>luzhilh8_71.png</key>
            <dict>
                <key>frame</key>
                <string>{{877,343},{138,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,58}}</string>
                <key>sourceSize</key>
                <string>{138,58}</string>
            </dict>
            <key>luzhilh8_72.png</key>
            <dict>
                <key>frame</key>
                <string>{{998,546},{15,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,14}}</string>
                <key>sourceSize</key>
                <string>{15,14}</string>
            </dict>
            <key>luzhilh8_73.png</key>
            <dict>
                <key>frame</key>
                <string>{{943,248},{123,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,69}}</string>
                <key>sourceSize</key>
                <string>{123,69}</string>
            </dict>
            <key>luzhilh8_74.png</key>
            <dict>
                <key>frame</key>
                <string>{{699,113},{221,139}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,139}}</string>
                <key>sourceSize</key>
                <string>{221,143}</string>
            </dict>
            <key>luzhilh8_75.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,925},{52,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,68}}</string>
                <key>sourceSize</key>
                <string>{52,68}</string>
            </dict>
            <key>luzhilh8_76.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,292},{60,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,156}}</string>
                <key>sourceSize</key>
                <string>{60,156}</string>
            </dict>
            <key>luzhilh8_77.png</key>
            <dict>
                <key>frame</key>
                <string>{{529,580},{163,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,110}}</string>
                <key>sourceSize</key>
                <string>{163,110}</string>
            </dict>
            <key>luzhilh8_78.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,642},{114,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,162}}</string>
                <key>sourceSize</key>
                <string>{114,162}</string>
            </dict>
            <key>luzhilh8_79.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,925},{41,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,80}}</string>
                <key>sourceSize</key>
                <string>{41,80}</string>
            </dict>
            <key>luzhilh8_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{961,855},{23,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,25}}</string>
                <key>sourceSize</key>
                <string>{23,25}</string>
            </dict>
            <key>luzhilh8_80.png</key>
            <dict>
                <key>frame</key>
                <string>{{953,762},{21,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,39}}</string>
                <key>sourceSize</key>
                <string>{21,39}</string>
            </dict>
            <key>luzhilh8_81.png</key>
            <dict>
                <key>frame</key>
                <string>{{835,891},{58,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,73}}</string>
                <key>sourceSize</key>
                <string>{58,73}</string>
            </dict>
            <key>luzhilh8_82.png</key>
            <dict>
                <key>frame</key>
                <string>{{994,746},{24,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,18}}</string>
                <key>sourceSize</key>
                <string>{24,18}</string>
            </dict>
            <key>luzhilh8_83.png</key>
            <dict>
                <key>frame</key>
                <string>{{857,703},{94,80}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{94,80}}</string>
                <key>sourceSize</key>
                <string>{94,82}</string>
            </dict>
            <key>luzhilh8_84.png</key>
            <dict>
                <key>frame</key>
                <string>{{519,446},{132,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,173}}</string>
                <key>sourceSize</key>
                <string>{132,173}</string>
            </dict>
            <key>luzhilh8_85.png</key>
            <dict>
                <key>frame</key>
                <string>{{611,910},{112,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,97}}</string>
                <key>sourceSize</key>
                <string>{112,97}</string>
            </dict>
            <key>luzhilh8_86.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,425},{124,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,183}}</string>
                <key>sourceSize</key>
                <string>{124,183}</string>
            </dict>
            <key>luzhilh8_87.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,472},{171,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,119}}</string>
                <key>sourceSize</key>
                <string>{171,119}</string>
            </dict>
            <key>luzhilh8_88.png</key>
            <dict>
                <key>frame</key>
                <string>{{951,589},{68,52}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{68,52}}</string>
                <key>sourceSize</key>
                <string>{74,56}</string>
            </dict>
            <key>luzhilh8_89.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,343},{127,177}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,177}}</string>
                <key>sourceSize</key>
                <string>{131,177}</string>
            </dict>
            <key>luzhilh8_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{937,458},{11,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,10}}</string>
                <key>sourceSize</key>
                <string>{11,10}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>luzhilh8.pvr.ccz</string>
            <key>size</key>
            <string>{1014,1014}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:01a4ddf855ae4c0aff83a125d727df40:1/1$</string>
            <key>textureFileName</key>
            <string>luzhilh8.pvr.ccz</string>
        </dict>
    </dict>
</plist>
