<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>yujilh7_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{422,129}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{422,129}}</string>
                <key>sourceSize</key>
                <string>{436,137}</string>
            </dict>
            <key>yujilh7_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,357},{352,165}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,5},{352,165}}</string>
                <key>sourceSize</key>
                <string>{370,173}</string>
            </dict>
            <key>yujilh7_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,2},{353,285}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,2},{353,285}}</string>
                <key>sourceSize</key>
                <string>{363,295}</string>
            </dict>
            <key>yujilh7_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,661},{57,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,53}}</string>
                <key>sourceSize</key>
                <string>{57,53}</string>
            </dict>
            <key>yujilh7_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{583,661},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{46,46}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>yujilh7_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,610},{75,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,90}}</string>
                <key>sourceSize</key>
                <string>{75,90}</string>
            </dict>
            <key>yujilh7_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,357},{76,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,54}}</string>
                <key>sourceSize</key>
                <string>{76,54}</string>
            </dict>
            <key>yujilh7_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{713,113},{13,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,33}}</string>
                <key>sourceSize</key>
                <string>{13,33}</string>
            </dict>
            <key>yujilh7_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,133},{264,215}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,215}}</string>
                <key>sourceSize</key>
                <string>{264,215}</string>
            </dict>
            <key>yujilh7_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,350},{197,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,92}}</string>
                <key>sourceSize</key>
                <string>{197,92}</string>
            </dict>
            <key>yujilh7_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,263},{30,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,52}}</string>
                <key>sourceSize</key>
                <string>{30,52}</string>
            </dict>
            <key>yujilh7_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,438},{163,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,56}}</string>
                <key>sourceSize</key>
                <string>{163,56}</string>
            </dict>
            <key>yujilh7_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,575},{94,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,84}}</string>
                <key>sourceSize</key>
                <string>{94,84}</string>
            </dict>
            <key>yujilh7_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,357},{53,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,58}}</string>
                <key>sourceSize</key>
                <string>{53,58}</string>
            </dict>
            <key>yujilh7_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,433},{23,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,21}}</string>
                <key>sourceSize</key>
                <string>{23,21}</string>
            </dict>
            <key>yujilh7_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,173},{36,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,38}}</string>
                <key>sourceSize</key>
                <string>{36,38}</string>
            </dict>
            <key>yujilh7_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{713,180},{10,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,30}}</string>
                <key>sourceSize</key>
                <string>{10,30}</string>
            </dict>
            <key>yujilh7_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,238},{23,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,31}}</string>
                <key>sourceSize</key>
                <string>{23,31}</string>
            </dict>
            <key>yujilh7_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{713,78},{17,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,12}}</string>
                <key>sourceSize</key>
                <string>{17,12}</string>
            </dict>
            <key>yujilh7_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,211},{25,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,32}}</string>
                <key>sourceSize</key>
                <string>{25,32}</string>
            </dict>
            <key>yujilh7_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,557},{61,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,51}}</string>
                <key>sourceSize</key>
                <string>{61,51}</string>
            </dict>
            <key>yujilh7_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,630},{96,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,100}}</string>
                <key>sourceSize</key>
                <string>{96,100}</string>
            </dict>
            <key>yujilh7_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,444},{167,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,135}}</string>
                <key>sourceSize</key>
                <string>{167,135}</string>
            </dict>
            <key>yujilh7_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,521},{106,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,52}}</string>
                <key>sourceSize</key>
                <string>{106,52}</string>
            </dict>
            <key>yujilh7_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,357},{72,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,155}}</string>
                <key>sourceSize</key>
                <string>{72,155}</string>
            </dict>
            <key>yujilh7_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,630},{95,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,99}}</string>
                <key>sourceSize</key>
                <string>{95,99}</string>
            </dict>
            <key>yujilh7_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,412},{51,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,58}}</string>
                <key>sourceSize</key>
                <string>{51,58}</string>
            </dict>
            <key>yujilh7_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{713,56},{17,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,20}}</string>
                <key>sourceSize</key>
                <string>{17,20}</string>
            </dict>
            <key>yujilh7_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{713,34},{17,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,20}}</string>
                <key>sourceSize</key>
                <string>{17,20}</string>
            </dict>
            <key>yujilh7_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{713,2},{18,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,30}}</string>
                <key>sourceSize</key>
                <string>{18,30}</string>
            </dict>
            <key>yujilh7_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{713,148},{10,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,30}}</string>
                <key>sourceSize</key>
                <string>{10,30}</string>
            </dict>
            <key>yujilh7_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,444},{184,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,101}}</string>
                <key>sourceSize</key>
                <string>{184,101}</string>
            </dict>
            <key>yujilh7_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,613},{162,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,118}}</string>
                <key>sourceSize</key>
                <string>{162,118}</string>
            </dict>
            <key>yujilh7_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,133},{41,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,38}}</string>
                <key>sourceSize</key>
                <string>{41,38}</string>
            </dict>
            <key>yujilh7_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,317},{24,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,29}}</string>
                <key>sourceSize</key>
                <string>{24,29}</string>
            </dict>
            <key>yujilh7_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{685,357},{74,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,46}}</string>
                <key>sourceSize</key>
                <string>{74,46}</string>
            </dict>
            <key>yujilh7_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{659,495},{60,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,62}}</string>
                <key>sourceSize</key>
                <string>{60,62}</string>
            </dict>
            <key>yujilh7_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{713,92},{19,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,16}}</string>
                <key>sourceSize</key>
                <string>{19,16}</string>
            </dict>
            <key>yujilh7_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,465},{113,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,81}}</string>
                <key>sourceSize</key>
                <string>{113,81}</string>
            </dict>
            <key>yujilh7_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{659,433},{60,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,70}}</string>
                <key>sourceSize</key>
                <string>{60,70}</string>
            </dict>
            <key>yujilh7_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,431},{107,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,88}}</string>
                <key>sourceSize</key>
                <string>{107,88}</string>
            </dict>
            <key>yujilh7_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,133},{111,218}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,218}}</string>
                <key>sourceSize</key>
                <string>{111,218}</string>
            </dict>
            <key>yujilh7_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,343},{93,28}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,2},{93,28}}</string>
                <key>sourceSize</key>
                <string>{109,34}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>yujilh6.pvr.ccz</string>
            <key>size</key>
            <string>{733,733}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:907e97789d6c932614beb236c13f2904:1/1$</string>
            <key>textureFileName</key>
            <string>yujilh6.pvr.ccz</string>
        </dict>
    </dict>
</plist>
