<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shuijinglh5_bowen_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,546},{105,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,26}}</string>
                <key>sourceSize</key>
                <string>{105,26}</string>
            </dict>
            <key>shuijinglh5_bowen_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,518},{105,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,26}}</string>
                <key>sourceSize</key>
                <string>{105,26}</string>
            </dict>
            <key>shuijinglh5_bowen_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,490},{105,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,26}}</string>
                <key>sourceSize</key>
                <string>{105,26}</string>
            </dict>
            <key>shuijinglh5_bowen_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,714},{103,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{103,26}}</string>
                <key>sourceSize</key>
                <string>{105,26}</string>
            </dict>
            <key>shuijinglh5_bowen_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,189},{101,24}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{101,24}}</string>
                <key>sourceSize</key>
                <string>{105,26}</string>
            </dict>
            <key>shuijinglh5_bowen_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,161},{101,26}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{101,26}}</string>
                <key>sourceSize</key>
                <string>{105,26}</string>
            </dict>
            <key>shuijinglh5_bowen_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,686},{103,26}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,26}}</string>
                <key>sourceSize</key>
                <string>{105,26}</string>
            </dict>
            <key>shuijinglh5_bowen_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,658},{103,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{103,26}}</string>
                <key>sourceSize</key>
                <string>{105,26}</string>
            </dict>
            <key>shuijinglh5_bowen_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,630},{103,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{103,26}}</string>
                <key>sourceSize</key>
                <string>{105,26}</string>
            </dict>
            <key>shuijinglh5_bowen_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,462},{105,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,26}}</string>
                <key>sourceSize</key>
                <string>{105,26}</string>
            </dict>
            <key>shuijinglh5_bowen_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,434},{105,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,26}}</string>
                <key>sourceSize</key>
                <string>{105,26}</string>
            </dict>
            <key>shuijinglh5_bowen_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,406},{105,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,26}}</string>
                <key>sourceSize</key>
                <string>{105,26}</string>
            </dict>
            <key>shuijinglh5_bowen_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,602},{103,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{103,26}}</string>
                <key>sourceSize</key>
                <string>{105,26}</string>
            </dict>
            <key>shuijinglh5_bowen_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,378},{105,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,26}}</string>
                <key>sourceSize</key>
                <string>{105,26}</string>
            </dict>
            <key>shuijinglh5_bowen_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,350},{105,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,26}}</string>
                <key>sourceSize</key>
                <string>{105,26}</string>
            </dict>
            <key>shuijinglh5_bowen_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,322},{105,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,26}}</string>
                <key>sourceSize</key>
                <string>{105,26}</string>
            </dict>
            <key>shuijinglh5_bowen_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,215},{105,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,26}}</string>
                <key>sourceSize</key>
                <string>{105,26}</string>
            </dict>
            <key>shuijinglh5_bowen_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,574},{103,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{103,26}}</string>
                <key>sourceSize</key>
                <string>{105,26}</string>
            </dict>
            <key>shuijinglh5_bowen_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,215},{105,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,26}}</string>
                <key>sourceSize</key>
                <string>{105,26}</string>
            </dict>
            <key>shuijinglh5_bowen_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,54},{105,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,26}}</string>
                <key>sourceSize</key>
                <string>{105,26}</string>
            </dict>
            <key>shuijinglh5_huaban_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,215},{44,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,43}}</string>
                <key>sourceSize</key>
                <string>{44,43}</string>
            </dict>
            <key>shuijinglh5_huaban_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,86},{47,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,39}}</string>
                <key>sourceSize</key>
                <string>{47,39}</string>
            </dict>
            <key>shuijinglh5_huaban_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,54},{60,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,30}}</string>
                <key>sourceSize</key>
                <string>{60,30}</string>
            </dict>
            <key>shuijinglh5_huaban_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,2},{66,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,50}}</string>
                <key>sourceSize</key>
                <string>{66,50}</string>
            </dict>
            <key>shuijinglh5_wu_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,600},{127,130}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,10},{127,130}}</string>
                <key>sourceSize</key>
                <string>{131,140}</string>
            </dict>
            <key>shuijinglh5_wu_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,478},{117,132}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,2},{117,132}}</string>
                <key>sourceSize</key>
                <string>{131,140}</string>
            </dict>
            <key>shuijinglh5_wu_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,121},{117,136}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,2},{117,136}}</string>
                <key>sourceSize</key>
                <string>{131,140}</string>
            </dict>
            <key>shuijinglh5_wu_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,2},{117,138}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{117,138}}</string>
                <key>sourceSize</key>
                <string>{131,140}</string>
            </dict>
            <key>shuijinglh5_wu_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{117,138}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{117,138}}</string>
                <key>sourceSize</key>
                <string>{131,140}</string>
            </dict>
            <key>shuijinglh5_wu_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,2},{117,136}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,0},{117,136}}</string>
                <key>sourceSize</key>
                <string>{131,140}</string>
            </dict>
            <key>shuijinglh5_wu_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,725},{117,112}}</string>
                <key>offset</key>
                <string>{5,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,23},{117,112}}</string>
                <key>sourceSize</key>
                <string>{131,140}</string>
            </dict>
            <key>shuijinglh5_wu_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,713},{117,112}}</string>
                <key>offset</key>
                <string>{6,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,22},{117,112}}</string>
                <key>sourceSize</key>
                <string>{131,140}</string>
            </dict>
            <key>shuijinglh5_wu_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,478},{131,114}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{131,114}}</string>
                <key>sourceSize</key>
                <string>{131,140}</string>
            </dict>
            <key>shuijinglh5_wu_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,597},{131,114}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,19},{131,114}}</string>
                <key>sourceSize</key>
                <string>{131,140}</string>
            </dict>
            <key>shuijinglh5_wu_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,478},{131,120}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{131,120}}</string>
                <key>sourceSize</key>
                <string>{131,140}</string>
            </dict>
            <key>shuijinglh5_wu_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,359},{117,132}}</string>
                <key>offset</key>
                <string>{-5,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,8},{117,132}}</string>
                <key>sourceSize</key>
                <string>{131,140}</string>
            </dict>
            <key>shuijinglh5_wu_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,594},{129,130}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,10},{129,130}}</string>
                <key>sourceSize</key>
                <string>{131,140}</string>
            </dict>
            <key>shuijinglh5_wu_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,359},{117,132}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,7},{117,132}}</string>
                <key>sourceSize</key>
                <string>{131,140}</string>
            </dict>
            <key>shuijinglh5_wu_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,359},{117,132}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,7},{117,132}}</string>
                <key>sourceSize</key>
                <string>{131,140}</string>
            </dict>
            <key>shuijinglh5_wu_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,240},{117,132}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,6},{117,132}}</string>
                <key>sourceSize</key>
                <string>{131,140}</string>
            </dict>
            <key>shuijinglh5_wu_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,240},{117,132}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,5},{117,132}}</string>
                <key>sourceSize</key>
                <string>{131,140}</string>
            </dict>
            <key>shuijinglh5_wu_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,240},{117,132}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,4},{117,132}}</string>
                <key>sourceSize</key>
                <string>{131,140}</string>
            </dict>
            <key>shuijinglh5_wu_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,121},{117,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,4},{117,132}}</string>
                <key>sourceSize</key>
                <string>{131,140}</string>
            </dict>
            <key>shuijinglh5_wu_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,121},{117,132}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,3},{117,132}}</string>
                <key>sourceSize</key>
                <string>{131,140}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shuijinglh5.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dd311bb5391d2febd5f3ed95697bfba6:1/1$</string>
            <key>textureFileName</key>
            <string>shuijinglh5.png</string>
        </dict>
    </dict>
</plist>
