<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zhaoyunlh8_long_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,468},{161,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,153}}</string>
                <key>sourceSize</key>
                <string>{161,153}</string>
            </dict>
            <key>zhaoyunlh8_long_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{653,925},{44,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,40}}</string>
                <key>sourceSize</key>
                <string>{44,40}</string>
            </dict>
            <key>zhaoyunlh8_long_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,881},{40,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,27}}</string>
                <key>sourceSize</key>
                <string>{40,27}</string>
            </dict>
            <key>zhaoyunlh8_long_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,765},{85,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,35}}</string>
                <key>sourceSize</key>
                <string>{85,35}</string>
            </dict>
            <key>zhaoyunlh8_long_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,646},{106,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,65}}</string>
                <key>sourceSize</key>
                <string>{106,65}</string>
            </dict>
            <key>zhaoyunlh8_long_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,836},{47,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,26}}</string>
                <key>sourceSize</key>
                <string>{47,26}</string>
            </dict>
            <key>zhaoyunlh8_long_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,331},{135,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,192}}</string>
                <key>sourceSize</key>
                <string>{135,192}</string>
            </dict>
            <key>zhaoyunlh8_long_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,541},{144,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,139}}</string>
                <key>sourceSize</key>
                <string>{144,139}</string>
            </dict>
            <key>zhaoyunlh8_long_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{785,394},{156,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,158}}</string>
                <key>sourceSize</key>
                <string>{156,158}</string>
            </dict>
            <key>zhaoyunlh8_long_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,586},{284,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,101}}</string>
                <key>sourceSize</key>
                <string>{284,101}</string>
            </dict>
            <key>zhaoyunlh8_long_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,809},{84,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,52}}</string>
                <key>sourceSize</key>
                <string>{84,52}</string>
            </dict>
            <key>zhaoyunlh8_long_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,852},{39,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,63}}</string>
                <key>sourceSize</key>
                <string>{39,63}</string>
            </dict>
            <key>zhaoyunlh8_long_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,759},{98,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,42}}</string>
                <key>sourceSize</key>
                <string>{98,42}</string>
            </dict>
            <key>zhaoyunlh8_long_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{921,726},{48,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,50}}</string>
                <key>sourceSize</key>
                <string>{48,50}</string>
            </dict>
            <key>zhaoyunlh8_long_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,779},{61,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,58}}</string>
                <key>sourceSize</key>
                <string>{61,58}</string>
            </dict>
            <key>zhaoyunlh8_long_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,309},{83,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,121}}</string>
                <key>sourceSize</key>
                <string>{83,121}</string>
            </dict>
            <key>zhaoyunlh8_long_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,623},{228,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,68}}</string>
                <key>sourceSize</key>
                <string>{228,68}</string>
            </dict>
            <key>zhaoyunlh8_long_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,853},{118,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,111}}</string>
                <key>sourceSize</key>
                <string>{118,111}</string>
            </dict>
            <key>zhaoyunlh8_long_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,288},{234,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,93}}</string>
                <key>sourceSize</key>
                <string>{234,93}</string>
            </dict>
            <key>zhaoyunlh8_long_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,2},{45,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,57}}</string>
                <key>sourceSize</key>
                <string>{45,57}</string>
            </dict>
            <key>zhaoyunlh8_long_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,759},{53,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,96}}</string>
                <key>sourceSize</key>
                <string>{53,96}</string>
            </dict>
            <key>zhaoyunlh8_long_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,514},{76,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,130}}</string>
                <key>sourceSize</key>
                <string>{76,130}</string>
            </dict>
            <key>zhaoyunlh8_long_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,689},{208,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,162}}</string>
                <key>sourceSize</key>
                <string>{208,162}</string>
            </dict>
            <key>zhaoyunlh8_long_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,853},{118,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,168}}</string>
                <key>sourceSize</key>
                <string>{118,168}</string>
            </dict>
            <key>zhaoyunlh8_long_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{939,49},{32,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,87}}</string>
                <key>sourceSize</key>
                <string>{32,87}</string>
            </dict>
            <key>zhaoyunlh8_long_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,881},{38,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,40}}</string>
                <key>sourceSize</key>
                <string>{38,40}</string>
            </dict>
            <key>zhaoyunlh8_long_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,815},{65,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,42}}</string>
                <key>sourceSize</key>
                <string>{65,42}</string>
            </dict>
            <key>zhaoyunlh8_long_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{921,776},{58,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,48}}</string>
                <key>sourceSize</key>
                <string>{58,48}</string>
            </dict>
            <key>zhaoyunlh8_qj_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,917},{55,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,52}}</string>
                <key>sourceSize</key>
                <string>{55,52}</string>
            </dict>
            <key>zhaoyunlh8_qj_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{785,383},{9,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,15}}</string>
                <key>sourceSize</key>
                <string>{9,15}</string>
            </dict>
            <key>zhaoyunlh8_qj_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{583,949},{16,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,22}}</string>
                <key>sourceSize</key>
                <string>{16,22}</string>
            </dict>
            <key>zhaoyunlh8_qj_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,842},{28,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,62}}</string>
                <key>sourceSize</key>
                <string>{28,62}</string>
            </dict>
            <key>zhaoyunlh8_qj_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{927,909},{13,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,16}}</string>
                <key>sourceSize</key>
                <string>{13,16}</string>
            </dict>
            <key>zhaoyunlh8_qj_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{733,936},{27,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,33}}</string>
                <key>sourceSize</key>
                <string>{27,33}</string>
            </dict>
            <key>zhaoyunlh8_qj_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,838},{12,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,13}}</string>
                <key>sourceSize</key>
                <string>{12,13}</string>
            </dict>
            <key>zhaoyunlh8_qj_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,179},{99,128}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{99,128}}</string>
                <key>sourceSize</key>
                <string>{105,136}</string>
            </dict>
            <key>zhaoyunlh8_qj_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,186},{143,224}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{143,224}}</string>
                <key>sourceSize</key>
                <string>{151,230}</string>
            </dict>
            <key>zhaoyunlh8_qj_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{897,94},{40,83}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{40,83}}</string>
                <key>sourceSize</key>
                <string>{48,91}</string>
            </dict>
            <key>zhaoyunlh8_qj_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,642},{81,82}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{81,82}}</string>
                <key>sourceSize</key>
                <string>{87,88}</string>
            </dict>
            <key>zhaoyunlh8_qj_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,179},{256,107}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{256,107}}</string>
                <key>sourceSize</key>
                <string>{262,113}</string>
            </dict>
            <key>zhaoyunlh8_qj_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,942},{24,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,36}}</string>
                <key>sourceSize</key>
                <string>{24,36}</string>
            </dict>
            <key>zhaoyunlh8_qj_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{550,182}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{550,182}}</string>
                <key>sourceSize</key>
                <string>{564,188}</string>
            </dict>
            <key>zhaoyunlh8_qj_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,586},{17,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{17,17}}</string>
                <key>sourceSize</key>
                <string>{23,25}</string>
            </dict>
            <key>zhaoyunlh8_qj_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,186},{384,142}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{384,142}}</string>
                <key>sourceSize</key>
                <string>{394,148}</string>
            </dict>
            <key>zhaoyunlh8_qj_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,383},{169,156}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{169,156}}</string>
                <key>sourceSize</key>
                <string>{175,162}</string>
            </dict>
            <key>zhaoyunlh8_qj_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,765},{200,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{200,71}}</string>
                <key>sourceSize</key>
                <string>{214,81}</string>
            </dict>
            <key>zhaoyunlh8_qj_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,2},{358,90}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{358,90}}</string>
                <key>sourceSize</key>
                <string>{366,96}</string>
            </dict>
            <key>zhaoyunlh8_qj_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{747,866},{26,68}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{26,68}}</string>
                <key>sourceSize</key>
                <string>{30,74}</string>
            </dict>
            <key>zhaoyunlh8_qj_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,838},{77,164}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{77,164}}</string>
                <key>sourceSize</key>
                <string>{81,170}</string>
            </dict>
            <key>zhaoyunlh8_qj_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{719,775},{38,71}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{38,71}}</string>
                <key>sourceSize</key>
                <string>{44,77}</string>
            </dict>
            <key>zhaoyunlh8_qj_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,288},{16,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,20}}</string>
                <key>sourceSize</key>
                <string>{16,20}</string>
            </dict>
            <key>zhaoyunlh8_qj_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{563,949},{18,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,22}}</string>
                <key>sourceSize</key>
                <string>{18,22}</string>
            </dict>
            <key>zhaoyunlh8_qj_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{695,928},{43,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,36}}</string>
                <key>sourceSize</key>
                <string>{43,36}</string>
            </dict>
            <key>zhaoyunlh8_qj_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,841},{66,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,38}}</string>
                <key>sourceSize</key>
                <string>{66,38}</string>
            </dict>
            <key>zhaoyunlh8_qj_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{927,879},{28,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,24}}</string>
                <key>sourceSize</key>
                <string>{28,24}</string>
            </dict>
            <key>zhaoyunlh8_qj_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{791,872},{41,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,41}}</string>
                <key>sourceSize</key>
                <string>{41,41}</string>
            </dict>
            <key>zhaoyunlh8_qj_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,713},{64,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,60}}</string>
                <key>sourceSize</key>
                <string>{64,60}</string>
            </dict>
            <key>zhaoyunlh8_ren_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,684},{80,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,73}}</string>
                <key>sourceSize</key>
                <string>{80,73}</string>
            </dict>
            <key>zhaoyunlh8_ren_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{939,138},{37,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,26}}</string>
                <key>sourceSize</key>
                <string>{37,26}</string>
            </dict>
            <key>zhaoyunlh8_ren_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{953,864},{30,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,18}}</string>
                <key>sourceSize</key>
                <string>{30,18}</string>
            </dict>
            <key>zhaoyunlh8_ren_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,605},{16,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,17}}</string>
                <key>sourceSize</key>
                <string>{16,17}</string>
            </dict>
            <key>zhaoyunlh8_ren_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,841},{27,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,10}}</string>
                <key>sourceSize</key>
                <string>{27,10}</string>
            </dict>
            <key>zhaoyunlh8_ren_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,857},{55,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,69}}</string>
                <key>sourceSize</key>
                <string>{55,69}</string>
            </dict>
            <key>zhaoyunlh8_ren_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,864},{13,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,27}}</string>
                <key>sourceSize</key>
                <string>{13,27}</string>
            </dict>
            <key>zhaoyunlh8_ren_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,863},{76,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,60}}</string>
                <key>sourceSize</key>
                <string>{76,60}</string>
            </dict>
            <key>zhaoyunlh8_ren_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,330},{309,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{309,130}}</string>
                <key>sourceSize</key>
                <string>{309,130}</string>
            </dict>
            <key>zhaoyunlh8_ren_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{945,394},{242,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,26}}</string>
                <key>sourceSize</key>
                <string>{242,26}</string>
            </dict>
            <key>zhaoyunlh8_ren_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,914},{56,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,31}}</string>
                <key>sourceSize</key>
                <string>{56,31}</string>
            </dict>
            <key>zhaoyunlh8_ren_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{507,331},{105,181}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{105,181}}</string>
                <key>sourceSize</key>
                <string>{109,185}</string>
            </dict>
            <key>zhaoyunlh8_ren_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,693},{221,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{221,70}}</string>
                <key>sourceSize</key>
                <string>{229,74}</string>
            </dict>
            <key>zhaoyunlh8_ren_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,682},{24,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,31}}</string>
                <key>sourceSize</key>
                <string>{24,31}</string>
            </dict>
            <key>zhaoyunlh8_ren_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,693},{23,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,8}}</string>
                <key>sourceSize</key>
                <string>{23,8}</string>
            </dict>
            <key>zhaoyunlh8_ren_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{747,859},{5,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{5,5}}</string>
                <key>sourceSize</key>
                <string>{5,5}</string>
            </dict>
            <key>zhaoyunlh8_ren_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,919},{36,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,19}}</string>
                <key>sourceSize</key>
                <string>{36,19}</string>
            </dict>
            <key>zhaoyunlh8_ren_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,689},{59,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,12}}</string>
                <key>sourceSize</key>
                <string>{59,12}</string>
            </dict>
            <key>zhaoyunlh8_ren_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,737},{68,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,37}}</string>
                <key>sourceSize</key>
                <string>{68,37}</string>
            </dict>
            <key>zhaoyunlh8_ren_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,462},{303,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{303,122}}</string>
                <key>sourceSize</key>
                <string>{303,122}</string>
            </dict>
            <key>zhaoyunlh8_ren_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,792},{67,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,47}}</string>
                <key>sourceSize</key>
                <string>{67,47}</string>
            </dict>
            <key>zhaoyunlh8_ren_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,468},{34,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,38}}</string>
                <key>sourceSize</key>
                <string>{34,38}</string>
            </dict>
            <key>zhaoyunlh8_ren_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,682},{53,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,110}}</string>
                <key>sourceSize</key>
                <string>{53,110}</string>
            </dict>
            <key>zhaoyunlh8_ren_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,94},{341,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{341,83}}</string>
                <key>sourceSize</key>
                <string>{341,83}</string>
            </dict>
            <key>zhaoyunlh8_ren_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,925},{46,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,43}}</string>
                <key>sourceSize</key>
                <string>{46,43}</string>
            </dict>
            <key>zhaoyunlh8_ren_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,872},{45,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,20}}</string>
                <key>sourceSize</key>
                <string>{45,20}</string>
            </dict>
            <key>zhaoyunlh8_ren_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,552},{103,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,92}}</string>
                <key>sourceSize</key>
                <string>{103,92}</string>
            </dict>
            <key>zhaoyunlh8_ren_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,592},{82,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,90}}</string>
                <key>sourceSize</key>
                <string>{82,90}</string>
            </dict>
            <key>zhaoyunlh8_ren_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{563,859},{88,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,43}}</string>
                <key>sourceSize</key>
                <string>{88,43}</string>
            </dict>
            <key>zhaoyunlh8_ren_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,689},{56,150}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,150}}</string>
                <key>sourceSize</key>
                <string>{58,150}</string>
            </dict>
            <key>zhaoyunlh8_ren_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{939,638},{74,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,32}}</string>
                <key>sourceSize</key>
                <string>{74,32}</string>
            </dict>
            <key>zhaoyunlh8_ren_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{717,859},{28,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,67}}</string>
                <key>sourceSize</key>
                <string>{28,67}</string>
            </dict>
            <key>zhaoyunlh8_ren_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{719,713},{71,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,60}}</string>
                <key>sourceSize</key>
                <string>{71,60}</string>
            </dict>
            <key>zhaoyunlh8_ren_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,917},{54,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,186}}</string>
                <key>sourceSize</key>
                <string>{54,186}</string>
            </dict>
            <key>zhaoyunlh8_ren_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,737},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>zhaoyunlh8_ren_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{761,815},{49,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,29}}</string>
                <key>sourceSize</key>
                <string>{49,29}</string>
            </dict>
            <key>zhaoyunlh8_ren_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{791,915},{25,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,41}}</string>
                <key>sourceSize</key>
                <string>{25,41}</string>
            </dict>
            <key>zhaoyunlh8_ren_45.png</key>
            <dict>
                <key>frame</key>
                <string>{{853,552},{79,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,88}}</string>
                <key>sourceSize</key>
                <string>{79,88}</string>
            </dict>
            <key>zhaoyunlh8_ren_46.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,726},{64,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,65}}</string>
                <key>sourceSize</key>
                <string>{64,65}</string>
            </dict>
            <key>zhaoyunlh8_ren_47.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,863},{29,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,55}}</string>
                <key>sourceSize</key>
                <string>{29,55}</string>
            </dict>
            <key>zhaoyunlh8_ren_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,49},{19,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,38}}</string>
                <key>sourceSize</key>
                <string>{19,38}</string>
            </dict>
            <key>zhaoyunlh8_ren_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{775,866},{14,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,68}}</string>
                <key>sourceSize</key>
                <string>{14,68}</string>
            </dict>
            <key>zhaoyunlh8_ren_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,179},{7,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,5}}</string>
                <key>sourceSize</key>
                <string>{7,5}</string>
            </dict>
            <key>zhaoyunlh8_ren_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,936},{20,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,34}}</string>
                <key>sourceSize</key>
                <string>{20,34}</string>
            </dict>
            <key>zhaoyunlh8_ren_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,592},{27,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,45}}</string>
                <key>sourceSize</key>
                <string>{27,45}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zhaoyunlh4.pvr.ccz</string>
            <key>size</key>
            <string>{973,973}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:47b2d9ed6e63eae6065cc1bb7f015936:1/1$</string>
            <key>textureFileName</key>
            <string>zhaoyunlh4.pvr.ccz</string>
        </dict>
    </dict>
</plist>
