<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zhugeliansznhlh_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,558},{124,129}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{124,129}}</string>
                <key>sourceSize</key>
                <string>{130,133}</string>
            </dict>
            <key>zhugeliansznhlh_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,438},{175,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{175,62}}</string>
                <key>sourceSize</key>
                <string>{187,66}</string>
            </dict>
            <key>zhugeliansznhlh_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,207},{289,117}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,1},{289,117}}</string>
                <key>sourceSize</key>
                <string>{313,123}</string>
            </dict>
            <key>zhugeliansznhlh_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,470},{156,114}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{156,114}}</string>
                <key>sourceSize</key>
                <string>{166,122}</string>
            </dict>
            <key>zhugeliansznhlh_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,168},{209,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{209,143}}</string>
                <key>sourceSize</key>
                <string>{215,145}</string>
            </dict>
            <key>zhugeliansznhlh_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,65},{320,140}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{320,140}}</string>
                <key>sourceSize</key>
                <string>{328,144}</string>
            </dict>
            <key>zhugeliansznhlh_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,168},{238,98}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,98}}</string>
                <key>sourceSize</key>
                <string>{238,100}</string>
            </dict>
            <key>zhugeliansznhlh_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,558},{115,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,89}}</string>
                <key>sourceSize</key>
                <string>{115,89}</string>
            </dict>
            <key>zhugeliansznhlh_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,355},{74,106}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,106}}</string>
                <key>sourceSize</key>
                <string>{74,108}</string>
            </dict>
            <key>zhugeliansznhlh_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{571,700},{52,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,53}}</string>
                <key>sourceSize</key>
                <string>{52,53}</string>
            </dict>
            <key>zhugeliansznhlh_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{561,754},{56,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,26}}</string>
                <key>sourceSize</key>
                <string>{56,26}</string>
            </dict>
            <key>zhugeliansznhlh_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,207},{360,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,67}}</string>
                <key>sourceSize</key>
                <string>{360,67}</string>
            </dict>
            <key>zhugeliansznhlh_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{415,61}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{415,61}}</string>
                <key>sourceSize</key>
                <string>{417,61}</string>
            </dict>
            <key>zhugeliansznhlh_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{609,547},{50,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,44}}</string>
                <key>sourceSize</key>
                <string>{50,44}</string>
            </dict>
            <key>zhugeliansznhlh_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,678},{6,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{6,10}}</string>
                <key>sourceSize</key>
                <string>{6,10}</string>
            </dict>
            <key>zhugeliansznhlh_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,2},{46,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,18}}</string>
                <key>sourceSize</key>
                <string>{46,18}</string>
            </dict>
            <key>zhugeliansznhlh_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,168},{39,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,30}}</string>
                <key>sourceSize</key>
                <string>{39,30}</string>
            </dict>
            <key>zhugeliansznhlh_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,551},{7,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,14}}</string>
                <key>sourceSize</key>
                <string>{7,14}</string>
            </dict>
            <key>zhugeliansznhlh_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,200},{8,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,5}}</string>
                <key>sourceSize</key>
                <string>{8,5}</string>
            </dict>
            <key>zhugeliansznhlh_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{713,680},{36,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,32}}</string>
                <key>sourceSize</key>
                <string>{36,32}</string>
            </dict>
            <key>zhugeliansznhlh_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{751,611},{17,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,78}}</string>
                <key>sourceSize</key>
                <string>{17,78}</string>
            </dict>
            <key>zhugeliansznhlh_45.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,355},{6,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{6,17}}</string>
                <key>sourceSize</key>
                <string>{6,17}</string>
            </dict>
            <key>zhugeliansznhlh_46.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,700},{30,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,53}}</string>
                <key>sourceSize</key>
                <string>{30,53}</string>
            </dict>
            <key>zhugeliansznhlh_47.png</key>
            <dict>
                <key>frame</key>
                <string>{{751,522},{87,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,29}}</string>
                <key>sourceSize</key>
                <string>{87,29}</string>
            </dict>
            <key>zhugeliansznhlh_48.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,432},{88,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,36}}</string>
                <key>sourceSize</key>
                <string>{88,36}</string>
            </dict>
            <key>zhugeliansznhlh_49.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,167},{249,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{249,48}}</string>
                <key>sourceSize</key>
                <string>{249,48}</string>
            </dict>
            <key>zhugeliansznhlh_50.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,68},{26,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,79}}</string>
                <key>sourceSize</key>
                <string>{26,79}</string>
            </dict>
            <key>zhugeliansznhlh_51.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,569},{167,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,100}}</string>
                <key>sourceSize</key>
                <string>{167,100}</string>
            </dict>
            <key>zhugeliansznhlh_52.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,162},{3,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{3,20}}</string>
                <key>sourceSize</key>
                <string>{3,20}</string>
            </dict>
            <key>zhugeliansznhlh_53.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,611},{39,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,10}}</string>
                <key>sourceSize</key>
                <string>{39,10}</string>
            </dict>
            <key>zhugeliansznhlh_54.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,695},{57,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,24}}</string>
                <key>sourceSize</key>
                <string>{57,24}</string>
            </dict>
            <key>zhugeliansznhlh_55.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,675},{10,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,9}}</string>
                <key>sourceSize</key>
                <string>{10,9}</string>
            </dict>
            <key>zhugeliansznhlh_56.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,754},{18,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,26}}</string>
                <key>sourceSize</key>
                <string>{18,26}</string>
            </dict>
            <key>zhugeliansznhlh_57.png</key>
            <dict>
                <key>frame</key>
                <string>{{525,544},{53,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,82}}</string>
                <key>sourceSize</key>
                <string>{53,82}</string>
            </dict>
            <key>zhugeliansznhlh_58.png</key>
            <dict>
                <key>frame</key>
                <string>{{711,606},{72,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,38}}</string>
                <key>sourceSize</key>
                <string>{72,38}</string>
            </dict>
            <key>zhugeliansznhlh_59.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,772},{43,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,8}}</string>
                <key>sourceSize</key>
                <string>{43,8}</string>
            </dict>
            <key>zhugeliansznhlh_60.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,695},{9,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,3}}</string>
                <key>sourceSize</key>
                <string>{9,3}</string>
            </dict>
            <key>zhugeliansznhlh_61.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,502},{24,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,7}}</string>
                <key>sourceSize</key>
                <string>{24,7}</string>
            </dict>
            <key>zhugeliansznhlh_62.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,675},{22,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,6}}</string>
                <key>sourceSize</key>
                <string>{22,6}</string>
            </dict>
            <key>zhugeliansznhlh_63.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,740},{126,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,28}}</string>
                <key>sourceSize</key>
                <string>{126,28}</string>
            </dict>
            <key>zhugeliansznhlh_64.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,149},{22,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,11}}</string>
                <key>sourceSize</key>
                <string>{22,11}</string>
            </dict>
            <key>zhugeliansznhlh_65.png</key>
            <dict>
                <key>frame</key>
                <string>{{655,569},{35,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,90}}</string>
                <key>sourceSize</key>
                <string>{35,90}</string>
            </dict>
            <key>zhugeliansznhlh_66.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,200},{18,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,5}}</string>
                <key>sourceSize</key>
                <string>{18,5}</string>
            </dict>
            <key>zhugeliansznhlh_67.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,522},{45,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,91}}</string>
                <key>sourceSize</key>
                <string>{45,91}</string>
            </dict>
            <key>zhugeliansznhlh_68.png</key>
            <dict>
                <key>frame</key>
                <string>{{713,714},{19,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,14}}</string>
                <key>sourceSize</key>
                <string>{19,14}</string>
            </dict>
            <key>zhugeliansznhlh_69.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,463},{57,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,73}}</string>
                <key>sourceSize</key>
                <string>{57,73}</string>
            </dict>
            <key>zhugeliansznhlh_70.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,551},{52,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,16}}</string>
                <key>sourceSize</key>
                <string>{52,16}</string>
            </dict>
            <key>zhugeliansznhlh_71.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,695},{12,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,58}}</string>
                <key>sourceSize</key>
                <string>{12,58}</string>
            </dict>
            <key>zhugeliansznhlh_72.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,606},{62,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,87}}</string>
                <key>sourceSize</key>
                <string>{62,87}</string>
            </dict>
            <key>zhugeliansznhlh_73.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,689},{152,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,91}}</string>
                <key>sourceSize</key>
                <string>{152,91}</string>
            </dict>
            <key>zhugeliansznhlh_74.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,751},{87,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,22}}</string>
                <key>sourceSize</key>
                <string>{87,22}</string>
            </dict>
            <key>zhugeliansznhlh_75.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,379},{141,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,89}}</string>
                <key>sourceSize</key>
                <string>{141,89}</string>
            </dict>
            <key>zhugeliansznhlh_76.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,738},{32,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,94}}</string>
                <key>sourceSize</key>
                <string>{32,94}</string>
            </dict>
            <key>zhugeliansznhlh_77.png</key>
            <dict>
                <key>frame</key>
                <string>{{505,599},{99,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,140}}</string>
                <key>sourceSize</key>
                <string>{99,140}</string>
            </dict>
            <key>zhugeliansznhlh_78.png</key>
            <dict>
                <key>frame</key>
                <string>{{505,586},{11,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,12}}</string>
                <key>sourceSize</key>
                <string>{11,12}</string>
            </dict>
            <key>zhugeliansznhlh_79.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,700},{87,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,49}}</string>
                <key>sourceSize</key>
                <string>{87,49}</string>
            </dict>
            <key>zhugeliansznhlh_80.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,502},{50,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,16}}</string>
                <key>sourceSize</key>
                <string>{50,16}</string>
            </dict>
            <key>zhugeliansznhlh_81.png</key>
            <dict>
                <key>frame</key>
                <string>{{619,755},{25,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,57}}</string>
                <key>sourceSize</key>
                <string>{25,57}</string>
            </dict>
            <key>zhugeliansznhlh_82.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,695},{82,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,13}}</string>
                <key>sourceSize</key>
                <string>{82,13}</string>
            </dict>
            <key>zhugeliansznhlh_83.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,652},{24,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,10}}</string>
                <key>sourceSize</key>
                <string>{24,10}</string>
            </dict>
            <key>zhugeliansznhlh_84.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,408},{14,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,13}}</string>
                <key>sourceSize</key>
                <string>{14,13}</string>
            </dict>
            <key>zhugeliansznhlh_85.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,2},{341,64}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{341,64}}</string>
                <key>sourceSize</key>
                <string>{345,64}</string>
            </dict>
            <key>zhugeliansznhlh_86.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,586},{98,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,146}}</string>
                <key>sourceSize</key>
                <string>{98,146}</string>
            </dict>
            <key>zhugeliansznhlh_87.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,68},{247,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,98}}</string>
                <key>sourceSize</key>
                <string>{247,98}</string>
            </dict>
            <key>zhugeliansznhlh_88.png</key>
            <dict>
                <key>frame</key>
                <string>{{525,408},{134,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,83}}</string>
                <key>sourceSize</key>
                <string>{134,83}</string>
            </dict>
            <key>zhugeliansznhlh_89.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,167},{84,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,186}}</string>
                <key>sourceSize</key>
                <string>{84,186}</string>
            </dict>
            <key>zhugeliansznhlh_90.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,167},{34,263}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,263}}</string>
                <key>sourceSize</key>
                <string>{34,263}</string>
            </dict>
            <key>zhugeliansznhlh_91.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,569},{34,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,211}}</string>
                <key>sourceSize</key>
                <string>{34,211}</string>
            </dict>
            <key>zhugeliansznhlh_92.png</key>
            <dict>
                <key>frame</key>
                <string>{{573,68},{179,97}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{179,97}}</string>
                <key>sourceSize</key>
                <string>{181,97}</string>
            </dict>
            <key>zhugeliansznhlh_93.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,207},{229,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{229,173}}</string>
                <key>sourceSize</key>
                <string>{229,173}</string>
            </dict>
            <key>zhugeliansznhlh_94.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,686},{52,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,136}}</string>
                <key>sourceSize</key>
                <string>{52,136}</string>
            </dict>
            <key>zhugeliansznhlh_95.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,675},{99,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,48}}</string>
                <key>sourceSize</key>
                <string>{99,48}</string>
            </dict>
            <key>zhugeliansznhlh_96.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,502},{154,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,54}}</string>
                <key>sourceSize</key>
                <string>{154,54}</string>
            </dict>
            <key>zhugeliansznhlh_97.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,498},{51,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,110}}</string>
                <key>sourceSize</key>
                <string>{51,110}</string>
            </dict>
            <key>zhugeliansznhlh_98.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,418},{127,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,46}}</string>
                <key>sourceSize</key>
                <string>{127,46}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zhugelianglh6.pvr.ccz</string>
            <key>size</key>
            <string>{782,782}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3b4487a122a0abfc1273411dd6b51ed6:1/1$</string>
            <key>textureFileName</key>
            <string>zhugelianglh6.pvr.ccz</string>
        </dict>
    </dict>
</plist>
