<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zhaoyunlh3_5_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,626},{179,95}}</string>
                <key>offset</key>
                <string>{-2,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,25},{179,95}}</string>
                <key>sourceSize</key>
                <string>{223,183}</string>
            </dict>
            <key>zhaoyunlh3_5_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,525},{195,99}}</string>
                <key>offset</key>
                <string>{-9,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,26},{195,99}}</string>
                <key>sourceSize</key>
                <string>{223,183}</string>
            </dict>
            <key>zhaoyunlh3_5_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,529},{189,97}}</string>
                <key>offset</key>
                <string>{-12,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,23},{189,97}}</string>
                <key>sourceSize</key>
                <string>{223,183}</string>
            </dict>
            <key>zhaoyunlh3_5_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{599,513},{191,105}}</string>
                <key>offset</key>
                <string>{-8,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,27},{191,105}}</string>
                <key>sourceSize</key>
                <string>{223,183}</string>
            </dict>
            <key>zhaoyunlh3_5_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,549},{191,107}}</string>
                <key>offset</key>
                <string>{-9,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,19},{191,107}}</string>
                <key>sourceSize</key>
                <string>{223,183}</string>
            </dict>
            <key>zhaoyunlh3_5_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,2},{213,109}}</string>
                <key>offset</key>
                <string>{-5,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,27},{213,109}}</string>
                <key>sourceSize</key>
                <string>{223,183}</string>
            </dict>
            <key>zhaoyunlh3_5_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{213,113}}</string>
                <key>offset</key>
                <string>{-5,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,23},{213,113}}</string>
                <key>sourceSize</key>
                <string>{223,183}</string>
            </dict>
            <key>zhaoyunlh3_5_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,117},{205,119}}</string>
                <key>offset</key>
                <string>{-2,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,22},{205,119}}</string>
                <key>sourceSize</key>
                <string>{223,183}</string>
            </dict>
            <key>zhaoyunlh3_5_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,424},{195,103}}</string>
                <key>offset</key>
                <string>{-7,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,23},{195,103}}</string>
                <key>sourceSize</key>
                <string>{223,183}</string>
            </dict>
            <key>zhaoyunlh3_5_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,444},{197,103}}</string>
                <key>offset</key>
                <string>{-8,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,23},{197,103}}</string>
                <key>sourceSize</key>
                <string>{223,183}</string>
            </dict>
            <key>zhaoyunlh3_5_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,2},{207,113}}</string>
                <key>offset</key>
                <string>{-3,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,26},{207,113}}</string>
                <key>sourceSize</key>
                <string>{223,183}</string>
            </dict>
            <key>zhaoyunlh3_5_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,113},{207,105}}</string>
                <key>offset</key>
                <string>{-5,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,26},{207,105}}</string>
                <key>sourceSize</key>
                <string>{223,183}</string>
            </dict>
            <key>zhaoyunlh3_9_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,628},{162,156}}</string>
                <key>offset</key>
                <string>{2,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{162,156}}</string>
                <key>sourceSize</key>
                <string>{170,180}</string>
            </dict>
            <key>zhaoyunlh3_9_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,522},{166,144}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,17},{166,144}}</string>
                <key>sourceSize</key>
                <string>{170,180}</string>
            </dict>
            <key>zhaoyunlh3_9_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,875},{156,144}}</string>
                <key>offset</key>
                <string>{5,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,14},{156,144}}</string>
                <key>sourceSize</key>
                <string>{170,180}</string>
            </dict>
            <key>zhaoyunlh3_9_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,786},{156,148}}</string>
                <key>offset</key>
                <string>{5,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,10},{156,148}}</string>
                <key>sourceSize</key>
                <string>{170,180}</string>
            </dict>
            <key>zhaoyunlh3_9_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,658},{166,162}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{166,162}}</string>
                <key>sourceSize</key>
                <string>{170,180}</string>
            </dict>
            <key>zhaoyunlh3_9_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{845,2},{170,160}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,160}}</string>
                <key>sourceSize</key>
                <string>{170,180}</string>
            </dict>
            <key>zhaoyunlh3_9_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{755,668},{162,162}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{162,162}}</string>
                <key>sourceSize</key>
                <string>{170,180}</string>
            </dict>
            <key>zhaoyunlh3_9_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{589,620},{158,164}}</string>
                <key>offset</key>
                <string>{5,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,11},{158,164}}</string>
                <key>sourceSize</key>
                <string>{170,180}</string>
            </dict>
            <key>zhaoyunlh3_9_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{845,164},{152,168}}</string>
                <key>offset</key>
                <string>{9,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,10},{152,168}}</string>
                <key>sourceSize</key>
                <string>{170,180}</string>
            </dict>
            <key>zhaoyunlh3_9_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,822},{158,150}}</string>
                <key>offset</key>
                <string>{6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,13},{158,150}}</string>
                <key>sourceSize</key>
                <string>{170,180}</string>
            </dict>
            <key>zhaoyunlh3_9_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,780},{158,144}}</string>
                <key>offset</key>
                <string>{6,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,12},{158,144}}</string>
                <key>sourceSize</key>
                <string>{170,180}</string>
            </dict>
            <key>zhaoyunlh3_9_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,723},{158,150}}</string>
                <key>offset</key>
                <string>{6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,13},{158,150}}</string>
                <key>sourceSize</key>
                <string>{170,180}</string>
            </dict>
            <key>zhaoyunlh3_huomiao_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,628},{47,48}}</string>
                <key>offset</key>
                <string>{-3,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,32},{47,48}}</string>
                <key>sourceSize</key>
                <string>{95,98}</string>
            </dict>
            <key>zhaoyunlh3_huomiao_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,855},{95,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,98}}</string>
                <key>sourceSize</key>
                <string>{95,98}</string>
            </dict>
            <key>zhaoyunlh3_huomiao_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{917,1049},{95,96}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,96}}</string>
                <key>sourceSize</key>
                <string>{95,98}</string>
            </dict>
            <key>zhaoyunlh3_huomiao_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1130},{91,92}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,5},{91,92}}</string>
                <key>sourceSize</key>
                <string>{95,98}</string>
            </dict>
            <key>zhaoyunlh3_huomiao_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{833,832},{83,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{83,86}}</string>
                <key>sourceSize</key>
                <string>{95,98}</string>
            </dict>
            <key>zhaoyunlh3_huomiao_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{833,920},{83,78}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{83,78}}</string>
                <key>sourceSize</key>
                <string>{95,98}</string>
            </dict>
            <key>zhaoyunlh3_huomiao_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,1000},{83,68}}</string>
                <key>offset</key>
                <string>{1,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{83,68}}</string>
                <key>sourceSize</key>
                <string>{95,98}</string>
            </dict>
            <key>zhaoyunlh3_huomiao_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,584},{67,58}}</string>
                <key>offset</key>
                <string>{6,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,3},{67,58}}</string>
                <key>sourceSize</key>
                <string>{95,98}</string>
            </dict>
            <key>zhaoyunlh3_huomiao_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,522},{61,60}}</string>
                <key>offset</key>
                <string>{-2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,27},{61,60}}</string>
                <key>sourceSize</key>
                <string>{95,98}</string>
            </dict>
            <key>zhaoyunlh3_huomiao_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{747,1150},{65,66}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,23},{65,66}}</string>
                <key>sourceSize</key>
                <string>{95,98}</string>
            </dict>
            <key>zhaoyunlh3_huomiao_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,1150},{73,72}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,18},{73,72}}</string>
                <key>sourceSize</key>
                <string>{95,98}</string>
            </dict>
            <key>zhaoyunlh3_huomiao_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,1070},{79,80}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,11},{79,80}}</string>
                <key>sourceSize</key>
                <string>{95,98}</string>
            </dict>
            <key>zhaoyunlh3_huomiao_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,1150},{87,88}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,6},{87,88}}</string>
                <key>sourceSize</key>
                <string>{95,98}</string>
            </dict>
            <key>zhaoyunlh3_huomiao_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,1057},{91,94}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{91,94}}</string>
                <key>sourceSize</key>
                <string>{95,98}</string>
            </dict>
            <key>zhaoyunlh3_huomiao_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,952},{95,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{95,96}}</string>
                <key>sourceSize</key>
                <string>{95,98}</string>
            </dict>
            <key>zhaoyunlh3_huomiao_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{919,758},{95,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,98}}</string>
                <key>sourceSize</key>
                <string>{95,98}</string>
            </dict>
            <key>zhaoyunlh3_huoxian2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,1021},{76,129}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{76,129}}</string>
                <key>sourceSize</key>
                <string>{80,131}</string>
            </dict>
            <key>zhaoyunlh3_huoxian2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,1072},{76,129}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{76,129}}</string>
                <key>sourceSize</key>
                <string>{80,131}</string>
            </dict>
            <key>zhaoyunlh3_huoxian2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,1099},{74,129}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,2},{74,129}}</string>
                <key>sourceSize</key>
                <string>{80,131}</string>
            </dict>
            <key>zhaoyunlh3_huoxian2_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,1084},{76,129}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{76,129}}</string>
                <key>sourceSize</key>
                <string>{80,131}</string>
            </dict>
            <key>zhaoyunlh3_huoxian2_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,1016},{76,129}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{76,129}}</string>
                <key>sourceSize</key>
                <string>{80,131}</string>
            </dict>
            <key>zhaoyunlh3_huoxian2_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{699,992},{78,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{78,131}}</string>
                <key>sourceSize</key>
                <string>{80,131}</string>
            </dict>
            <key>zhaoyunlh3_huoxian2_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,926},{78,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{78,131}}</string>
                <key>sourceSize</key>
                <string>{80,131}</string>
            </dict>
            <key>zhaoyunlh3_huoxian2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,1094},{74,129}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,2},{74,129}}</string>
                <key>sourceSize</key>
                <string>{80,131}</string>
            </dict>
            <key>zhaoyunlh3_huoxian2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1054},{74,129}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,2},{74,129}}</string>
                <key>sourceSize</key>
                <string>{80,131}</string>
            </dict>
            <key>zhaoyunlh3_huoxian2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,1006},{76,129}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{76,129}}</string>
                <key>sourceSize</key>
                <string>{80,131}</string>
            </dict>
            <key>zhaoyunlh3_huoxian2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,936},{78,129}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{78,129}}</string>
                <key>sourceSize</key>
                <string>{80,131}</string>
            </dict>
            <key>zhaoyunlh3_huoxian2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,912},{78,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{78,131}}</string>
                <key>sourceSize</key>
                <string>{80,131}</string>
            </dict>
            <key>zhaoyunlh3_huoxian2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,832},{78,131}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,131}}</string>
                <key>sourceSize</key>
                <string>{80,131}</string>
            </dict>
            <key>zhaoyunlh3_huoxian2_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,974},{78,131}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,131}}</string>
                <key>sourceSize</key>
                <string>{80,131}</string>
            </dict>
            <key>zhaoyunlh3_huoxian2_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{621,926},{76,129}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{76,129}}</string>
                <key>sourceSize</key>
                <string>{80,131}</string>
            </dict>
            <key>zhaoyunlh3_huoxian_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,321},{198,101}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{198,101}}</string>
                <key>sourceSize</key>
                <string>{202,101}</string>
            </dict>
            <key>zhaoyunlh3_huoxian_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,341},{198,101}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{198,101}}</string>
                <key>sourceSize</key>
                <string>{202,101}</string>
            </dict>
            <key>zhaoyunlh3_huoxian_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,424},{198,99}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{198,99}}</string>
                <key>sourceSize</key>
                <string>{202,101}</string>
            </dict>
            <key>zhaoyunlh3_huoxian_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,421},{198,99}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{198,99}}</string>
                <key>sourceSize</key>
                <string>{202,101}</string>
            </dict>
            <key>zhaoyunlh3_huoxian_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,220},{200,99}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{200,99}}</string>
                <key>sourceSize</key>
                <string>{202,101}</string>
            </dict>
            <key>zhaoyunlh3_huoxian_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,117},{202,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,101}}</string>
                <key>sourceSize</key>
                <string>{202,101}</string>
            </dict>
            <key>zhaoyunlh3_huoxian_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{641,105},{202,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,101}}</string>
                <key>sourceSize</key>
                <string>{202,101}</string>
            </dict>
            <key>zhaoyunlh3_huoxian_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,321},{198,101}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{198,101}}</string>
                <key>sourceSize</key>
                <string>{202,101}</string>
            </dict>
            <key>zhaoyunlh3_huoxian_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{815,318},{198,101}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{198,101}}</string>
                <key>sourceSize</key>
                <string>{202,101}</string>
            </dict>
            <key>zhaoyunlh3_huoxian_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,412},{198,99}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{198,99}}</string>
                <key>sourceSize</key>
                <string>{202,101}</string>
            </dict>
            <key>zhaoyunlh3_huoxian_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,238},{200,101}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{200,101}}</string>
                <key>sourceSize</key>
                <string>{202,101}</string>
            </dict>
            <key>zhaoyunlh3_huoxian_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{641,2},{202,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,101}}</string>
                <key>sourceSize</key>
                <string>{202,101}</string>
            </dict>
            <key>zhaoyunlh3_huoxian_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,220},{202,99}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{202,99}}</string>
                <key>sourceSize</key>
                <string>{202,101}</string>
            </dict>
            <key>zhaoyunlh3_huoxian_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,208},{202,99}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{202,99}}</string>
                <key>sourceSize</key>
                <string>{202,101}</string>
            </dict>
            <key>zhaoyunlh3_huoxian_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{615,309},{198,101}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{198,101}}</string>
                <key>sourceSize</key>
                <string>{202,101}</string>
            </dict>
            <key>zhaoyunlh3_lizi_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,653},{103,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,49}}</string>
                <key>sourceSize</key>
                <string>{103,49}</string>
            </dict>
            <key>zhaoyunlh3_xing_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,1146},{107,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,107}}</string>
                <key>sourceSize</key>
                <string>{107,107}</string>
            </dict>
            <key>zhaoyunlh3_yan_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{919,668},{39,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,46}}</string>
                <key>sourceSize</key>
                <string>{39,46}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zhaoyunlh3.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6683c9231262148f071b646cecf2bae5:1/1$</string>
            <key>textureFileName</key>
            <string>zhaoyunlh3.png</string>
        </dict>
    </dict>
</plist>
