<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zhouyulh8_TX_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{749,109},{176,106}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,106}}</string>
                <key>sourceSize</key>
                <string>{176,108}</string>
            </dict>
            <key>zhouyulh8_body_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,152},{10,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,20}}</string>
                <key>sourceSize</key>
                <string>{10,20}</string>
            </dict>
            <key>zhouyulh8_body_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{553,740},{55,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,52}}</string>
                <key>sourceSize</key>
                <string>{55,52}</string>
            </dict>
            <key>zhouyulh8_body_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,336},{83,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,197}}</string>
                <key>sourceSize</key>
                <string>{83,197}</string>
            </dict>
            <key>zhouyulh8_body_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{583,327},{41,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,230}}</string>
                <key>sourceSize</key>
                <string>{41,230}</string>
            </dict>
            <key>zhouyulh8_body_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,424},{79,248}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,248}}</string>
                <key>sourceSize</key>
                <string>{79,248}</string>
            </dict>
            <key>zhouyulh8_body_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,109},{91,247}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,247}}</string>
                <key>sourceSize</key>
                <string>{91,247}</string>
            </dict>
            <key>zhouyulh8_body_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,2},{111,324}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,324}}</string>
                <key>sourceSize</key>
                <string>{111,324}</string>
            </dict>
            <key>zhouyulh8_body_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,855},{36,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,25}}</string>
                <key>sourceSize</key>
                <string>{36,25}</string>
            </dict>
            <key>zhouyulh8_body_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,327},{9,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,28}}</string>
                <key>sourceSize</key>
                <string>{9,28}</string>
            </dict>
            <key>zhouyulh8_body_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,717},{28,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,72}}</string>
                <key>sourceSize</key>
                <string>{28,72}</string>
            </dict>
            <key>zhouyulh8_body_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,731},{14,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,12}}</string>
                <key>sourceSize</key>
                <string>{14,12}</string>
            </dict>
            <key>zhouyulh8_body_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,674},{32,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,33}}</string>
                <key>sourceSize</key>
                <string>{32,33}</string>
            </dict>
            <key>zhouyulh8_body_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{799,608},{56,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,40}}</string>
                <key>sourceSize</key>
                <string>{56,40}</string>
            </dict>
            <key>zhouyulh8_body_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{857,262},{23,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,20}}</string>
                <key>sourceSize</key>
                <string>{23,20}</string>
            </dict>
            <key>zhouyulh8_body_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{845,579},{26,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,22}}</string>
                <key>sourceSize</key>
                <string>{26,22}</string>
            </dict>
            <key>zhouyulh8_body_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,779},{17,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,18}}</string>
                <key>sourceSize</key>
                <string>{17,18}</string>
            </dict>
            <key>zhouyulh8_body_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{547,327},{7,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,13}}</string>
                <key>sourceSize</key>
                <string>{7,13}</string>
            </dict>
            <key>zhouyulh8_body_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,409},{14,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,13}}</string>
                <key>sourceSize</key>
                <string>{14,13}</string>
            </dict>
            <key>zhouyulh8_body_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{867,799},{15,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,13}}</string>
                <key>sourceSize</key>
                <string>{15,13}</string>
            </dict>
            <key>zhouyulh8_body_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,115},{35,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,20}}</string>
                <key>sourceSize</key>
                <string>{35,20}</string>
            </dict>
            <key>zhouyulh8_body_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{803,773},{45,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,22}}</string>
                <key>sourceSize</key>
                <string>{45,22}</string>
            </dict>
            <key>zhouyulh8_body_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,115},{171,219}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,219}}</string>
                <key>sourceSize</key>
                <string>{171,219}</string>
            </dict>
            <key>zhouyulh8_body_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,709},{93,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,31}}</string>
                <key>sourceSize</key>
                <string>{93,31}</string>
            </dict>
            <key>zhouyulh8_body_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,830},{59,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,46}}</string>
                <key>sourceSize</key>
                <string>{59,46}</string>
            </dict>
            <key>zhouyulh8_body_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,794},{95,83}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,83}}</string>
                <key>sourceSize</key>
                <string>{97,83}</string>
            </dict>
            <key>zhouyulh8_body_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{809,730},{52,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,13}}</string>
                <key>sourceSize</key>
                <string>{52,13}</string>
            </dict>
            <key>zhouyulh8_body_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,766},{111,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,65}}</string>
                <key>sourceSize</key>
                <string>{111,65}</string>
            </dict>
            <key>zhouyulh8_body_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,799},{18,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,15}}</string>
                <key>sourceSize</key>
                <string>{18,15}</string>
            </dict>
            <key>zhouyulh8_body_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,534},{43,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,39}}</string>
                <key>sourceSize</key>
                <string>{43,39}</string>
            </dict>
            <key>zhouyulh8_body_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{519,421},{190,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,62}}</string>
                <key>sourceSize</key>
                <string>{190,62}</string>
            </dict>
            <key>zhouyulh8_body_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,409},{277,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,51}}</string>
                <key>sourceSize</key>
                <string>{277,51}</string>
            </dict>
            <key>zhouyulh8_body_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,421},{227,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,52}}</string>
                <key>sourceSize</key>
                <string>{227,52}</string>
            </dict>
            <key>zhouyulh8_body_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{599,613},{37,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,116}}</string>
                <key>sourceSize</key>
                <string>{37,116}</string>
            </dict>
            <key>zhouyulh8_body_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,421},{83,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,192}}</string>
                <key>sourceSize</key>
                <string>{83,192}</string>
            </dict>
            <key>zhouyulh8_body_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,747},{38,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,109}}</string>
                <key>sourceSize</key>
                <string>{38,109}</string>
            </dict>
            <key>zhouyulh8_body_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,615},{39,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,177}}</string>
                <key>sourceSize</key>
                <string>{39,177}</string>
            </dict>
            <key>zhouyulh8_body_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{809,543},{34,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,71}}</string>
                <key>sourceSize</key>
                <string>{34,71}</string>
            </dict>
            <key>zhouyulh8_body_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{699,546},{60,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,65}}</string>
                <key>sourceSize</key>
                <string>{60,65}</string>
            </dict>
            <key>zhouyulh8_body_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,663},{204,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,152}}</string>
                <key>sourceSize</key>
                <string>{204,152}</string>
            </dict>
            <key>zhouyulh8_body_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,409},{157,252}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,252}}</string>
                <key>sourceSize</key>
                <string>{157,252}</string>
            </dict>
            <key>zhouyulh8_body_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{841,608},{39,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,55}}</string>
                <key>sourceSize</key>
                <string>{39,55}</string>
            </dict>
            <key>zhouyulh8_body_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,650},{170,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,58}}</string>
                <key>sourceSize</key>
                <string>{170,58}</string>
            </dict>
            <key>zhouyulh8_body_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{809,709},{19,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,60}}</string>
                <key>sourceSize</key>
                <string>{19,60}</string>
            </dict>
            <key>zhouyulh8_body_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{547,115},{210,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,107}}</string>
                <key>sourceSize</key>
                <string>{210,107}</string>
            </dict>
            <key>zhouyulh8_body_45.png</key>
            <dict>
                <key>frame</key>
                <string>{{649,787},{51,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,90}}</string>
                <key>sourceSize</key>
                <string>{51,90}</string>
            </dict>
            <key>zhouyulh8_body_46.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,115},{26,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,48}}</string>
                <key>sourceSize</key>
                <string>{26,48}</string>
            </dict>
            <key>zhouyulh8_body_47.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,609},{74,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,106}}</string>
                <key>sourceSize</key>
                <string>{74,106}</string>
            </dict>
            <key>zhouyulh8_body_48.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,615},{6,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{6,10}}</string>
                <key>sourceSize</key>
                <string>{6,10}</string>
            </dict>
            <key>zhouyulh8_body_49.png</key>
            <dict>
                <key>frame</key>
                <string>{{793,797},{36,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,26}}</string>
                <key>sourceSize</key>
                <string>{36,26}</string>
            </dict>
            <key>zhouyulh8_body_50.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,165},{257,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{257,142}}</string>
                <key>sourceSize</key>
                <string>{257,142}</string>
            </dict>
            <key>zhouyulh8_body_51.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,544},{65,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,63}}</string>
                <key>sourceSize</key>
                <string>{65,63}</string>
            </dict>
            <key>zhouyulh8_body_52.png</key>
            <dict>
                <key>frame</key>
                <string>{{831,797},{23,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,17}}</string>
                <key>sourceSize</key>
                <string>{23,17}</string>
            </dict>
            <key>zhouyulh8_body_53.png</key>
            <dict>
                <key>frame</key>
                <string>{{583,559},{47,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,52}}</string>
                <key>sourceSize</key>
                <string>{47,52}</string>
            </dict>
            <key>zhouyulh8_body_54.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,711},{163,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,55}}</string>
                <key>sourceSize</key>
                <string>{163,55}</string>
            </dict>
            <key>zhouyulh8_body_55.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,688},{183,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,46}}</string>
                <key>sourceSize</key>
                <string>{183,46}</string>
            </dict>
            <key>zhouyulh8_body_56.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,358},{186,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,66}}</string>
                <key>sourceSize</key>
                <string>{186,66}</string>
            </dict>
            <key>zhouyulh8_body_57.png</key>
            <dict>
                <key>frame</key>
                <string>{{843,665},{32,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,42}}</string>
                <key>sourceSize</key>
                <string>{32,42}</string>
            </dict>
            <key>zhouyulh8_body_58.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,338},{17,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,18}}</string>
                <key>sourceSize</key>
                <string>{17,18}</string>
            </dict>
            <key>zhouyulh8_body_59.png</key>
            <dict>
                <key>frame</key>
                <string>{{799,666},{41,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,42}}</string>
                <key>sourceSize</key>
                <string>{41,42}</string>
            </dict>
            <key>zhouyulh8_body_60.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,855},{34,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,18}}</string>
                <key>sourceSize</key>
                <string>{34,18}</string>
            </dict>
            <key>zhouyulh8_body_61.png</key>
            <dict>
                <key>frame</key>
                <string>{{553,613},{125,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,44}}</string>
                <key>sourceSize</key>
                <string>{125,44}</string>
            </dict>
            <key>zhouyulh8_body_62.png</key>
            <dict>
                <key>frame</key>
                <string>{{833,468},{73,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,47}}</string>
                <key>sourceSize</key>
                <string>{73,47}</string>
            </dict>
            <key>zhouyulh8_body_63.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,794},{83,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,41}}</string>
                <key>sourceSize</key>
                <string>{83,41}</string>
            </dict>
            <key>zhouyulh8_body_64.png</key>
            <dict>
                <key>frame</key>
                <string>{{803,745},{52,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,26}}</string>
                <key>sourceSize</key>
                <string>{52,26}</string>
            </dict>
            <key>zhouyulh8_body_65.png</key>
            <dict>
                <key>frame</key>
                <string>{{833,356},{110,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,47}}</string>
                <key>sourceSize</key>
                <string>{110,47}</string>
            </dict>
            <key>zhouyulh8_body_66.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{320,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,161}}</string>
                <key>sourceSize</key>
                <string>{320,161}</string>
            </dict>
            <key>zhouyulh8_body_67.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,165},{226,242}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,242}}</string>
                <key>sourceSize</key>
                <string>{226,242}</string>
            </dict>
            <key>zhouyulh8_body_68.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,2},{230,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,105}}</string>
                <key>sourceSize</key>
                <string>{230,105}</string>
            </dict>
            <key>zhouyulh8_fenghuang1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,356},{176,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,63}}</string>
                <key>sourceSize</key>
                <string>{176,63}</string>
            </dict>
            <key>zhouyulh8_fenghuang1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{749,287},{122,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,67}}</string>
                <key>sourceSize</key>
                <string>{122,67}</string>
            </dict>
            <key>zhouyulh8_fenghuang1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,711},{142,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,76}}</string>
                <key>sourceSize</key>
                <string>{142,76}</string>
            </dict>
            <key>zhouyulh8_fenghuang1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,608},{83,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,99}}</string>
                <key>sourceSize</key>
                <string>{83,99}</string>
            </dict>
            <key>zhouyulh8_fenghuang2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,855},{57,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,22}}</string>
                <key>sourceSize</key>
                <string>{57,22}</string>
            </dict>
            <key>zhouyulh8_fenghuang2_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{857,109},{85,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,19}}</string>
                <key>sourceSize</key>
                <string>{85,19}</string>
            </dict>
            <key>zhouyulh8_fenghuang2_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,869},{46,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,11}}</string>
                <key>sourceSize</key>
                <string>{46,11}</string>
            </dict>
            <key>zhouyulh8_fenghuang3_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,615},{149,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,68}}</string>
                <key>sourceSize</key>
                <string>{149,68}</string>
            </dict>
            <key>zhouyulh8_fenghuang3_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,793},{89,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,35}}</string>
                <key>sourceSize</key>
                <string>{89,35}</string>
            </dict>
            <key>zhouyulh8_fenghuang3_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,358},{184,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,72}}</string>
                <key>sourceSize</key>
                <string>{184,72}</string>
            </dict>
            <key>zhouyulh8_fenghuang3_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,579},{77,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,27}}</string>
                <key>sourceSize</key>
                <string>{77,27}</string>
            </dict>
            <key>zhouyulh8_fenghuang4_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{721,742},{80,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,49}}</string>
                <key>sourceSize</key>
                <string>{80,49}</string>
            </dict>
            <key>zhouyulh8_fenghuang4_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,674},{197,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,41}}</string>
                <key>sourceSize</key>
                <string>{197,41}</string>
            </dict>
            <key>zhouyulh8_qin_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{857,196},{22,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,64}}</string>
                <key>sourceSize</key>
                <string>{22,64}</string>
            </dict>
            <key>zhouyulh8_qin_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,424},{285,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{285,83}}</string>
                <key>sourceSize</key>
                <string>{285,83}</string>
            </dict>
            <key>zhouyulh8_qin_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{863,730},{47,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,17}}</string>
                <key>sourceSize</key>
                <string>{47,17}</string>
            </dict>
            <key>zhouyulh8_qin_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,822},{58,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,31}}</string>
                <key>sourceSize</key>
                <string>{58,31}</string>
            </dict>
            <key>zhouyulh8_qin_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{763,830},{44,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,24}}</string>
                <key>sourceSize</key>
                <string>{44,24}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zhouyulh7.pvr.ccz</string>
            <key>size</key>
            <string>{882,882}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6a030ccc3be14d5af2f4d02af34c72f2:1/1$</string>
            <key>textureFileName</key>
            <string>zhouyulh7.pvr.ccz</string>
        </dict>
    </dict>
</plist>
