<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pangdelh4_TX_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,696},{126,181}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,17},{126,181}}</string>
                <key>sourceSize</key>
                <string>{148,211}</string>
            </dict>
            <key>pangdelh4_TX_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{589,649},{127,148}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,21},{127,148}}</string>
                <key>sourceSize</key>
                <string>{147,178}</string>
            </dict>
            <key>pangdelh4_TX_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{641,507},{145,140}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,10},{145,140}}</string>
                <key>sourceSize</key>
                <string>{165,156}</string>
            </dict>
            <key>pangdelh4_TX_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,909},{87,157}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,9},{87,157}}</string>
                <key>sourceSize</key>
                <string>{113,175}</string>
            </dict>
            <key>pangdelh4_TX_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,322},{94,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{94,76}}</string>
                <key>sourceSize</key>
                <string>{98,78}</string>
            </dict>
            <key>pangdelh4_TX_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{591,910},{63,117}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{63,117}}</string>
                <key>sourceSize</key>
                <string>{67,119}</string>
            </dict>
            <key>pangdelh4_TX_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,630},{68,48}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{68,48}}</string>
                <key>sourceSize</key>
                <string>{76,50}</string>
            </dict>
            <key>pangdelh4_TX_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{531,876},{104,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{104,58}}</string>
                <key>sourceSize</key>
                <string>{108,60}</string>
            </dict>
            <key>pangdelh4_TX_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,851},{27,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{27,35}}</string>
                <key>sourceSize</key>
                <string>{29,37}</string>
            </dict>
            <key>pangdelh4_TX_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{767,478},{19,19}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{19,19}}</string>
                <key>sourceSize</key>
                <string>{21,21}</string>
            </dict>
            <key>pangdelh4_TX_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,473},{12,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{12,25}}</string>
                <key>sourceSize</key>
                <string>{14,27}</string>
            </dict>
            <key>pangdelh4_TX_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,909},{40,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{40,81}}</string>
                <key>sourceSize</key>
                <string>{42,85}</string>
            </dict>
            <key>pangdelh4_TX_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{713,826},{103,83}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{103,83}}</string>
                <key>sourceSize</key>
                <string>{105,85}</string>
            </dict>
            <key>pangdelh4_TX_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,916},{47,27}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{47,27}}</string>
                <key>sourceSize</key>
                <string>{51,29}</string>
            </dict>
            <key>pangdelh4_TX_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,916},{24,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{24,52}}</string>
                <key>sourceSize</key>
                <string>{26,54}</string>
            </dict>
            <key>pangdelh4_TX_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{921,751},{60,59}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{60,59}}</string>
                <key>sourceSize</key>
                <string>{62,61}</string>
            </dict>
            <key>pangdelh4_TX_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,977},{18,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{18,39}}</string>
                <key>sourceSize</key>
                <string>{20,41}</string>
            </dict>
            <key>pangdelh4_TX_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{769,911},{79,98}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{79,98}}</string>
                <key>sourceSize</key>
                <string>{81,100}</string>
            </dict>
            <key>pangdelh4_TX_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,473},{350,221}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{350,221}}</string>
                <key>sourceSize</key>
                <string>{354,225}</string>
            </dict>
            <key>pangdelh4_TX_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,507},{140,285}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{140,285}}</string>
                <key>sourceSize</key>
                <string>{142,287}</string>
            </dict>
            <key>pangdelh4_TX_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,2},{172,259}}</string>
                <key>offset</key>
                <string>{11,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,2},{172,259}}</string>
                <key>sourceSize</key>
                <string>{204,265}</string>
            </dict>
            <key>pangdelh4_TX_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,2},{309,242}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,5},{309,242}}</string>
                <key>sourceSize</key>
                <string>{313,252}</string>
            </dict>
            <key>pangdelh4_TX_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,207},{113,65}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{113,65}}</string>
                <key>sourceSize</key>
                <string>{119,71}</string>
            </dict>
            <key>pangdelh4_TX_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,778},{46,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{46,91}}</string>
                <key>sourceSize</key>
                <string>{52,97}</string>
            </dict>
            <key>pangdelh4_TX_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,649},{174,171}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{174,171}}</string>
                <key>sourceSize</key>
                <string>{180,177}</string>
            </dict>
            <key>pangdelh4_TX_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,875},{44,39}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{44,39}}</string>
                <key>sourceSize</key>
                <string>{52,45}</string>
            </dict>
            <key>pangdelh4_TX_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{943,2},{203,55}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,4},{203,55}}</string>
                <key>sourceSize</key>
                <string>{207,61}</string>
            </dict>
            <key>pangdelh4_TX_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{721,176},{209,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{209,144}}</string>
                <key>sourceSize</key>
                <string>{215,150}</string>
            </dict>
            <key>pangdelh4_TX_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,879},{126,63}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{126,63}}</string>
                <key>sourceSize</key>
                <string>{132,69}</string>
            </dict>
            <key>pangdelh4_body_biyan.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,450},{26,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{26,16}}</string>
                <key>sourceSize</key>
                <string>{28,18}</string>
            </dict>
            <key>pangdelh4_body_dang.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,478},{137,135}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{137,135}}</string>
                <key>sourceSize</key>
                <string>{143,137}</string>
            </dict>
            <key>pangdelh4_body_dunpai.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{367,469}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{367,469}}</string>
                <key>sourceSize</key>
                <string>{383,477}</string>
            </dict>
            <key>pangdelh4_body_face.png</key>
            <dict>
                <key>frame</key>
                <string>{{925,467},{58,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{58,99}}</string>
                <key>sourceSize</key>
                <string>{60,101}</string>
            </dict>
            <key>pangdelh4_body_hair01.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,970},{27,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{27,35}}</string>
                <key>sourceSize</key>
                <string>{29,37}</string>
            </dict>
            <key>pangdelh4_body_hair02.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,812},{61,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{61,46}}</string>
                <key>sourceSize</key>
                <string>{63,48}</string>
            </dict>
            <key>pangdelh4_body_hair03.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,680},{69,64}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{69,64}}</string>
                <key>sourceSize</key>
                <string>{71,66}</string>
            </dict>
            <key>pangdelh4_body_hair04.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,568},{60,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{60,68}}</string>
                <key>sourceSize</key>
                <string>{62,70}</string>
            </dict>
            <key>pangdelh4_body_hair05.png</key>
            <dict>
                <key>frame</key>
                <string>{{869,901},{51,95}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{51,95}}</string>
                <key>sourceSize</key>
                <string>{55,97}</string>
            </dict>
            <key>pangdelh4_body_hair06.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,377},{297,128}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{297,128}}</string>
                <key>sourceSize</key>
                <string>{299,132}</string>
            </dict>
            <key>pangdelh4_body_hair07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,696},{281,211}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{281,211}}</string>
                <key>sourceSize</key>
                <string>{283,213}</string>
            </dict>
            <key>pangdelh4_body_hqun.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,246},{348,129}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{348,129}}</string>
                <key>sourceSize</key>
                <string>{350,131}</string>
            </dict>
            <key>pangdelh4_body_st.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,799},{109,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{109,117}}</string>
                <key>sourceSize</key>
                <string>{113,119}</string>
            </dict>
            <key>pangdelh4_body_ybi.png</key>
            <dict>
                <key>frame</key>
                <string>{{811,617},{124,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{124,117}}</string>
                <key>sourceSize</key>
                <string>{126,119}</string>
            </dict>
            <key>pangdelh4_body_ydatui.png</key>
            <dict>
                <key>frame</key>
                <string>{{811,743},{74,108}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{74,108}}</string>
                <key>sourceSize</key>
                <string>{76,110}</string>
            </dict>
            <key>pangdelh4_body_yijin.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,649},{54,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{54,33}}</string>
                <key>sourceSize</key>
                <string>{56,35}</string>
            </dict>
            <key>pangdelh4_body_yjian01.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,876},{99,116}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{99,116}}</string>
                <key>sourceSize</key>
                <string>{101,118}</string>
            </dict>
            <key>pangdelh4_body_yjian02.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,176},{65,35}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{65,35}}</string>
                <key>sourceSize</key>
                <string>{67,37}</string>
            </dict>
            <key>pangdelh4_body_yqun.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,649},{91,127}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{91,127}}</string>
                <key>sourceSize</key>
                <string>{93,131}</string>
            </dict>
            <key>pangdelh4_body_yxiaotui.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,909},{65,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{65,89}}</string>
                <key>sourceSize</key>
                <string>{67,91}</string>
            </dict>
            <key>pangdelh4_body_yyaodai.png</key>
            <dict>
                <key>frame</key>
                <string>{{721,322},{154,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{154,181}}</string>
                <key>sourceSize</key>
                <string>{156,183}</string>
            </dict>
            <key>pangdelh4_body_zdabi.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,944},{54,35}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,35}}</string>
                <key>sourceSize</key>
                <string>{56,37}</string>
            </dict>
            <key>pangdelh4_body_zdatui.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,944},{102,44}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{102,44}}</string>
                <key>sourceSize</key>
                <string>{104,46}</string>
            </dict>
            <key>pangdelh4_body_zjian.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,400},{83,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{83,65}}</string>
                <key>sourceSize</key>
                <string>{85,67}</string>
            </dict>
            <key>pangdelh4_body_zliantiao01.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,911},{87,57}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{87,57}}</string>
                <key>sourceSize</key>
                <string>{93,63}</string>
            </dict>
            <key>pangdelh4_body_zliantiao02.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,812},{27,37}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{27,37}}</string>
                <key>sourceSize</key>
                <string>{33,41}</string>
            </dict>
            <key>pangdelh4_body_zqun.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,478},{95,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{95,27}}</string>
                <key>sourceSize</key>
                <string>{97,29}</string>
            </dict>
            <key>pangdelh4_body_zxiaobi.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,377},{71,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{71,49}}</string>
                <key>sourceSize</key>
                <string>{73,51}</string>
            </dict>
            <key>pangdelh4_body_zxiaotui.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,819},{80,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{80,102}}</string>
                <key>sourceSize</key>
                <string>{82,104}</string>
            </dict>
            <key>pangdelh4_body_zyaodai.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,822},{179,52}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{179,52}}</string>
                <key>sourceSize</key>
                <string>{181,54}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pangdelh4.pvr.ccz</string>
            <key>size</key>
            <string>{1000,1000}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:544a327a90ad3ce314a9e076674b579b:1/1$</string>
            <key>textureFileName</key>
            <string>pangdelh4.pvr.ccz</string>
        </dict>
    </dict>
</plist>
