<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>xiahoudunlh7_feng_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,896},{328,150}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{328,150}}</string>
                <key>sourceSize</key>
                <string>{344,152}</string>
            </dict>
            <key>xiahoudunlh7_feng_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{344,150}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{344,150}}</string>
                <key>sourceSize</key>
                <string>{344,152}</string>
            </dict>
            <key>xiahoudunlh7_feng_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,456},{340,148}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{340,148}}</string>
                <key>sourceSize</key>
                <string>{344,152}</string>
            </dict>
            <key>xiahoudunlh7_feng_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,152},{342,148}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{342,148}}</string>
                <key>sourceSize</key>
                <string>{344,152}</string>
            </dict>
            <key>xiahoudunlh7_feng_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,2},{342,148}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{342,148}}</string>
                <key>sourceSize</key>
                <string>{344,152}</string>
            </dict>
            <key>xiahoudunlh7_feng_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,602},{340,146}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{340,146}}</string>
                <key>sourceSize</key>
                <string>{344,152}</string>
            </dict>
            <key>xiahoudunlh7_feng_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{342,146}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{342,146}}</string>
                <key>sourceSize</key>
                <string>{344,152}</string>
            </dict>
            <key>xiahoudunlh7_feng_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,302},{342,144}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,8},{342,144}}</string>
                <key>sourceSize</key>
                <string>{344,152}</string>
            </dict>
            <key>xiahoudunlh7_feng_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,448},{340,152}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{340,152}}</string>
                <key>sourceSize</key>
                <string>{344,152}</string>
            </dict>
            <key>xiahoudunlh7_feng_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,606},{336,148}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{336,148}}</string>
                <key>sourceSize</key>
                <string>{344,152}</string>
            </dict>
            <key>xiahoudunlh7_feng_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,438},{334,146}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{334,146}}</string>
                <key>sourceSize</key>
                <string>{344,152}</string>
            </dict>
            <key>xiahoudunlh7_feng_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,882},{328,150}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{328,150}}</string>
                <key>sourceSize</key>
                <string>{344,152}</string>
            </dict>
            <key>xiahoudunlh7_feng_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,286},{328,150}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{328,150}}</string>
                <key>sourceSize</key>
                <string>{344,152}</string>
            </dict>
            <key>xiahoudunlh7_feng_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,144},{330,140}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,12},{330,140}}</string>
                <key>sourceSize</key>
                <string>{344,152}</string>
            </dict>
            <key>xiahoudunlh7_feng_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,2},{330,140}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,12},{330,140}}</string>
                <key>sourceSize</key>
                <string>{344,152}</string>
            </dict>
            <key>xiahoudunlh7_feng_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,750},{336,144}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,8},{336,144}}</string>
                <key>sourceSize</key>
                <string>{344,152}</string>
            </dict>
            <key>xiahoudunlh7_feng_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,738},{334,142}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,10},{334,142}}</string>
                <key>sourceSize</key>
                <string>{344,152}</string>
            </dict>
            <key>xiahoudunlh7_feng_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,756},{334,138}}</string>
                <key>offset</key>
                <string>{-3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,12},{334,138}}</string>
                <key>sourceSize</key>
                <string>{344,152}</string>
            </dict>
            <key>xiahoudunlh7_feng_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,586},{336,150}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{336,150}}</string>
                <key>sourceSize</key>
                <string>{344,152}</string>
            </dict>
            <key>xiahoudunlh7_feng_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,302},{340,152}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{340,152}}</string>
                <key>sourceSize</key>
                <string>{344,152}</string>
            </dict>
            <key>xiahoudunlh7_xing1.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,896},{186,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,180}}</string>
                <key>sourceSize</key>
                <string>{186,180}</string>
            </dict>
            <key>xiahoudunlh7_xing2.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,1187},{131,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,132}}</string>
                <key>sourceSize</key>
                <string>{131,132}</string>
            </dict>
            <key>xiahoudunlh7_yan_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,1118},{109,149}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{109,149}}</string>
                <key>sourceSize</key>
                <string>{111,155}</string>
            </dict>
            <key>xiahoudunlh7_yan_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,1048},{109,155}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{109,155}}</string>
                <key>sourceSize</key>
                <string>{111,155}</string>
            </dict>
            <key>xiahoudunlh7_yan_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,1159},{109,153}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{109,153}}</string>
                <key>sourceSize</key>
                <string>{111,155}</string>
            </dict>
            <key>xiahoudunlh7_yan_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1159},{109,153}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{109,153}}</string>
                <key>sourceSize</key>
                <string>{111,155}</string>
            </dict>
            <key>xiahoudunlh7_yan_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,1007},{109,153}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{109,153}}</string>
                <key>sourceSize</key>
                <string>{111,155}</string>
            </dict>
            <key>xiahoudunlh7_yan_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,1078},{107,155}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{107,155}}</string>
                <key>sourceSize</key>
                <string>{111,155}</string>
            </dict>
            <key>xiahoudunlh7_yan_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{675,1034},{107,153}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{107,153}}</string>
                <key>sourceSize</key>
                <string>{111,155}</string>
            </dict>
            <key>xiahoudunlh7_yan_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,1034},{109,151}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{109,151}}</string>
                <key>sourceSize</key>
                <string>{111,155}</string>
            </dict>
            <key>xiahoudunlh7_yan_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,896},{109,153}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{109,153}}</string>
                <key>sourceSize</key>
                <string>{111,155}</string>
            </dict>
            <key>xiahoudunlh7_yan_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1048},{109,155}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{109,155}}</string>
                <key>sourceSize</key>
                <string>{111,155}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>xiahoudunlh7.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b1c4fe52b833abe03a12b92c7b0cb931:1/1$</string>
            <key>textureFileName</key>
            <string>xiahoudunlh7.png</string>
        </dict>
    </dict>
</plist>
