<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zhugelianglh6_bj.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,597},{187,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,143}}</string>
                <key>sourceSize</key>
                <string>{187,143}</string>
            </dict>
            <key>zhugelianglh6_fw_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,814},{44,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,60}}</string>
                <key>sourceSize</key>
                <string>{44,60}</string>
            </dict>
            <key>zhugelianglh6_fw_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,744},{60,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,68}}</string>
                <key>sourceSize</key>
                <string>{60,68}</string>
            </dict>
            <key>zhugelianglh6_fw_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,1163},{43,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,60}}</string>
                <key>sourceSize</key>
                <string>{43,60}</string>
            </dict>
            <key>zhugelianglh6_fw_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,670},{60,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,72}}</string>
                <key>sourceSize</key>
                <string>{60,72}</string>
            </dict>
            <key>zhugelianglh6_g.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1131},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>zhugelianglh6_hd_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,490},{62,62}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{62,62}}</string>
                <key>sourceSize</key>
                <string>{68,64}</string>
            </dict>
            <key>zhugelianglh6_hd_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,1163},{58,54}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,9},{58,54}}</string>
                <key>sourceSize</key>
                <string>{68,64}</string>
            </dict>
            <key>zhugelianglh6_hd_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,554},{62,54}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,9},{62,54}}</string>
                <key>sourceSize</key>
                <string>{68,64}</string>
            </dict>
            <key>zhugelianglh6_lz1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,91},{29,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,32}}</string>
                <key>sourceSize</key>
                <string>{29,32}</string>
            </dict>
            <key>zhugelianglh6_lz2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,1208},{41,41}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,13},{41,41}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>zhugelianglh6_sd_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,757},{54,72}}</string>
                <key>offset</key>
                <string>{-19,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{54,72}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>zhugelianglh6_sd_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,456},{46,58}}</string>
                <key>offset</key>
                <string>{-24,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{46,58}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>zhugelianglh6_sd_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,991},{92,100}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{92,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>zhugelianglh6_sd_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,865},{96,98}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{96,98}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>zhugelianglh6_sd_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,584},{84,60}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,38},{84,60}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>zhugelianglh6_sd_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,1084},{94,90}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,10},{94,90}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>zhugelianglh6_sd_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,683},{72,74}}</string>
                <key>offset</key>
                <string>{-7,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,26},{72,74}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>zhugelianglh6_sd_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,965},{94,98}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,2},{94,98}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>zhugelianglh6_sd_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,813},{100,80}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{100,80}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>zhugelianglh6_sd_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,1061},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>zhugelianglh6_sd_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{935,610},{86,44}}</string>
                <key>offset</key>
                <string>{-1,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,50},{86,44}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>zhugelianglh6_sg_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,545},{136,77}}</string>
                <key>offset</key>
                <string>{-79,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,44},{136,77}}</string>
                <key>sourceSize</key>
                <string>{304,123}</string>
            </dict>
            <key>zhugelianglh6_sg_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,256},{246,99}}</string>
                <key>offset</key>
                <string>{-26,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,24},{246,99}}</string>
                <key>sourceSize</key>
                <string>{304,123}</string>
            </dict>
            <key>zhugelianglh6_sg_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,217},{246,99}}</string>
                <key>offset</key>
                <string>{-29,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{246,99}}</string>
                <key>sourceSize</key>
                <string>{304,123}</string>
            </dict>
            <key>zhugelianglh6_sg_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,446},{232,97}}</string>
                <key>offset</key>
                <string>{-36,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{232,97}}</string>
                <key>sourceSize</key>
                <string>{304,123}</string>
            </dict>
            <key>zhugelianglh6_sg_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,490},{208,105}}</string>
                <key>offset</key>
                <string>{-48,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{208,105}}</string>
                <key>sourceSize</key>
                <string>{304,123}</string>
            </dict>
            <key>zhugelianglh6_sg_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,107},{210,105}}</string>
                <key>offset</key>
                <string>{-46,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,14},{210,105}}</string>
                <key>sourceSize</key>
                <string>{304,123}</string>
            </dict>
            <key>zhugelianglh6_sg_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,2},{214,103}}</string>
                <key>offset</key>
                <string>{-41,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,13},{214,103}}</string>
                <key>sourceSize</key>
                <string>{304,123}</string>
            </dict>
            <key>zhugelianglh6_sg_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,357},{232,97}}</string>
                <key>offset</key>
                <string>{-23,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,12},{232,97}}</string>
                <key>sourceSize</key>
                <string>{304,123}</string>
            </dict>
            <key>zhugelianglh6_sg_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,456},{224,83}}</string>
                <key>offset</key>
                <string>{4,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,10},{224,83}}</string>
                <key>sourceSize</key>
                <string>{304,123}</string>
            </dict>
            <key>zhugelianglh6_sg_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,542},{224,85}}</string>
                <key>offset</key>
                <string>{6,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,5},{224,85}}</string>
                <key>sourceSize</key>
                <string>{304,123}</string>
            </dict>
            <key>zhugelianglh6_sg_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,2},{270,87}}</string>
                <key>offset</key>
                <string>{13,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,1},{270,87}}</string>
                <key>sourceSize</key>
                <string>{304,123}</string>
            </dict>
            <key>zhugelianglh6_sg_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{274,79}}</string>
                <key>offset</key>
                <string>{15,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,0},{274,79}}</string>
                <key>sourceSize</key>
                <string>{304,123}</string>
            </dict>
            <key>zhugelianglh6_sg_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,321},{240,79}}</string>
                <key>offset</key>
                <string>{-1,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,4},{240,79}}</string>
                <key>sourceSize</key>
                <string>{304,123}</string>
            </dict>
            <key>zhugelianglh6_sg_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,516},{66,45}}</string>
                <key>offset</key>
                <string>{-85,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,32},{66,45}}</string>
                <key>sourceSize</key>
                <string>{304,123}</string>
            </dict>
            <key>zhugelianglh6_xx.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,742},{150,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,81}}</string>
                <key>sourceSize</key>
                <string>{150,81}</string>
            </dict>
            <key>zhugelianglh6_yan1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,757},{94,106}}</string>
                <key>offset</key>
                <string>{2,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,18},{94,106}}</string>
                <key>sourceSize</key>
                <string>{150,124}</string>
            </dict>
            <key>zhugelianglh6_yan1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,976},{106,106}}</string>
                <key>offset</key>
                <string>{5,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,18},{106,106}}</string>
                <key>sourceSize</key>
                <string>{150,124}</string>
            </dict>
            <key>zhugelianglh6_yan1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,671},{114,104}}</string>
                <key>offset</key>
                <string>{5,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,16},{114,104}}</string>
                <key>sourceSize</key>
                <string>{150,124}</string>
            </dict>
            <key>zhugelianglh6_yan1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,883},{116,106}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,15},{116,106}}</string>
                <key>sourceSize</key>
                <string>{150,124}</string>
            </dict>
            <key>zhugelianglh6_yan1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,777},{118,104}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,15},{118,104}}</string>
                <key>sourceSize</key>
                <string>{150,124}</string>
            </dict>
            <key>zhugelianglh6_yan1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,887},{116,104}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,14},{116,104}}</string>
                <key>sourceSize</key>
                <string>{150,124}</string>
            </dict>
            <key>zhugelianglh6_yan1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{935,656},{118,84}}</string>
                <key>offset</key>
                <string>{16,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,12},{118,84}}</string>
                <key>sourceSize</key>
                <string>{150,124}</string>
            </dict>
            <key>zhugelianglh6_yan1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,797},{120,88}}</string>
                <key>offset</key>
                <string>{15,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,12},{120,88}}</string>
                <key>sourceSize</key>
                <string>{150,124}</string>
            </dict>
            <key>zhugelianglh6_yan1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,629},{126,94}}</string>
                <key>offset</key>
                <string>{12,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,11},{126,94}}</string>
                <key>sourceSize</key>
                <string>{150,124}</string>
            </dict>
            <key>zhugelianglh6_yan1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,729},{128,96}}</string>
                <key>offset</key>
                <string>{10,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,9},{128,96}}</string>
                <key>sourceSize</key>
                <string>{150,124}</string>
            </dict>
            <key>zhugelianglh6_yan1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,827},{126,98}}</string>
                <key>offset</key>
                <string>{9,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,10},{126,98}}</string>
                <key>sourceSize</key>
                <string>{150,124}</string>
            </dict>
            <key>zhugelianglh6_yan1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,629},{128,98}}</string>
                <key>offset</key>
                <string>{6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,10},{128,98}}</string>
                <key>sourceSize</key>
                <string>{150,124}</string>
            </dict>
            <key>zhugelianglh6_yan1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,927},{124,98}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,11},{124,98}}</string>
                <key>sourceSize</key>
                <string>{150,124}</string>
            </dict>
            <key>zhugelianglh6_yan1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1027},{120,102}}</string>
                <key>offset</key>
                <string>{5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,8},{120,102}}</string>
                <key>sourceSize</key>
                <string>{150,124}</string>
            </dict>
            <key>zhugelianglh6_yan1_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,545},{124,108}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,4},{124,108}}</string>
                <key>sourceSize</key>
                <string>{150,124}</string>
            </dict>
            <key>zhugelianglh6_yan1_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,683},{128,112}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{128,112}}</string>
                <key>sourceSize</key>
                <string>{150,124}</string>
            </dict>
            <key>zhugelianglh6_yan1_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,624},{130,114}}</string>
                <key>offset</key>
                <string>{-10,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{130,114}}</string>
                <key>sourceSize</key>
                <string>{150,124}</string>
            </dict>
            <key>zhugelianglh6_yan1_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,776},{124,110}}</string>
                <key>offset</key>
                <string>{-7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{124,110}}</string>
                <key>sourceSize</key>
                <string>{150,124}</string>
            </dict>
            <key>zhugelianglh6_yan1_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,862},{126,112}}</string>
                <key>offset</key>
                <string>{-10,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{126,112}}</string>
                <key>sourceSize</key>
                <string>{150,124}</string>
            </dict>
            <key>zhugelianglh6_yan1_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,740},{126,120}}</string>
                <key>offset</key>
                <string>{-12,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{126,120}}</string>
                <key>sourceSize</key>
                <string>{150,124}</string>
            </dict>
            <key>zhugelianglh6_yan2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,541},{206,140}}</string>
                <key>offset</key>
                <string>{9,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,0},{206,140}}</string>
                <key>sourceSize</key>
                <string>{256,142}</string>
            </dict>
            <key>zhugelianglh6_yan2_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,352},{238,136}}</string>
                <key>offset</key>
                <string>{-6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{238,136}}</string>
                <key>sourceSize</key>
                <string>{256,142}</string>
            </dict>
            <key>zhugelianglh6_yan2_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,207},{252,112}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,20},{252,112}}</string>
                <key>sourceSize</key>
                <string>{256,142}</string>
            </dict>
            <key>zhugelianglh6_yan2_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,91},{254,124}}</string>
                <key>offset</key>
                <string>{1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,18},{254,124}}</string>
                <key>sourceSize</key>
                <string>{256,142}</string>
            </dict>
            <key>zhugelianglh6_yan2_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,2},{256,120}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{256,120}}</string>
                <key>sourceSize</key>
                <string>{256,142}</string>
            </dict>
            <key>zhugelianglh6_yan2_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,83},{256,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{256,122}}</string>
                <key>sourceSize</key>
                <string>{256,142}</string>
            </dict>
            <key>zhugelianglh6_yan2_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,318},{244,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{244,126}}</string>
                <key>sourceSize</key>
                <string>{256,142}</string>
            </dict>
            <key>zhugelianglh6_yan2_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,124},{250,130}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{250,130}}</string>
                <key>sourceSize</key>
                <string>{256,142}</string>
            </dict>
            <key>zhugelianglh6_yan2_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,214},{248,136}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{248,136}}</string>
                <key>sourceSize</key>
                <string>{256,142}</string>
            </dict>
            <key>zhugelianglh6_yan2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,402},{238,138}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{238,138}}</string>
                <key>sourceSize</key>
                <string>{256,142}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zhugelianglh6.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1cb1dd702f251d462218e4c5c9f1f0ea:1/1$</string>
            <key>textureFileName</key>
            <string>zhugelianglh6.png</string>
        </dict>
    </dict>
</plist>
