<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ganninglh6_lz01.png</key>
            <dict>
                <key>frame</key>
                <string>{{543,184},{73,71}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{73,71}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>ganninglh6_lz02.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,671},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>ganninglh6_sd01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,401},{84,64}}</string>
                <key>offset</key>
                <string>{7,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,14},{84,64}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>ganninglh6_sd01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,514},{92,82}}</string>
                <key>offset</key>
                <string>{2,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,18},{92,82}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>ganninglh6_sd01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,841},{96,100}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{96,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>ganninglh6_sd01_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,842},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>ganninglh6_sd01_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,102},{96,94}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,6},{96,94}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>ganninglh6_sd01_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,412},{82,100}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{82,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>ganninglh6_sd01_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,542},{94,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{94,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>ganninglh6_sd01_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,2},{96,92}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,8},{96,92}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>ganninglh6_sd01_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,284},{68,76}}</string>
                <key>offset</key>
                <string>{15,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,24},{68,76}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>ganninglh6_sd02_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{82,165}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,0},{82,165}}</string>
                <key>sourceSize</key>
                <string>{150,165}</string>
            </dict>
            <key>ganninglh6_sd02_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,169},{60,163}}</string>
                <key>offset</key>
                <string>{-20,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,0},{60,163}}</string>
                <key>sourceSize</key>
                <string>{150,165}</string>
            </dict>
            <key>ganninglh6_sd02_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,261},{38,79}}</string>
                <key>offset</key>
                <string>{-27,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,0},{38,79}}</string>
                <key>sourceSize</key>
                <string>{150,165}</string>
            </dict>
            <key>ganninglh6_sd02_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,134},{32,41}}</string>
                <key>offset</key>
                <string>{-50,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,69},{32,41}}</string>
                <key>sourceSize</key>
                <string>{150,165}</string>
            </dict>
            <key>ganninglh6_sd02_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,968},{48,67}}</string>
                <key>offset</key>
                <string>{-49,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,57},{48,67}}</string>
                <key>sourceSize</key>
                <string>{150,165}</string>
            </dict>
            <key>ganninglh6_sd02_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,2},{130,61}}</string>
                <key>offset</key>
                <string>{-10,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,62},{130,61}}</string>
                <key>sourceSize</key>
                <string>{150,165}</string>
            </dict>
            <key>ganninglh6_sd02_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,169},{130,75}}</string>
                <key>offset</key>
                <string>{-9,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,49},{130,75}}</string>
                <key>sourceSize</key>
                <string>{150,165}</string>
            </dict>
            <key>ganninglh6_sd02_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,334},{130,83}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,48},{130,83}}</string>
                <key>sourceSize</key>
                <string>{150,165}</string>
            </dict>
            <key>ganninglh6_sd02_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,721},{122,103}}</string>
                <key>offset</key>
                <string>{10,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,48},{122,103}}</string>
                <key>sourceSize</key>
                <string>{150,165}</string>
            </dict>
            <key>ganninglh6_sd02_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,595},{124,107}}</string>
                <key>offset</key>
                <string>{13,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,48},{124,107}}</string>
                <key>sourceSize</key>
                <string>{150,165}</string>
            </dict>
            <key>ganninglh6_sd02_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,608},{66,59}}</string>
                <key>offset</key>
                <string>{-4,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,40},{66,59}}</string>
                <key>sourceSize</key>
                <string>{150,165}</string>
            </dict>
            <key>ganninglh6_sd02_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,238},{76,61}}</string>
                <key>offset</key>
                <string>{5,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,23},{76,61}}</string>
                <key>sourceSize</key>
                <string>{150,165}</string>
            </dict>
            <key>ganninglh6_sd02_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{581,84},{68,65}}</string>
                <key>offset</key>
                <string>{5,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,16},{68,65}}</string>
                <key>sourceSize</key>
                <string>{150,165}</string>
            </dict>
            <key>ganninglh6_sd02_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,612},{64,57}}</string>
                <key>offset</key>
                <string>{7,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,10},{64,57}}</string>
                <key>sourceSize</key>
                <string>{150,165}</string>
            </dict>
            <key>ganninglh6_sd02_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,968},{62,51}}</string>
                <key>offset</key>
                <string>{8,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,12},{62,51}}</string>
                <key>sourceSize</key>
                <string>{150,165}</string>
            </dict>
            <key>ganninglh6_xx.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,301},{126,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,125}}</string>
                <key>sourceSize</key>
                <string>{126,125}</string>
            </dict>
            <key>ganninglh6_yan01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,134},{125,98}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{125,98}}</string>
                <key>sourceSize</key>
                <string>{127,100}</string>
            </dict>
            <key>ganninglh6_yan01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,466},{127,98}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,98}}</string>
                <key>sourceSize</key>
                <string>{127,100}</string>
            </dict>
            <key>ganninglh6_yan01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,2},{125,96}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{125,96}}</string>
                <key>sourceSize</key>
                <string>{127,100}</string>
            </dict>
            <key>ganninglh6_yan01_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,429},{123,96}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{123,96}}</string>
                <key>sourceSize</key>
                <string>{127,100}</string>
            </dict>
            <key>ganninglh6_yan01_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,845},{121,96}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,2},{121,96}}</string>
                <key>sourceSize</key>
                <string>{127,100}</string>
            </dict>
            <key>ganninglh6_yan01_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,721},{119,94}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,3},{119,94}}</string>
                <key>sourceSize</key>
                <string>{127,100}</string>
            </dict>
            <key>ganninglh6_yan01_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,554},{115,94}}</string>
                <key>offset</key>
                <string>{6,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,5},{115,94}}</string>
                <key>sourceSize</key>
                <string>{127,100}</string>
            </dict>
            <key>ganninglh6_yan01_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,429},{111,94}}</string>
                <key>offset</key>
                <string>{8,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,6},{111,94}}</string>
                <key>sourceSize</key>
                <string>{127,100}</string>
            </dict>
            <key>ganninglh6_yan01_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,301},{109,94}}</string>
                <key>offset</key>
                <string>{9,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,6},{109,94}}</string>
                <key>sourceSize</key>
                <string>{127,100}</string>
            </dict>
            <key>ganninglh6_yan01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,2},{107,94}}</string>
                <key>offset</key>
                <string>{10,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,6},{107,94}}</string>
                <key>sourceSize</key>
                <string>{127,100}</string>
            </dict>
            <key>ganninglh6_yan01_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,129},{107,94}}</string>
                <key>offset</key>
                <string>{10,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,6},{107,94}}</string>
                <key>sourceSize</key>
                <string>{127,100}</string>
            </dict>
            <key>ganninglh6_yan01_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,845},{121,96}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{121,96}}</string>
                <key>sourceSize</key>
                <string>{127,100}</string>
            </dict>
            <key>ganninglh6_yan02_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,366},{68,78}}</string>
                <key>offset</key>
                <string>{-10,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{68,78}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>ganninglh6_yan02_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{503,100},{76,82}}</string>
                <key>offset</key>
                <string>{-8,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{76,82}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>ganninglh6_yan02_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,465},{78,78}}</string>
                <key>offset</key>
                <string>{-8,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{78,78}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>ganninglh6_yan02_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,200},{82,80}}</string>
                <key>offset</key>
                <string>{-8,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,6},{82,80}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>ganninglh6_yan02_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,299},{80,82}}</string>
                <key>offset</key>
                <string>{-9,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,8},{80,82}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>ganninglh6_yan02_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,841},{80,84}}</string>
                <key>offset</key>
                <string>{-10,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{80,84}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>ganninglh6_yan02_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,383},{78,80}}</string>
                <key>offset</key>
                <string>{-10,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,14},{78,80}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>ganninglh6_yan02_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,238},{60,62}}</string>
                <key>offset</key>
                <string>{-2,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,12},{60,62}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>ganninglh6_yan02_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,284},{80,68}}</string>
                <key>offset</key>
                <string>{9,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,9},{80,68}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>ganninglh6_yan02_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,767},{84,72}}</string>
                <key>offset</key>
                <string>{8,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,8},{84,72}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>ganninglh6_yan02_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,944},{84,78}}</string>
                <key>offset</key>
                <string>{7,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,6},{84,78}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>ganninglh6_yan02_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,927},{84,80}}</string>
                <key>offset</key>
                <string>{7,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,5},{84,80}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>ganninglh6_yan02_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,944},{82,78}}</string>
                <key>offset</key>
                <string>{6,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,5},{82,78}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>ganninglh6_yan02_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,761},{80,78}}</string>
                <key>offset</key>
                <string>{5,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,3},{80,78}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>ganninglh6_yan02_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{505,2},{78,80}}</string>
                <key>offset</key>
                <string>{4,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,2},{78,80}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>ganninglh6_yan02_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,943},{78,82}}</string>
                <key>offset</key>
                <string>{2,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,3},{78,82}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>ganninglh6_yan02_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,211},{76,86}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,3},{76,86}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>ganninglh6_yan02_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,669},{76,90}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,2},{76,90}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>ganninglh6_yan02_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,671},{76,94}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,1},{76,94}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>ganninglh6_yan02_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,301},{72,98}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,2},{72,98}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>ganninglh6_yan02_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,514},{68,96}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,2},{68,96}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>ganninglh6_yan02_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,111},{68,98}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,2},{68,98}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>ganninglh6_yan02_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,2},{66,98}}</string>
                <key>offset</key>
                <string>{-7,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,2},{66,98}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>ganninglh6_yan02_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,773},{66,100}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{66,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ganninglh6.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:845a1b5b7d34f622ae31c1b660bea44a:1/1$</string>
            <key>textureFileName</key>
            <string>ganninglh6.png</string>
        </dict>
    </dict>
</plist>
