<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jiangweilh8_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{433,298}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{433,298}}</string>
                <key>sourceSize</key>
                <string>{435,300}</string>
            </dict>
            <key>jiangweilh8_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,2},{227,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,149}}</string>
                <key>sourceSize</key>
                <string>{227,149}</string>
            </dict>
            <key>jiangweilh8_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{695,680},{20,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,37}}</string>
                <key>sourceSize</key>
                <string>{20,37}</string>
            </dict>
            <key>jiangweilh8_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,678},{26,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,34}}</string>
                <key>sourceSize</key>
                <string>{26,34}</string>
            </dict>
            <key>jiangweilh8_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,570},{49,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,44}}</string>
                <key>sourceSize</key>
                <string>{49,44}</string>
            </dict>
            <key>jiangweilh8_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,678},{26,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,36}}</string>
                <key>sourceSize</key>
                <string>{26,36}</string>
            </dict>
            <key>jiangweilh8_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{735,237},{17,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,15}}</string>
                <key>sourceSize</key>
                <string>{17,15}</string>
            </dict>
            <key>jiangweilh8_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,678},{31,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,25}}</string>
                <key>sourceSize</key>
                <string>{31,25}</string>
            </dict>
            <key>jiangweilh8_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,744},{8,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,25}}</string>
                <key>sourceSize</key>
                <string>{8,25}</string>
            </dict>
            <key>jiangweilh8_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{717,352},{21,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,20}}</string>
                <key>sourceSize</key>
                <string>{21,20}</string>
            </dict>
            <key>jiangweilh8_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,108},{21,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,7}}</string>
                <key>sourceSize</key>
                <string>{21,7}</string>
            </dict>
            <key>jiangweilh8_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,480},{50,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,49}}</string>
                <key>sourceSize</key>
                <string>{50,49}</string>
            </dict>
            <key>jiangweilh8_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,546},{181,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,149}}</string>
                <key>sourceSize</key>
                <string>{181,149}</string>
            </dict>
            <key>jiangweilh8_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,711},{16,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,24}}</string>
                <key>sourceSize</key>
                <string>{16,24}</string>
            </dict>
            <key>jiangweilh8_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,681},{14,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,16}}</string>
                <key>sourceSize</key>
                <string>{14,16}</string>
            </dict>
            <key>jiangweilh8_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,556},{22,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,27}}</string>
                <key>sourceSize</key>
                <string>{22,27}</string>
            </dict>
            <key>jiangweilh8_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,687},{57,59}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{57,59}}</string>
                <key>sourceSize</key>
                <string>{57,61}</string>
            </dict>
            <key>jiangweilh8_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,716},{22,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,24}}</string>
                <key>sourceSize</key>
                <string>{22,24}</string>
            </dict>
            <key>jiangweilh8_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{733,616},{40,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,19}}</string>
                <key>sourceSize</key>
                <string>{40,19}</string>
            </dict>
            <key>jiangweilh8_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{717,264},{43,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,28}}</string>
                <key>sourceSize</key>
                <string>{43,28}</string>
            </dict>
            <key>jiangweilh8_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,713},{94,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,29}}</string>
                <key>sourceSize</key>
                <string>{94,29}</string>
            </dict>
            <key>jiangweilh8_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,264},{108,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,21}}</string>
                <key>sourceSize</key>
                <string>{108,21}</string>
            </dict>
            <key>jiangweilh8_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,153},{109,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,75}}</string>
                <key>sourceSize</key>
                <string>{109,75}</string>
            </dict>
            <key>jiangweilh8_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,699},{73,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,53}}</string>
                <key>sourceSize</key>
                <string>{73,53}</string>
            </dict>
            <key>jiangweilh8_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,302},{221,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,126}}</string>
                <key>sourceSize</key>
                <string>{221,126}</string>
            </dict>
            <key>jiangweilh8_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,437},{84,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,38}}</string>
                <key>sourceSize</key>
                <string>{84,38}</string>
            </dict>
            <key>jiangweilh8_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,302},{92,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,27}}</string>
                <key>sourceSize</key>
                <string>{92,27}</string>
            </dict>
            <key>jiangweilh8_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,579},{97,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,71}}</string>
                <key>sourceSize</key>
                <string>{97,71}</string>
            </dict>
            <key>jiangweilh8_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,566},{15,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,11}}</string>
                <key>sourceSize</key>
                <string>{15,11}</string>
            </dict>
            <key>jiangweilh8_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,396},{45,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,27}}</string>
                <key>sourceSize</key>
                <string>{45,27}</string>
            </dict>
            <key>jiangweilh8_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,584},{127,100}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{127,100}}</string>
                <key>sourceSize</key>
                <string>{127,102}</string>
            </dict>
            <key>jiangweilh8_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,582},{138,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,115}}</string>
                <key>sourceSize</key>
                <string>{138,115}</string>
            </dict>
            <key>jiangweilh8_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,697},{44,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,104}}</string>
                <key>sourceSize</key>
                <string>{44,104}</string>
            </dict>
            <key>jiangweilh8_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,658},{21,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,18}}</string>
                <key>sourceSize</key>
                <string>{21,18}</string>
            </dict>
            <key>jiangweilh8_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,430},{151,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,150}}</string>
                <key>sourceSize</key>
                <string>{151,150}</string>
            </dict>
            <key>jiangweilh8_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,673},{79,98}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,98}}</string>
                <key>sourceSize</key>
                <string>{81,98}</string>
            </dict>
            <key>jiangweilh8_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{695,702},{40,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,14}}</string>
                <key>sourceSize</key>
                <string>{40,14}</string>
            </dict>
            <key>jiangweilh8_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{675,215},{58,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,47}}</string>
                <key>sourceSize</key>
                <string>{58,47}</string>
            </dict>
            <key>jiangweilh8_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{735,215},{20,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,17}}</string>
                <key>sourceSize</key>
                <string>{20,17}</string>
            </dict>
            <key>jiangweilh8_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,687},{51,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,24}}</string>
                <key>sourceSize</key>
                <string>{51,24}</string>
            </dict>
            <key>jiangweilh8_45.png</key>
            <dict>
                <key>frame</key>
                <string>{{675,108},{77,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,105}}</string>
                <key>sourceSize</key>
                <string>{77,105}</string>
            </dict>
            <key>jiangweilh8_46.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,443},{34,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,35}}</string>
                <key>sourceSize</key>
                <string>{34,35}</string>
            </dict>
            <key>jiangweilh8_47.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,430},{152,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,56}}</string>
                <key>sourceSize</key>
                <string>{152,56}</string>
            </dict>
            <key>jiangweilh8_48.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,2},{104,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,86}}</string>
                <key>sourceSize</key>
                <string>{104,86}</string>
            </dict>
            <key>jiangweilh8_49.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,652},{22,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,24}}</string>
                <key>sourceSize</key>
                <string>{22,24}</string>
            </dict>
            <key>jiangweilh8_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,153},{159,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,98}}</string>
                <key>sourceSize</key>
                <string>{159,98}</string>
            </dict>
            <key>jiangweilh8_50.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,264},{116,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,117}}</string>
                <key>sourceSize</key>
                <string>{116,117}</string>
            </dict>
            <key>jiangweilh8_51.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,383},{134,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,121}}</string>
                <key>sourceSize</key>
                <string>{134,121}</string>
            </dict>
            <key>jiangweilh8_52.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,616},{62,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,31}}</string>
                <key>sourceSize</key>
                <string>{62,31}</string>
            </dict>
            <key>jiangweilh8_53.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,253},{137,106}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,106}}</string>
                <key>sourceSize</key>
                <string>{143,106}</string>
            </dict>
            <key>jiangweilh8_54.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,699},{73,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,51}}</string>
                <key>sourceSize</key>
                <string>{73,51}</string>
            </dict>
            <key>jiangweilh8_55.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,697},{55,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,63}}</string>
                <key>sourceSize</key>
                <string>{55,63}</string>
            </dict>
            <key>jiangweilh8_56.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,556},{107,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,115}}</string>
                <key>sourceSize</key>
                <string>{107,115}</string>
            </dict>
            <key>jiangweilh8_57.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,506},{118,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,71}}</string>
                <key>sourceSize</key>
                <string>{118,71}</string>
            </dict>
            <key>jiangweilh8_58.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,361},{135,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,117}}</string>
                <key>sourceSize</key>
                <string>{135,117}</string>
            </dict>
            <key>jiangweilh8_59.png</key>
            <dict>
                <key>frame</key>
                <string>{{717,309},{41,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,32}}</string>
                <key>sourceSize</key>
                <string>{41,32}</string>
            </dict>
            <key>jiangweilh8_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,531},{36,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,33}}</string>
                <key>sourceSize</key>
                <string>{36,33}</string>
            </dict>
            <key>jiangweilh8_60.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,652},{72,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,33}}</string>
                <key>sourceSize</key>
                <string>{72,33}</string>
            </dict>
            <key>jiangweilh8_61.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,480},{124,74}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,74}}</string>
                <key>sourceSize</key>
                <string>{124,78}</string>
            </dict>
            <key>jiangweilh8_62.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,374},{42,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,61}}</string>
                <key>sourceSize</key>
                <string>{42,61}</string>
            </dict>
            <key>jiangweilh8_63.png</key>
            <dict>
                <key>frame</key>
                <string>{{635,579},{63,97}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,97}}</string>
                <key>sourceSize</key>
                <string>{63,99}</string>
            </dict>
            <key>jiangweilh8_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,302},{181,242}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,242}}</string>
                <key>sourceSize</key>
                <string>{181,242}</string>
            </dict>
            <key>jiangweilh8_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{553,566},{14,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,11}}</string>
                <key>sourceSize</key>
                <string>{14,11}</string>
            </dict>
            <key>jiangweilh8_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,523},{55,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,45}}</string>
                <key>sourceSize</key>
                <string>{55,45}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>jiangweilh8.pvr.ccz</string>
            <key>size</key>
            <string>{754,754}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8ac0c20ad38dfdc4326aca479161d3e2:1/1$</string>
            <key>textureFileName</key>
            <string>jiangweilh8.pvr.ccz</string>
        </dict>
    </dict>
</plist>
