<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>simayilh6_lizidian_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{577,2},{35,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,34}}</string>
                <key>sourceSize</key>
                <string>{35,34}</string>
            </dict>
            <key>simayilh6_xing.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,440},{186,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,180}}</string>
                <key>sourceSize</key>
                <string>{186,180}</string>
            </dict>
            <key>simayilh6_yan1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{133,220}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{133,220}}</string>
                <key>sourceSize</key>
                <string>{141,222}</string>
            </dict>
            <key>simayilh6_yan1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,884},{137,214}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,8},{137,214}}</string>
                <key>sourceSize</key>
                <string>{141,222}</string>
            </dict>
            <key>simayilh6_yan1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,664},{135,218}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{135,218}}</string>
                <key>sourceSize</key>
                <string>{141,222}</string>
            </dict>
            <key>simayilh6_yan1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,664},{135,218}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{135,218}}</string>
                <key>sourceSize</key>
                <string>{141,222}</string>
            </dict>
            <key>simayilh6_yan1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,444},{137,218}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{137,218}}</string>
                <key>sourceSize</key>
                <string>{141,222}</string>
            </dict>
            <key>simayilh6_yan1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,662},{141,216}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{141,216}}</string>
                <key>sourceSize</key>
                <string>{141,222}</string>
            </dict>
            <key>simayilh6_yan1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,2},{139,218}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{139,218}}</string>
                <key>sourceSize</key>
                <string>{141,222}</string>
            </dict>
            <key>simayilh6_yan1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,224},{139,218}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{139,218}}</string>
                <key>sourceSize</key>
                <string>{141,222}</string>
            </dict>
            <key>simayilh6_yan1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,2},{141,216}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{141,216}}</string>
                <key>sourceSize</key>
                <string>{141,222}</string>
            </dict>
            <key>simayilh6_yan1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,222},{141,216}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{141,216}}</string>
                <key>sourceSize</key>
                <string>{141,222}</string>
            </dict>
            <key>simayilh6_yan1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,880},{141,214}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,7},{141,214}}</string>
                <key>sourceSize</key>
                <string>{141,222}</string>
            </dict>
            <key>simayilh6_yan1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,444},{141,216}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{141,216}}</string>
                <key>sourceSize</key>
                <string>{141,222}</string>
            </dict>
            <key>simayilh6_yan2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,110},{74,106}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{74,106}}</string>
                <key>sourceSize</key>
                <string>{78,108}</string>
            </dict>
            <key>simayilh6_yan2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,216},{76,102}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{76,102}}</string>
                <key>sourceSize</key>
                <string>{78,108}</string>
            </dict>
            <key>simayilh6_yan2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,324},{76,104}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{76,104}}</string>
                <key>sourceSize</key>
                <string>{78,108}</string>
            </dict>
            <key>simayilh6_yan2_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,220},{74,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{74,108}}</string>
                <key>sourceSize</key>
                <string>{78,108}</string>
            </dict>
            <key>simayilh6_yan2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,2},{76,106}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{76,106}}</string>
                <key>sourceSize</key>
                <string>{78,108}</string>
            </dict>
            <key>simayilh6_yan2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,328},{76,106}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{76,106}}</string>
                <key>sourceSize</key>
                <string>{78,108}</string>
            </dict>
            <key>simayilh6_yan2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,884},{76,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{76,108}}</string>
                <key>sourceSize</key>
                <string>{78,108}</string>
            </dict>
            <key>simayilh6_yan2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,110},{78,104}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{78,104}}</string>
                <key>sourceSize</key>
                <string>{78,108}</string>
            </dict>
            <key>simayilh6_yan2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,330},{78,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{78,106}}</string>
                <key>sourceSize</key>
                <string>{78,108}</string>
            </dict>
            <key>simayilh6_yan2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,220},{76,106}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{76,106}}</string>
                <key>sourceSize</key>
                <string>{78,108}</string>
            </dict>
            <key>simayilh6_yan2_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,218},{78,104}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{78,104}}</string>
                <key>sourceSize</key>
                <string>{78,108}</string>
            </dict>
            <key>simayilh6_yan2_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{499,2},{76,104}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{76,104}}</string>
                <key>sourceSize</key>
                <string>{78,108}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>simayilh6.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c6ca9d9856f833bde9fc486f62e56df6:1/1$</string>
            <key>textureFileName</key>
            <string>simayilh6.png</string>
        </dict>
    </dict>
</plist>
