<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>caocaolh7_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,164},{403,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{403,181}}</string>
                <key>sourceSize</key>
                <string>{403,181}</string>
            </dict>
            <key>caocaolh7_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,790},{34,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,61}}</string>
                <key>sourceSize</key>
                <string>{34,61}</string>
            </dict>
            <key>caocaolh7_0110.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,822},{101,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,146}}</string>
                <key>sourceSize</key>
                <string>{101,146}</string>
            </dict>
            <key>caocaolh7_0111.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,703},{84,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,117}}</string>
                <key>sourceSize</key>
                <string>{84,117}</string>
            </dict>
            <key>caocaolh7_0112.png</key>
            <dict>
                <key>frame</key>
                <string>{{739,835},{101,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,24}}</string>
                <key>sourceSize</key>
                <string>{101,24}</string>
            </dict>
            <key>caocaolh7_0113.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,822},{8,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,14}}</string>
                <key>sourceSize</key>
                <string>{8,14}</string>
            </dict>
            <key>caocaolh7_0114_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,942},{15,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,6}}</string>
                <key>sourceSize</key>
                <string>{15,6}</string>
            </dict>
            <key>caocaolh7_0114_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,556},{17,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,9}}</string>
                <key>sourceSize</key>
                <string>{17,9}</string>
            </dict>
            <key>caocaolh7_0114_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,164},{19,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,11}}</string>
                <key>sourceSize</key>
                <string>{19,11}</string>
            </dict>
            <key>caocaolh7_0114_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,529},{21,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,14}}</string>
                <key>sourceSize</key>
                <string>{21,14}</string>
            </dict>
            <key>caocaolh7_0115.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,686},{42,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,62}}</string>
                <key>sourceSize</key>
                <string>{42,62}</string>
            </dict>
            <key>caocaolh7_0116.png</key>
            <dict>
                <key>frame</key>
                <string>{{655,529},{91,304}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,304}}</string>
                <key>sourceSize</key>
                <string>{91,304}</string>
            </dict>
            <key>caocaolh7_0117.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,999},{20,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,26}}</string>
                <key>sourceSize</key>
                <string>{20,26}</string>
            </dict>
            <key>caocaolh7_0118.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,999},{21,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,37}}</string>
                <key>sourceSize</key>
                <string>{21,37}</string>
            </dict>
            <key>caocaolh7_0119.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,807},{19,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,37}}</string>
                <key>sourceSize</key>
                <string>{19,37}</string>
            </dict>
            <key>caocaolh7_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,862},{152,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,158}}</string>
                <key>sourceSize</key>
                <string>{152,158}</string>
            </dict>
            <key>caocaolh7_0120.png</key>
            <dict>
                <key>frame</key>
                <string>{{41,999},{19,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,53}}</string>
                <key>sourceSize</key>
                <string>{19,53}</string>
            </dict>
            <key>caocaolh7_0121.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,539},{5,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{5,13}}</string>
                <key>sourceSize</key>
                <string>{5,13}</string>
            </dict>
            <key>caocaolh7_0122.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,822},{10,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,10}}</string>
                <key>sourceSize</key>
                <string>{10,10}</string>
            </dict>
            <key>caocaolh7_0123.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,327},{17,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,23}}</string>
                <key>sourceSize</key>
                <string>{17,23}</string>
            </dict>
            <key>caocaolh7_0124.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,959},{9,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,6}}</string>
                <key>sourceSize</key>
                <string>{9,6}</string>
            </dict>
            <key>caocaolh7_0125.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,750},{11,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,2}}</string>
                <key>sourceSize</key>
                <string>{11,2}</string>
            </dict>
            <key>caocaolh7_0126.png</key>
            <dict>
                <key>frame</key>
                <string>{{979,468},{9,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,6}}</string>
                <key>sourceSize</key>
                <string>{9,6}</string>
            </dict>
            <key>caocaolh7_0127.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,686},{11,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,4}}</string>
                <key>sourceSize</key>
                <string>{11,4}</string>
            </dict>
            <key>caocaolh7_0128.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,970},{49,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,94}}</string>
                <key>sourceSize</key>
                <string>{49,94}</string>
            </dict>
            <key>caocaolh7_0129.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,806},{22,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,63}}</string>
                <key>sourceSize</key>
                <string>{22,63}</string>
            </dict>
            <key>caocaolh7_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,539},{281,239}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{281,239}}</string>
                <key>sourceSize</key>
                <string>{281,239}</string>
            </dict>
            <key>caocaolh7_0130.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,1007},{6,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{6,13}}</string>
                <key>sourceSize</key>
                <string>{6,13}</string>
            </dict>
            <key>caocaolh7_0131.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,933},{9,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,27}}</string>
                <key>sourceSize</key>
                <string>{9,27}</string>
            </dict>
            <key>caocaolh7_0132.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,150},{13,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,22}}</string>
                <key>sourceSize</key>
                <string>{13,22}</string>
            </dict>
            <key>caocaolh7_0133.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,165},{8,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,18}}</string>
                <key>sourceSize</key>
                <string>{8,18}</string>
            </dict>
            <key>caocaolh7_0134.png</key>
            <dict>
                <key>frame</key>
                <string>{{765,901},{39,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,75}}</string>
                <key>sourceSize</key>
                <string>{39,75}</string>
            </dict>
            <key>caocaolh7_0135.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,686},{30,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,81}}</string>
                <key>sourceSize</key>
                <string>{30,81}</string>
            </dict>
            <key>caocaolh7_0136.png</key>
            <dict>
                <key>frame</key>
                <string>{{979,416},{50,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,41}}</string>
                <key>sourceSize</key>
                <string>{50,41}</string>
            </dict>
            <key>caocaolh7_0137.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,950},{47,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,134}}</string>
                <key>sourceSize</key>
                <string>{47,134}</string>
            </dict>
            <key>caocaolh7_0138.png</key>
            <dict>
                <key>frame</key>
                <string>{{974,752},{50,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,40}}</string>
                <key>sourceSize</key>
                <string>{50,40}</string>
            </dict>
            <key>caocaolh7_0139.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,972},{48,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,135}}</string>
                <key>sourceSize</key>
                <string>{48,135}</string>
            </dict>
            <key>caocaolh7_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,352},{185,249}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,249}}</string>
                <key>sourceSize</key>
                <string>{185,249}</string>
            </dict>
            <key>caocaolh7_0140.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,828},{39,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,41}}</string>
                <key>sourceSize</key>
                <string>{39,41}</string>
            </dict>
            <key>caocaolh7_0141.png</key>
            <dict>
                <key>frame</key>
                <string>{{891,556},{75,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,78}}</string>
                <key>sourceSize</key>
                <string>{75,78}</string>
            </dict>
            <key>caocaolh7_0142.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,769},{57,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,34}}</string>
                <key>sourceSize</key>
                <string>{57,34}</string>
            </dict>
            <key>caocaolh7_0143.png</key>
            <dict>
                <key>frame</key>
                <string>{{939,944},{27,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,23}}</string>
                <key>sourceSize</key>
                <string>{27,23}</string>
            </dict>
            <key>caocaolh7_0144.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,529},{6,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{6,13}}</string>
                <key>sourceSize</key>
                <string>{6,13}</string>
            </dict>
            <key>caocaolh7_0145.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,309},{16,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,33}}</string>
                <key>sourceSize</key>
                <string>{16,33}</string>
            </dict>
            <key>caocaolh7_0146.png</key>
            <dict>
                <key>frame</key>
                <string>{{765,822},{73,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,77}}</string>
                <key>sourceSize</key>
                <string>{73,77}</string>
            </dict>
            <key>caocaolh7_0147.png</key>
            <dict>
                <key>frame</key>
                <string>{{987,468},{56,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,33}}</string>
                <key>sourceSize</key>
                <string>{56,33}</string>
            </dict>
            <key>caocaolh7_0148.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,871},{19,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,19}}</string>
                <key>sourceSize</key>
                <string>{19,19}</string>
            </dict>
            <key>caocaolh7_0149.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,999},{6,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{6,12}}</string>
                <key>sourceSize</key>
                <string>{6,12}</string>
            </dict>
            <key>caocaolh7_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,327},{150,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,89}}</string>
                <key>sourceSize</key>
                <string>{150,89}</string>
            </dict>
            <key>caocaolh7_0150.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,164},{16,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,33}}</string>
                <key>sourceSize</key>
                <string>{16,33}</string>
            </dict>
            <key>caocaolh7_0151_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,822},{32,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,36}}</string>
                <key>sourceSize</key>
                <string>{32,36}</string>
            </dict>
            <key>caocaolh7_0151_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,991},{27,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,28}}</string>
                <key>sourceSize</key>
                <string>{27,28}</string>
            </dict>
            <key>caocaolh7_0152.png</key>
            <dict>
                <key>frame</key>
                <string>{{976,664},{44,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,33}}</string>
                <key>sourceSize</key>
                <string>{44,33}</string>
            </dict>
            <key>caocaolh7_0153.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,871},{43,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,39}}</string>
                <key>sourceSize</key>
                <string>{43,39}</string>
            </dict>
            <key>caocaolh7_0154.png</key>
            <dict>
                <key>frame</key>
                <string>{{837,655},{43,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,55}}</string>
                <key>sourceSize</key>
                <string>{43,55}</string>
            </dict>
            <key>caocaolh7_0155.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,835},{94,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,135}}</string>
                <key>sourceSize</key>
                <string>{94,135}</string>
            </dict>
            <key>caocaolh7_0156.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,942},{58,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,47}}</string>
                <key>sourceSize</key>
                <string>{58,47}</string>
            </dict>
            <key>caocaolh7_0157.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,950},{55,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,37}}</string>
                <key>sourceSize</key>
                <string>{55,37}</string>
            </dict>
            <key>caocaolh7_0158.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,479},{75,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,101}}</string>
                <key>sourceSize</key>
                <string>{75,101}</string>
            </dict>
            <key>caocaolh7_0159.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,901},{30,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,25}}</string>
                <key>sourceSize</key>
                <string>{30,25}</string>
            </dict>
            <key>caocaolh7_016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,347},{385,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{385,197}}</string>
                <key>sourceSize</key>
                <string>{385,197}</string>
            </dict>
            <key>caocaolh7_0160.png</key>
            <dict>
                <key>frame</key>
                <string>{{976,699},{51,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,43}}</string>
                <key>sourceSize</key>
                <string>{51,43}</string>
            </dict>
            <key>caocaolh7_0161.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,750},{55,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,36}}</string>
                <key>sourceSize</key>
                <string>{55,36}</string>
            </dict>
            <key>caocaolh7_0162.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,898},{53,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,36}}</string>
                <key>sourceSize</key>
                <string>{53,36}</string>
            </dict>
            <key>caocaolh7_0163.png</key>
            <dict>
                <key>frame</key>
                <string>{{837,559},{94,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,52}}</string>
                <key>sourceSize</key>
                <string>{94,52}</string>
            </dict>
            <key>caocaolh7_0164.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,636},{80,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,48}}</string>
                <key>sourceSize</key>
                <string>{80,48}</string>
            </dict>
            <key>caocaolh7_0165.png</key>
            <dict>
                <key>frame</key>
                <string>{{835,991},{29,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,33}}</string>
                <key>sourceSize</key>
                <string>{29,33}</string>
            </dict>
            <key>caocaolh7_0166.png</key>
            <dict>
                <key>frame</key>
                <string>{{739,942},{28,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,31}}</string>
                <key>sourceSize</key>
                <string>{28,31}</string>
            </dict>
            <key>caocaolh7_0167.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,546},{402,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{402,174}}</string>
                <key>sourceSize</key>
                <string>{402,174}</string>
            </dict>
            <key>caocaolh7_0168.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,352},{175,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,122}}</string>
                <key>sourceSize</key>
                <string>{175,122}</string>
            </dict>
            <key>caocaolh7_0169.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,182},{194,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,143}}</string>
                <key>sourceSize</key>
                <string>{194,143}</string>
            </dict>
            <key>caocaolh7_017.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,2},{101,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,146}}</string>
                <key>sourceSize</key>
                <string>{101,146}</string>
            </dict>
            <key>caocaolh7_0170.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{565,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{565,160}}</string>
                <key>sourceSize</key>
                <string>{565,160}</string>
            </dict>
            <key>caocaolh7_0171.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,546},{314,234}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{314,234}}</string>
                <key>sourceSize</key>
                <string>{314,234}</string>
            </dict>
            <key>caocaolh7_0173.png</key>
            <dict>
                <key>frame</key>
                <string>{{979,309},{41,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,53}}</string>
                <key>sourceSize</key>
                <string>{41,53}</string>
            </dict>
            <key>caocaolh7_0174.png</key>
            <dict>
                <key>frame</key>
                <string>{{979,364},{41,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,50}}</string>
                <key>sourceSize</key>
                <string>{41,50}</string>
            </dict>
            <key>caocaolh7_0175.png</key>
            <dict>
                <key>frame</key>
                <string>{{861,700},{37,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,88}}</string>
                <key>sourceSize</key>
                <string>{37,88}</string>
            </dict>
            <key>caocaolh7_0176.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,975},{39,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,88}}</string>
                <key>sourceSize</key>
                <string>{39,88}</string>
            </dict>
            <key>caocaolh7_0177.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,150},{81,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,157}}</string>
                <key>sourceSize</key>
                <string>{81,157}</string>
            </dict>
            <key>caocaolh7_0178.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,559},{87,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,142}}</string>
                <key>sourceSize</key>
                <string>{87,142}</string>
            </dict>
            <key>caocaolh7_0179.png</key>
            <dict>
                <key>frame</key>
                <string>{{551,822},{90,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,151}}</string>
                <key>sourceSize</key>
                <string>{90,151}</string>
            </dict>
            <key>caocaolh7_018.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,473},{84,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,118}}</string>
                <key>sourceSize</key>
                <string>{84,118}</string>
            </dict>
            <key>caocaolh7_0180.png</key>
            <dict>
                <key>frame</key>
                <string>{{941,828},{35,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,35}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>caocaolh7_0181.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,853},{43,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,34}}</string>
                <key>sourceSize</key>
                <string>{43,34}</string>
            </dict>
            <key>caocaolh7_0182.png</key>
            <dict>
                <key>frame</key>
                <string>{{987,526},{51,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,33}}</string>
                <key>sourceSize</key>
                <string>{51,33}</string>
            </dict>
            <key>caocaolh7_0183.png</key>
            <dict>
                <key>frame</key>
                <string>{{897,912},{53,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,30}}</string>
                <key>sourceSize</key>
                <string>{53,30}</string>
            </dict>
            <key>caocaolh7_0184.png</key>
            <dict>
                <key>frame</key>
                <string>{{976,579},{44,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,48}}</string>
                <key>sourceSize</key>
                <string>{44,48}</string>
            </dict>
            <key>caocaolh7_0185.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,327},{122,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,144}}</string>
                <key>sourceSize</key>
                <string>{122,144}</string>
            </dict>
            <key>caocaolh7_0186.png</key>
            <dict>
                <key>frame</key>
                <string>{{569,2},{178,343}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,343}}</string>
                <key>sourceSize</key>
                <string>{178,343}</string>
            </dict>
            <key>caocaolh7_0187.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,942},{42,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,47}}</string>
                <key>sourceSize</key>
                <string>{42,47}</string>
            </dict>
            <key>caocaolh7_0188.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,991},{53,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,29}}</string>
                <key>sourceSize</key>
                <string>{53,29}</string>
            </dict>
            <key>caocaolh7_0189.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,944},{53,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,31}}</string>
                <key>sourceSize</key>
                <string>{53,31}</string>
            </dict>
            <key>caocaolh7_019.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,703},{101,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,25}}</string>
                <key>sourceSize</key>
                <string>{101,25}</string>
            </dict>
            <key>caocaolh7_0190.png</key>
            <dict>
                <key>frame</key>
                <string>{{976,629},{44,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,33}}</string>
                <key>sourceSize</key>
                <string>{44,33}</string>
            </dict>
            <key>caocaolh7_0191.png</key>
            <dict>
                <key>frame</key>
                <string>{{945,865},{34,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,32}}</string>
                <key>sourceSize</key>
                <string>{34,32}</string>
            </dict>
            <key>caocaolh7_0192.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,862},{114,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,158}}</string>
                <key>sourceSize</key>
                <string>{114,158}</string>
            </dict>
            <key>caocaolh7_0193.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,182},{168,333}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,333}}</string>
                <key>sourceSize</key>
                <string>{168,333}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>caocaolh4.pvr.ccz</string>
            <key>size</key>
            <string>{1022,1022}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3fbf308a09b01bdce71b1776bec79745:1/1$</string>
            <key>textureFileName</key>
            <string>caocaolh4.pvr.ccz</string>
        </dict>
    </dict>
</plist>
