<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zhugelianglh5_huo_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,150}</string>
                <key>spriteSourceSize</key>
                <string>{165,150}</string>
                <key>textureRect</key>
                <string>{{344,159},{165,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zhugelianglh5_huo_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,150}</string>
                <key>spriteSourceSize</key>
                <string>{165,150}</string>
                <key>textureRect</key>
                <string>{{344,326},{165,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zhugelianglh5_huo_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,150}</string>
                <key>spriteSourceSize</key>
                <string>{165,150}</string>
                <key>textureRect</key>
                <string>{{163,694},{165,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhugelianglh5_huo_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,150}</string>
                <key>spriteSourceSize</key>
                <string>{165,150}</string>
                <key>textureRect</key>
                <string>{{330,840},{165,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zhugelianglh5_huo_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,150}</string>
                <key>spriteSourceSize</key>
                <string>{165,150}</string>
                <key>textureRect</key>
                <string>{{1,813},{165,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zhugelianglh5_huo_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,150}</string>
                <key>spriteSourceSize</key>
                <string>{165,150}</string>
                <key>textureRect</key>
                <string>{{153,846},{165,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhugelianglh5_huo_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{163,150}</string>
                <key>spriteSourceSize</key>
                <string>{165,150}</string>
                <key>textureRect</key>
                <string>{{153,1150},{163,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhugelianglh5_huo_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{161,150}</string>
                <key>spriteSourceSize</key>
                <string>{165,150}</string>
                <key>textureRect</key>
                <string>{{318,1159},{161,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhugelianglh5_huo_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,150}</string>
                <key>spriteSourceSize</key>
                <string>{165,150}</string>
                <key>textureRect</key>
                <string>{{1,980},{165,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zhugelianglh5_huo_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,150}</string>
                <key>spriteSourceSize</key>
                <string>{165,150}</string>
                <key>textureRect</key>
                <string>{{153,998},{165,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhugelianglh5_huo_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,150}</string>
                <key>spriteSourceSize</key>
                <string>{165,150}</string>
                <key>textureRect</key>
                <string>{{1,1147},{165,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zhugelianglh5_huo_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,150}</string>
                <key>spriteSourceSize</key>
                <string>{165,150}</string>
                <key>textureRect</key>
                <string>{{320,1007},{165,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhugelianglh5_lizi_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{101,71}</string>
                <key>spriteSourceSize</key>
                <string>{103,77}</string>
                <key>textureRect</key>
                <string>{{310,1456},{101,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhugelianglh5_lizi_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{103,75}</string>
                <key>spriteSourceSize</key>
                <string>{103,77}</string>
                <key>textureRect</key>
                <string>{{153,1302},{103,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhugelianglh5_lizi_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{103,75}</string>
                <key>spriteSourceSize</key>
                <string>{103,77}</string>
                <key>textureRect</key>
                <string>{{1,1314},{103,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhugelianglh5_lizi_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{103,75}</string>
                <key>spriteSourceSize</key>
                <string>{103,77}</string>
                <key>textureRect</key>
                <string>{{106,1379},{103,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhugelianglh5_lizi_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{99,73}</string>
                <key>spriteSourceSize</key>
                <string>{103,77}</string>
                <key>textureRect</key>
                <string>{{209,1456},{99,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhugelianglh5_lizi_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{99,73}</string>
                <key>spriteSourceSize</key>
                <string>{103,77}</string>
                <key>textureRect</key>
                <string>{{211,1381},{99,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhugelianglh5_lizi_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,2}</string>
                <key>spriteSize</key>
                <string>{93,73}</string>
                <key>spriteSourceSize</key>
                <string>{103,77}</string>
                <key>textureRect</key>
                <string>{{312,1376},{93,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhugelianglh5_lizi_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,2}</string>
                <key>spriteSize</key>
                <string>{93,73}</string>
                <key>spriteSourceSize</key>
                <string>{103,77}</string>
                <key>textureRect</key>
                <string>{{413,1365},{93,73}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zhugelianglh5_lizi_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,2}</string>
                <key>spriteSize</key>
                <string>{101,73}</string>
                <key>spriteSourceSize</key>
                <string>{103,77}</string>
                <key>textureRect</key>
                <string>{{106,1456},{101,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhugelianglh5_lizi_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{103,75}</string>
                <key>spriteSourceSize</key>
                <string>{103,77}</string>
                <key>textureRect</key>
                <string>{{1,1391},{103,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhugelianglh5_lizi_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,77}</string>
                <key>spriteSourceSize</key>
                <string>{103,77}</string>
                <key>textureRect</key>
                <string>{{373,1},{103,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhugelianglh5_lizi_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,77}</string>
                <key>spriteSourceSize</key>
                <string>{103,77}</string>
                <key>textureRect</key>
                <string>{{373,80},{103,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhugelianglh5_xing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,180}</string>
                <key>spriteSourceSize</key>
                <string>{186,180}</string>
                <key>textureRect</key>
                <string>{{1,1},{186,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhugelianglh5_xing1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,52}</string>
                <key>spriteSourceSize</key>
                <string>{51,52}</string>
                <key>textureRect</key>
                <string>{{386,1311},{51,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhugelianglh5_xingchen_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,77}</string>
                <key>spriteSourceSize</key>
                <string>{49,77}</string>
                <key>textureRect</key>
                <string>{{258,1302},{49,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhugelianglh5_xingchen_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,61}</string>
                <key>spriteSourceSize</key>
                <string>{63,61}</string>
                <key>textureRect</key>
                <string>{{1,1468},{63,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhugelianglh5_xingchen_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,75}</string>
                <key>spriteSourceSize</key>
                <string>{63,75}</string>
                <key>textureRect</key>
                <string>{{309,1311},{63,75}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zhugelianglh5_yan_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{184,153}</string>
                <key>spriteSourceSize</key>
                <string>{184,159}</string>
                <key>textureRect</key>
                <string>{{189,158},{184,153}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zhugelianglh5_yan_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{184,151}</string>
                <key>spriteSourceSize</key>
                <string>{184,159}</string>
                <key>textureRect</key>
                <string>{{181,344},{184,151}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zhugelianglh5_yan_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{184,153}</string>
                <key>spriteSourceSize</key>
                <string>{184,159}</string>
                <key>textureRect</key>
                <string>{{1,183},{184,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhugelianglh5_yan_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-2}</string>
                <key>spriteSize</key>
                <string>{182,155}</string>
                <key>spriteSourceSize</key>
                <string>{184,159}</string>
                <key>textureRect</key>
                <string>{{189,1},{182,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhugelianglh5_yan_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-1}</string>
                <key>spriteSize</key>
                <string>{178,157}</string>
                <key>spriteSourceSize</key>
                <string>{184,159}</string>
                <key>textureRect</key>
                <string>{{1,338},{178,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhugelianglh5_yan_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,0}</string>
                <key>spriteSize</key>
                <string>{162,159}</string>
                <key>spriteSourceSize</key>
                <string>{184,159}</string>
                <key>textureRect</key>
                <string>{{171,530},{162,159}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zhugelianglh5_yan_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,0}</string>
                <key>spriteSize</key>
                <string>{162,159}</string>
                <key>spriteSourceSize</key>
                <string>{184,159}</string>
                <key>textureRect</key>
                <string>{{332,679},{162,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhugelianglh5_yan_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-1}</string>
                <key>spriteSize</key>
                <string>{160,157}</string>
                <key>spriteSourceSize</key>
                <string>{184,159}</string>
                <key>textureRect</key>
                <string>{{1,654},{160,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhugelianglh5_yan_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-2}</string>
                <key>spriteSize</key>
                <string>{168,155}</string>
                <key>spriteSourceSize</key>
                <string>{184,159}</string>
                <key>textureRect</key>
                <string>{{1,497},{168,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhugelianglh5_yan_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{184,151}</string>
                <key>spriteSourceSize</key>
                <string>{184,159}</string>
                <key>textureRect</key>
                <string>{{334,493},{184,151}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>zhugelianglh5.png</string>
            <key>size</key>
            <string>{495,1530}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:495f048cbcc4f5dc6e890c0d5f3415d1:70509dcae4a475d7d5e50ddef6883f23:3012946680b85f51cd2354ae952ff2ab$</string>
            <key>textureFileName</key>
            <string>zhugelianglh5.png</string>
        </dict>
    </dict>
</plist>
