<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zhaoyun_sznhlh_010_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,708},{319,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{319,137}}</string>
                <key>sourceSize</key>
                <string>{319,137}</string>
            </dict>
            <key>zhaoyun_sznhlh_010_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,285},{122,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,63}}</string>
                <key>sourceSize</key>
                <string>{122,63}</string>
            </dict>
            <key>zhaoyun_sznhlh_010_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,162},{121,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,113}}</string>
                <key>sourceSize</key>
                <string>{121,113}</string>
            </dict>
            <key>zhaoyun_sznhlh_0110.png</key>
            <dict>
                <key>frame</key>
                <string>{{999,150},{8,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,19}}</string>
                <key>sourceSize</key>
                <string>{8,19}</string>
            </dict>
            <key>zhaoyun_sznhlh_0111.png</key>
            <dict>
                <key>frame</key>
                <string>{{1010,358},{8,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,16}}</string>
                <key>sourceSize</key>
                <string>{8,16}</string>
            </dict>
            <key>zhaoyun_sznhlh_0112.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,984},{18,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,11}}</string>
                <key>sourceSize</key>
                <string>{18,11}</string>
            </dict>
            <key>zhaoyun_sznhlh_0113.png</key>
            <dict>
                <key>frame</key>
                <string>{{974,551},{44,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,60}}</string>
                <key>sourceSize</key>
                <string>{44,60}</string>
            </dict>
            <key>zhaoyun_sznhlh_0113_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{505,972},{12,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,35}}</string>
                <key>sourceSize</key>
                <string>{12,35}</string>
            </dict>
            <key>zhaoyun_sznhlh_0114.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,902},{24,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,34}}</string>
                <key>sourceSize</key>
                <string>{24,34}</string>
            </dict>
            <key>zhaoyun_sznhlh_0115.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,455},{46,17}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,17}}</string>
                <key>sourceSize</key>
                <string>{46,19}</string>
            </dict>
            <key>zhaoyun_sznhlh_0116.png</key>
            <dict>
                <key>frame</key>
                <string>{{833,897},{30,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,38}}</string>
                <key>sourceSize</key>
                <string>{30,38}</string>
            </dict>
            <key>zhaoyun_sznhlh_0117.png</key>
            <dict>
                <key>frame</key>
                <string>{{851,1008},{25,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,10}}</string>
                <key>sourceSize</key>
                <string>{25,10}</string>
            </dict>
            <key>zhaoyun_sznhlh_0118.png</key>
            <dict>
                <key>frame</key>
                <string>{{505,671},{28,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,11}}</string>
                <key>sourceSize</key>
                <string>{28,11}</string>
            </dict>
            <key>zhaoyun_sznhlh_0119.png</key>
            <dict>
                <key>frame</key>
                <string>{{988,948},{27,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,12}}</string>
                <key>sourceSize</key>
                <string>{27,12}</string>
            </dict>
            <key>zhaoyun_sznhlh_011_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,2},{167,364}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{167,364}}</string>
                <key>sourceSize</key>
                <string>{173,366}</string>
            </dict>
            <key>zhaoyun_sznhlh_011_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,972},{92,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,43}}</string>
                <key>sourceSize</key>
                <string>{92,43}</string>
            </dict>
            <key>zhaoyun_sznhlh_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{523,627},{262,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{262,119}}</string>
                <key>sourceSize</key>
                <string>{270,127}</string>
            </dict>
            <key>zhaoyun_sznhlh_0120.png</key>
            <dict>
                <key>frame</key>
                <string>{{1010,336},{8,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,20}}</string>
                <key>sourceSize</key>
                <string>{8,20}</string>
            </dict>
            <key>zhaoyun_sznhlh_0121.png</key>
            <dict>
                <key>frame</key>
                <string>{{505,627},{16,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,29}}</string>
                <key>sourceSize</key>
                <string>{16,29}</string>
            </dict>
            <key>zhaoyun_sznhlh_0122.png</key>
            <dict>
                <key>frame</key>
                <string>{{919,839},{27,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,63}}</string>
                <key>sourceSize</key>
                <string>{27,63}</string>
            </dict>
            <key>zhaoyun_sznhlh_0123.png</key>
            <dict>
                <key>frame</key>
                <string>{{1004,285},{32,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,14}}</string>
                <key>sourceSize</key>
                <string>{32,14}</string>
            </dict>
            <key>zhaoyun_sznhlh_0124.png</key>
            <dict>
                <key>frame</key>
                <string>{{992,821},{52,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,26}}</string>
                <key>sourceSize</key>
                <string>{52,26}</string>
            </dict>
            <key>zhaoyun_sznhlh_0125.png</key>
            <dict>
                <key>frame</key>
                <string>{{988,962},{23,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,12}}</string>
                <key>sourceSize</key>
                <string>{23,12}</string>
            </dict>
            <key>zhaoyun_sznhlh_0126.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,289},{8,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,2}}</string>
                <key>sourceSize</key>
                <string>{8,2}</string>
            </dict>
            <key>zhaoyun_sznhlh_0127.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,967},{3,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{3,11}}</string>
                <key>sourceSize</key>
                <string>{3,11}</string>
            </dict>
            <key>zhaoyun_sznhlh_0128.png</key>
            <dict>
                <key>frame</key>
                <string>{{505,701},{8,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,5}}</string>
                <key>sourceSize</key>
                <string>{8,5}</string>
            </dict>
            <key>zhaoyun_sznhlh_0129.png</key>
            <dict>
                <key>frame</key>
                <string>{{1010,376},{11,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,8}}</string>
                <key>sourceSize</key>
                <string>{11,8}</string>
            </dict>
            <key>zhaoyun_sznhlh_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{865,903},{36,48}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{36,48}}</string>
                <key>sourceSize</key>
                <string>{42,54}</string>
            </dict>
            <key>zhaoyun_sznhlh_0130.png</key>
            <dict>
                <key>frame</key>
                <string>{{915,904},{38,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,34}}</string>
                <key>sourceSize</key>
                <string>{38,34}</string>
            </dict>
            <key>zhaoyun_sznhlh_0131.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,952},{17,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,30}}</string>
                <key>sourceSize</key>
                <string>{17,30}</string>
            </dict>
            <key>zhaoyun_sznhlh_0132.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,493},{22,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,19}}</string>
                <key>sourceSize</key>
                <string>{22,19}</string>
            </dict>
            <key>zhaoyun_sznhlh_0133.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,503},{17,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,35}}</string>
                <key>sourceSize</key>
                <string>{17,35}</string>
            </dict>
            <key>zhaoyun_sznhlh_0134.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,981},{56,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,25}}</string>
                <key>sourceSize</key>
                <string>{56,25}</string>
            </dict>
            <key>zhaoyun_sznhlh_0135.png</key>
            <dict>
                <key>frame</key>
                <string>{{951,930},{33,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,20}}</string>
                <key>sourceSize</key>
                <string>{33,20}</string>
            </dict>
            <key>zhaoyun_sznhlh_0136.png</key>
            <dict>
                <key>frame</key>
                <string>{{811,937},{58,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,39}}</string>
                <key>sourceSize</key>
                <string>{58,39}</string>
            </dict>
            <key>zhaoyun_sznhlh_0137.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,746},{91,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,27}}</string>
                <key>sourceSize</key>
                <string>{91,27}</string>
            </dict>
            <key>zhaoyun_sznhlh_0138.png</key>
            <dict>
                <key>frame</key>
                <string>{{929,670},{40,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,74}}</string>
                <key>sourceSize</key>
                <string>{40,74}</string>
            </dict>
            <key>zhaoyun_sznhlh_0139.png</key>
            <dict>
                <key>frame</key>
                <string>{{877,556},{29,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,90}}</string>
                <key>sourceSize</key>
                <string>{29,90}</string>
            </dict>
            <key>zhaoyun_sznhlh_0140.png</key>
            <dict>
                <key>frame</key>
                <string>{{811,997},{18,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{18,38}}</string>
                <key>sourceSize</key>
                <string>{20,38}</string>
            </dict>
            <key>zhaoyun_sznhlh_0141.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,618},{7,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,10}}</string>
                <key>sourceSize</key>
                <string>{7,10}</string>
            </dict>
            <key>zhaoyun_sznhlh_0142.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,471},{20,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,22}}</string>
                <key>sourceSize</key>
                <string>{20,22}</string>
            </dict>
            <key>zhaoyun_sznhlh_0143.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,514},{17,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,22}}</string>
                <key>sourceSize</key>
                <string>{17,22}</string>
            </dict>
            <key>zhaoyun_sznhlh_0144.png</key>
            <dict>
                <key>frame</key>
                <string>{{974,739},{80,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{80,38}}</string>
                <key>sourceSize</key>
                <string>{80,44}</string>
            </dict>
            <key>zhaoyun_sznhlh_0145.png</key>
            <dict>
                <key>frame</key>
                <string>{{969,952},{17,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,26}}</string>
                <key>sourceSize</key>
                <string>{17,26}</string>
            </dict>
            <key>zhaoyun_sznhlh_0146.png</key>
            <dict>
                <key>frame</key>
                <string>{{995,162},{59,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,23}}</string>
                <key>sourceSize</key>
                <string>{59,23}</string>
            </dict>
            <key>zhaoyun_sznhlh_0147.png</key>
            <dict>
                <key>frame</key>
                <string>{{999,112},{19,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,36}}</string>
                <key>sourceSize</key>
                <string>{19,36}</string>
            </dict>
            <key>zhaoyun_sznhlh_0148.png</key>
            <dict>
                <key>frame</key>
                <string>{{901,670},{26,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,65}}</string>
                <key>sourceSize</key>
                <string>{26,65}</string>
            </dict>
            <key>zhaoyun_sznhlh_0149.png</key>
            <dict>
                <key>frame</key>
                <string>{{995,266},{17,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,23}}</string>
                <key>sourceSize</key>
                <string>{17,23}</string>
            </dict>
            <key>zhaoyun_sznhlh_014_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{851,2},{163,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,108}}</string>
                <key>sourceSize</key>
                <string>{163,108}</string>
            </dict>
            <key>zhaoyun_sznhlh_014_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{867,737},{104,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{104,49}}</string>
                <key>sourceSize</key>
                <string>{104,51}</string>
            </dict>
            <key>zhaoyun_sznhlh_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,943},{137,66}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{137,66}}</string>
                <key>sourceSize</key>
                <string>{143,70}</string>
            </dict>
            <key>zhaoyun_sznhlh_0150.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,941},{56,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,38}}</string>
                <key>sourceSize</key>
                <string>{56,38}</string>
            </dict>
            <key>zhaoyun_sznhlh_0151.png</key>
            <dict>
                <key>frame</key>
                <string>{{992,875},{26,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,25}}</string>
                <key>sourceSize</key>
                <string>{26,25}</string>
            </dict>
            <key>zhaoyun_sznhlh_0152.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,918},{41,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,17}}</string>
                <key>sourceSize</key>
                <string>{41,17}</string>
            </dict>
            <key>zhaoyun_sznhlh_0153.png</key>
            <dict>
                <key>frame</key>
                <string>{{1004,319},{14,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,15}}</string>
                <key>sourceSize</key>
                <string>{14,15}</string>
            </dict>
            <key>zhaoyun_sznhlh_0154.png</key>
            <dict>
                <key>frame</key>
                <string>{{505,658},{11,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,16}}</string>
                <key>sourceSize</key>
                <string>{11,16}</string>
            </dict>
            <key>zhaoyun_sznhlh_0155.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,748},{168,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{168,57}}</string>
                <key>sourceSize</key>
                <string>{168,59}</string>
            </dict>
            <key>zhaoyun_sznhlh_0156.png</key>
            <dict>
                <key>frame</key>
                <string>{{947,746},{25,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,85}}</string>
                <key>sourceSize</key>
                <string>{25,85}</string>
            </dict>
            <key>zhaoyun_sznhlh_0157.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,967},{51,158}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{51,158}}</string>
                <key>sourceSize</key>
                <string>{51,160}</string>
            </dict>
            <key>zhaoyun_sznhlh_0158.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,748},{193,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,86}}</string>
                <key>sourceSize</key>
                <string>{193,86}</string>
            </dict>
            <key>zhaoyun_sznhlh_0159.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,972},{247,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,38}}</string>
                <key>sourceSize</key>
                <string>{247,38}</string>
            </dict>
            <key>zhaoyun_sznhlh_016.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,833},{62,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{62,42}}</string>
                <key>sourceSize</key>
                <string>{68,46}</string>
            </dict>
            <key>zhaoyun_sznhlh_0160.png</key>
            <dict>
                <key>frame</key>
                <string>{{995,223},{23,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,41}}</string>
                <key>sourceSize</key>
                <string>{23,41}</string>
            </dict>
            <key>zhaoyun_sznhlh_0161.png</key>
            <dict>
                <key>frame</key>
                <string>{{877,350},{82,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,105}}</string>
                <key>sourceSize</key>
                <string>{82,105}</string>
            </dict>
            <key>zhaoyun_sznhlh_0162.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,457},{52,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,92}}</string>
                <key>sourceSize</key>
                <string>{52,92}</string>
            </dict>
            <key>zhaoyun_sznhlh_0163.png</key>
            <dict>
                <key>frame</key>
                <string>{{833,748},{32,147}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{32,147}}</string>
                <key>sourceSize</key>
                <string>{42,147}</string>
            </dict>
            <key>zhaoyun_sznhlh_0164.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,171},{137,393}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,393}}</string>
                <key>sourceSize</key>
                <string>{139,395}</string>
            </dict>
            <key>zhaoyun_sznhlh_0165.png</key>
            <dict>
                <key>frame</key>
                <string>{{787,627},{119,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,50}}</string>
                <key>sourceSize</key>
                <string>{119,50}</string>
            </dict>
            <key>zhaoyun_sznhlh_0166.png</key>
            <dict>
                <key>frame</key>
                <string>{{851,112},{48,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,146}}</string>
                <key>sourceSize</key>
                <string>{48,146}</string>
            </dict>
            <key>zhaoyun_sznhlh_0167.png</key>
            <dict>
                <key>frame</key>
                <string>{{523,748},{161,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,185}}</string>
                <key>sourceSize</key>
                <string>{161,185}</string>
            </dict>
            <key>zhaoyun_sznhlh_0168.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,587},{29,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,13}}</string>
                <key>sourceSize</key>
                <string>{29,13}</string>
            </dict>
            <key>zhaoyun_sznhlh_0169.png</key>
            <dict>
                <key>frame</key>
                <string>{{869,589},{36,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,15}}</string>
                <key>sourceSize</key>
                <string>{36,15}</string>
            </dict>
            <key>zhaoyun_sznhlh_017.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,541},{165,301}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{165,301}}</string>
                <key>sourceSize</key>
                <string>{171,307}</string>
            </dict>
            <key>zhaoyun_sznhlh_0170.png</key>
            <dict>
                <key>frame</key>
                <string>{{961,350},{47,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,105}}</string>
                <key>sourceSize</key>
                <string>{47,105}</string>
            </dict>
            <key>zhaoyun_sznhlh_0171.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,928},{18,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,32}}</string>
                <key>sourceSize</key>
                <string>{18,32}</string>
            </dict>
            <key>zhaoyun_sznhlh_0172.png</key>
            <dict>
                <key>frame</key>
                <string>{{951,897},{31,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,31}}</string>
                <key>sourceSize</key>
                <string>{31,31}</string>
            </dict>
            <key>zhaoyun_sznhlh_0173.png</key>
            <dict>
                <key>frame</key>
                <string>{{901,587},{64,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,81}}</string>
                <key>sourceSize</key>
                <string>{64,81}</string>
            </dict>
            <key>zhaoyun_sznhlh_0174.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,847},{123,319}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,1},{123,319}}</string>
                <key>sourceSize</key>
                <string>{129,323}</string>
            </dict>
            <key>zhaoyun_sznhlh_0175.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,310},{312,159}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{312,159}}</string>
                <key>sourceSize</key>
                <string>{316,167}</string>
            </dict>
            <key>zhaoyun_sznhlh_0176.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,289},{250,258}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,4},{250,258}}</string>
                <key>sourceSize</key>
                <string>{260,266}</string>
            </dict>
            <key>zhaoyun_sznhlh_0177.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{217,451}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{217,451}}</string>
                <key>sourceSize</key>
                <string>{223,457}</string>
            </dict>
            <key>zhaoyun_sznhlh_0178_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,811},{154,198}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{154,198}}</string>
                <key>sourceSize</key>
                <string>{154,200}</string>
            </dict>
            <key>zhaoyun_sznhlh_0179_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{967,613},{45,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,53}}</string>
                <key>sourceSize</key>
                <string>{45,53}</string>
            </dict>
            <key>zhaoyun_sznhlh_0179_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{971,668},{69,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,43}}</string>
                <key>sourceSize</key>
                <string>{69,43}</string>
            </dict>
            <key>zhaoyun_sznhlh_0179_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{867,843},{50,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,58}}</string>
                <key>sourceSize</key>
                <string>{50,58}</string>
            </dict>
            <key>zhaoyun_sznhlh_0179_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,944},{38,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,56}}</string>
                <key>sourceSize</key>
                <string>{38,56}</string>
            </dict>
            <key>zhaoyun_sznhlh_0179_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{795,310},{80,277}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,277}}</string>
                <key>sourceSize</key>
                <string>{80,277}</string>
            </dict>
            <key>zhaoyun_sznhlh_018.png</key>
            <dict>
                <key>frame</key>
                <string>{{851,162},{7,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,16}}</string>
                <key>sourceSize</key>
                <string>{7,16}</string>
            </dict>
            <key>zhaoyun_sznhlh_0180.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,2},{262,285}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{262,285}}</string>
                <key>sourceSize</key>
                <string>{268,285}</string>
            </dict>
            <key>zhaoyun_sznhlh_0181.png</key>
            <dict>
                <key>frame</key>
                <string>{{505,471},{284,154}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,154}}</string>
                <key>sourceSize</key>
                <string>{284,156}</string>
            </dict>
            <key>zhaoyun_sznhlh_0182_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,455},{354,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{354,198}}</string>
                <key>sourceSize</key>
                <string>{354,198}</string>
            </dict>
            <key>zhaoyun_sznhlh_0182_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{791,589},{76,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,36}}</string>
                <key>sourceSize</key>
                <string>{76,36}</string>
            </dict>
            <key>zhaoyun_sznhlh_0183.png</key>
            <dict>
                <key>frame</key>
                <string>{{877,457},{87,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,97}}</string>
                <key>sourceSize</key>
                <string>{87,97}</string>
            </dict>
            <key>zhaoyun_sznhlh_0184.png</key>
            <dict>
                <key>frame</key>
                <string>{{839,627},{108,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,60}}</string>
                <key>sourceSize</key>
                <string>{108,60}</string>
            </dict>
            <key>zhaoyun_sznhlh_0185.png</key>
            <dict>
                <key>frame</key>
                <string>{{523,935},{147,80}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{147,80}}</string>
                <key>sourceSize</key>
                <string>{147,84}</string>
            </dict>
            <key>zhaoyun_sznhlh_019.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,1012},{6,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{6,20}}</string>
                <key>sourceSize</key>
                <string>{6,20}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zhaoyunlh6.pvr.ccz</string>
            <key>size</key>
            <string>{1020,1020}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:99199260b18f1018b7596287021ac9ca:1/1$</string>
            <key>textureFileName</key>
            <string>zhaoyunlh6.pvr.ccz</string>
        </dict>
    </dict>
</plist>
