<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lvbusznhszlh_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,2},{268,188}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{268,188}}</string>
                <key>sourceSize</key>
                <string>{270,190}</string>
            </dict>
            <key>lvbusznhszlh_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{935,449},{84,65}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{84,65}}</string>
                <key>sourceSize</key>
                <string>{90,67}</string>
            </dict>
            <key>lvbusznhszlh_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,420},{279,112}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{279,112}}</string>
                <key>sourceSize</key>
                <string>{285,118}</string>
            </dict>
            <key>lvbusznhszlh_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{915,883},{28,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,33}}</string>
                <key>sourceSize</key>
                <string>{28,33}</string>
            </dict>
            <key>lvbusznhszlh_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{657,972},{38,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,54}}</string>
                <key>sourceSize</key>
                <string>{38,54}</string>
            </dict>
            <key>lvbusznhszlh_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,972},{71,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,44}}</string>
                <key>sourceSize</key>
                <string>{71,44}</string>
            </dict>
            <key>lvbusznhszlh_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{947,825},{31,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,46}}</string>
                <key>sourceSize</key>
                <string>{31,46}</string>
            </dict>
            <key>lvbusznhszlh_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{653,534},{30,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,57}}</string>
                <key>sourceSize</key>
                <string>{30,57}</string>
            </dict>
            <key>lvbusznhszlh_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{980,817},{35,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,36}}</string>
                <key>sourceSize</key>
                <string>{35,36}</string>
            </dict>
            <key>lvbusznhszlh_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,534},{73,220}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{73,220}}</string>
                <key>sourceSize</key>
                <string>{77,224}</string>
            </dict>
            <key>lvbusznhszlh_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{699,198},{224,217}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{224,217}}</string>
                <key>sourceSize</key>
                <string>{228,223}</string>
            </dict>
            <key>lvbusznhszlh_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,741},{252,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{252,209}}</string>
                <key>sourceSize</key>
                <string>{258,215}</string>
            </dict>
            <key>lvbusznhszlh_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,174},{238,241}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{238,241}}</string>
                <key>sourceSize</key>
                <string>{242,243}</string>
            </dict>
            <key>lvbusznhszlh_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,417},{192,207}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{192,207}}</string>
                <key>sourceSize</key>
                <string>{192,209}</string>
            </dict>
            <key>lvbusznhszlh_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{601,682},{114,133}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{114,133}}</string>
                <key>sourceSize</key>
                <string>{118,137}</string>
            </dict>
            <key>lvbusznhszlh_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{903,625},{20,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{20,22}}</string>
                <key>sourceSize</key>
                <string>{22,24}</string>
            </dict>
            <key>lvbusznhszlh_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,736},{174,141}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{174,141}}</string>
                <key>sourceSize</key>
                <string>{176,143}</string>
            </dict>
            <key>lvbusznhszlh_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,174},{223,320}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{223,320}}</string>
                <key>sourceSize</key>
                <string>{227,326}</string>
            </dict>
            <key>lvbusznhszlh_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,682},{173,123}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,123}}</string>
                <key>sourceSize</key>
                <string>{173,125}</string>
            </dict>
            <key>lvbusznhszlh_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{903,649},{119,110}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{119,110}}</string>
                <key>sourceSize</key>
                <string>{121,112}</string>
            </dict>
            <key>lvbusznhszlh_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{991,629},{22,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,18}}</string>
                <key>sourceSize</key>
                <string>{22,18}</string>
            </dict>
            <key>lvbusznhszlh_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,995},{46,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,20}}</string>
                <key>sourceSize</key>
                <string>{46,20}</string>
            </dict>
            <key>lvbusznhszlh_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,913},{45,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,34}}</string>
                <key>sourceSize</key>
                <string>{45,34}</string>
            </dict>
            <key>lvbusznhszlh_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,528},{156,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,76}}</string>
                <key>sourceSize</key>
                <string>{156,76}</string>
            </dict>
            <key>lvbusznhszlh_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{991,535},{9,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,55}}</string>
                <key>sourceSize</key>
                <string>{9,55}</string>
            </dict>
            <key>lvbusznhszlh_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,792},{17,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,17}}</string>
                <key>sourceSize</key>
                <string>{17,17}</string>
            </dict>
            <key>lvbusznhszlh_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{815,965},{51,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,35}}</string>
                <key>sourceSize</key>
                <string>{51,35}</string>
            </dict>
            <key>lvbusznhszlh_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{991,592},{15,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,35}}</string>
                <key>sourceSize</key>
                <string>{15,35}</string>
            </dict>
            <key>lvbusznhszlh_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{1002,449},{14,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,51}}</string>
                <key>sourceSize</key>
                <string>{14,51}</string>
            </dict>
            <key>lvbusznhszlh_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,785},{24,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,31}}</string>
                <key>sourceSize</key>
                <string>{24,31}</string>
            </dict>
            <key>lvbusznhszlh_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,995},{17,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,43}}</string>
                <key>sourceSize</key>
                <string>{17,43}</string>
            </dict>
            <key>lvbusznhszlh_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{973,171},{26,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,25}}</string>
                <key>sourceSize</key>
                <string>{26,25}</string>
            </dict>
            <key>lvbusznhszlh_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,725},{26,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,9}}</string>
                <key>sourceSize</key>
                <string>{26,9}</string>
            </dict>
            <key>lvbusznhszlh_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,1007},{30,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,9}}</string>
                <key>sourceSize</key>
                <string>{30,9}</string>
            </dict>
            <key>lvbusznhszlh_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,2},{194,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,225}}</string>
                <key>sourceSize</key>
                <string>{194,225}</string>
            </dict>
            <key>lvbusznhszlh_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,965},{47,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,55}}</string>
                <key>sourceSize</key>
                <string>{47,55}</string>
            </dict>
            <key>lvbusznhszlh_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{1002,502},{14,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,27}}</string>
                <key>sourceSize</key>
                <string>{14,27}</string>
            </dict>
            <key>lvbusznhszlh_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{1002,531},{24,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,14}}</string>
                <key>sourceSize</key>
                <string>{24,14}</string>
            </dict>
            <key>lvbusznhszlh_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,673},{35,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,19}}</string>
                <key>sourceSize</key>
                <string>{35,19}</string>
            </dict>
            <key>lvbusznhszlh_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{683,609},{32,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,40}}</string>
                <key>sourceSize</key>
                <string>{32,40}</string>
            </dict>
            <key>lvbusznhszlh_45.png</key>
            <dict>
                <key>frame</key>
                <string>{{1001,171},{23,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,15}}</string>
                <key>sourceSize</key>
                <string>{23,15}</string>
            </dict>
            <key>lvbusznhszlh_46.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,878},{20,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,31}}</string>
                <key>sourceSize</key>
                <string>{20,31}</string>
            </dict>
            <key>lvbusznhszlh_47.png</key>
            <dict>
                <key>frame</key>
                <string>{{909,960},{32,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,37}}</string>
                <key>sourceSize</key>
                <string>{32,37}</string>
            </dict>
            <key>lvbusznhszlh_48.png</key>
            <dict>
                <key>frame</key>
                <string>{{713,997},{19,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,33}}</string>
                <key>sourceSize</key>
                <string>{19,33}</string>
            </dict>
            <key>lvbusznhszlh_49.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,873},{26,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,35}}</string>
                <key>sourceSize</key>
                <string>{26,35}</string>
            </dict>
            <key>lvbusznhszlh_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{595,817},{122,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,153}}</string>
                <key>sourceSize</key>
                <string>{122,153}</string>
            </dict>
            <key>lvbusznhszlh_50.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,770},{17,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,20}}</string>
                <key>sourceSize</key>
                <string>{17,20}</string>
            </dict>
            <key>lvbusznhszlh_51.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,174},{15,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,7}}</string>
                <key>sourceSize</key>
                <string>{15,7}</string>
            </dict>
            <key>lvbusznhszlh_52.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,528},{95,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,63}}</string>
                <key>sourceSize</key>
                <string>{95,63}</string>
            </dict>
            <key>lvbusznhszlh_53.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,626},{45,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,24}}</string>
                <key>sourceSize</key>
                <string>{45,24}</string>
            </dict>
            <key>lvbusznhszlh_54.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,935},{34,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,9}}</string>
                <key>sourceSize</key>
                <string>{34,9}</string>
            </dict>
            <key>lvbusznhszlh_55.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,995},{48,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,10}}</string>
                <key>sourceSize</key>
                <string>{48,10}</string>
            </dict>
            <key>lvbusznhszlh_56.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,997},{52,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,18}}</string>
                <key>sourceSize</key>
                <string>{52,18}</string>
            </dict>
            <key>lvbusznhszlh_57.png</key>
            <dict>
                <key>frame</key>
                <string>{{980,854},{36,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,22}}</string>
                <key>sourceSize</key>
                <string>{36,22}</string>
            </dict>
            <key>lvbusznhszlh_58.png</key>
            <dict>
                <key>frame</key>
                <string>{{909,999},{44,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,17}}</string>
                <key>sourceSize</key>
                <string>{44,17}</string>
            </dict>
            <key>lvbusznhszlh_59.png</key>
            <dict>
                <key>frame</key>
                <string>{{973,95},{74,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,33}}</string>
                <key>sourceSize</key>
                <string>{74,33}</string>
            </dict>
            <key>lvbusznhszlh_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,912},{104,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,118}}</string>
                <key>sourceSize</key>
                <string>{104,118}</string>
            </dict>
            <key>lvbusznhszlh_60.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,417},{221,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,109}}</string>
                <key>sourceSize</key>
                <string>{221,109}</string>
            </dict>
            <key>lvbusznhszlh_61.png</key>
            <dict>
                <key>frame</key>
                <string>{{935,535},{112,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,54}}</string>
                <key>sourceSize</key>
                <string>{112,54}</string>
            </dict>
            <key>lvbusznhszlh_62.png</key>
            <dict>
                <key>frame</key>
                <string>{{719,811},{95,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,135}}</string>
                <key>sourceSize</key>
                <string>{95,135}</string>
            </dict>
            <key>lvbusznhszlh_63.png</key>
            <dict>
                <key>frame</key>
                <string>{{853,625},{48,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,110}}</string>
                <key>sourceSize</key>
                <string>{48,110}</string>
            </dict>
            <key>lvbusznhszlh_64.png</key>
            <dict>
                <key>frame</key>
                <string>{{683,651},{26,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,32}}</string>
                <key>sourceSize</key>
                <string>{26,32}</string>
            </dict>
            <key>lvbusznhszlh_65.png</key>
            <dict>
                <key>frame</key>
                <string>{{915,825},{56,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,30}}</string>
                <key>sourceSize</key>
                <string>{56,30}</string>
            </dict>
            <key>lvbusznhszlh_66.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,737},{70,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,46}}</string>
                <key>sourceSize</key>
                <string>{70,46}</string>
            </dict>
            <key>lvbusznhszlh_67.png</key>
            <dict>
                <key>frame</key>
                <string>{{925,198},{91,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,170}}</string>
                <key>sourceSize</key>
                <string>{91,170}</string>
            </dict>
            <key>lvbusznhszlh_68.png</key>
            <dict>
                <key>frame</key>
                <string>{{719,948},{94,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,47}}</string>
                <key>sourceSize</key>
                <string>{94,47}</string>
            </dict>
            <key>lvbusznhszlh_69.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,807},{167,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,126}}</string>
                <key>sourceSize</key>
                <string>{167,126}</string>
            </dict>
            <key>lvbusznhszlh_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,192},{226,230}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{226,230}}</string>
                <key>sourceSize</key>
                <string>{238,240}</string>
            </dict>
            <key>lvbusznhszlh_70.png</key>
            <dict>
                <key>frame</key>
                <string>{{617,609},{71,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,64}}</string>
                <key>sourceSize</key>
                <string>{71,64}</string>
            </dict>
            <key>lvbusznhszlh_71.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,913},{90,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,50}}</string>
                <key>sourceSize</key>
                <string>{90,50}</string>
            </dict>
            <key>lvbusznhszlh_72.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,995},{65,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,12}}</string>
                <key>sourceSize</key>
                <string>{65,12}</string>
            </dict>
            <key>lvbusznhszlh_73.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,935},{179,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,79}}</string>
                <key>sourceSize</key>
                <string>{179,79}</string>
            </dict>
            <key>lvbusznhszlh_74.png</key>
            <dict>
                <key>frame</key>
                <string>{{973,2},{91,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,37}}</string>
                <key>sourceSize</key>
                <string>{91,37}</string>
            </dict>
            <key>lvbusznhszlh_75.png</key>
            <dict>
                <key>frame</key>
                <string>{{857,785},{22,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,33}}</string>
                <key>sourceSize</key>
                <string>{22,33}</string>
            </dict>
            <key>lvbusznhszlh_76.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,609},{184,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,71}}</string>
                <key>sourceSize</key>
                <string>{184,71}</string>
            </dict>
            <key>lvbusznhszlh_77.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,741},{275,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{275,68}}</string>
                <key>sourceSize</key>
                <string>{275,68}</string>
            </dict>
            <key>lvbusznhszlh_78.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{472,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{472,170}}</string>
                <key>sourceSize</key>
                <string>{472,170}</string>
            </dict>
            <key>lvbusznhszlh_79.png</key>
            <dict>
                <key>frame</key>
                <string>{{717,606},{134,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,117}}</string>
                <key>sourceSize</key>
                <string>{134,117}</string>
            </dict>
            <key>lvbusznhszlh_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,496},{243,233}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,233}}</string>
                <key>sourceSize</key>
                <string>{243,233}</string>
            </dict>
            <key>lvbusznhszlh_80.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,811},{100,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,97}}</string>
                <key>sourceSize</key>
                <string>{100,97}</string>
            </dict>
            <key>lvbusznhszlh_81.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,626},{166,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,108}}</string>
                <key>sourceSize</key>
                <string>{166,108}</string>
            </dict>
            <key>lvbusznhszlh_82.png</key>
            <dict>
                <key>frame</key>
                <string>{{935,370},{81,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,77}}</string>
                <key>sourceSize</key>
                <string>{81,77}</string>
            </dict>
            <key>lvbusznhszlh_83.png</key>
            <dict>
                <key>frame</key>
                <string>{{915,770},{55,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,53}}</string>
                <key>sourceSize</key>
                <string>{55,53}</string>
            </dict>
            <key>lvbusznhszlh_84.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,770},{45,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,38}}</string>
                <key>sourceSize</key>
                <string>{45,38}</string>
            </dict>
            <key>lvbusznhszlh_85.png</key>
            <dict>
                <key>frame</key>
                <string>{{653,566},{54,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,41}}</string>
                <key>sourceSize</key>
                <string>{54,41}</string>
            </dict>
            <key>lvbusznhszlh_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{717,725},{84,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,105}}</string>
                <key>sourceSize</key>
                <string>{84,105}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>lvbulh5.pvr.ccz</string>
            <key>size</key>
            <string>{1018,1018}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1152010f5b4e3bc6cd7b29f054c9ea22:1/1$</string>
            <key>textureFileName</key>
            <string>lvbulh5.pvr.ccz</string>
        </dict>
    </dict>
</plist>
