<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>simayilh7_huo_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,373},{122,159}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{122,159}}</string>
                <key>sourceSize</key>
                <string>{128,161}</string>
            </dict>
            <key>simayilh7_huo_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,707},{114,153}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,8},{114,153}}</string>
                <key>sourceSize</key>
                <string>{128,161}</string>
            </dict>
            <key>simayilh7_huo_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,621},{116,155}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,4},{116,155}}</string>
                <key>sourceSize</key>
                <string>{128,161}</string>
            </dict>
            <key>simayilh7_huo_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,289},{122,159}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,1},{122,159}}</string>
                <key>sourceSize</key>
                <string>{128,161}</string>
            </dict>
            <key>simayilh7_huo_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,541},{124,155}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,4},{124,155}}</string>
                <key>sourceSize</key>
                <string>{128,161}</string>
            </dict>
            <key>simayilh7_huo_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,413},{126,157}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{126,157}}</string>
                <key>sourceSize</key>
                <string>{128,161}</string>
            </dict>
            <key>simayilh7_huo_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,105},{126,161}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,161}}</string>
                <key>sourceSize</key>
                <string>{128,161}</string>
            </dict>
            <key>simayilh7_huo_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,331},{126,157}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{126,157}}</string>
                <key>sourceSize</key>
                <string>{128,161}</string>
            </dict>
            <key>simayilh7_huo_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,247},{124,159}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{124,159}}</string>
                <key>sourceSize</key>
                <string>{128,161}</string>
            </dict>
            <key>simayilh7_huo_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,459},{122,157}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{122,157}}</string>
                <key>sourceSize</key>
                <string>{128,161}</string>
            </dict>
            <key>simayilh7_huo_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,497},{122,157}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,3},{122,157}}</string>
                <key>sourceSize</key>
                <string>{128,161}</string>
            </dict>
            <key>simayilh7_huo_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,739},{120,151}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,8},{120,151}}</string>
                <key>sourceSize</key>
                <string>{128,161}</string>
            </dict>
            <key>simayilh7_wenli1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,240},{47,166}}</string>
                <key>offset</key>
                <string>{-6,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,6},{47,166}}</string>
                <key>sourceSize</key>
                <string>{61,172}</string>
            </dict>
            <key>simayilh7_wenli1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,2},{61,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,172}}</string>
                <key>sourceSize</key>
                <string>{61,172}</string>
            </dict>
            <key>simayilh7_wenli1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,126},{49,172}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{49,172}}</string>
                <key>sourceSize</key>
                <string>{61,172}</string>
            </dict>
            <key>simayilh7_wenli1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,65},{59,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{59,172}}</string>
                <key>sourceSize</key>
                <string>{61,172}</string>
            </dict>
            <key>simayilh7_wenli1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,184},{61,170}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{61,170}}</string>
                <key>sourceSize</key>
                <string>{61,172}</string>
            </dict>
            <key>simayilh7_wenli1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,177},{61,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{61,170}}</string>
                <key>sourceSize</key>
                <string>{61,172}</string>
            </dict>
            <key>simayilh7_wenli1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,268},{61,162}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{61,162}}</string>
                <key>sourceSize</key>
                <string>{61,172}</string>
            </dict>
            <key>simayilh7_wenli1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,42},{61,140}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{61,140}}</string>
                <key>sourceSize</key>
                <string>{61,172}</string>
            </dict>
            <key>simayilh7_wenli2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,331},{26,149}}</string>
                <key>offset</key>
                <string>{-6,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{26,149}}</string>
                <key>sourceSize</key>
                <string>{38,155}</string>
            </dict>
            <key>simayilh7_wenli2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,703},{38,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,155}}</string>
                <key>sourceSize</key>
                <string>{38,155}</string>
            </dict>
            <key>simayilh7_wenli2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,667},{38,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,155}}</string>
                <key>sourceSize</key>
                <string>{38,155}</string>
            </dict>
            <key>simayilh7_wenli2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,663},{38,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,155}}</string>
                <key>sourceSize</key>
                <string>{38,155}</string>
            </dict>
            <key>simayilh7_wenli2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,623},{38,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,155}}</string>
                <key>sourceSize</key>
                <string>{38,155}</string>
            </dict>
            <key>simayilh7_wenli2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,583},{38,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,155}}</string>
                <key>sourceSize</key>
                <string>{38,155}</string>
            </dict>
            <key>simayilh7_wenli2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,2},{38,143}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,143}}</string>
                <key>sourceSize</key>
                <string>{38,155}</string>
            </dict>
            <key>simayilh7_wenli2_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,861},{38,119}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{38,119}}</string>
                <key>sourceSize</key>
                <string>{38,155}</string>
            </dict>
            <key>simayilh7_xing.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{186,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,180}}</string>
                <key>sourceSize</key>
                <string>{186,180}</string>
            </dict>
            <key>simayilh7_xing1.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,861},{70,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,71}}</string>
                <key>sourceSize</key>
                <string>{70,71}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>simayilh7.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6442776198787f640c61cc9dae88499b:1/1$</string>
            <key>textureFileName</key>
            <string>simayilh7.png</string>
        </dict>
    </dict>
</plist>
