<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dianweilh8_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,964},{42,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,49}}</string>
                <key>sourceSize</key>
                <string>{42,49}</string>
            </dict>
            <key>dianweilh8_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{883,539},{117,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,77}}</string>
                <key>sourceSize</key>
                <string>{117,77}</string>
            </dict>
            <key>dianweilh8_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,917},{65,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,61}}</string>
                <key>sourceSize</key>
                <string>{65,61}</string>
            </dict>
            <key>dianweilh8_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{751,542},{130,137}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{130,137}}</string>
                <key>sourceSize</key>
                <string>{130,151}</string>
            </dict>
            <key>dianweilh8_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{988,768},{32,67}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{32,67}}</string>
                <key>sourceSize</key>
                <string>{34,67}</string>
            </dict>
            <key>dianweilh8_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,964},{34,74}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,74}}</string>
                <key>sourceSize</key>
                <string>{34,76}</string>
            </dict>
            <key>dianweilh8_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{765,805},{28,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,20}}</string>
                <key>sourceSize</key>
                <string>{28,20}</string>
            </dict>
            <key>dianweilh8_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,210},{69,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,83}}</string>
                <key>sourceSize</key>
                <string>{69,83}</string>
            </dict>
            <key>dianweilh8_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,421},{30,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,41}}</string>
                <key>sourceSize</key>
                <string>{30,41}</string>
            </dict>
            <key>dianweilh8_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,984},{45,35}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,35}}</string>
                <key>sourceSize</key>
                <string>{45,37}</string>
            </dict>
            <key>dianweilh8_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{787,805},{109,120}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{109,120}}</string>
                <key>sourceSize</key>
                <string>{113,120}</string>
            </dict>
            <key>dianweilh8_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,455},{53,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,66}}</string>
                <key>sourceSize</key>
                <string>{53,66}</string>
            </dict>
            <key>dianweilh8_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,466},{48,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,33}}</string>
                <key>sourceSize</key>
                <string>{48,33}</string>
            </dict>
            <key>dianweilh8_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,587},{55,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{55,54}}</string>
                <key>sourceSize</key>
                <string>{67,66}</string>
            </dict>
            <key>dianweilh8_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,160},{132,151}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{132,151}}</string>
                <key>sourceSize</key>
                <string>{136,153}</string>
            </dict>
            <key>dianweilh8_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{787,927},{104,88}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{104,88}}</string>
                <key>sourceSize</key>
                <string>{106,88}</string>
            </dict>
            <key>dianweilh8_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,964},{72,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,41}}</string>
                <key>sourceSize</key>
                <string>{72,41}</string>
            </dict>
            <key>dianweilh8_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,359},{50,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,60}}</string>
                <key>sourceSize</key>
                <string>{50,60}</string>
            </dict>
            <key>dianweilh8_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,850},{70,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,65}}</string>
                <key>sourceSize</key>
                <string>{70,65}</string>
            </dict>
            <key>dianweilh8_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,984},{58,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,29}}</string>
                <key>sourceSize</key>
                <string>{58,29}</string>
            </dict>
            <key>dianweilh8_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,964},{84,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,44}}</string>
                <key>sourceSize</key>
                <string>{84,44}</string>
            </dict>
            <key>dianweilh8_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{705,863},{157,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,80}}</string>
                <key>sourceSize</key>
                <string>{157,80}</string>
            </dict>
            <key>dianweilh8_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{765,681},{120,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,122}}</string>
                <key>sourceSize</key>
                <string>{120,122}</string>
            </dict>
            <key>dianweilh8_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{887,658},{108,107}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,107}}</string>
                <key>sourceSize</key>
                <string>{108,113}</string>
            </dict>
            <key>dianweilh8_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,1010},{18,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,10}}</string>
                <key>sourceSize</key>
                <string>{18,10}</string>
            </dict>
            <key>dianweilh8_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{765,835},{20,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,25}}</string>
                <key>sourceSize</key>
                <string>{20,25}</string>
            </dict>
            <key>dianweilh8_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{733,156},{163,75}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{163,75}}</string>
                <key>sourceSize</key>
                <string>{163,83}</string>
            </dict>
            <key>dianweilh8_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,466},{262,416}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{262,416}}</string>
                <key>sourceSize</key>
                <string>{266,420}</string>
            </dict>
            <key>dianweilh8_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,455},{82,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,124}}</string>
                <key>sourceSize</key>
                <string>{82,124}</string>
            </dict>
            <key>dianweilh8_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{583,542},{166,212}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{166,212}}</string>
                <key>sourceSize</key>
                <string>{166,228}</string>
            </dict>
            <key>dianweilh8_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{821,2},{156,171}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{156,171}}</string>
                <key>sourceSize</key>
                <string>{156,173}</string>
            </dict>
            <key>dianweilh8_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,156},{392,218}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{392,218}}</string>
                <key>sourceSize</key>
                <string>{392,226}</string>
            </dict>
            <key>dianweilh8_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,313},{138,140}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,4},{138,140}}</string>
                <key>sourceSize</key>
                <string>{150,154}</string>
            </dict>
            <key>dianweilh8_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{735,321},{93,146}}</string>
                <key>offset</key>
                <string>{4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{93,146}}</string>
                <key>sourceSize</key>
                <string>{101,154}</string>
            </dict>
            <key>dianweilh8_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,768},{88,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,80}}</string>
                <key>sourceSize</key>
                <string>{88,80}</string>
            </dict>
            <key>dianweilh8_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,727},{235,253}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{235,253}}</string>
                <key>sourceSize</key>
                <string>{239,257}</string>
            </dict>
            <key>dianweilh8_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{521,727},{55,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,22}}</string>
                <key>sourceSize</key>
                <string>{55,22}</string>
            </dict>
            <key>dianweilh8_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{988,837},{32,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,61}}</string>
                <key>sourceSize</key>
                <string>{32,61}</string>
            </dict>
            <key>dianweilh8_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,850},{29,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,16}}</string>
                <key>sourceSize</key>
                <string>{29,16}</string>
            </dict>
            <key>dianweilh8_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,643},{11,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,13}}</string>
                <key>sourceSize</key>
                <string>{11,13}</string>
            </dict>
            <key>dianweilh8_45.png</key>
            <dict>
                <key>frame</key>
                <string>{{994,81},{14,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,35}}</string>
                <key>sourceSize</key>
                <string>{14,35}</string>
            </dict>
            <key>dianweilh8_46.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,469},{61,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,16}}</string>
                <key>sourceSize</key>
                <string>{61,16}</string>
            </dict>
            <key>dianweilh8_47.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,466},{74,36}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,6},{74,36}}</string>
                <key>sourceSize</key>
                <string>{78,42}</string>
            </dict>
            <key>dianweilh8_48.png</key>
            <dict>
                <key>frame</key>
                <string>{{994,2},{77,19}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{77,19}}</string>
                <key>sourceSize</key>
                <string>{81,19}</string>
            </dict>
            <key>dianweilh8_49.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,1010},{29,10}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{29,10}}</string>
                <key>sourceSize</key>
                <string>{31,16}</string>
            </dict>
            <key>dianweilh8_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,884},{125,237}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{125,237}}</string>
                <key>sourceSize</key>
                <string>{127,241}</string>
            </dict>
            <key>dianweilh8_50.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,884},{42,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,23}}</string>
                <key>sourceSize</key>
                <string>{42,23}</string>
            </dict>
            <key>dianweilh8_51.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,516},{31,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,6}}</string>
                <key>sourceSize</key>
                <string>{31,6}</string>
            </dict>
            <key>dianweilh8_52.png</key>
            <dict>
                <key>frame</key>
                <string>{{521,984},{71,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,30}}</string>
                <key>sourceSize</key>
                <string>{71,30}</string>
            </dict>
            <key>dianweilh8_53.png</key>
            <dict>
                <key>frame</key>
                <string>{{521,756},{242,105}}</string>
                <key>offset</key>
                <string>{3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{242,105}}</string>
                <key>sourceSize</key>
                <string>{248,117}</string>
            </dict>
            <key>dianweilh8_54.png</key>
            <dict>
                <key>frame</key>
                <string>{{521,863},{119,182}}</string>
                <key>offset</key>
                <string>{17,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,0},{119,182}}</string>
                <key>sourceSize</key>
                <string>{153,196}</string>
            </dict>
            <key>dianweilh8_55.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,295},{62,50}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{62,50}}</string>
                <key>sourceSize</key>
                <string>{74,50}</string>
            </dict>
            <key>dianweilh8_56.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,2},{480,152}}</string>
                <key>offset</key>
                <string>{110,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{248,15},{480,152}}</string>
                <key>sourceSize</key>
                <string>{756,276}</string>
            </dict>
            <key>dianweilh8_57.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,376},{394,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{394,164}}</string>
                <key>sourceSize</key>
                <string>{394,164}</string>
            </dict>
            <key>dianweilh8_58.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,542},{315,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{315,183}}</string>
                <key>sourceSize</key>
                <string>{315,183}</string>
            </dict>
            <key>dianweilh8_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{735,469},{75,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,71}}</string>
                <key>sourceSize</key>
                <string>{75,71}</string>
            </dict>
            <key>dianweilh8_60.png</key>
            <dict>
                <key>frame</key>
                <string>{{751,681},{41,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,11}}</string>
                <key>sourceSize</key>
                <string>{41,11}</string>
            </dict>
            <key>dianweilh8_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,523},{62,55}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,5},{62,55}}</string>
                <key>sourceSize</key>
                <string>{72,61}</string>
            </dict>
            <key>dianweilh8_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{335,462}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{335,462}}</string>
                <key>sourceSize</key>
                <string>{343,472}</string>
            </dict>
            <key>dianweilh8_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,160},{48,76}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,76}}</string>
                <key>sourceSize</key>
                <string>{50,82}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dianweilh8.pvr.ccz</string>
            <key>size</key>
            <string>{1022,1022}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3b024cb53c34cef640f6c2c76ea411bf:1/1$</string>
            <key>textureFileName</key>
            <string>dianweilh8.pvr.ccz</string>
        </dict>
    </dict>
</plist>
