<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wenyanglh5_11_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,2},{149,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,149}}</string>
                <key>sourceSize</key>
                <string>{149,149}</string>
            </dict>
            <key>wenyanglh5_12_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,384},{43,25}}</string>
                <key>offset</key>
                <string>{36,-118}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,237},{43,25}}</string>
                <key>sourceSize</key>
                <string>{115,263}</string>
            </dict>
            <key>wenyanglh5_12_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1083},{47,181}}</string>
                <key>offset</key>
                <string>{-7,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,0},{47,181}}</string>
                <key>sourceSize</key>
                <string>{115,263}</string>
            </dict>
            <key>wenyanglh5_12_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,1170},{41,55}}</string>
                <key>offset</key>
                <string>{-2,104}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,0},{41,55}}</string>
                <key>sourceSize</key>
                <string>{115,263}</string>
            </dict>
            <key>wenyanglh5_12_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1498},{97,91}}</string>
                <key>offset</key>
                <string>{6,-69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,155},{97,91}}</string>
                <key>sourceSize</key>
                <string>{115,263}</string>
            </dict>
            <key>wenyanglh5_12_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,288},{101,175}}</string>
                <key>offset</key>
                <string>{-5,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,58},{101,175}}</string>
                <key>sourceSize</key>
                <string>{115,263}</string>
            </dict>
            <key>wenyanglh5_12_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,876},{97,191}}</string>
                <key>offset</key>
                <string>{-9,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,29},{97,191}}</string>
                <key>sourceSize</key>
                <string>{115,263}</string>
            </dict>
            <key>wenyanglh5_12_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,702},{87,195}}</string>
                <key>offset</key>
                <string>{-8,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,19},{87,195}}</string>
                <key>sourceSize</key>
                <string>{115,263}</string>
            </dict>
            <key>wenyanglh5_12_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{807,704},{81,191}}</string>
                <key>offset</key>
                <string>{-9,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,16},{81,191}}</string>
                <key>sourceSize</key>
                <string>{115,263}</string>
            </dict>
            <key>wenyanglh5_12_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{597,786},{79,191}}</string>
                <key>offset</key>
                <string>{-10,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,11},{79,191}}</string>
                <key>sourceSize</key>
                <string>{115,263}</string>
            </dict>
            <key>wenyanglh5_12_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,997},{47,185}}</string>
                <key>offset</key>
                <string>{-11,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,0},{47,185}}</string>
                <key>sourceSize</key>
                <string>{115,263}</string>
            </dict>
            <key>wenyanglh5_12_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,1046},{47,183}}</string>
                <key>offset</key>
                <string>{-8,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,0},{47,183}}</string>
                <key>sourceSize</key>
                <string>{115,263}</string>
            </dict>
            <key>wenyanglh5_7_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{173,229}}</string>
                <key>offset</key>
                <string>{58,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{116,0},{173,229}}</string>
                <key>sourceSize</key>
                <string>{289,269}</string>
            </dict>
            <key>wenyanglh5_7_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,2},{171,217}}</string>
                <key>offset</key>
                <string>{59,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{118,15},{171,217}}</string>
                <key>sourceSize</key>
                <string>{289,269}</string>
            </dict>
            <key>wenyanglh5_7_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1132},{157,139}}</string>
                <key>offset</key>
                <string>{57,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,88},{157,139}}</string>
                <key>sourceSize</key>
                <string>{289,269}</string>
            </dict>
            <key>wenyanglh5_7_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1397},{99,115}}</string>
                <key>offset</key>
                <string>{50,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{145,90},{99,115}}</string>
                <key>sourceSize</key>
                <string>{289,269}</string>
            </dict>
            <key>wenyanglh5_7_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,153},{141,133}}</string>
                <key>offset</key>
                <string>{-50,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,118},{141,133}}</string>
                <key>sourceSize</key>
                <string>{289,269}</string>
            </dict>
            <key>wenyanglh5_7_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{503,1096},{113,73}}</string>
                <key>offset</key>
                <string>{-57,-76}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,174},{113,73}}</string>
                <key>sourceSize</key>
                <string>{289,269}</string>
            </dict>
            <key>wenyanglh5_7_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,391},{165,159}}</string>
                <key>offset</key>
                <string>{0,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,110},{165,159}}</string>
                <key>sourceSize</key>
                <string>{289,269}</string>
            </dict>
            <key>wenyanglh5_7_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,1268},{79,91}}</string>
                <key>offset</key>
                <string>{8,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{113,141},{79,91}}</string>
                <key>sourceSize</key>
                <string>{289,269}</string>
            </dict>
            <key>wenyanglh5_7_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,1213},{69,53}}</string>
                <key>offset</key>
                <string>{9,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{119,143},{69,53}}</string>
                <key>sourceSize</key>
                <string>{289,269}</string>
            </dict>
            <key>wenyanglh5_9_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,175},{207,207}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,207}}</string>
                <key>sourceSize</key>
                <string>{207,207}</string>
            </dict>
            <key>wenyanglh5_dao_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,374},{203,195}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,8},{203,195}}</string>
                <key>sourceSize</key>
                <string>{215,209}</string>
            </dict>
            <key>wenyanglh5_dao_1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,599},{185,197}}</string>
                <key>offset</key>
                <string>{9,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,7},{185,197}}</string>
                <key>sourceSize</key>
                <string>{215,209}</string>
            </dict>
            <key>wenyanglh5_dao_1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,177},{207,195}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,9},{207,195}}</string>
                <key>sourceSize</key>
                <string>{215,209}</string>
            </dict>
            <key>wenyanglh5_dao_1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,2},{213,199}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{213,199}}</string>
                <key>sourceSize</key>
                <string>{215,209}</string>
            </dict>
            <key>wenyanglh5_dao_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{645,203},{199,197}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,6},{199,197}}</string>
                <key>sourceSize</key>
                <string>{215,209}</string>
            </dict>
            <key>wenyanglh5_dao_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,693},{181,195}}</string>
                <key>offset</key>
                <string>{9,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,10},{181,195}}</string>
                <key>sourceSize</key>
                <string>{215,209}</string>
            </dict>
            <key>wenyanglh5_dao_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,911},{183,189}}</string>
                <key>offset</key>
                <string>{6,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,18},{183,189}}</string>
                <key>sourceSize</key>
                <string>{215,209}</string>
            </dict>
            <key>wenyanglh5_dao_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{587,867},{187,189}}</string>
                <key>offset</key>
                <string>{4,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,18},{187,189}}</string>
                <key>sourceSize</key>
                <string>{215,209}</string>
            </dict>
            <key>wenyanglh5_dao_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{645,402},{199,195}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,12},{199,195}}</string>
                <key>sourceSize</key>
                <string>{215,209}</string>
            </dict>
            <key>wenyanglh5_dao_1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,203},{199,201}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,6},{199,201}}</string>
                <key>sourceSize</key>
                <string>{215,209}</string>
            </dict>
            <key>wenyanglh5_dao_1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{667,2},{199,201}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,5},{199,201}}</string>
                <key>sourceSize</key>
                <string>{215,209}</string>
            </dict>
            <key>wenyanglh5_dao_1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,384},{195,199}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,6},{195,199}}</string>
                <key>sourceSize</key>
                <string>{215,209}</string>
            </dict>
            <key>wenyanglh5_huomiao_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,1284},{50,50}}</string>
                <key>offset</key>
                <string>{6,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,48},{50,50}}</string>
                <key>sourceSize</key>
                <string>{124,128}</string>
            </dict>
            <key>wenyanglh5_huomiao_1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,1170},{124,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{124,122}}</string>
                <key>sourceSize</key>
                <string>{124,128}</string>
            </dict>
            <key>wenyanglh5_huomiao_1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{577,1216},{124,124}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,124}}</string>
                <key>sourceSize</key>
                <string>{124,128}</string>
            </dict>
            <key>wenyanglh5_huomiao_1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1273},{122,122}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{122,122}}</string>
                <key>sourceSize</key>
                <string>{124,128}</string>
            </dict>
            <key>wenyanglh5_huomiao_1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,1354},{110,114}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,7},{110,114}}</string>
                <key>sourceSize</key>
                <string>{124,128}</string>
            </dict>
            <key>wenyanglh5_huomiao_1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,1302},{106,106}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,8},{106,106}}</string>
                <key>sourceSize</key>
                <string>{124,128}</string>
            </dict>
            <key>wenyanglh5_huomiao_1_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,1432},{104,76}}</string>
                <key>offset</key>
                <string>{1,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,7},{104,76}}</string>
                <key>sourceSize</key>
                <string>{124,128}</string>
            </dict>
            <key>wenyanglh5_huomiao_1_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,873},{86,68}}</string>
                <key>offset</key>
                <string>{-4,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,4},{86,68}}</string>
                <key>sourceSize</key>
                <string>{124,128}</string>
            </dict>
            <key>wenyanglh5_huomiao_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{665,1424},{64,64}}</string>
                <key>offset</key>
                <string>{4,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,43},{64,64}}</string>
                <key>sourceSize</key>
                <string>{124,128}</string>
            </dict>
            <key>wenyanglh5_huomiao_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{665,1352},{74,70}}</string>
                <key>offset</key>
                <string>{3,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,39},{74,70}}</string>
                <key>sourceSize</key>
                <string>{124,128}</string>
            </dict>
            <key>wenyanglh5_huomiao_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,1349},{82,80}}</string>
                <key>offset</key>
                <string>{2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,32},{82,80}}</string>
                <key>sourceSize</key>
                <string>{124,128}</string>
            </dict>
            <key>wenyanglh5_huomiao_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,1336},{94,94}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,22},{94,94}}</string>
                <key>sourceSize</key>
                <string>{124,128}</string>
            </dict>
            <key>wenyanglh5_huomiao_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,1412},{110,110}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,11},{110,110}}</string>
                <key>sourceSize</key>
                <string>{124,128}</string>
            </dict>
            <key>wenyanglh5_huomiao_1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,1294},{116,118}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,7},{116,118}}</string>
                <key>sourceSize</key>
                <string>{124,128}</string>
            </dict>
            <key>wenyanglh5_huomiao_1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,1232},{122,120}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{122,120}}</string>
                <key>sourceSize</key>
                <string>{124,128}</string>
            </dict>
            <key>wenyanglh5_huomiao_1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,1157},{124,126}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{124,126}}</string>
                <key>sourceSize</key>
                <string>{124,128}</string>
            </dict>
            <key>wenyanglh5_lizi_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{807,599},{36,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,38}}</string>
                <key>sourceSize</key>
                <string>{36,38}</string>
            </dict>
            <key>wenyanglh5_qi2_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,1096},{156,67}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{156,67}}</string>
                <key>sourceSize</key>
                <string>{164,81}</string>
            </dict>
            <key>wenyanglh5_qi2_1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,1095},{158,73}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{158,73}}</string>
                <key>sourceSize</key>
                <string>{164,81}</string>
            </dict>
            <key>wenyanglh5_qi2_1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,1199},{154,67}}</string>
                <key>offset</key>
                <string>{-5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{154,67}}</string>
                <key>sourceSize</key>
                <string>{164,81}</string>
            </dict>
            <key>wenyanglh5_qi2_1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,1165},{156,65}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{156,65}}</string>
                <key>sourceSize</key>
                <string>{164,81}</string>
            </dict>
            <key>wenyanglh5_qi2_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,552},{162,73}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{162,73}}</string>
                <key>sourceSize</key>
                <string>{164,81}</string>
            </dict>
            <key>wenyanglh5_qi2_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,1120},{156,77}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{156,77}}</string>
                <key>sourceSize</key>
                <string>{164,81}</string>
            </dict>
            <key>wenyanglh5_qi2_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,1039},{156,79}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{156,79}}</string>
                <key>sourceSize</key>
                <string>{164,81}</string>
            </dict>
            <key>wenyanglh5_qi2_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,956},{156,81}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{156,81}}</string>
                <key>sourceSize</key>
                <string>{164,81}</string>
            </dict>
            <key>wenyanglh5_qi2_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,873},{156,81}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,81}}</string>
                <key>sourceSize</key>
                <string>{164,81}</string>
            </dict>
            <key>wenyanglh5_qi2_1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,1135},{154,79}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{154,79}}</string>
                <key>sourceSize</key>
                <string>{164,81}</string>
            </dict>
            <key>wenyanglh5_qi2_1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,1056},{156,77}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{156,77}}</string>
                <key>sourceSize</key>
                <string>{164,81}</string>
            </dict>
            <key>wenyanglh5_qi2_1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{845,627},{160,75}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{160,75}}</string>
                <key>sourceSize</key>
                <string>{164,81}</string>
            </dict>
            <key>wenyanglh5_qi_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,1087},{68,85}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,5},{68,85}}</string>
                <key>sourceSize</key>
                <string>{86,91}</string>
            </dict>
            <key>wenyanglh5_qi_1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,1017},{68,85}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,2},{68,85}}</string>
                <key>sourceSize</key>
                <string>{86,91}</string>
            </dict>
            <key>wenyanglh5_qi_1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,943},{72,85}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{72,85}}</string>
                <key>sourceSize</key>
                <string>{86,91}</string>
            </dict>
            <key>wenyanglh5_qi_1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{889,1283},{74,83}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,7},{74,83}}</string>
                <key>sourceSize</key>
                <string>{86,91}</string>
            </dict>
            <key>wenyanglh5_qi_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1591},{74,87}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,2},{74,87}}</string>
                <key>sourceSize</key>
                <string>{86,91}</string>
            </dict>
            <key>wenyanglh5_qi_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,1524},{80,87}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{80,87}}</string>
                <key>sourceSize</key>
                <string>{86,91}</string>
            </dict>
            <key>wenyanglh5_qi_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,1410},{82,89}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{82,89}}</string>
                <key>sourceSize</key>
                <string>{86,91}</string>
            </dict>
            <key>wenyanglh5_qi_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,1342},{82,89}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{82,89}}</string>
                <key>sourceSize</key>
                <string>{86,91}</string>
            </dict>
            <key>wenyanglh5_qi_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{703,1268},{82,91}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{82,91}}</string>
                <key>sourceSize</key>
                <string>{86,91}</string>
            </dict>
            <key>wenyanglh5_qi_1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,1466},{76,89}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{76,89}}</string>
                <key>sourceSize</key>
                <string>{86,91}</string>
            </dict>
            <key>wenyanglh5_qi_1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{503,1211},{72,89}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{72,89}}</string>
                <key>sourceSize</key>
                <string>{86,91}</string>
            </dict>
            <key>wenyanglh5_qi_1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,1510},{70,89}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{70,89}}</string>
                <key>sourceSize</key>
                <string>{86,91}</string>
            </dict>
            <key>wenyanglh5_yan_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,883},{190,112}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{190,112}}</string>
                <key>sourceSize</key>
                <string>{202,126}</string>
            </dict>
            <key>wenyanglh5_yan_1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,757},{194,124}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{194,124}}</string>
                <key>sourceSize</key>
                <string>{202,126}</string>
            </dict>
            <key>wenyanglh5_yan_1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,791},{190,118}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{190,118}}</string>
                <key>sourceSize</key>
                <string>{202,126}</string>
            </dict>
            <key>wenyanglh5_yan_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,975},{190,106}}</string>
                <key>offset</key>
                <string>{-3,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{190,106}}</string>
                <key>sourceSize</key>
                <string>{202,126}</string>
            </dict>
            <key>wenyanglh5_yan_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,404},{198,108}}</string>
                <key>offset</key>
                <string>{1,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{198,108}}</string>
                <key>sourceSize</key>
                <string>{202,126}</string>
            </dict>
            <key>wenyanglh5_yan_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,610},{196,90}}</string>
                <key>offset</key>
                <string>{-1,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,10},{196,90}}</string>
                <key>sourceSize</key>
                <string>{202,126}</string>
            </dict>
            <key>wenyanglh5_yan_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,581},{198,84}}</string>
                <key>offset</key>
                <string>{-2,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{198,84}}</string>
                <key>sourceSize</key>
                <string>{202,126}</string>
            </dict>
            <key>wenyanglh5_yan_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,514},{198,94}}</string>
                <key>offset</key>
                <string>{-2,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{198,94}}</string>
                <key>sourceSize</key>
                <string>{202,126}</string>
            </dict>
            <key>wenyanglh5_yan_1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,667},{196,88}}</string>
                <key>offset</key>
                <string>{-3,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{196,88}}</string>
                <key>sourceSize</key>
                <string>{202,126}</string>
            </dict>
            <key>wenyanglh5_yan_1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,787},{190,84}}</string>
                <key>offset</key>
                <string>{-1,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,9},{190,84}}</string>
                <key>sourceSize</key>
                <string>{202,126}</string>
            </dict>
            <key>wenyanglh5_yan_1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,571},{198,120}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{198,120}}</string>
                <key>sourceSize</key>
                <string>{202,126}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wenyanglh5.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a77c791ce818383b51f3009616d8fe32:1/1$</string>
            <key>textureFileName</key>
            <string>wenyanglh5.png</string>
        </dict>
    </dict>
</plist>
