<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>nvzhulh110_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{703,621},{39,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,38}}</string>
                <key>sourceSize</key>
                <string>{39,38}</string>
            </dict>
            <key>nvzhulh110_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{625,55},{10,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,12}}</string>
                <key>sourceSize</key>
                <string>{10,12}</string>
            </dict>
            <key>nvzhulh110_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,499},{29,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,31}}</string>
                <key>sourceSize</key>
                <string>{29,31}</string>
            </dict>
            <key>nvzhulh110_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,237},{12,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,8}}</string>
                <key>sourceSize</key>
                <string>{12,8}</string>
            </dict>
            <key>nvzhulh110_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,735},{7,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,8}}</string>
                <key>sourceSize</key>
                <string>{7,8}</string>
            </dict>
            <key>nvzhulh110_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{709,546},{35,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,32}}</string>
                <key>sourceSize</key>
                <string>{35,32}</string>
            </dict>
            <key>nvzhulh110_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{661,621},{45,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,40}}</string>
                <key>sourceSize</key>
                <string>{45,40}</string>
            </dict>
            <key>nvzhulh110_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,651},{21,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,11}}</string>
                <key>sourceSize</key>
                <string>{21,11}</string>
            </dict>
            <key>nvzhulh110_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,2},{440,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{440,34}}</string>
                <key>sourceSize</key>
                <string>{442,34}</string>
            </dict>
            <key>nvzhulh110_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,38},{426,48}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{426,48}}</string>
                <key>sourceSize</key>
                <string>{426,54}</string>
            </dict>
            <key>nvzhulh110_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,499},{29,220}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,220}}</string>
                <key>sourceSize</key>
                <string>{29,222}</string>
            </dict>
            <key>nvzhulh110_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,255},{31,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,35}}</string>
                <key>sourceSize</key>
                <string>{31,35}</string>
            </dict>
            <key>nvzhulh110_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,533},{18,194}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{18,194}}</string>
                <key>sourceSize</key>
                <string>{18,206}</string>
            </dict>
            <key>nvzhulh110_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{683,255},{22,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,10}}</string>
                <key>sourceSize</key>
                <string>{22,10}</string>
            </dict>
            <key>nvzhulh110_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{695,504},{10,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,17}}</string>
                <key>sourceSize</key>
                <string>{10,17}</string>
            </dict>
            <key>nvzhulh110_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{709,504},{31,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,40}}</string>
                <key>sourceSize</key>
                <string>{31,40}</string>
            </dict>
            <key>nvzhulh110_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,432},{11,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,18}}</string>
                <key>sourceSize</key>
                <string>{11,18}</string>
            </dict>
            <key>nvzhulh110_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{651,675},{61,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,41}}</string>
                <key>sourceSize</key>
                <string>{61,41}</string>
            </dict>
            <key>nvzhulh110_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,720},{19,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,17}}</string>
                <key>sourceSize</key>
                <string>{19,17}</string>
            </dict>
            <key>nvzhulh110_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,145},{37,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,24}}</string>
                <key>sourceSize</key>
                <string>{37,24}</string>
            </dict>
            <key>nvzhulh110_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,208},{8,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,27}}</string>
                <key>sourceSize</key>
                <string>{8,27}</string>
            </dict>
            <key>nvzhulh110_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,505},{11,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,23}}</string>
                <key>sourceSize</key>
                <string>{11,23}</string>
            </dict>
            <key>nvzhulh110_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{599,343},{51,45}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{51,45}}</string>
                <key>sourceSize</key>
                <string>{69,61}</string>
            </dict>
            <key>nvzhulh110_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,183},{6,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{6,8}}</string>
                <key>sourceSize</key>
                <string>{6,8}</string>
            </dict>
            <key>nvzhulh110_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,183},{22,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,13}}</string>
                <key>sourceSize</key>
                <string>{22,13}</string>
            </dict>
            <key>nvzhulh110_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{625,67},{19,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,10}}</string>
                <key>sourceSize</key>
                <string>{19,10}</string>
            </dict>
            <key>nvzhulh110_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{703,661},{35,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,37}}</string>
                <key>sourceSize</key>
                <string>{35,37}</string>
            </dict>
            <key>nvzhulh110_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,583},{16,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,10}}</string>
                <key>sourceSize</key>
                <string>{16,10}</string>
            </dict>
            <key>nvzhulh110_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,344},{19,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,14}}</string>
                <key>sourceSize</key>
                <string>{19,14}</string>
            </dict>
            <key>nvzhulh110_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,208},{14,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,37}}</string>
                <key>sourceSize</key>
                <string>{14,37}</string>
            </dict>
            <key>nvzhulh110_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,720},{22,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,25}}</string>
                <key>sourceSize</key>
                <string>{22,25}</string>
            </dict>
            <key>nvzhulh110_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,476},{26,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,46}}</string>
                <key>sourceSize</key>
                <string>{26,46}</string>
            </dict>
            <key>nvzhulh110_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,695},{25,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,33}}</string>
                <key>sourceSize</key>
                <string>{25,33}</string>
            </dict>
            <key>nvzhulh110_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,280},{78,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,159}}</string>
                <key>sourceSize</key>
                <string>{78,159}</string>
            </dict>
            <key>nvzhulh110_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{625,38},{12,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,15}}</string>
                <key>sourceSize</key>
                <string>{12,15}</string>
            </dict>
            <key>nvzhulh110_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,719},{10,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,17}}</string>
                <key>sourceSize</key>
                <string>{10,17}</string>
            </dict>
            <key>nvzhulh110_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{577,530},{85,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,88}}</string>
                <key>sourceSize</key>
                <string>{85,88}</string>
            </dict>
            <key>nvzhulh110_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,387},{43,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,62}}</string>
                <key>sourceSize</key>
                <string>{43,62}</string>
            </dict>
            <key>nvzhulh110_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{683,84},{59,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,59}}</string>
                <key>sourceSize</key>
                <string>{59,59}</string>
            </dict>
            <key>nvzhulh110_45.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,651},{86,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,91}}</string>
                <key>sourceSize</key>
                <string>{86,91}</string>
            </dict>
            <key>nvzhulh110_46.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,530},{105,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,84}}</string>
                <key>sourceSize</key>
                <string>{105,84}</string>
            </dict>
            <key>nvzhulh110_48.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,720},{21,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,28}}</string>
                <key>sourceSize</key>
                <string>{21,28}</string>
            </dict>
            <key>nvzhulh110_49.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,505},{22,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,188}}</string>
                <key>sourceSize</key>
                <string>{22,188}</string>
            </dict>
            <key>nvzhulh110_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,530},{57,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,43}}</string>
                <key>sourceSize</key>
                <string>{57,43}</string>
            </dict>
            <key>nvzhulh110_50.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,333},{47,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,52}}</string>
                <key>sourceSize</key>
                <string>{47,52}</string>
            </dict>
            <key>nvzhulh110_51.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,518},{51,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,154}}</string>
                <key>sourceSize</key>
                <string>{51,154}</string>
            </dict>
            <key>nvzhulh110_52.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,292},{32,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,28}}</string>
                <key>sourceSize</key>
                <string>{32,28}</string>
            </dict>
            <key>nvzhulh110_53.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,453},{44,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,182}}</string>
                <key>sourceSize</key>
                <string>{44,182}</string>
            </dict>
            <key>nvzhulh110_54.png</key>
            <dict>
                <key>frame</key>
                <string>{{639,2},{102,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,80}}</string>
                <key>sourceSize</key>
                <string>{102,80}</string>
            </dict>
            <key>nvzhulh110_55.png</key>
            <dict>
                <key>frame</key>
                <string>{{701,333},{52,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,37}}</string>
                <key>sourceSize</key>
                <string>{52,37}</string>
            </dict>
            <key>nvzhulh110_56.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,674},{7,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,15}}</string>
                <key>sourceSize</key>
                <string>{7,15}</string>
            </dict>
            <key>nvzhulh110_57.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,608},{8,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,8}}</string>
                <key>sourceSize</key>
                <string>{8,8}</string>
            </dict>
            <key>nvzhulh110_58.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,674},{32,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,19}}</string>
                <key>sourceSize</key>
                <string>{32,19}</string>
            </dict>
            <key>nvzhulh110_59.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,702},{15,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,148}}</string>
                <key>sourceSize</key>
                <string>{15,148}</string>
            </dict>
            <key>nvzhulh110_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,530},{113,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,120}}</string>
                <key>sourceSize</key>
                <string>{113,120}</string>
            </dict>
            <key>nvzhulh110_60.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,344},{135,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,172}}</string>
                <key>sourceSize</key>
                <string>{135,172}</string>
            </dict>
            <key>nvzhulh110_61.png</key>
            <dict>
                <key>frame</key>
                <string>{{683,145},{33,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,108}}</string>
                <key>sourceSize</key>
                <string>{33,108}</string>
            </dict>
            <key>nvzhulh110_62.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,344},{159,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,110}}</string>
                <key>sourceSize</key>
                <string>{159,110}</string>
            </dict>
            <key>nvzhulh110_63.png</key>
            <dict>
                <key>frame</key>
                <string>{{651,267},{55,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,64}}</string>
                <key>sourceSize</key>
                <string>{55,64}</string>
            </dict>
            <key>nvzhulh110_64.png</key>
            <dict>
                <key>frame</key>
                <string>{{671,499},{22,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,29}}</string>
                <key>sourceSize</key>
                <string>{22,29}</string>
            </dict>
            <key>nvzhulh110_65.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,184},{22,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,24}}</string>
                <key>sourceSize</key>
                <string>{22,24}</string>
            </dict>
            <key>nvzhulh110_66.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,321},{21,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,28}}</string>
                <key>sourceSize</key>
                <string>{21,28}</string>
            </dict>
            <key>nvzhulh110_67.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,518},{131,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,104}}</string>
                <key>sourceSize</key>
                <string>{131,104}</string>
            </dict>
            <key>nvzhulh110_67a.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,719},{57,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,20}}</string>
                <key>sourceSize</key>
                <string>{57,20}</string>
            </dict>
            <key>nvzhulh110_68.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,620},{53,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,89}}</string>
                <key>sourceSize</key>
                <string>{53,89}</string>
            </dict>
            <key>nvzhulh110_69.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,589},{30,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,54}}</string>
                <key>sourceSize</key>
                <string>{30,54}</string>
            </dict>
            <key>nvzhulh110_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,720},{25,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,21}}</string>
                <key>sourceSize</key>
                <string>{25,21}</string>
            </dict>
            <key>nvzhulh110_70.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,719},{13,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,23}}</string>
                <key>sourceSize</key>
                <string>{13,23}</string>
            </dict>
            <key>nvzhulh110_71.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,719},{14,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,19}}</string>
                <key>sourceSize</key>
                <string>{14,19}</string>
            </dict>
            <key>nvzhulh110_72.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,722},{18,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,27}}</string>
                <key>sourceSize</key>
                <string>{18,27}</string>
            </dict>
            <key>nvzhulh110_73.png</key>
            <dict>
                <key>frame</key>
                <string>{{595,88},{86,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,88}}</string>
                <key>sourceSize</key>
                <string>{86,88}</string>
            </dict>
            <key>nvzhulh110_73a.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,719},{38,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,18}}</string>
                <key>sourceSize</key>
                <string>{38,18}</string>
            </dict>
            <key>nvzhulh110_74.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,297},{45,239}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,239}}</string>
                <key>sourceSize</key>
                <string>{45,239}</string>
            </dict>
            <key>nvzhulh110_75.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,453},{52,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,44}}</string>
                <key>sourceSize</key>
                <string>{52,44}</string>
            </dict>
            <key>nvzhulh110_76.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,505},{32,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,21}}</string>
                <key>sourceSize</key>
                <string>{32,21}</string>
            </dict>
            <key>nvzhulh110_77.png</key>
            <dict>
                <key>frame</key>
                <string>{{599,267},{50,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,74}}</string>
                <key>sourceSize</key>
                <string>{50,74}</string>
            </dict>
            <key>nvzhulh110_78.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,390},{60,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,36}}</string>
                <key>sourceSize</key>
                <string>{60,36}</string>
            </dict>
            <key>nvzhulh110_79.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,88},{214,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,117}}</string>
                <key>sourceSize</key>
                <string>{214,117}</string>
            </dict>
            <key>nvzhulh110_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,595},{11,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,11}}</string>
                <key>sourceSize</key>
                <string>{11,11}</string>
            </dict>
            <key>nvzhulh110_80.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,674},{26,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,19}}</string>
                <key>sourceSize</key>
                <string>{26,19}</string>
            </dict>
            <key>nvzhulh110_81.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,698},{42,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,35}}</string>
                <key>sourceSize</key>
                <string>{42,35}</string>
            </dict>
            <key>nvzhulh110_82.png</key>
            <dict>
                <key>frame</key>
                <string>{{597,178},{84,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,87}}</string>
                <key>sourceSize</key>
                <string>{84,87}</string>
            </dict>
            <key>nvzhulh110_83.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,321},{210,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,163}}</string>
                <key>sourceSize</key>
                <string>{210,163}</string>
            </dict>
            <key>nvzhulh110_84.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,533},{148,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,167}}</string>
                <key>sourceSize</key>
                <string>{148,167}</string>
            </dict>
            <key>nvzhulh110_85.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,616},{51,98}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,98}}</string>
                <key>sourceSize</key>
                <string>{53,98}</string>
            </dict>
            <key>nvzhulh110_86.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,207},{237,88}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{237,88}}</string>
                <key>sourceSize</key>
                <string>{237,90}</string>
            </dict>
            <key>nvzhulh110_87.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{193,317}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,317}}</string>
                <key>sourceSize</key>
                <string>{193,317}</string>
            </dict>
            <key>nvzhulh110_88.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,88},{93,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{93,180}}</string>
                <key>sourceSize</key>
                <string>{95,182}</string>
            </dict>
            <key>nvzhulh110_89.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,675},{60,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,89}}</string>
                <key>sourceSize</key>
                <string>{60,89}</string>
            </dict>
            <key>nvzhulh110_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,505},{22,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,23}}</string>
                <key>sourceSize</key>
                <string>{22,23}</string>
            </dict>
            <key>nvzhulh110_90.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,432},{42,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,46}}</string>
                <key>sourceSize</key>
                <string>{42,46}</string>
            </dict>
            <key>nvzhulh110_91.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,452},{40,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,45}}</string>
                <key>sourceSize</key>
                <string>{40,45}</string>
            </dict>
            <key>nvzhulh110_92.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,669},{58,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,93}}</string>
                <key>sourceSize</key>
                <string>{58,93}</string>
            </dict>
            <key>nvzhulh110_93.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,183},{95,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,159}}</string>
                <key>sourceSize</key>
                <string>{95,159}</string>
            </dict>
            <key>nvzhulh110_94.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,360},{91,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,180}}</string>
                <key>sourceSize</key>
                <string>{91,180}</string>
            </dict>
            <key>nvzhulh110_95.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,652},{66,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,108}}</string>
                <key>sourceSize</key>
                <string>{66,108}</string>
            </dict>
            <key>nvzhulh110_96.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,390},{42,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{42,61}}</string>
                <key>sourceSize</key>
                <string>{44,63}</string>
            </dict>
            <key>nvzhulh110_97.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,695},{47,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,58}}</string>
                <key>sourceSize</key>
                <string>{47,58}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>simayilh6.pvr.ccz</string>
            <key>size</key>
            <string>{744,744}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6d6d55d993bc7fafe3ee72847a3f5db7:1/1$</string>
            <key>textureFileName</key>
            <string>simayilh6.pvr.ccz</string>
        </dict>
    </dict>
</plist>
