<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zhangliaolh5_xing1.png</key>
            <dict>
                <key>frame</key>
                <string>{{649,2},{119,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,119}}</string>
                <key>sourceSize</key>
                <string>{119,119}</string>
            </dict>
            <key>zhangliaolh5_xing2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,798},{223,223}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{223,223}}</string>
                <key>sourceSize</key>
                <string>{223,223}</string>
            </dict>
            <key>zhangliaolh5_yan1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,752},{235,143}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{235,143}}</string>
                <key>sourceSize</key>
                <string>{239,147}</string>
            </dict>
            <key>zhangliaolh5_yan1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,250},{239,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,147}}</string>
                <key>sourceSize</key>
                <string>{239,147}</string>
            </dict>
            <key>zhangliaolh5_yan1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,2},{235,143}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{235,143}}</string>
                <key>sourceSize</key>
                <string>{239,147}</string>
            </dict>
            <key>zhangliaolh5_yan1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,491},{231,137}}</string>
                <key>offset</key>
                <string>{4,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,10},{231,137}}</string>
                <key>sourceSize</key>
                <string>{239,147}</string>
            </dict>
            <key>zhangliaolh5_yan1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{521,724},{229,139}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,8},{229,139}}</string>
                <key>sourceSize</key>
                <string>{239,147}</string>
            </dict>
            <key>zhangliaolh5_yan1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{641,239},{213,141}}</string>
                <key>offset</key>
                <string>{-10,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,6},{213,141}}</string>
                <key>sourceSize</key>
                <string>{239,147}</string>
            </dict>
            <key>zhangliaolh5_yan1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,2},{219,141}}</string>
                <key>offset</key>
                <string>{-8,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{219,141}}</string>
                <key>sourceSize</key>
                <string>{239,147}</string>
            </dict>
            <key>zhangliaolh5_yan1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,145},{215,143}}</string>
                <key>offset</key>
                <string>{-11,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{215,143}}</string>
                <key>sourceSize</key>
                <string>{239,147}</string>
            </dict>
            <key>zhangliaolh5_yan1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{639,491},{225,145}}</string>
                <key>offset</key>
                <string>{-7,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{225,145}}</string>
                <key>sourceSize</key>
                <string>{239,147}</string>
            </dict>
            <key>zhangliaolh5_yan1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,784},{237,147}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{237,147}}</string>
                <key>sourceSize</key>
                <string>{239,147}</string>
            </dict>
            <key>zhangliaolh5_yan2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,2},{126,246}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,16},{126,246}}</string>
                <key>sourceSize</key>
                <string>{132,278}</string>
            </dict>
            <key>zhangliaolh5_yan2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,2},{128,260}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,7},{128,260}}</string>
                <key>sourceSize</key>
                <string>{132,278}</string>
            </dict>
            <key>zhangliaolh5_yan2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,536},{130,260}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,9},{130,260}}</string>
                <key>sourceSize</key>
                <string>{132,278}</string>
            </dict>
            <key>zhangliaolh5_yan2_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,2},{124,252}}</string>
                <key>offset</key>
                <string>{-3,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,20},{124,252}}</string>
                <key>sourceSize</key>
                <string>{132,278}</string>
            </dict>
            <key>zhangliaolh5_yan2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,506},{122,244}}</string>
                <key>offset</key>
                <string>{-5,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{122,244}}</string>
                <key>sourceSize</key>
                <string>{132,278}</string>
            </dict>
            <key>zhangliaolh5_yan2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{116,266}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{116,266}}</string>
                <key>sourceSize</key>
                <string>{132,278}</string>
            </dict>
            <key>zhangliaolh5_yan2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,270},{116,264}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{116,264}}</string>
                <key>sourceSize</key>
                <string>{132,278}</string>
            </dict>
            <key>zhangliaolh5_yan2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,526},{118,256}}</string>
                <key>offset</key>
                <string>{-5,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{118,256}}</string>
                <key>sourceSize</key>
                <string>{132,278}</string>
            </dict>
            <key>zhangliaolh5_yan2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,264},{122,254}}</string>
                <key>offset</key>
                <string>{-5,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{122,254}}</string>
                <key>sourceSize</key>
                <string>{132,278}</string>
            </dict>
            <key>zhangliaolh5_yan2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,520},{120,252}}</string>
                <key>offset</key>
                <string>{-3,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{120,252}}</string>
                <key>sourceSize</key>
                <string>{132,278}</string>
            </dict>
            <key>zhangliaolh5_yan2_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,264},{124,260}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,7},{124,260}}</string>
                <key>sourceSize</key>
                <string>{132,278}</string>
            </dict>
            <key>zhangliaolh5_yan2_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,256},{120,248}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,10},{120,248}}</string>
                <key>sourceSize</key>
                <string>{132,278}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zhangliaolh5.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2fdf8c2dee09dac48a9a8c9ad59c5068:1/1$</string>
            <key>textureFileName</key>
            <string>zhangliaolh5.png</string>
        </dict>
    </dict>
</plist>
