<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zhouyulh6_huo2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,347},{51,65}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,10},{51,65}}</string>
                <key>sourceSize</key>
                <string>{53,75}</string>
            </dict>
            <key>zhouyulh6_huo2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,143},{51,67}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{51,67}}</string>
                <key>sourceSize</key>
                <string>{53,75}</string>
            </dict>
            <key>zhouyulh6_huo2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,960},{51,61}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{51,61}}</string>
                <key>sourceSize</key>
                <string>{53,75}</string>
            </dict>
            <key>zhouyulh6_huo2_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,71},{49,65}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,10},{49,65}}</string>
                <key>sourceSize</key>
                <string>{53,75}</string>
            </dict>
            <key>zhouyulh6_huo2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{493,2},{47,65}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,10},{47,65}}</string>
                <key>sourceSize</key>
                <string>{53,75}</string>
            </dict>
            <key>zhouyulh6_huo2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,280},{53,65}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{53,65}}</string>
                <key>sourceSize</key>
                <string>{53,75}</string>
            </dict>
            <key>zhouyulh6_huo2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,74},{51,67}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{51,67}}</string>
                <key>sourceSize</key>
                <string>{53,75}</string>
            </dict>
            <key>zhouyulh6_huo2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,2},{47,67}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,8},{47,67}}</string>
                <key>sourceSize</key>
                <string>{53,75}</string>
            </dict>
            <key>zhouyulh6_huo2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,361},{47,71}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{47,71}}</string>
                <key>sourceSize</key>
                <string>{53,75}</string>
            </dict>
            <key>zhouyulh6_huo2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,933},{47,73}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{47,73}}</string>
                <key>sourceSize</key>
                <string>{53,75}</string>
            </dict>
            <key>zhouyulh6_huo2_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,960},{53,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,75}}</string>
                <key>sourceSize</key>
                <string>{53,75}</string>
            </dict>
            <key>zhouyulh6_huo2_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,856},{51,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{51,75}}</string>
                <key>sourceSize</key>
                <string>{53,75}</string>
            </dict>
            <key>zhouyulh6_huo_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,359},{51,70}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,10},{51,70}}</string>
                <key>sourceSize</key>
                <string>{53,80}</string>
            </dict>
            <key>zhouyulh6_huo_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,213},{51,72}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{51,72}}</string>
                <key>sourceSize</key>
                <string>{53,80}</string>
            </dict>
            <key>zhouyulh6_huo_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,212},{51,66}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,13},{51,66}}</string>
                <key>sourceSize</key>
                <string>{53,80}</string>
            </dict>
            <key>zhouyulh6_huo_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,359},{49,70}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,10},{49,70}}</string>
                <key>sourceSize</key>
                <string>{53,80}</string>
            </dict>
            <key>zhouyulh6_huo_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,2},{47,70}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,10},{47,70}}</string>
                <key>sourceSize</key>
                <string>{53,80}</string>
            </dict>
            <key>zhouyulh6_huo_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,287},{53,70}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{53,70}}</string>
                <key>sourceSize</key>
                <string>{53,80}</string>
            </dict>
            <key>zhouyulh6_huo_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,856},{51,72}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{51,72}}</string>
                <key>sourceSize</key>
                <string>{53,80}</string>
            </dict>
            <key>zhouyulh6_huo_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,287},{47,72}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,8},{47,72}}</string>
                <key>sourceSize</key>
                <string>{53,80}</string>
            </dict>
            <key>zhouyulh6_huo_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,938},{47,76}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{47,76}}</string>
                <key>sourceSize</key>
                <string>{53,80}</string>
            </dict>
            <key>zhouyulh6_huo_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,856},{47,80}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{47,80}}</string>
                <key>sourceSize</key>
                <string>{53,80}</string>
            </dict>
            <key>zhouyulh6_huo_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,878},{53,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,80}}</string>
                <key>sourceSize</key>
                <string>{53,80}</string>
            </dict>
            <key>zhouyulh6_huo_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,856},{51,80}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{51,80}}</string>
                <key>sourceSize</key>
                <string>{53,80}</string>
            </dict>
            <key>zhouyulh6_xing1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,878},{119,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,119}}</string>
                <key>sourceSize</key>
                <string>{119,119}</string>
            </dict>
            <key>zhouyulh6_xing2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{223,223}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{223,223}}</string>
                <key>sourceSize</key>
                <string>{223,223}</string>
            </dict>
            <key>zhouyulh6_yan_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,440},{209,166}}</string>
                <key>offset</key>
                <string>{5,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,6},{209,166}}</string>
                <key>sourceSize</key>
                <string>{219,172}</string>
            </dict>
            <key>zhouyulh6_yan_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,227},{217,168}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{217,168}}</string>
                <key>sourceSize</key>
                <string>{219,172}</string>
            </dict>
            <key>zhouyulh6_yan_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,2},{209,166}}</string>
                <key>offset</key>
                <string>{5,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,6},{209,166}}</string>
                <key>sourceSize</key>
                <string>{219,172}</string>
            </dict>
            <key>zhouyulh6_yan_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,663},{213,168}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,4},{213,168}}</string>
                <key>sourceSize</key>
                <string>{219,172}</string>
            </dict>
            <key>zhouyulh6_yan_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,227},{211,170}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{211,170}}</string>
                <key>sourceSize</key>
                <string>{219,172}</string>
            </dict>
            <key>zhouyulh6_yan_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,641},{195,172}}</string>
                <key>offset</key>
                <string>{-11,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{195,172}}</string>
                <key>sourceSize</key>
                <string>{219,172}</string>
            </dict>
            <key>zhouyulh6_yan_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,440},{199,170}}</string>
                <key>offset</key>
                <string>{-9,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{199,170}}</string>
                <key>sourceSize</key>
                <string>{219,172}</string>
            </dict>
            <key>zhouyulh6_yan_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,838},{195,170}}</string>
                <key>offset</key>
                <string>{-12,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{195,170}}</string>
                <key>sourceSize</key>
                <string>{219,172}</string>
            </dict>
            <key>zhouyulh6_yan_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,651},{203,168}}</string>
                <key>offset</key>
                <string>{-7,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,4},{203,168}}</string>
                <key>sourceSize</key>
                <string>{219,172}</string>
            </dict>
            <key>zhouyulh6_yan_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,446},{215,168}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,4},{215,168}}</string>
                <key>sourceSize</key>
                <string>{219,172}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zhouyulh6.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2f66679bb11e42460574c6e39b1df05e:1/1$</string>
            <key>textureFileName</key>
            <string>zhouyulh6.png</string>
        </dict>
    </dict>
</plist>
