<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>huangyueyinglh2_1saoguang_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{990,928},{32,69}}</string>
                <key>offset</key>
                <string>{30,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,1},{32,69}}</string>
                <key>sourceSize</key>
                <string>{92,103}</string>
            </dict>
            <key>huangyueyinglh2_1saoguang_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{807,908},{86,95}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,7},{86,95}}</string>
                <key>sourceSize</key>
                <string>{92,103}</string>
            </dict>
            <key>huangyueyinglh2_1saoguang_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,922},{86,89}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,14},{86,89}}</string>
                <key>sourceSize</key>
                <string>{92,103}</string>
            </dict>
            <key>huangyueyinglh2_1saoguang_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,917},{84,79}}</string>
                <key>offset</key>
                <string>{-2,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,24},{84,79}}</string>
                <key>sourceSize</key>
                <string>{92,103}</string>
            </dict>
            <key>huangyueyinglh2_1saoguang_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,1003},{84,75}}</string>
                <key>offset</key>
                <string>{-4,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,28},{84,75}}</string>
                <key>sourceSize</key>
                <string>{92,103}</string>
            </dict>
            <key>huangyueyinglh2_1saoguang_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,172},{80,69}}</string>
                <key>offset</key>
                <string>{-6,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,34},{80,69}}</string>
                <key>sourceSize</key>
                <string>{92,103}</string>
            </dict>
            <key>huangyueyinglh2_1saoguang_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,674},{76,69}}</string>
                <key>offset</key>
                <string>{-7,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,34},{76,69}}</string>
                <key>sourceSize</key>
                <string>{92,103}</string>
            </dict>
            <key>huangyueyinglh2_1saoguang_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{665,965},{72,69}}</string>
                <key>offset</key>
                <string>{-9,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,34},{72,69}}</string>
                <key>sourceSize</key>
                <string>{92,103}</string>
            </dict>
            <key>huangyueyinglh2_1saoguang_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,967},{70,69}}</string>
                <key>offset</key>
                <string>{-11,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,34},{70,69}}</string>
                <key>sourceSize</key>
                <string>{92,103}</string>
            </dict>
            <key>huangyueyinglh2_1saoguang_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{663,1036},{62,67}}</string>
                <key>offset</key>
                <string>{-14,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,35},{62,67}}</string>
                <key>sourceSize</key>
                <string>{92,103}</string>
            </dict>
            <key>huangyueyinglh2_1saoguang_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,614},{58,65}}</string>
                <key>offset</key>
                <string>{-16,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,36},{58,65}}</string>
                <key>sourceSize</key>
                <string>{92,103}</string>
            </dict>
            <key>huangyueyinglh2_1saoguang_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,504},{38,75}}</string>
                <key>offset</key>
                <string>{27,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,1},{38,75}}</string>
                <key>sourceSize</key>
                <string>{92,103}</string>
            </dict>
            <key>huangyueyinglh2_1saoguang_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,967},{52,61}}</string>
                <key>offset</key>
                <string>{-18,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,37},{52,61}}</string>
                <key>sourceSize</key>
                <string>{92,103}</string>
            </dict>
            <key>huangyueyinglh2_1saoguang_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,765},{42,83}}</string>
                <key>offset</key>
                <string>{25,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,0},{42,83}}</string>
                <key>sourceSize</key>
                <string>{92,103}</string>
            </dict>
            <key>huangyueyinglh2_1saoguang_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,374},{46,87}}</string>
                <key>offset</key>
                <string>{23,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,0},{46,87}}</string>
                <key>sourceSize</key>
                <string>{92,103}</string>
            </dict>
            <key>huangyueyinglh2_1saoguang_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{895,992},{52,91}}</string>
                <key>offset</key>
                <string>{20,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,0},{52,91}}</string>
                <key>sourceSize</key>
                <string>{92,103}</string>
            </dict>
            <key>huangyueyinglh2_1saoguang_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,907},{58,95}}</string>
                <key>offset</key>
                <string>{17,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,0},{58,95}}</string>
                <key>sourceSize</key>
                <string>{92,103}</string>
            </dict>
            <key>huangyueyinglh2_1saoguang_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,895},{70,97}}</string>
                <key>offset</key>
                <string>{11,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,1},{70,97}}</string>
                <key>sourceSize</key>
                <string>{92,103}</string>
            </dict>
            <key>huangyueyinglh2_1saoguang_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,566},{78,99}}</string>
                <key>offset</key>
                <string>{7,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,1},{78,99}}</string>
                <key>sourceSize</key>
                <string>{92,103}</string>
            </dict>
            <key>huangyueyinglh2_1saoguang_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,809},{84,97}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,4},{84,97}}</string>
                <key>sourceSize</key>
                <string>{92,103}</string>
            </dict>
            <key>huangyueyinglh2_2saoguang_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,655},{28,75}}</string>
                <key>offset</key>
                <string>{-41,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{28,75}}</string>
                <key>sourceSize</key>
                <string>{110,131}</string>
            </dict>
            <key>huangyueyinglh2_2saoguang_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,862},{96,125}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,6},{96,125}}</string>
                <key>sourceSize</key>
                <string>{110,131}</string>
            </dict>
            <key>huangyueyinglh2_2saoguang_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{897,830},{96,125}}</string>
                <key>offset</key>
                <string>{5,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,6},{96,125}}</string>
                <key>sourceSize</key>
                <string>{110,131}</string>
            </dict>
            <key>huangyueyinglh2_2saoguang_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,646},{94,123}}</string>
                <key>offset</key>
                <string>{7,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,8},{94,123}}</string>
                <key>sourceSize</key>
                <string>{110,131}</string>
            </dict>
            <key>huangyueyinglh2_2saoguang_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,742},{86,123}}</string>
                <key>offset</key>
                <string>{12,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,8},{86,123}}</string>
                <key>sourceSize</key>
                <string>{110,131}</string>
            </dict>
            <key>huangyueyinglh2_2saoguang_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,745},{78,123}}</string>
                <key>offset</key>
                <string>{16,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,8},{78,123}}</string>
                <key>sourceSize</key>
                <string>{110,131}</string>
            </dict>
            <key>huangyueyinglh2_2saoguang_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,960},{74,121}}</string>
                <key>offset</key>
                <string>{18,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,10},{74,121}}</string>
                <key>sourceSize</key>
                <string>{110,131}</string>
            </dict>
            <key>huangyueyinglh2_2saoguang_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1018},{72,113}}</string>
                <key>offset</key>
                <string>{19,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,18},{72,113}}</string>
                <key>sourceSize</key>
                <string>{110,131}</string>
            </dict>
            <key>huangyueyinglh2_2saoguang_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,498},{66,101}}</string>
                <key>offset</key>
                <string>{22,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,28},{66,101}}</string>
                <key>sourceSize</key>
                <string>{110,131}</string>
            </dict>
            <key>huangyueyinglh2_2saoguang_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{839,821},{56,85}}</string>
                <key>offset</key>
                <string>{27,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,39},{56,85}}</string>
                <key>sourceSize</key>
                <string>{110,131}</string>
            </dict>
            <key>huangyueyinglh2_2saoguang_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,581},{36,87}}</string>
                <key>offset</key>
                <string>{-37,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,87}}</string>
                <key>sourceSize</key>
                <string>{110,131}</string>
            </dict>
            <key>huangyueyinglh2_2saoguang_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,670},{42,93}}</string>
                <key>offset</key>
                <string>{-34,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,93}}</string>
                <key>sourceSize</key>
                <string>{110,131}</string>
            </dict>
            <key>huangyueyinglh2_2saoguang_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{895,928},{62,93}}</string>
                <key>offset</key>
                <string>{-24,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,93}}</string>
                <key>sourceSize</key>
                <string>{110,131}</string>
            </dict>
            <key>huangyueyinglh2_2saoguang_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,422},{74,103}}</string>
                <key>offset</key>
                <string>{-17,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{74,103}}</string>
                <key>sourceSize</key>
                <string>{110,131}</string>
            </dict>
            <key>huangyueyinglh2_2saoguang_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,2},{82,119}}</string>
                <key>offset</key>
                <string>{-14,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,119}}</string>
                <key>sourceSize</key>
                <string>{110,131}</string>
            </dict>
            <key>huangyueyinglh2_2saoguang_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,781},{86,127}}</string>
                <key>offset</key>
                <string>{-11,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{86,127}}</string>
                <key>sourceSize</key>
                <string>{110,131}</string>
            </dict>
            <key>huangyueyinglh2_2saoguang_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,243},{88,129}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{88,129}}</string>
                <key>sourceSize</key>
                <string>{110,131}</string>
            </dict>
            <key>huangyueyinglh2_2saoguang_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,926},{90,125}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,6},{90,125}}</string>
                <key>sourceSize</key>
                <string>{110,131}</string>
            </dict>
            <key>huangyueyinglh2_bowen_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,873},{125,47}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,4},{125,47}}</string>
                <key>sourceSize</key>
                <string>{143,55}</string>
            </dict>
            <key>huangyueyinglh2_bowen_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,822},{125,49}}</string>
                <key>offset</key>
                <string>{7,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,4},{125,49}}</string>
                <key>sourceSize</key>
                <string>{143,55}</string>
            </dict>
            <key>huangyueyinglh2_bowen_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,809},{127,51}}</string>
                <key>offset</key>
                <string>{6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,3},{127,51}}</string>
                <key>sourceSize</key>
                <string>{143,55}</string>
            </dict>
            <key>huangyueyinglh2_bowen_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,614},{141,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{141,53}}</string>
                <key>sourceSize</key>
                <string>{143,55}</string>
            </dict>
            <key>huangyueyinglh2_bowen_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,726},{129,53}}</string>
                <key>offset</key>
                <string>{6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,2},{129,53}}</string>
                <key>sourceSize</key>
                <string>{143,55}</string>
            </dict>
            <key>huangyueyinglh2_bowen_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,821},{143,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,55}}</string>
                <key>sourceSize</key>
                <string>{143,55}</string>
            </dict>
            <key>huangyueyinglh2_bowen_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,669},{131,55}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{131,55}}</string>
                <key>sourceSize</key>
                <string>{143,55}</string>
            </dict>
            <key>huangyueyinglh2_bowen_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,869},{127,55}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{127,55}}</string>
                <key>sourceSize</key>
                <string>{143,55}</string>
            </dict>
            <key>huangyueyinglh2_bowen_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,850},{123,55}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,0},{123,55}}</string>
                <key>sourceSize</key>
                <string>{143,55}</string>
            </dict>
            <key>huangyueyinglh2_dian_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,607},{46,29}}</string>
                <key>offset</key>
                <string>{-3,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,44},{46,29}}</string>
                <key>sourceSize</key>
                <string>{82,73}</string>
            </dict>
            <key>huangyueyinglh2_dian_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,416},{40,49}}</string>
                <key>offset</key>
                <string>{15,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,21},{40,49}}</string>
                <key>sourceSize</key>
                <string>{82,73}</string>
            </dict>
            <key>huangyueyinglh2_dian_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{739,965},{72,63}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,7},{72,63}}</string>
                <key>sourceSize</key>
                <string>{82,73}</string>
            </dict>
            <key>huangyueyinglh2_dian_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,1021},{48,59}}</string>
                <key>offset</key>
                <string>{-13,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,7},{48,59}}</string>
                <key>sourceSize</key>
                <string>{82,73}</string>
            </dict>
            <key>huangyueyinglh2_dian_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,467},{40,35}}</string>
                <key>offset</key>
                <string>{-15,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,10},{40,35}}</string>
                <key>sourceSize</key>
                <string>{82,73}</string>
            </dict>
            <key>huangyueyinglh2_dian_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,1005},{72,49}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,12},{72,49}}</string>
                <key>sourceSize</key>
                <string>{82,73}</string>
            </dict>
            <key>huangyueyinglh2_dian_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,1010},{46,47}}</string>
                <key>offset</key>
                <string>{12,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,15},{46,47}}</string>
                <key>sourceSize</key>
                <string>{82,73}</string>
            </dict>
            <key>huangyueyinglh2_dian_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,410},{22,27}}</string>
                <key>offset</key>
                <string>{24,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,34},{22,27}}</string>
                <key>sourceSize</key>
                <string>{82,73}</string>
            </dict>
            <key>huangyueyinglh2_dian_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,212},{40,17}}</string>
                <key>offset</key>
                <string>{-3,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,56},{40,17}}</string>
                <key>sourceSize</key>
                <string>{82,73}</string>
            </dict>
            <key>huangyueyinglh2_dian_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,254},{38,17}}</string>
                <key>offset</key>
                <string>{-6,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,56},{38,17}}</string>
                <key>sourceSize</key>
                <string>{82,73}</string>
            </dict>
            <key>huangyueyinglh2_dian_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,123},{82,47}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{82,47}}</string>
                <key>sourceSize</key>
                <string>{82,73}</string>
            </dict>
            <key>huangyueyinglh2_dian_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,870},{80,45}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,13},{80,45}}</string>
                <key>sourceSize</key>
                <string>{82,73}</string>
            </dict>
            <key>huangyueyinglh2_dian_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,1010},{52,45}}</string>
                <key>offset</key>
                <string>{14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,14},{52,45}}</string>
                <key>sourceSize</key>
                <string>{82,73}</string>
            </dict>
            <key>huangyueyinglh2_dian_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,732},{46,25}}</string>
                <key>offset</key>
                <string>{15,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,29},{46,25}}</string>
                <key>sourceSize</key>
                <string>{82,73}</string>
            </dict>
            <key>huangyueyinglh2_dian_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,967},{52,73}}</string>
                <key>offset</key>
                <string>{10,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,0},{52,73}}</string>
                <key>sourceSize</key>
                <string>{82,73}</string>
            </dict>
            <key>huangyueyinglh2_dian_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,1039},{44,59}}</string>
                <key>offset</key>
                <string>{14,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,12},{44,59}}</string>
                <key>sourceSize</key>
                <string>{82,73}</string>
            </dict>
            <key>huangyueyinglh2_huo_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,607},{201,200}}</string>
                <key>offset</key>
                <string>{-9,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,8},{201,200}}</string>
                <key>sourceSize</key>
                <string>{237,208}</string>
            </dict>
            <key>huangyueyinglh2_huo_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,206},{233,202}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{233,202}}</string>
                <key>sourceSize</key>
                <string>{237,208}</string>
            </dict>
            <key>huangyueyinglh2_huo_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,2},{231,206}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{231,206}}</string>
                <key>sourceSize</key>
                <string>{237,208}</string>
            </dict>
            <key>huangyueyinglh2_huo_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,416},{189,208}}</string>
                <key>offset</key>
                <string>{-18,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{189,208}}</string>
                <key>sourceSize</key>
                <string>{237,208}</string>
            </dict>
            <key>huangyueyinglh2_huo_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,410},{209,202}}</string>
                <key>offset</key>
                <string>{-6,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{209,202}}</string>
                <key>sourceSize</key>
                <string>{237,208}</string>
            </dict>
            <key>huangyueyinglh2_huo_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,212},{215,202}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{215,202}}</string>
                <key>sourceSize</key>
                <string>{237,208}</string>
            </dict>
            <key>huangyueyinglh2_huo_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,618},{201,202}}</string>
                <key>offset</key>
                <string>{-10,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,6},{201,202}}</string>
                <key>sourceSize</key>
                <string>{237,208}</string>
            </dict>
            <key>huangyueyinglh2_huo_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,210},{223,204}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,4},{223,204}}</string>
                <key>sourceSize</key>
                <string>{237,208}</string>
            </dict>
            <key>huangyueyinglh2_huo_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{699,412},{215,204}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{215,204}}</string>
                <key>sourceSize</key>
                <string>{237,208}</string>
            </dict>
            <key>huangyueyinglh2_huo_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{707,2},{231,204}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{231,204}}</string>
                <key>sourceSize</key>
                <string>{237,208}</string>
            </dict>
            <key>huangyueyinglh2_huo_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{235,202}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{235,202}}</string>
                <key>sourceSize</key>
                <string>{237,208}</string>
            </dict>
            <key>huangyueyinglh2_huo_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,416},{207,204}}</string>
                <key>offset</key>
                <string>{-15,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{207,204}}</string>
                <key>sourceSize</key>
                <string>{237,208}</string>
            </dict>
            <key>huangyueyinglh2_huo_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,622},{201,198}}</string>
                <key>offset</key>
                <string>{-17,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,10},{201,198}}</string>
                <key>sourceSize</key>
                <string>{237,208}</string>
            </dict>
            <key>huangyueyinglh2_huo_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{707,208},{225,202}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{225,202}}</string>
                <key>sourceSize</key>
                <string>{237,208}</string>
            </dict>
            <key>huangyueyinglh2_huo_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,2},{233,208}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{233,208}}</string>
                <key>sourceSize</key>
                <string>{237,208}</string>
            </dict>
            <key>huangyueyinglh2_lizi.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,1021},{45,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,45}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>huangyueyinglh2_xingxing.png</key>
            <dict>
                <key>frame</key>
                <string>{{693,878},{112,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,85}}</string>
                <key>sourceSize</key>
                <string>{112,85}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>huangyueyinglh2.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:316fb6c922427180b8c8a089f9f3359b:1/1$</string>
            <key>textureFileName</key>
            <string>huangyueyinglh2.png</string>
        </dict>
    </dict>
</plist>
