<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zhangliaosznhszlh_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,526},{251,275}}</string>
                <key>offset</key>
                <string>{-6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,12},{251,275}}</string>
                <key>sourceSize</key>
                <string>{277,301}</string>
            </dict>
            <key>zhangliaosznhszlh_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{513,234}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,8},{513,234}}</string>
                <key>sourceSize</key>
                <string>{533,250}</string>
            </dict>
            <key>zhangliaosznhszlh_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,506},{29,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,45}}</string>
                <key>sourceSize</key>
                <string>{29,45}</string>
            </dict>
            <key>zhangliaosznhszlh_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{901,2},{16,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,8}}</string>
                <key>sourceSize</key>
                <string>{16,8}</string>
            </dict>
            <key>zhangliaosznhszlh_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,697},{23,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,52}}</string>
                <key>sourceSize</key>
                <string>{23,52}</string>
            </dict>
            <key>zhangliaosznhszlh_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{901,20},{28,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,7}}</string>
                <key>sourceSize</key>
                <string>{28,7}</string>
            </dict>
            <key>zhangliaosznhszlh_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,525},{38,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,29}}</string>
                <key>sourceSize</key>
                <string>{38,29}</string>
            </dict>
            <key>zhangliaosznhszlh_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,454},{14,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,33}}</string>
                <key>sourceSize</key>
                <string>{14,33}</string>
            </dict>
            <key>zhangliaosznhszlh_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{775,722},{47,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,51}}</string>
                <key>sourceSize</key>
                <string>{47,51}</string>
            </dict>
            <key>zhangliaosznhszlh_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{775,684},{11,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,16}}</string>
                <key>sourceSize</key>
                <string>{11,16}</string>
            </dict>
            <key>zhangliaosznhszlh_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,760},{20,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,27}}</string>
                <key>sourceSize</key>
                <string>{20,27}</string>
            </dict>
            <key>zhangliaosznhszlh_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{775,558},{41,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,39}}</string>
                <key>sourceSize</key>
                <string>{41,39}</string>
            </dict>
            <key>zhangliaosznhszlh_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,516},{242,199}}</string>
                <key>offset</key>
                <string>{-39,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,80},{242,199}}</string>
                <key>sourceSize</key>
                <string>{322,281}</string>
            </dict>
            <key>zhangliaosznhszlh_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,470},{53,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,31}}</string>
                <key>sourceSize</key>
                <string>{53,31}</string>
            </dict>
            <key>zhangliaosznhszlh_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,803},{80,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,106}}</string>
                <key>sourceSize</key>
                <string>{80,106}</string>
            </dict>
            <key>zhangliaosznhszlh_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,760},{23,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,26}}</string>
                <key>sourceSize</key>
                <string>{23,26}</string>
            </dict>
            <key>zhangliaosznhszlh_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{567,726},{38,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,30}}</string>
                <key>sourceSize</key>
                <string>{38,30}</string>
            </dict>
            <key>zhangliaosznhszlh_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{775,608},{48,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,74}}</string>
                <key>sourceSize</key>
                <string>{48,74}</string>
            </dict>
            <key>zhangliaosznhszlh_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,565},{29,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,29}}</string>
                <key>sourceSize</key>
                <string>{29,29}</string>
            </dict>
            <key>zhangliaosznhszlh_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,790},{129,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,117}}</string>
                <key>sourceSize</key>
                <string>{129,117}</string>
            </dict>
            <key>zhangliaosznhszlh_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{775,392},{164,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,95}}</string>
                <key>sourceSize</key>
                <string>{164,95}</string>
            </dict>
            <key>zhangliaosznhszlh_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{677,697},{25,85}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{25,85}}</string>
                <key>sourceSize</key>
                <string>{25,89}</string>
            </dict>
            <key>zhangliaosznhszlh_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,537},{44,158}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{44,158}}</string>
                <key>sourceSize</key>
                <string>{44,162}</string>
            </dict>
            <key>zhangliaosznhszlh_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{701,525},{78,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,72}}</string>
                <key>sourceSize</key>
                <string>{78,72}</string>
            </dict>
            <key>zhangliaosznhszlh_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{885,774},{18,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,52}}</string>
                <key>sourceSize</key>
                <string>{18,52}</string>
            </dict>
            <key>zhangliaosznhszlh_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,605},{73,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,90}}</string>
                <key>sourceSize</key>
                <string>{73,90}</string>
            </dict>
            <key>zhangliaosznhszlh_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{873,374},{33,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,78}}</string>
                <key>sourceSize</key>
                <string>{33,78}</string>
            </dict>
            <key>zhangliaosznhszlh_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,449},{76,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,62}}</string>
                <key>sourceSize</key>
                <string>{76,62}</string>
            </dict>
            <key>zhangliaosznhszlh_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{775,775},{43,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,54}}</string>
                <key>sourceSize</key>
                <string>{43,54}</string>
            </dict>
            <key>zhangliaosznhszlh_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,526},{262,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{262,109}}</string>
                <key>sourceSize</key>
                <string>{262,109}</string>
            </dict>
            <key>zhangliaosznhszlh_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,334},{171,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,84}}</string>
                <key>sourceSize</key>
                <string>{171,84}</string>
            </dict>
            <key>zhangliaosznhszlh_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{567,507},{217,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,85}}</string>
                <key>sourceSize</key>
                <string>{217,85}</string>
            </dict>
            <key>zhangliaosznhszlh_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,558},{52,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,48}}</string>
                <key>sourceSize</key>
                <string>{52,48}</string>
            </dict>
            <key>zhangliaosznhszlh_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,485},{71,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,38}}</string>
                <key>sourceSize</key>
                <string>{71,38}</string>
            </dict>
            <key>zhangliaosznhszlh_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,334},{56,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,169}}</string>
                <key>sourceSize</key>
                <string>{56,169}</string>
            </dict>
            <key>zhangliaosznhszlh_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,397},{86,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,50}}</string>
                <key>sourceSize</key>
                <string>{86,50}</string>
            </dict>
            <key>zhangliaosznhszlh_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,803},{103,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,54}}</string>
                <key>sourceSize</key>
                <string>{103,54}</string>
            </dict>
            <key>zhangliaosznhszlh_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,774},{49,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,59}}</string>
                <key>sourceSize</key>
                <string>{49,59}</string>
            </dict>
            <key>zhangliaosznhszlh_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,825},{18,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,42}}</string>
                <key>sourceSize</key>
                <string>{18,42}</string>
            </dict>
            <key>zhangliaosznhszlh_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{775,845},{56,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,92}}</string>
                <key>sourceSize</key>
                <string>{56,92}</string>
            </dict>
            <key>zhangliaosznhszlh_45.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,392},{71,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,91}}</string>
                <key>sourceSize</key>
                <string>{71,91}</string>
            </dict>
            <key>zhangliaosznhszlh_46.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,697},{26,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,21}}</string>
                <key>sourceSize</key>
                <string>{26,21}</string>
            </dict>
            <key>zhangliaosznhszlh_47.png</key>
            <dict>
                <key>frame</key>
                <string>{{617,726},{156,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,182}}</string>
                <key>sourceSize</key>
                <string>{156,182}</string>
            </dict>
            <key>zhangliaosznhszlh_48.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,238},{286,316}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{286,316}}</string>
                <key>sourceSize</key>
                <string>{286,316}</string>
            </dict>
            <key>zhangliaosznhszlh_49.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,397},{102,117}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{102,117}}</string>
                <key>sourceSize</key>
                <string>{106,117}</string>
            </dict>
            <key>zhangliaosznhszlh_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,803},{106,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,138}}</string>
                <key>sourceSize</key>
                <string>{106,138}</string>
            </dict>
            <key>zhangliaosznhszlh_50.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,238},{157,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,192}}</string>
                <key>sourceSize</key>
                <string>{157,192}</string>
            </dict>
            <key>zhangliaosznhszlh_51.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,760},{147,199}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,199}}</string>
                <key>sourceSize</key>
                <string>{147,199}</string>
            </dict>
            <key>zhangliaosznhszlh_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{825,608},{164,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,75}}</string>
                <key>sourceSize</key>
                <string>{164,75}</string>
            </dict>
            <key>zhangliaosznhszlh_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,334},{170,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,100}}</string>
                <key>sourceSize</key>
                <string>{170,100}</string>
            </dict>
            <key>zhangliaosznhszlh_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{517,2},{382,330}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{382,330}}</string>
                <key>sourceSize</key>
                <string>{382,330}</string>
            </dict>
            <key>zhangliaosznhszlh_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{873,334},{35,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,38}}</string>
                <key>sourceSize</key>
                <string>{35,38}</string>
            </dict>
            <key>zhangliaosznhszlh_biyan.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,790},{28,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,11}}</string>
                <key>sourceSize</key>
                <string>{28,11}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zhangliaolh7.pvr.ccz</string>
            <key>size</key>
            <string>{911,911}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:71cabf671038a6474563dda9e990c9b6:1/1$</string>
            <key>textureFileName</key>
            <string>zhangliaolh7.pvr.ccz</string>
        </dict>
    </dict>
</plist>
