<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zuocilh5_huo_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{24,133}</string>
                <key>spriteSourceSize</key>
                <string>{24,135}</string>
                <key>textureRect</key>
                <string>{{493,138},{24,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zuocilh5_huo_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,135}</string>
                <key>spriteSourceSize</key>
                <string>{24,135}</string>
                <key>textureRect</key>
                <string>{{467,1},{24,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zuocilh5_huo_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,135}</string>
                <key>spriteSourceSize</key>
                <string>{24,135}</string>
                <key>textureRect</key>
                <string>{{467,871},{24,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zuocilh5_huo_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,135}</string>
                <key>spriteSourceSize</key>
                <string>{24,135}</string>
                <key>textureRect</key>
                <string>{{467,138},{24,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zuocilh5_huo_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,135}</string>
                <key>spriteSourceSize</key>
                <string>{24,135}</string>
                <key>textureRect</key>
                <string>{{493,1},{24,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zuocilh5_huo_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,135}</string>
                <key>spriteSourceSize</key>
                <string>{24,135}</string>
                <key>textureRect</key>
                <string>{{493,871},{24,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zuocilh5_huo_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{24,127}</string>
                <key>spriteSourceSize</key>
                <string>{24,135}</string>
                <key>textureRect</key>
                <string>{{519,1},{24,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zuocilh5_huo_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,8}</string>
                <key>spriteSize</key>
                <string>{24,107}</string>
                <key>spriteSourceSize</key>
                <string>{24,135}</string>
                <key>textureRect</key>
                <string>{{519,871},{24,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zuocilh5_lizidian_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,34}</string>
                <key>spriteSourceSize</key>
                <string>{35,34}</string>
                <key>textureRect</key>
                <string>{{519,130},{35,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zuocilh5_xing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,180}</string>
                <key>spriteSourceSize</key>
                <string>{186,180}</string>
                <key>textureRect</key>
                <string>{{1,839},{186,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zuocilh5_yan_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,0}</string>
                <key>spriteSize</key>
                <string>{142,278}</string>
                <key>spriteSourceSize</key>
                <string>{154,278}</string>
                <key>textureRect</key>
                <string>{{151,559},{142,278}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zuocilh5_yan_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-3}</string>
                <key>spriteSize</key>
                <string>{146,272}</string>
                <key>spriteSourceSize</key>
                <string>{154,278}</string>
                <key>textureRect</key>
                <string>{{299,429},{146,272}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zuocilh5_yan_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{154,272}</string>
                <key>spriteSourceSize</key>
                <string>{154,278}</string>
                <key>textureRect</key>
                <string>{{157,1},{154,272}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zuocilh5_yan_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{154,276}</string>
                <key>spriteSourceSize</key>
                <string>{154,278}</string>
                <key>textureRect</key>
                <string>{{1,1},{154,276}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zuocilh5_yan_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,0}</string>
                <key>spriteSize</key>
                <string>{142,278}</string>
                <key>spriteSourceSize</key>
                <string>{154,278}</string>
                <key>textureRect</key>
                <string>{{155,279},{142,278}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zuocilh5_yan_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,0}</string>
                <key>spriteSize</key>
                <string>{146,278}</string>
                <key>spriteSourceSize</key>
                <string>{154,278}</string>
                <key>textureRect</key>
                <string>{{295,577},{146,278}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zuocilh5_yan_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{148,278}</string>
                <key>spriteSourceSize</key>
                <string>{154,278}</string>
                <key>textureRect</key>
                <string>{{1,559},{148,278}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zuocilh5_yan_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{144,276}</string>
                <key>spriteSourceSize</key>
                <string>{154,278}</string>
                <key>textureRect</key>
                <string>{{295,725},{144,276}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zuocilh5_yan_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{152,278}</string>
                <key>spriteSourceSize</key>
                <string>{154,278}</string>
                <key>textureRect</key>
                <string>{{1,279},{152,278}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zuocilh5_yan_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{150,274}</string>
                <key>spriteSourceSize</key>
                <string>{154,278}</string>
                <key>textureRect</key>
                <string>{{299,277},{150,274}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zuocilh5_yan_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{152,274}</string>
                <key>spriteSourceSize</key>
                <string>{154,278}</string>
                <key>textureRect</key>
                <string>{{313,1},{152,274}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zuocilh5_yan_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{150,276}</string>
                <key>spriteSourceSize</key>
                <string>{154,278}</string>
                <key>textureRect</key>
                <string>{{189,871},{150,276}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>zuocilh5.png</string>
            <key>size</key>
            <string>{574,1022}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8fdd49bf3b81861d47a5d86d2fe43f05:aa05ceee94880497ec7413298a3e3bcf:f4deb8c918d0de4720e67cac3c144198$</string>
            <key>textureFileName</key>
            <string>zuocilh5.png</string>
        </dict>
    </dict>
</plist>
