<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>suncelh5_huo1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,112}</string>
                <key>spriteSourceSize</key>
                <string>{147,112}</string>
                <key>textureRect</key>
                <string>{{263,183},{147,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>suncelh5_huo1_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{145,112}</string>
                <key>spriteSourceSize</key>
                <string>{147,112}</string>
                <key>textureRect</key>
                <string>{{259,751},{145,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>suncelh5_huo1_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{145,112}</string>
                <key>spriteSourceSize</key>
                <string>{147,112}</string>
                <key>textureRect</key>
                <string>{{259,865},{145,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>suncelh5_huo1_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{145,112}</string>
                <key>spriteSourceSize</key>
                <string>{147,112}</string>
                <key>textureRect</key>
                <string>{{259,979},{145,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>suncelh5_huo1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,112}</string>
                <key>spriteSourceSize</key>
                <string>{147,112}</string>
                <key>textureRect</key>
                <string>{{261,297},{147,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>suncelh5_huo1_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,112}</string>
                <key>spriteSourceSize</key>
                <string>{147,112}</string>
                <key>textureRect</key>
                <string>{{261,411},{147,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>suncelh5_huo1_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,112}</string>
                <key>spriteSourceSize</key>
                <string>{147,112}</string>
                <key>textureRect</key>
                <string>{{261,525},{147,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>suncelh5_huo1_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{143,108}</string>
                <key>spriteSourceSize</key>
                <string>{147,112}</string>
                <key>textureRect</key>
                <string>{{223,1203},{143,108}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>suncelh5_huo1_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{145,106}</string>
                <key>spriteSourceSize</key>
                <string>{147,112}</string>
                <key>textureRect</key>
                <string>{{1,1203},{145,106}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>suncelh5_huo1_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{145,108}</string>
                <key>spriteSourceSize</key>
                <string>{147,112}</string>
                <key>textureRect</key>
                <string>{{257,1093},{145,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>suncelh5_huo1_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{147,110}</string>
                <key>spriteSourceSize</key>
                <string>{147,112}</string>
                <key>textureRect</key>
                <string>{{259,639},{147,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>suncelh5_huo1_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{143,112}</string>
                <key>spriteSourceSize</key>
                <string>{147,112}</string>
                <key>textureRect</key>
                <string>{{109,1203},{143,112}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>suncelh5_huo2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-1}</string>
                <key>spriteSize</key>
                <string>{90,256}</string>
                <key>spriteSourceSize</key>
                <string>{98,260}</string>
                <key>textureRect</key>
                <string>{{1,983},{90,256}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>suncelh5_huo2_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{96,260}</string>
                <key>spriteSourceSize</key>
                <string>{98,260}</string>
                <key>textureRect</key>
                <string>{{1,1},{96,260}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>suncelh5_huo2_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{96,258}</string>
                <key>spriteSourceSize</key>
                <string>{98,260}</string>
                <key>textureRect</key>
                <string>{{1,295},{96,258}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>suncelh5_huo2_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{96,258}</string>
                <key>spriteSourceSize</key>
                <string>{98,260}</string>
                <key>textureRect</key>
                <string>{{1,393},{96,258}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>suncelh5_huo2_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-2}</string>
                <key>spriteSize</key>
                <string>{92,256}</string>
                <key>spriteSourceSize</key>
                <string>{98,260}</string>
                <key>textureRect</key>
                <string>{{1,889},{92,256}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>suncelh5_huo2_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{96,258}</string>
                <key>spriteSourceSize</key>
                <string>{98,260}</string>
                <key>textureRect</key>
                <string>{{1,491},{96,258}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>suncelh5_huo2_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{96,260}</string>
                <key>spriteSourceSize</key>
                <string>{98,260}</string>
                <key>textureRect</key>
                <string>{{1,99},{96,260}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>suncelh5_huo2_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{96,260}</string>
                <key>spriteSourceSize</key>
                <string>{98,260}</string>
                <key>textureRect</key>
                <string>{{1,197},{96,260}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>suncelh5_huo2_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{98,256}</string>
                <key>spriteSourceSize</key>
                <string>{98,260}</string>
                <key>textureRect</key>
                <string>{{1,589},{98,256}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>suncelh5_huo2_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{98,256}</string>
                <key>spriteSourceSize</key>
                <string>{98,260}</string>
                <key>textureRect</key>
                <string>{{1,689},{98,256}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>suncelh5_huo2_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{98,254}</string>
                <key>spriteSourceSize</key>
                <string>{98,260}</string>
                <key>textureRect</key>
                <string>{{1,1075},{98,254}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>suncelh5_huo2_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{98,256}</string>
                <key>spriteSourceSize</key>
                <string>{98,260}</string>
                <key>textureRect</key>
                <string>{{1,789},{98,256}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>suncelh5_huo3_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,26}</string>
                <key>spriteSourceSize</key>
                <string>{102,26}</string>
                <key>textureRect</key>
                <string>{{451,1},{102,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>suncelh5_huo3_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,26}</string>
                <key>spriteSourceSize</key>
                <string>{102,26}</string>
                <key>textureRect</key>
                <string>{{451,105},{102,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>suncelh5_huo3_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,26}</string>
                <key>spriteSourceSize</key>
                <string>{102,26}</string>
                <key>textureRect</key>
                <string>{{1,1175},{102,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>suncelh5_huo3_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,26}</string>
                <key>spriteSourceSize</key>
                <string>{102,26}</string>
                <key>textureRect</key>
                <string>{{105,1175},{102,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>suncelh5_huo3_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,26}</string>
                <key>spriteSourceSize</key>
                <string>{102,26}</string>
                <key>textureRect</key>
                <string>{{333,1238},{102,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>suncelh5_huo3_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,26}</string>
                <key>spriteSourceSize</key>
                <string>{102,26}</string>
                <key>textureRect</key>
                <string>{{361,1238},{102,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>suncelh5_huo3_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{96,26}</string>
                <key>spriteSourceSize</key>
                <string>{102,26}</string>
                <key>textureRect</key>
                <string>{{389,1238},{96,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>suncelh5_huo3_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,0}</string>
                <key>spriteSize</key>
                <string>{82,26}</string>
                <key>spriteSourceSize</key>
                <string>{102,26}</string>
                <key>textureRect</key>
                <string>{{406,755},{82,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>suncelh5_lizi_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,20}</string>
                <key>spriteSourceSize</key>
                <string>{15,20}</string>
                <key>textureRect</key>
                <string>{{412,183},{15,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>suncelh5_lizi_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,18}</string>
                <key>spriteSourceSize</key>
                <string>{16,18}</string>
                <key>textureRect</key>
                <string>{{429,183},{16,18}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>suncelh5_xing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,180}</string>
                <key>spriteSourceSize</key>
                <string>{186,180}</string>
                <key>textureRect</key>
                <string>{{263,1},{186,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>suncelh5_yan_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,76}</string>
                <key>spriteSourceSize</key>
                <string>{89,76}</string>
                <key>textureRect</key>
                <string>{{412,209},{89,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>suncelh5_yan_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,76}</string>
                <key>spriteSourceSize</key>
                <string>{89,76}</string>
                <key>textureRect</key>
                <string>{{410,300},{89,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>suncelh5_yan_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,76}</string>
                <key>spriteSourceSize</key>
                <string>{89,76}</string>
                <key>textureRect</key>
                <string>{{410,391},{89,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>suncelh5_yan_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,76}</string>
                <key>spriteSourceSize</key>
                <string>{89,76}</string>
                <key>textureRect</key>
                <string>{{410,482},{89,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>suncelh5_yan_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,76}</string>
                <key>spriteSourceSize</key>
                <string>{89,76}</string>
                <key>textureRect</key>
                <string>{{410,573},{89,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>suncelh5_yan_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,76}</string>
                <key>spriteSourceSize</key>
                <string>{89,76}</string>
                <key>textureRect</key>
                <string>{{408,664},{89,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>suncelh5_yan_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,76}</string>
                <key>spriteSourceSize</key>
                <string>{89,76}</string>
                <key>textureRect</key>
                <string>{{406,783},{89,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>suncelh5_yan_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,76}</string>
                <key>spriteSourceSize</key>
                <string>{89,76}</string>
                <key>textureRect</key>
                <string>{{406,874},{89,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>suncelh5_yan_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,76}</string>
                <key>spriteSourceSize</key>
                <string>{89,76}</string>
                <key>textureRect</key>
                <string>{{406,965},{89,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>suncelh5_yan_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,76}</string>
                <key>spriteSourceSize</key>
                <string>{89,76}</string>
                <key>textureRect</key>
                <string>{{406,1056},{89,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>suncelh5_yan_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,76}</string>
                <key>spriteSourceSize</key>
                <string>{89,76}</string>
                <key>textureRect</key>
                <string>{{404,1147},{89,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>suncelh5_yan_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,76}</string>
                <key>spriteSourceSize</key>
                <string>{89,76}</string>
                <key>textureRect</key>
                <string>{{389,1266},{89,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>suncelh5.png</string>
            <key>size</key>
            <string>{489,1349}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:15895b502c03f42472326f9ce2c42498:c7d92760160f0b7e9b67f273523b23c0:c62fac78adbd3f5fbc25983c60f14b5d$</string>
            <key>textureFileName</key>
            <string>suncelh5.png</string>
        </dict>
    </dict>
</plist>
