<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zhugeliangcjzpszlh_TX_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{565,2},{278,245}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{278,245}}</string>
                <key>sourceSize</key>
                <string>{284,251}</string>
            </dict>
            <key>zhugeliangcjzpszlh_TX_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,846},{69,20}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,7},{69,20}}</string>
                <key>sourceSize</key>
                <string>{77,30}</string>
            </dict>
            <key>zhugeliangcjzpszlh_TX_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{561,306}}</string>
                <key>offset</key>
                <string>{-66,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{561,306}}</string>
                <key>sourceSize</key>
                <string>{695,314}</string>
            </dict>
            <key>zhugeliangcjzpszlh_TX_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,310},{250,209}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,2},{250,209}}</string>
                <key>sourceSize</key>
                <string>{268,217}</string>
            </dict>
            <key>zhugeliangcjzpszlh_body_face.png</key>
            <dict>
                <key>frame</key>
                <string>{{515,543},{47,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,52}}</string>
                <key>sourceSize</key>
                <string>{47,52}</string>
            </dict>
            <key>zhugeliangcjzpszlh_body_hair01.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,745},{42,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,63}}</string>
                <key>sourceSize</key>
                <string>{42,63}</string>
            </dict>
            <key>zhugeliangcjzpszlh_body_hair02.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,601},{230,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,100}}</string>
                <key>sourceSize</key>
                <string>{230,100}</string>
            </dict>
            <key>zhugeliangcjzpszlh_body_hair03.png</key>
            <dict>
                <key>frame</key>
                <string>{{845,358},{161,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,70}}</string>
                <key>sourceSize</key>
                <string>{161,70}</string>
            </dict>
            <key>zhugeliangcjzpszlh_body_hair04.png</key>
            <dict>
                <key>frame</key>
                <string>{{565,249},{278,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{278,120}}</string>
                <key>sourceSize</key>
                <string>{278,120}</string>
            </dict>
            <key>zhugeliangcjzpszlh_body_hair05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,310},{224,269}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,269}}</string>
                <key>sourceSize</key>
                <string>{224,269}</string>
            </dict>
            <key>zhugeliangcjzpszlh_body_hqun.png</key>
            <dict>
                <key>frame</key>
                <string>{{845,104},{252,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,165}}</string>
                <key>sourceSize</key>
                <string>{252,165}</string>
            </dict>
            <key>zhugeliangcjzpszlh_body_liuhai01.png</key>
            <dict>
                <key>frame</key>
                <string>{{779,944},{54,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,34}}</string>
                <key>sourceSize</key>
                <string>{54,34}</string>
            </dict>
            <key>zhugeliangcjzpszlh_body_liuhai02.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,764},{32,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,51}}</string>
                <key>sourceSize</key>
                <string>{32,51}</string>
            </dict>
            <key>zhugeliangcjzpszlh_body_liuhai03.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,573},{17,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,20}}</string>
                <key>sourceSize</key>
                <string>{17,20}</string>
            </dict>
            <key>zhugeliangcjzpszlh_body_liuhai04.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,796},{18,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,19}}</string>
                <key>sourceSize</key>
                <string>{18,19}</string>
            </dict>
            <key>zhugeliangcjzpszlh_body_liuhai05.png</key>
            <dict>
                <key>frame</key>
                <string>{{515,732},{62,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{62,45}}</string>
                <key>sourceSize</key>
                <string>{64,45}</string>
            </dict>
            <key>zhugeliangcjzpszlh_body_maoshi01.png</key>
            <dict>
                <key>frame</key>
                <string>{{525,418},{38,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,20}}</string>
                <key>sourceSize</key>
                <string>{38,20}</string>
            </dict>
            <key>zhugeliangcjzpszlh_body_maoshi02.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,789},{37,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,10}}</string>
                <key>sourceSize</key>
                <string>{37,10}</string>
            </dict>
            <key>zhugeliangcjzpszlh_body_maoshi03.png</key>
            <dict>
                <key>frame</key>
                <string>{{845,2},{166,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,100}}</string>
                <key>sourceSize</key>
                <string>{166,100}</string>
            </dict>
            <key>zhugeliangcjzpszlh_body_maoshi04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,747},{80,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,96}}</string>
                <key>sourceSize</key>
                <string>{80,96}</string>
            </dict>
            <key>zhugeliangcjzpszlh_body_maozi.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,919},{58,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,60}}</string>
                <key>sourceSize</key>
                <string>{58,60}</string>
            </dict>
            <key>zhugeliangcjzpszlh_body_shanzi01.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,789},{37,20}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,20}}</string>
                <key>sourceSize</key>
                <string>{37,22}</string>
            </dict>
            <key>zhugeliangcjzpszlh_body_shanzi02.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,740},{91,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,87}}</string>
                <key>sourceSize</key>
                <string>{91,87}</string>
            </dict>
            <key>zhugeliangcjzpszlh_body_st.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,747},{74,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,97}}</string>
                <key>sourceSize</key>
                <string>{74,97}</string>
            </dict>
            <key>zhugeliangcjzpszlh_body_yaodai.png</key>
            <dict>
                <key>frame</key>
                <string>{{815,944},{52,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,36}}</string>
                <key>sourceSize</key>
                <string>{52,36}</string>
            </dict>
            <key>zhugeliangcjzpszlh_body_ydatui.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,595},{90,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,149}}</string>
                <key>sourceSize</key>
                <string>{90,149}</string>
            </dict>
            <key>zhugeliangcjzpszlh_body_yidaipeishi.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,824},{118,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,126}}</string>
                <key>sourceSize</key>
                <string>{118,126}</string>
            </dict>
            <key>zhugeliangcjzpszlh_body_yiqun01.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,829},{99,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,113}}</string>
                <key>sourceSize</key>
                <string>{99,113}</string>
            </dict>
            <key>zhugeliangcjzpszlh_body_yiqun02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,829},{179,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,194}}</string>
                <key>sourceSize</key>
                <string>{179,194}</string>
            </dict>
            <key>zhugeliangcjzpszlh_body_yj01.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,789},{35,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,17}}</string>
                <key>sourceSize</key>
                <string>{35,17}</string>
            </dict>
            <key>zhugeliangcjzpszlh_body_yj02.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,621},{34,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,14}}</string>
                <key>sourceSize</key>
                <string>{34,14}</string>
            </dict>
            <key>zhugeliangcjzpszlh_body_yj03.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,601},{34,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,14}}</string>
                <key>sourceSize</key>
                <string>{34,14}</string>
            </dict>
            <key>zhugeliangcjzpszlh_body_yj04.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,747},{33,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,15}}</string>
                <key>sourceSize</key>
                <string>{33,15}</string>
            </dict>
            <key>zhugeliangcjzpszlh_body_yjianshi.png</key>
            <dict>
                <key>frame</key>
                <string>{{853,933},{83,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,74}}</string>
                <key>sourceSize</key>
                <string>{83,74}</string>
            </dict>
            <key>zhugeliangcjzpszlh_body_ykaijia.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,829},{51,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,49}}</string>
                <key>sourceSize</key>
                <string>{51,49}</string>
            </dict>
            <key>zhugeliangcjzpszlh_body_yshou.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,536},{66,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,55}}</string>
                <key>sourceSize</key>
                <string>{66,55}</string>
            </dict>
            <key>zhugeliangcjzpszlh_body_yszhi01.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,823},{22,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,21}}</string>
                <key>sourceSize</key>
                <string>{22,21}</string>
            </dict>
            <key>zhugeliangcjzpszlh_body_yszhi02.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,621},{14,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,14}}</string>
                <key>sourceSize</key>
                <string>{14,14}</string>
            </dict>
            <key>zhugeliangcjzpszlh_body_yszhi03.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,796},{19,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,16}}</string>
                <key>sourceSize</key>
                <string>{19,16}</string>
            </dict>
            <key>zhugeliangcjzpszlh_body_yxiaobi.png</key>
            <dict>
                <key>frame</key>
                <string>{{927,880},{39,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,34}}</string>
                <key>sourceSize</key>
                <string>{39,34}</string>
            </dict>
            <key>zhugeliangcjzpszlh_body_yxiaotui.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,946},{57,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,148}}</string>
                <key>sourceSize</key>
                <string>{57,148}</string>
            </dict>
            <key>zhugeliangcjzpszlh_body_yyijin.png</key>
            <dict>
                <key>frame</key>
                <string>{{515,597},{47,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,39}}</string>
                <key>sourceSize</key>
                <string>{47,39}</string>
            </dict>
            <key>zhugeliangcjzpszlh_body_yyiqun.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,430},{189,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,196}}</string>
                <key>sourceSize</key>
                <string>{189,196}</string>
            </dict>
            <key>zhugeliangcjzpszlh_body_yyixiu01.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,536},{35,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,26}}</string>
                <key>sourceSize</key>
                <string>{35,26}</string>
            </dict>
            <key>zhugeliangcjzpszlh_body_yyixiu02.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,477},{242,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,122}}</string>
                <key>sourceSize</key>
                <string>{242,122}</string>
            </dict>
            <key>zhugeliangcjzpszlh_body_yyixiu03.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,536},{57,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,96}}</string>
                <key>sourceSize</key>
                <string>{57,96}</string>
            </dict>
            <key>zhugeliangcjzpszlh_body_yyixiu04.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,521},{240,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,224}}</string>
                <key>sourceSize</key>
                <string>{240,224}</string>
            </dict>
            <key>zhugeliangcjzpszlh_body_yyixiu05.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,536},{54,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,72}}</string>
                <key>sourceSize</key>
                <string>{54,72}</string>
            </dict>
            <key>zhugeliangcjzpszlh_body_yyixiu06.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,595},{148,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,69}}</string>
                <key>sourceSize</key>
                <string>{148,69}</string>
            </dict>
            <key>zhugeliangcjzpszlh_body_yyixiu07.png</key>
            <dict>
                <key>frame</key>
                <string>{{565,371},{245,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{245,104}}</string>
                <key>sourceSize</key>
                <string>{245,104}</string>
            </dict>
            <key>zhugeliangcjzpszlh_body_zdatui.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,944},{67,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,130}}</string>
                <key>sourceSize</key>
                <string>{67,130}</string>
            </dict>
            <key>zhugeliangcjzpszlh_body_zjian02.png</key>
            <dict>
                <key>frame</key>
                <string>{{525,440},{53,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,37}}</string>
                <key>sourceSize</key>
                <string>{53,37}</string>
            </dict>
            <key>zhugeliangcjzpszlh_body_zkaijia.png</key>
            <dict>
                <key>frame</key>
                <string>{{515,638},{28,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,46}}</string>
                <key>sourceSize</key>
                <string>{28,46}</string>
            </dict>
            <key>zhugeliangcjzpszlh_body_zqunzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,637},{190,214}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,214}}</string>
                <key>sourceSize</key>
                <string>{190,214}</string>
            </dict>
            <key>zhugeliangcjzpszlh_body_zshou.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,703},{25,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,23}}</string>
                <key>sourceSize</key>
                <string>{25,23}</string>
            </dict>
            <key>zhugeliangcjzpszlh_body_zxiaotui.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,747},{75,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,121}}</string>
                <key>sourceSize</key>
                <string>{75,121}</string>
            </dict>
            <key>zhugeliangcjzpszlh_body_zyijian01.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,371},{30,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,53}}</string>
                <key>sourceSize</key>
                <string>{30,53}</string>
            </dict>
            <key>zhugeliangcjzpszlh_body_zyijin.png</key>
            <dict>
                <key>frame</key>
                <string>{{525,495},{46,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,37}}</string>
                <key>sourceSize</key>
                <string>{46,37}</string>
            </dict>
            <key>zhugeliangcjzpszlh_body_zyixiu01.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,824},{193,187}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,187}}</string>
                <key>sourceSize</key>
                <string>{193,195}</string>
            </dict>
            <key>zhugeliangcjzpszlh_body_zyixiu02.png</key>
            <dict>
                <key>frame</key>
                <string>{{525,310},{38,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,106}}</string>
                <key>sourceSize</key>
                <string>{38,106}</string>
            </dict>
            <key>zhugeliangcjzpszlh_body_zyixiu03.png</key>
            <dict>
                <key>frame</key>
                <string>{{789,829},{113,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,40}}</string>
                <key>sourceSize</key>
                <string>{113,40}</string>
            </dict>
            <key>zhugeliangcjzpszlh_body_zyixiu04.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,817},{78,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,127}}</string>
                <key>sourceSize</key>
                <string>{78,127}</string>
            </dict>
            <key>zhugeliangcjzpszlh_body_zyixiu05-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{515,668},{62,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,45}}</string>
                <key>sourceSize</key>
                <string>{62,45}</string>
            </dict>
            <key>zhugeliangcjzpszlh_body_zyixiu05-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,946},{62,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,42}}</string>
                <key>sourceSize</key>
                <string>{62,42}</string>
            </dict>
            <key>zhugeliangcjzpszlh_body_zyixiu06.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,829},{98,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,43}}</string>
                <key>sourceSize</key>
                <string>{98,43}</string>
            </dict>
            <key>zhugeliangcjzpszlh_body_zyixiu07.png</key>
            <dict>
                <key>frame</key>
                <string>{{831,829},{102,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,49}}</string>
                <key>sourceSize</key>
                <string>{102,49}</string>
            </dict>
            <key>zhugeliangcjzpszlh_body_zyixiu08.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,595},{143,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,105}}</string>
                <key>sourceSize</key>
                <string>{143,105}</string>
            </dict>
            <key>zhugeliangcjzpszlh_body_zyixiu09.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,703},{204,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,119}}</string>
                <key>sourceSize</key>
                <string>{204,119}</string>
            </dict>
            <key>zhugeliangcjzpszlh_body_zyixiu10.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,829},{88,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,58}}</string>
                <key>sourceSize</key>
                <string>{88,58}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zhugelianglh5.pvr.ccz</string>
            <key>size</key>
            <string>{1013,1013}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:14960dc7e06103dfacd979cc22418fd6:1/1$</string>
            <key>textureFileName</key>
            <string>zhugelianglh5.pvr.ccz</string>
        </dict>
    </dict>
</plist>
