<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zuocisznhlh_changjing1.png</key>
            <dict>
                <key>frame</key>
                <string>{{977,2},{33,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,64}}</string>
                <key>sourceSize</key>
                <string>{33,64}</string>
            </dict>
            <key>zuocisznhlh_changjing2.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,782},{53,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,63}}</string>
                <key>sourceSize</key>
                <string>{53,63}</string>
            </dict>
            <key>zuocisznhlh_changjing3.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,377},{56,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,85}}</string>
                <key>sourceSize</key>
                <string>{56,85}</string>
            </dict>
            <key>zuocisznhlh_changjing4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,932},{90,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,78}}</string>
                <key>sourceSize</key>
                <string>{90,78}</string>
            </dict>
            <key>zuocisznhlh_changjing5.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,847},{42,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,58}}</string>
                <key>sourceSize</key>
                <string>{42,58}</string>
            </dict>
            <key>zuocisznhlh_changjing6.png</key>
            <dict>
                <key>frame</key>
                <string>{{783,832},{55,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,65}}</string>
                <key>sourceSize</key>
                <string>{55,65}</string>
            </dict>
            <key>zuocisznhlh_changjing7.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,897},{26,29}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{26,29}}</string>
                <key>sourceSize</key>
                <string>{26,31}</string>
            </dict>
            <key>zuocisznhlh_changjing8.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,291},{204,192}}</string>
                <key>offset</key>
                <string>{-14,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,192}}</string>
                <key>sourceSize</key>
                <string>{232,216}</string>
            </dict>
            <key>zuocisznhlh_changjing_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,594},{206,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,72}}</string>
                <key>sourceSize</key>
                <string>{206,72}</string>
            </dict>
            <key>zuocisznhlh_changjing_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,177},{298,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{298,112}}</string>
                <key>sourceSize</key>
                <string>{298,112}</string>
            </dict>
            <key>zuocisznhlh_fuhzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,750},{104,107}}</string>
                <key>offset</key>
                <string>{-5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,13},{104,107}}</string>
                <key>sourceSize</key>
                <string>{114,125}</string>
            </dict>
            <key>zuocisznhlh_fuhzi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,880},{95,116}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{95,116}}</string>
                <key>sourceSize</key>
                <string>{103,126}</string>
            </dict>
            <key>zuocisznhlh_fuhzi3.png</key>
            <dict>
                <key>frame</key>
                <string>{{833,941},{44,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,47}}</string>
                <key>sourceSize</key>
                <string>{44,47}</string>
            </dict>
            <key>zuocisznhlh_fuhzi4.png</key>
            <dict>
                <key>frame</key>
                <string>{{783,899},{40,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,55}}</string>
                <key>sourceSize</key>
                <string>{40,55}</string>
            </dict>
            <key>zuocisznhlh_fuhzi5.png</key>
            <dict>
                <key>frame</key>
                <string>{{699,931},{57,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,64}}</string>
                <key>sourceSize</key>
                <string>{57,64}</string>
            </dict>
            <key>zuocisznhlh_fuhzi6.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,859},{36,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,50}}</string>
                <key>sourceSize</key>
                <string>{36,50}</string>
            </dict>
            <key>zuocisznhlh_hudie_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,926},{26,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{26,38}}</string>
                <key>sourceSize</key>
                <string>{28,42}</string>
            </dict>
            <key>zuocisznhlh_hudie_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,990},{20,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{20,37}}</string>
                <key>sourceSize</key>
                <string>{22,41}</string>
            </dict>
            <key>zuocisznhlh_hudie_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,990},{20,23}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{20,23}}</string>
                <key>sourceSize</key>
                <string>{22,25}</string>
            </dict>
            <key>zuocisznhlh_hudie_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,936},{30,45}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{30,45}}</string>
                <key>sourceSize</key>
                <string>{32,47}</string>
            </dict>
            <key>zuocisznhlh_hudie_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,177},{16,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{16,21}}</string>
                <key>sourceSize</key>
                <string>{18,23}</string>
            </dict>
            <key>zuocisznhlh_hudie_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,990},{14,20}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{14,20}}</string>
                <key>sourceSize</key>
                <string>{16,24}</string>
            </dict>
            <key>zuocisznhlh_hudie_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{921,983},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{26,26}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>zuocisznhlh_hudie_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,987},{23,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{23,27}}</string>
                <key>sourceSize</key>
                <string>{25,29}</string>
            </dict>
            <key>zuocisznhlh_hudie_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,641},{17,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{17,30}}</string>
                <key>sourceSize</key>
                <string>{19,32}</string>
            </dict>
            <key>zuocisznhlh_hudie_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,291},{26,32}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{26,32}}</string>
                <key>sourceSize</key>
                <string>{28,34}</string>
            </dict>
            <key>zuocisznhlh_hudie_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,990},{18,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{18,29}}</string>
                <key>sourceSize</key>
                <string>{20,31}</string>
            </dict>
            <key>zuocisznhlh_mianju.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,602},{207,241}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{207,241}}</string>
                <key>sourceSize</key>
                <string>{211,249}</string>
            </dict>
            <key>zuocisznhlh_mianju1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,319},{313,281}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{313,281}}</string>
                <key>sourceSize</key>
                <string>{315,283}</string>
            </dict>
            <key>zuocisznhlh_mianju2.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,660},{158,174}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{158,174}}</string>
                <key>sourceSize</key>
                <string>{160,174}</string>
            </dict>
            <key>zuocisznhlh_mianju3.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,2},{191,229}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,2},{191,229}}</string>
                <key>sourceSize</key>
                <string>{265,261}</string>
            </dict>
            <key>zuocisznhlh_rw.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,819},{119,85}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{119,85}}</string>
                <key>sourceSize</key>
                <string>{125,99}</string>
            </dict>
            <key>zuocisznhlh_rw1.png</key>
            <dict>
                <key>frame</key>
                <string>{{974,952},{17,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,23}}</string>
                <key>sourceSize</key>
                <string>{17,23}</string>
            </dict>
            <key>zuocisznhlh_rw10.png</key>
            <dict>
                <key>frame</key>
                <string>{{767,617},{11,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,29}}</string>
                <key>sourceSize</key>
                <string>{11,29}</string>
            </dict>
            <key>zuocisznhlh_rw11.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,998},{12,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,28}}</string>
                <key>sourceSize</key>
                <string>{12,28}</string>
            </dict>
            <key>zuocisznhlh_rw12.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,935},{28,30}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{28,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>zuocisznhlh_rw13.png</key>
            <dict>
                <key>frame</key>
                <string>{{781,941},{44,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,50}}</string>
                <key>sourceSize</key>
                <string>{44,50}</string>
            </dict>
            <key>zuocisznhlh_rw14.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,891},{43,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,56}}</string>
                <key>sourceSize</key>
                <string>{43,56}</string>
            </dict>
            <key>zuocisznhlh_rw15.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,617},{176,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,56}}</string>
                <key>sourceSize</key>
                <string>{176,56}</string>
            </dict>
            <key>zuocisznhlh_rw16.png</key>
            <dict>
                <key>frame</key>
                <string>{{977,117},{29,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,66}}</string>
                <key>sourceSize</key>
                <string>{29,66}</string>
            </dict>
            <key>zuocisznhlh_rw17.png</key>
            <dict>
                <key>frame</key>
                <string>{{949,965},{21,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,22}}</string>
                <key>sourceSize</key>
                <string>{21,22}</string>
            </dict>
            <key>zuocisznhlh_rw18.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,617},{163,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,62}}</string>
                <key>sourceSize</key>
                <string>{163,62}</string>
            </dict>
            <key>zuocisznhlh_rw19.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,888},{36,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,40}}</string>
                <key>sourceSize</key>
                <string>{36,40}</string>
            </dict>
            <key>zuocisznhlh_rw2.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,932},{36,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,67}}</string>
                <key>sourceSize</key>
                <string>{36,67}</string>
            </dict>
            <key>zuocisznhlh_rw20.png</key>
            <dict>
                <key>frame</key>
                <string>{{711,836},{93,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,70}}</string>
                <key>sourceSize</key>
                <string>{93,70}</string>
            </dict>
            <key>zuocisznhlh_rw21.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,856},{12,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,15}}</string>
                <key>sourceSize</key>
                <string>{12,15}</string>
            </dict>
            <key>zuocisznhlh_rw22.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,382},{88,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,138}}</string>
                <key>sourceSize</key>
                <string>{88,138}</string>
            </dict>
            <key>zuocisznhlh_rw23.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,617},{30,97}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,4},{30,97}}</string>
                <key>sourceSize</key>
                <string>{38,103}</string>
            </dict>
            <key>zuocisznhlh_rw24.png</key>
            <dict>
                <key>frame</key>
                <string>{{977,68},{33,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,47}}</string>
                <key>sourceSize</key>
                <string>{33,47}</string>
            </dict>
            <key>zuocisznhlh_rw25.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,921},{87,67}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,67}}</string>
                <key>sourceSize</key>
                <string>{89,67}</string>
            </dict>
            <key>zuocisznhlh_rw26.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,990},{16,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,44}}</string>
                <key>sourceSize</key>
                <string>{16,44}</string>
            </dict>
            <key>zuocisznhlh_rw27.png</key>
            <dict>
                <key>frame</key>
                <string>{{555,819},{111,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,61}}</string>
                <key>sourceSize</key>
                <string>{111,61}</string>
            </dict>
            <key>zuocisznhlh_rw29.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,795},{64,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,35}}</string>
                <key>sourceSize</key>
                <string>{64,35}</string>
            </dict>
            <key>zuocisznhlh_rw3.png</key>
            <dict>
                <key>frame</key>
                <string>{{699,997},{13,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,16}}</string>
                <key>sourceSize</key>
                <string>{13,16}</string>
            </dict>
            <key>zuocisznhlh_rw30.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,906},{104,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,83}}</string>
                <key>sourceSize</key>
                <string>{104,83}</string>
            </dict>
            <key>zuocisznhlh_rw31.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,291},{36,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,89}}</string>
                <key>sourceSize</key>
                <string>{36,89}</string>
            </dict>
            <key>zuocisznhlh_rw32.png</key>
            <dict>
                <key>frame</key>
                <string>{{581,932},{47,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,76}}</string>
                <key>sourceSize</key>
                <string>{47,76}</string>
            </dict>
            <key>zuocisznhlh_rw33.png</key>
            <dict>
                <key>frame</key>
                <string>{{519,932},{78,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,60}}</string>
                <key>sourceSize</key>
                <string>{78,60}</string>
            </dict>
            <key>zuocisznhlh_rw34.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,602},{21,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,13}}</string>
                <key>sourceSize</key>
                <string>{21,13}</string>
            </dict>
            <key>zuocisznhlh_rw35.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,819},{12,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,35}}</string>
                <key>sourceSize</key>
                <string>{12,35}</string>
            </dict>
            <key>zuocisznhlh_rw36.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,859},{56,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,27}}</string>
                <key>sourceSize</key>
                <string>{56,27}</string>
            </dict>
            <key>zuocisznhlh_rw37.png</key>
            <dict>
                <key>frame</key>
                <string>{{913,195},{180,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,91}}</string>
                <key>sourceSize</key>
                <string>{180,91}</string>
            </dict>
            <key>zuocisznhlh_rw38.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,602},{146,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,104}}</string>
                <key>sourceSize</key>
                <string>{146,104}</string>
            </dict>
            <key>zuocisznhlh_rw4.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,845},{143,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{143,198}}</string>
                <key>sourceSize</key>
                <string>{145,200}</string>
            </dict>
            <key>zuocisznhlh_rw41.png</key>
            <dict>
                <key>frame</key>
                <string>{{971,506},{82,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,37}}</string>
                <key>sourceSize</key>
                <string>{82,37}</string>
            </dict>
            <key>zuocisznhlh_rw44.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,897},{34,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,36}}</string>
                <key>sourceSize</key>
                <string>{34,36}</string>
            </dict>
            <key>zuocisznhlh_rw45.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,472},{107,128}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{107,128}}</string>
                <key>sourceSize</key>
                <string>{109,130}</string>
            </dict>
            <key>zuocisznhlh_rw46.png</key>
            <dict>
                <key>frame</key>
                <string>{{781,987},{23,41}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{23,41}}</string>
                <key>sourceSize</key>
                <string>{25,45}</string>
            </dict>
            <key>zuocisznhlh_rw47.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,928},{22,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,25}}</string>
                <key>sourceSize</key>
                <string>{22,25}</string>
            </dict>
            <key>zuocisznhlh_rw48.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,382},{94,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,150}}</string>
                <key>sourceSize</key>
                <string>{94,150}</string>
            </dict>
            <key>zuocisznhlh_rw49.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,195},{185,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,193}}</string>
                <key>sourceSize</key>
                <string>{185,193}</string>
            </dict>
            <key>zuocisznhlh_rw5.png</key>
            <dict>
                <key>frame</key>
                <string>{{519,906},{22,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,34}}</string>
                <key>sourceSize</key>
                <string>{22,34}</string>
            </dict>
            <key>zuocisznhlh_rw6.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,987},{32,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,23}}</string>
                <key>sourceSize</key>
                <string>{32,23}</string>
            </dict>
            <key>zuocisznhlh_rw7.png</key>
            <dict>
                <key>frame</key>
                <string>{{977,185},{15,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,8}}</string>
                <key>sourceSize</key>
                <string>{15,8}</string>
            </dict>
            <key>zuocisznhlh_rw8.png</key>
            <dict>
                <key>frame</key>
                <string>{{971,464},{40,39}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,39}}</string>
                <key>sourceSize</key>
                <string>{40,43}</string>
            </dict>
            <key>zuocisznhlh_rw9.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,990},{20,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,44}}</string>
                <key>sourceSize</key>
                <string>{20,44}</string>
            </dict>
            <key>zuocisznhlh_tx1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,660},{157,198}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{157,198}}</string>
                <key>sourceSize</key>
                <string>{163,204}</string>
            </dict>
            <key>zuocisznhlh_tx1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,478},{192,137}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{192,137}}</string>
                <key>sourceSize</key>
                <string>{198,143}</string>
            </dict>
            <key>zuocisznhlh_tx1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,836},{91,83}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{91,83}}</string>
                <key>sourceSize</key>
                <string>{93,85}</string>
            </dict>
            <key>zuocisznhlh_tx1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,594},{45,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{45,34}}</string>
                <key>sourceSize</key>
                <string>{51,38}</string>
            </dict>
            <key>zuocisznhlh_tx1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{887,983},{32,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{32,27}}</string>
                <key>sourceSize</key>
                <string>{40,33}</string>
            </dict>
            <key>zuocisznhlh_tx1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,966},{15,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{15,15}}</string>
                <key>sourceSize</key>
                <string>{17,17}</string>
            </dict>
            <key>zuocisznhlh_tx1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,802},{72,76}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{72,76}}</string>
                <key>sourceSize</key>
                <string>{76,80}</string>
            </dict>
            <key>zuocisznhlh_tx1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,319},{273,137}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,1},{273,137}}</string>
                <key>sourceSize</key>
                <string>{279,139}</string>
            </dict>
            <key>zuocisznhlh_tx1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,602},{328,133}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{328,133}}</string>
                <key>sourceSize</key>
                <string>{332,135}</string>
            </dict>
            <key>zuocisznhlh_tx1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,2},{326,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{326,173}}</string>
                <key>sourceSize</key>
                <string>{328,175}</string>
            </dict>
            <key>zuocisznhlh_tx2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,291},{51,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,16}}</string>
                <key>sourceSize</key>
                <string>{51,16}</string>
            </dict>
            <key>zuocisznhlh_tx2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,931},{57,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,21}}</string>
                <key>sourceSize</key>
                <string>{57,21}</string>
            </dict>
            <key>zuocisznhlh_tx3.png</key>
            <dict>
                <key>frame</key>
                <string>{{699,921},{8,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,8}}</string>
                <key>sourceSize</key>
                <string>{8,8}</string>
            </dict>
            <key>zuocisznhlh_tx4.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,485},{173,210}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{173,210}}</string>
                <key>sourceSize</key>
                <string>{179,214}</string>
            </dict>
            <key>zuocisznhlh_tx5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{414,315}}</string>
                <key>offset</key>
                <string>{5,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,53},{414,315}}</string>
                <key>sourceSize</key>
                <string>{512,429}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>huangyueyinglh2.pvr.ccz</string>
            <key>size</key>
            <string>{1012,1012}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5ff26aac638ad86ccda1982b7b8910d5:1/1$</string>
            <key>textureFileName</key>
            <string>huangyueyinglh2.pvr.ccz</string>
        </dict>
    </dict>
</plist>
