<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pangdelh4_huo1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,526},{197,80}}</string>
                <key>offset</key>
                <string>{1,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,12},{197,80}}</string>
                <key>sourceSize</key>
                <string>{199,122}</string>
            </dict>
            <key>pangdelh4_huo1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,608},{195,108}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{195,108}}</string>
                <key>sourceSize</key>
                <string>{199,122}</string>
            </dict>
            <key>pangdelh4_huo1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,966},{181,64}}</string>
                <key>offset</key>
                <string>{9,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,14},{181,64}}</string>
                <key>sourceSize</key>
                <string>{199,122}</string>
            </dict>
            <key>pangdelh4_huo1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,966},{185,84}}</string>
                <key>offset</key>
                <string>{7,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,12},{185,84}}</string>
                <key>sourceSize</key>
                <string>{199,122}</string>
            </dict>
            <key>pangdelh4_huo1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,979},{183,102}}</string>
                <key>offset</key>
                <string>{7,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,3},{183,102}}</string>
                <key>sourceSize</key>
                <string>{199,122}</string>
            </dict>
            <key>pangdelh4_huo1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,902},{183,102}}</string>
                <key>offset</key>
                <string>{7,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{183,102}}</string>
                <key>sourceSize</key>
                <string>{199,122}</string>
            </dict>
            <key>pangdelh4_huo1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,1006},{181,112}}</string>
                <key>offset</key>
                <string>{7,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{181,112}}</string>
                <key>sourceSize</key>
                <string>{199,122}</string>
            </dict>
            <key>pangdelh4_huo1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,1083},{179,112}}</string>
                <key>offset</key>
                <string>{9,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,0},{179,112}}</string>
                <key>sourceSize</key>
                <string>{199,122}</string>
            </dict>
            <key>pangdelh4_huo1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1052},{183,114}}</string>
                <key>offset</key>
                <string>{6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,3},{183,114}}</string>
                <key>sourceSize</key>
                <string>{199,122}</string>
            </dict>
            <key>pangdelh4_huo1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,856},{191,108}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,9},{191,108}}</string>
                <key>sourceSize</key>
                <string>{199,122}</string>
            </dict>
            <key>pangdelh4_huo2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{122,286}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,0},{122,286}}</string>
                <key>sourceSize</key>
                <string>{136,286}</string>
            </dict>
            <key>pangdelh4_huo2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{575,2},{118,276}}</string>
                <key>offset</key>
                <string>{5,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,8},{118,276}}</string>
                <key>sourceSize</key>
                <string>{136,286}</string>
            </dict>
            <key>pangdelh4_huo2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,768},{86,254}}</string>
                <key>offset</key>
                <string>{-3,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,32},{86,254}}</string>
                <key>sourceSize</key>
                <string>{136,286}</string>
            </dict>
            <key>pangdelh4_huo2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{575,122},{96,272}}</string>
                <key>offset</key>
                <string>{2,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,14},{96,272}}</string>
                <key>sourceSize</key>
                <string>{136,286}</string>
            </dict>
            <key>pangdelh4_huo2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{575,220},{116,270}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,15},{116,270}}</string>
                <key>sourceSize</key>
                <string>{136,286}</string>
            </dict>
            <key>pangdelh4_huo2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,262},{124,276}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,10},{124,276}}</string>
                <key>sourceSize</key>
                <string>{136,286}</string>
            </dict>
            <key>pangdelh4_huo2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,126},{134,280}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{134,280}}</string>
                <key>sourceSize</key>
                <string>{136,286}</string>
            </dict>
            <key>pangdelh4_huo2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{847,266},{132,258}}</string>
                <key>offset</key>
                <string>{-2,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,27},{132,258}}</string>
                <key>sourceSize</key>
                <string>{136,286}</string>
            </dict>
            <key>pangdelh4_huo2_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,663},{130,254}}</string>
                <key>offset</key>
                <string>{-3,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,29},{130,254}}</string>
                <key>sourceSize</key>
                <string>{136,286}</string>
            </dict>
            <key>pangdelh4_huo2_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{853,2},{132,262}}</string>
                <key>offset</key>
                <string>{-1,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,22},{132,262}}</string>
                <key>sourceSize</key>
                <string>{136,286}</string>
            </dict>
            <key>pangdelh4_shizi_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{981,266},{39,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,36}}</string>
                <key>sourceSize</key>
                <string>{39,36}</string>
            </dict>
            <key>pangdelh4_shizi_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{987,2},{36,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,33}}</string>
                <key>sourceSize</key>
                <string>{36,33}</string>
            </dict>
            <key>pangdelh4_shizi_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{987,40},{31,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,36}}</string>
                <key>sourceSize</key>
                <string>{31,36}</string>
            </dict>
            <key>pangdelh4_shizi_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{987,78},{40,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,28}}</string>
                <key>sourceSize</key>
                <string>{40,28}</string>
            </dict>
            <key>pangdelh4_xing_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,856},{60,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,61}}</string>
                <key>sourceSize</key>
                <string>{60,61}</string>
            </dict>
            <key>pangdelh4_xing_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,2},{283,283}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{283,283}}</string>
                <key>sourceSize</key>
                <string>{283,283}</string>
            </dict>
            <key>pangdelh4_yan_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,526},{262,190}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{262,190}}</string>
                <key>sourceSize</key>
                <string>{274,190}</string>
            </dict>
            <key>pangdelh4_yan_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,338},{268,186}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{268,186}}</string>
                <key>sourceSize</key>
                <string>{274,190}</string>
            </dict>
            <key>pangdelh4_yan_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,576},{264,190}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{264,190}}</string>
                <key>sourceSize</key>
                <string>{274,190}</string>
            </dict>
            <key>pangdelh4_yan_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,287},{268,188}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{268,188}}</string>
                <key>sourceSize</key>
                <string>{274,190}</string>
            </dict>
            <key>pangdelh4_yan_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,388},{268,186}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{268,186}}</string>
                <key>sourceSize</key>
                <string>{274,190}</string>
            </dict>
            <key>pangdelh4_yan_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,718},{244,182}}</string>
                <key>offset</key>
                <string>{-13,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,8},{244,182}}</string>
                <key>sourceSize</key>
                <string>{274,190}</string>
            </dict>
            <key>pangdelh4_yan_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,898},{234,178}}</string>
                <key>offset</key>
                <string>{-20,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{234,178}}</string>
                <key>sourceSize</key>
                <string>{274,190}</string>
            </dict>
            <key>pangdelh4_yan_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,718},{234,178}}</string>
                <key>offset</key>
                <string>{-20,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{234,178}}</string>
                <key>sourceSize</key>
                <string>{274,190}</string>
            </dict>
            <key>pangdelh4_yan_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,795},{224,182}}</string>
                <key>offset</key>
                <string>{-24,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,8},{224,182}}</string>
                <key>sourceSize</key>
                <string>{274,190}</string>
            </dict>
            <key>pangdelh4_yan_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,477},{268,184}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{268,184}}</string>
                <key>sourceSize</key>
                <string>{274,190}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pangdelh4.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e173b1e17c2f88dc457a72bd9da9b8b8:1/1$</string>
            <key>textureFileName</key>
            <string>pangdelh4.png</string>
        </dict>
    </dict>
</plist>
