<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>liubeilh7_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,455},{77,84}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,3},{77,84}}</string>
                <key>sourceSize</key>
                <string>{91,90}</string>
            </dict>
            <key>liubeilh7_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,660},{63,54}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{63,54}}</string>
                <key>sourceSize</key>
                <string>{77,64}</string>
            </dict>
            <key>liubeilh7_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,110},{26,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,15}}</string>
                <key>sourceSize</key>
                <string>{26,15}</string>
            </dict>
            <key>liubeilh7_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,656},{26,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,28}}</string>
                <key>sourceSize</key>
                <string>{26,28}</string>
            </dict>
            <key>liubeilh7_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,699},{18,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,39}}</string>
                <key>sourceSize</key>
                <string>{18,39}</string>
            </dict>
            <key>liubeilh7_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,684},{21,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,22}}</string>
                <key>sourceSize</key>
                <string>{21,22}</string>
            </dict>
            <key>liubeilh7_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,656},{28,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,25}}</string>
                <key>sourceSize</key>
                <string>{28,25}</string>
            </dict>
            <key>liubeilh7_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,2},{17,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,39}}</string>
                <key>sourceSize</key>
                <string>{17,39}</string>
            </dict>
            <key>liubeilh7_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,657},{43,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,40}}</string>
                <key>sourceSize</key>
                <string>{43,40}</string>
            </dict>
            <key>liubeilh7_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,464},{13,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,17}}</string>
                <key>sourceSize</key>
                <string>{13,17}</string>
            </dict>
            <key>liubeilh7_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,2},{194,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,158}}</string>
                <key>sourceSize</key>
                <string>{194,158}</string>
            </dict>
            <key>liubeilh7_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,2},{173,245}}</string>
                <key>offset</key>
                <string>{3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{173,245}}</string>
                <key>sourceSize</key>
                <string>{185,255}</string>
            </dict>
            <key>liubeilh7_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,684},{23,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,6},{23,28}}</string>
                <key>sourceSize</key>
                <string>{33,42}</string>
            </dict>
            <key>liubeilh7_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,409},{49,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,57}}</string>
                <key>sourceSize</key>
                <string>{49,57}</string>
            </dict>
            <key>liubeilh7_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,617},{43,40}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,40}}</string>
                <key>sourceSize</key>
                <string>{43,42}</string>
            </dict>
            <key>liubeilh7_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{593,602},{52,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,66}}</string>
                <key>sourceSize</key>
                <string>{52,66}</string>
            </dict>
            <key>liubeilh7_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{515,610},{43,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,33}}</string>
                <key>sourceSize</key>
                <string>{43,33}</string>
            </dict>
            <key>liubeilh7_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,273},{27,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,16}}</string>
                <key>sourceSize</key>
                <string>{27,16}</string>
            </dict>
            <key>liubeilh7_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{687,484},{27,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,57}}</string>
                <key>sourceSize</key>
                <string>{27,57}</string>
            </dict>
            <key>liubeilh7_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,249},{33,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,22}}</string>
                <key>sourceSize</key>
                <string>{33,22}</string>
            </dict>
            <key>liubeilh7_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,701},{18,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,7}}</string>
                <key>sourceSize</key>
                <string>{18,7}</string>
            </dict>
            <key>liubeilh7_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,645},{29,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,38}}</string>
                <key>sourceSize</key>
                <string>{29,38}</string>
            </dict>
            <key>liubeilh7_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{593,541},{59,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,78}}</string>
                <key>sourceSize</key>
                <string>{59,78}</string>
            </dict>
            <key>liubeilh7_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{133,304}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{133,304}}</string>
                <key>sourceSize</key>
                <string>{145,314}</string>
            </dict>
            <key>liubeilh7_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,555},{28,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,8}}</string>
                <key>sourceSize</key>
                <string>{28,8}</string>
            </dict>
            <key>liubeilh7_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,615},{59,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,43}}</string>
                <key>sourceSize</key>
                <string>{59,43}</string>
            </dict>
            <key>liubeilh7_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,43},{13,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,35}}</string>
                <key>sourceSize</key>
                <string>{13,35}</string>
            </dict>
            <key>liubeilh7_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,610},{31,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,42}}</string>
                <key>sourceSize</key>
                <string>{31,42}</string>
            </dict>
            <key>liubeilh7_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,555},{12,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,12}}</string>
                <key>sourceSize</key>
                <string>{12,12}</string>
            </dict>
            <key>liubeilh7_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,490},{160,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,176}}</string>
                <key>sourceSize</key>
                <string>{160,176}</string>
            </dict>
            <key>liubeilh7_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,595},{76,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,102}}</string>
                <key>sourceSize</key>
                <string>{76,102}</string>
            </dict>
            <key>liubeilh7_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{673,575},{36,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,44}}</string>
                <key>sourceSize</key>
                <string>{36,44}</string>
            </dict>
            <key>liubeilh7_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{631,364},{39,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,89}}</string>
                <key>sourceSize</key>
                <string>{39,89}</string>
            </dict>
            <key>liubeilh7_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{673,543},{30,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,46}}</string>
                <key>sourceSize</key>
                <string>{30,46}</string>
            </dict>
            <key>liubeilh7_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,292},{115,144}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,4},{115,144}}</string>
                <key>sourceSize</key>
                <string>{129,156}</string>
            </dict>
            <key>liubeilh7_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{517,364},{87,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,112}}</string>
                <key>sourceSize</key>
                <string>{87,112}</string>
            </dict>
            <key>liubeilh7_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,360},{45,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,85}}</string>
                <key>sourceSize</key>
                <string>{45,85}</string>
            </dict>
            <key>liubeilh7_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,162},{22,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,83}}</string>
                <key>sourceSize</key>
                <string>{22,83}</string>
            </dict>
            <key>liubeilh7_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{661,639},{21,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,51}}</string>
                <key>sourceSize</key>
                <string>{21,51}</string>
            </dict>
            <key>liubeilh7_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,464},{96,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,103}}</string>
                <key>sourceSize</key>
                <string>{96,103}</string>
            </dict>
            <key>liubeilh7_45.png</key>
            <dict>
                <key>frame</key>
                <string>{{505,676},{29,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,36}}</string>
                <key>sourceSize</key>
                <string>{29,36}</string>
            </dict>
            <key>liubeilh7_46.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,247},{26,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,37}}</string>
                <key>sourceSize</key>
                <string>{26,37}</string>
            </dict>
            <key>liubeilh7_47.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,662},{24,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,27}}</string>
                <key>sourceSize</key>
                <string>{24,27}</string>
            </dict>
            <key>liubeilh7_48.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,485},{95,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,108}}</string>
                <key>sourceSize</key>
                <string>{95,108}</string>
            </dict>
            <key>liubeilh7_49.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,276},{65,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,82}}</string>
                <key>sourceSize</key>
                <string>{65,82}</string>
            </dict>
            <key>liubeilh7_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{543,679},{35,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,24}}</string>
                <key>sourceSize</key>
                <string>{35,24}</string>
            </dict>
            <key>liubeilh7_50.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,249},{92,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,171}}</string>
                <key>sourceSize</key>
                <string>{92,171}</string>
            </dict>
            <key>liubeilh7_51.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,668},{48,157}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{48,157}}</string>
                <key>sourceSize</key>
                <string>{50,157}</string>
            </dict>
            <key>liubeilh7_52.png</key>
            <dict>
                <key>frame</key>
                <string>{{515,530},{76,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,78}}</string>
                <key>sourceSize</key>
                <string>{76,78}</string>
            </dict>
            <key>liubeilh7_53.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,2},{192,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,177}}</string>
                <key>sourceSize</key>
                <string>{192,177}</string>
            </dict>
            <key>liubeilh7_54.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,409},{53,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,110}}</string>
                <key>sourceSize</key>
                <string>{53,110}</string>
            </dict>
            <key>liubeilh7_55.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,661},{67,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,55}}</string>
                <key>sourceSize</key>
                <string>{67,55}</string>
            </dict>
            <key>liubeilh7_56.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,673},{46,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,119}}</string>
                <key>sourceSize</key>
                <string>{46,119}</string>
            </dict>
            <key>liubeilh7_57.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,617},{38,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,51}}</string>
                <key>sourceSize</key>
                <string>{38,51}</string>
            </dict>
            <key>liubeilh7_58.png</key>
            <dict>
                <key>frame</key>
                <string>{{517,453},{75,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,89}}</string>
                <key>sourceSize</key>
                <string>{75,89}</string>
            </dict>
            <key>liubeilh7_59.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,443},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>liubeilh7_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{661,613},{24,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,58}}</string>
                <key>sourceSize</key>
                <string>{24,58}</string>
            </dict>
            <key>liubeilh7_60.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,569},{44,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,80}}</string>
                <key>sourceSize</key>
                <string>{44,80}</string>
            </dict>
            <key>liubeilh7_61.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,569},{79,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,90}}</string>
                <key>sourceSize</key>
                <string>{79,90}</string>
            </dict>
            <key>liubeilh7_62.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,162},{174,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,112}}</string>
                <key>sourceSize</key>
                <string>{174,112}</string>
            </dict>
            <key>liubeilh7_63.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,249},{152,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,38}}</string>
                <key>sourceSize</key>
                <string>{152,38}</string>
            </dict>
            <key>liubeilh7_64.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,422},{101,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,61}}</string>
                <key>sourceSize</key>
                <string>{101,61}</string>
            </dict>
            <key>liubeilh7_65.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,292},{149,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,92}}</string>
                <key>sourceSize</key>
                <string>{149,92}</string>
            </dict>
            <key>liubeilh7_66.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,181},{192,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,109}}</string>
                <key>sourceSize</key>
                <string>{192,109}</string>
            </dict>
            <key>liubeilh7_67.png</key>
            <dict>
                <key>frame</key>
                <string>{{517,276},{135,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,86}}</string>
                <key>sourceSize</key>
                <string>{135,86}</string>
            </dict>
            <key>liubeilh7_68.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,308},{180,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,139}}</string>
                <key>sourceSize</key>
                <string>{180,139}</string>
            </dict>
            <key>liubeilh7_69.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,460},{70,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,93}}</string>
                <key>sourceSize</key>
                <string>{70,93}</string>
            </dict>
            <key>liubeilh7_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,654},{36,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,23}}</string>
                <key>sourceSize</key>
                <string>{36,23}</string>
            </dict>
            <key>liubeilh7_70.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,529},{86,82}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,5},{86,82}}</string>
                <key>sourceSize</key>
                <string>{100,90}</string>
            </dict>
            <key>liubeilh7_71.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,659},{42,40}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{42,40}}</string>
                <key>sourceSize</key>
                <string>{58,48}</string>
            </dict>
            <key>liubeilh7_72.png</key>
            <dict>
                <key>frame</key>
                <string>{{687,447},{35,32}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,6},{35,32}}</string>
                <key>sourceSize</key>
                <string>{51,42}</string>
            </dict>
            <key>liubeilh7_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{675,662},{23,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,23}}</string>
                <key>sourceSize</key>
                <string>{23,23}</string>
            </dict>
            <key>liubeilh7_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,80},{28,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,15}}</string>
                <key>sourceSize</key>
                <string>{28,15}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>liubeilh5.pvr.ccz</string>
            <key>size</key>
            <string>{721,721}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d851da58cf966761fe717ec86daddabc:1/1$</string>
            <key>textureFileName</key>
            <string>liubeilh5.pvr.ccz</string>
        </dict>
    </dict>
</plist>
