<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>suncelh6_03_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{203,243}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{203,243}}</string>
                <key>sourceSize</key>
                <string>{207,245}</string>
            </dict>
            <key>suncelh6_03_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,486},{201,237}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{201,237}}</string>
                <key>sourceSize</key>
                <string>{207,245}</string>
            </dict>
            <key>suncelh6_03_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,490},{201,241}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{201,241}}</string>
                <key>sourceSize</key>
                <string>{207,245}</string>
            </dict>
            <key>suncelh6_03_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,733},{203,241}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{203,241}}</string>
                <key>sourceSize</key>
                <string>{207,245}</string>
            </dict>
            <key>suncelh6_03_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,490},{203,241}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{203,241}}</string>
                <key>sourceSize</key>
                <string>{207,245}</string>
            </dict>
            <key>suncelh6_03_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,245},{205,239}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{205,239}}</string>
                <key>sourceSize</key>
                <string>{207,245}</string>
            </dict>
            <key>suncelh6_03_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,247},{205,241}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{205,241}}</string>
                <key>sourceSize</key>
                <string>{207,245}</string>
            </dict>
            <key>suncelh6_03_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,2},{203,241}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{203,241}}</string>
                <key>sourceSize</key>
                <string>{207,245}</string>
            </dict>
            <key>suncelh6_03_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,733},{199,241}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,3},{199,241}}</string>
                <key>sourceSize</key>
                <string>{207,245}</string>
            </dict>
            <key>suncelh6_03_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,241},{199,237}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{199,237}}</string>
                <key>sourceSize</key>
                <string>{207,245}</string>
            </dict>
            <key>suncelh6_03_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,733},{203,237}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,7},{203,237}}</string>
                <key>sourceSize</key>
                <string>{207,245}</string>
            </dict>
            <key>suncelh6_03_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,2},{203,237}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,8},{203,237}}</string>
                <key>sourceSize</key>
                <string>{207,245}</string>
            </dict>
            <key>suncelh6_08_xing.png</key>
            <dict>
                <key>frame</key>
                <string>{{617,183},{73,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,74}}</string>
                <key>sourceSize</key>
                <string>{73,74}</string>
            </dict>
            <key>suncelh6_shui2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,1016},{5,12}}</string>
                <key>offset</key>
                <string>{-1,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,54},{5,12}}</string>
                <key>sourceSize</key>
                <string>{19,66}</string>
            </dict>
            <key>suncelh6_shui2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,976},{19,40}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{19,40}}</string>
                <key>sourceSize</key>
                <string>{19,66}</string>
            </dict>
            <key>suncelh6_shui2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,976},{17,42}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{17,42}}</string>
                <key>sourceSize</key>
                <string>{19,66}</string>
            </dict>
            <key>suncelh6_shui2_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,976},{17,40}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{17,40}}</string>
                <key>sourceSize</key>
                <string>{19,66}</string>
            </dict>
            <key>suncelh6_shui2_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,976},{17,42}}</string>
                <key>offset</key>
                <string>{-1,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{17,42}}</string>
                <key>sourceSize</key>
                <string>{19,66}</string>
            </dict>
            <key>suncelh6_shui2_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,976},{17,42}}</string>
                <key>offset</key>
                <string>{-1,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{17,42}}</string>
                <key>sourceSize</key>
                <string>{19,66}</string>
            </dict>
            <key>suncelh6_shui2_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{21,976},{17,42}}</string>
                <key>offset</key>
                <string>{-1,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{17,42}}</string>
                <key>sourceSize</key>
                <string>{19,66}</string>
            </dict>
            <key>suncelh6_shui2_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,976},{17,44}}</string>
                <key>offset</key>
                <string>{-1,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{17,44}}</string>
                <key>sourceSize</key>
                <string>{19,66}</string>
            </dict>
            <key>suncelh6_shui2_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,993},{15,14}}</string>
                <key>offset</key>
                <string>{-1,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{15,14}}</string>
                <key>sourceSize</key>
                <string>{19,66}</string>
            </dict>
            <key>suncelh6_shui2_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,976},{15,14}}</string>
                <key>offset</key>
                <string>{-2,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{15,14}}</string>
                <key>sourceSize</key>
                <string>{19,66}</string>
            </dict>
            <key>suncelh6_shui2_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,993},{15,14}}</string>
                <key>offset</key>
                <string>{-2,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,14}}</string>
                <key>sourceSize</key>
                <string>{19,66}</string>
            </dict>
            <key>suncelh6_shui2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,1014},{7,26}}</string>
                <key>offset</key>
                <string>{-1,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,39},{7,26}}</string>
                <key>sourceSize</key>
                <string>{19,66}</string>
            </dict>
            <key>suncelh6_shui2_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,976},{15,14}}</string>
                <key>offset</key>
                <string>{-2,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,14}}</string>
                <key>sourceSize</key>
                <string>{19,66}</string>
            </dict>
            <key>suncelh6_shui2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,976},{9,36}}</string>
                <key>offset</key>
                <string>{-2,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,29},{9,36}}</string>
                <key>sourceSize</key>
                <string>{19,66}</string>
            </dict>
            <key>suncelh6_shui2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,976},{9,36}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,24},{9,36}}</string>
                <key>sourceSize</key>
                <string>{19,66}</string>
            </dict>
            <key>suncelh6_shui2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,976},{11,36}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,20},{11,36}}</string>
                <key>sourceSize</key>
                <string>{19,66}</string>
            </dict>
            <key>suncelh6_shui2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,976},{15,38}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,16},{15,38}}</string>
                <key>sourceSize</key>
                <string>{19,66}</string>
            </dict>
            <key>suncelh6_shui2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,976},{19,40}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{19,40}}</string>
                <key>sourceSize</key>
                <string>{19,66}</string>
            </dict>
            <key>suncelh6_shui2_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,976},{19,40}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{19,40}}</string>
                <key>sourceSize</key>
                <string>{19,66}</string>
            </dict>
            <key>suncelh6_shui2_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,976},{19,40}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{19,40}}</string>
                <key>sourceSize</key>
                <string>{19,66}</string>
            </dict>
            <key>suncelh6_shui_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,148},{144,55}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{144,55}}</string>
                <key>sourceSize</key>
                <string>{144,57}</string>
            </dict>
            <key>suncelh6_shui_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,179},{144,53}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{144,53}}</string>
                <key>sourceSize</key>
                <string>{144,57}</string>
            </dict>
            <key>suncelh6_shui_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,120},{144,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,57}}</string>
                <key>sourceSize</key>
                <string>{144,57}</string>
            </dict>
            <key>suncelh6_shui_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,61},{144,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,57}}</string>
                <key>sourceSize</key>
                <string>{144,57}</string>
            </dict>
            <key>suncelh6_shui_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,2},{144,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,57}}</string>
                <key>sourceSize</key>
                <string>{144,57}</string>
            </dict>
            <key>suncelh6_shui_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,2},{144,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,57}}</string>
                <key>sourceSize</key>
                <string>{144,57}</string>
            </dict>
            <key>suncelh6_shui_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,972},{144,49}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{144,49}}</string>
                <key>sourceSize</key>
                <string>{144,57}</string>
            </dict>
            <key>suncelh6_shui_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,179},{144,53}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{144,53}}</string>
                <key>sourceSize</key>
                <string>{144,57}</string>
            </dict>
            <key>suncelh6_shui_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,120},{144,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,57}}</string>
                <key>sourceSize</key>
                <string>{144,57}</string>
            </dict>
            <key>suncelh6_shui_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,61},{144,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,57}}</string>
                <key>sourceSize</key>
                <string>{144,57}</string>
            </dict>
            <key>suncelh6_shui_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,2},{144,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,57}}</string>
                <key>sourceSize</key>
                <string>{144,57}</string>
            </dict>
            <key>suncelh6_shui_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,2},{144,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,57}}</string>
                <key>sourceSize</key>
                <string>{144,57}</string>
            </dict>
            <key>suncelh6_shui_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,148},{144,55}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{144,55}}</string>
                <key>sourceSize</key>
                <string>{144,57}</string>
            </dict>
            <key>suncelh6_shui_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,972},{144,49}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{144,49}}</string>
                <key>sourceSize</key>
                <string>{144,57}</string>
            </dict>
            <key>suncelh6_xing.png</key>
            <dict>
                <key>frame</key>
                <string>{{617,2},{185,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,179}}</string>
                <key>sourceSize</key>
                <string>{185,179}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>suncelh6.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:797d6ed7144db30e31a736f1945f0390:1/1$</string>
            <key>textureFileName</key>
            <string>suncelh6.png</string>
        </dict>
    </dict>
</plist>
