<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dianweicjzpszlh_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{627,550},{30,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,26}}</string>
                <key>sourceSize</key>
                <string>{30,26}</string>
            </dict>
            <key>dianweicjzpszlh_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,609},{15,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,9}}</string>
                <key>sourceSize</key>
                <string>{15,9}</string>
            </dict>
            <key>dianweicjzpszlh_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{663,496},{9,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,16}}</string>
                <key>sourceSize</key>
                <string>{9,16}</string>
            </dict>
            <key>dianweicjzpszlh_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,575},{32,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,28}}</string>
                <key>sourceSize</key>
                <string>{32,28}</string>
            </dict>
            <key>dianweicjzpszlh_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,655},{31,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,24}}</string>
                <key>sourceSize</key>
                <string>{31,24}</string>
            </dict>
            <key>dianweicjzpszlh_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{521,620},{10,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,8}}</string>
                <key>sourceSize</key>
                <string>{10,8}</string>
            </dict>
            <key>dianweicjzpszlh_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,375},{74,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,203}}</string>
                <key>sourceSize</key>
                <string>{74,203}</string>
            </dict>
            <key>dianweicjzpszlh_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,165},{28,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,46}}</string>
                <key>sourceSize</key>
                <string>{28,46}</string>
            </dict>
            <key>dianweicjzpszlh_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,213},{28,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,9}}</string>
                <key>sourceSize</key>
                <string>{28,9}</string>
            </dict>
            <key>dianweicjzpszlh_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{663,402},{46,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,25}}</string>
                <key>sourceSize</key>
                <string>{46,25}</string>
            </dict>
            <key>dianweicjzpszlh_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{511,402},{106,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,150}}</string>
                <key>sourceSize</key>
                <string>{106,150}</string>
            </dict>
            <key>dianweicjzpszlh_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{613,510},{44,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,38}}</string>
                <key>sourceSize</key>
                <string>{44,38}</string>
            </dict>
            <key>dianweicjzpszlh_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,375},{235,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,206}}</string>
                <key>sourceSize</key>
                <string>{235,206}</string>
            </dict>
            <key>dianweicjzpszlh_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,655},{54,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,20}}</string>
                <key>sourceSize</key>
                <string>{54,20}</string>
            </dict>
            <key>dianweicjzpszlh_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,646},{42,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,52}}</string>
                <key>sourceSize</key>
                <string>{42,52}</string>
            </dict>
            <key>dianweicjzpszlh_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{553,510},{58,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,46}}</string>
                <key>sourceSize</key>
                <string>{58,46}</string>
            </dict>
            <key>dianweicjzpszlh_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,580},{100,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,98}}</string>
                <key>sourceSize</key>
                <string>{100,98}</string>
            </dict>
            <key>dianweicjzpszlh_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,573},{30,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,45}}</string>
                <key>sourceSize</key>
                <string>{30,45}</string>
            </dict>
            <key>dianweicjzpszlh_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,583},{93,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,102}}</string>
                <key>sourceSize</key>
                <string>{93,102}</string>
            </dict>
            <key>dianweicjzpszlh_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,228},{156,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,200}}</string>
                <key>sourceSize</key>
                <string>{156,200}</string>
            </dict>
            <key>dianweicjzpszlh_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,503},{72,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,168}}</string>
                <key>sourceSize</key>
                <string>{72,168}</string>
            </dict>
            <key>dianweicjzpszlh_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,646},{42,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,56}}</string>
                <key>sourceSize</key>
                <string>{42,56}</string>
            </dict>
            <key>dianweicjzpszlh_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,577},{64,67}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,67}}</string>
                <key>sourceSize</key>
                <string>{64,69}</string>
            </dict>
            <key>dianweicjzpszlh_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,573},{17,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,34}}</string>
                <key>sourceSize</key>
                <string>{17,34}</string>
            </dict>
            <key>dianweicjzpszlh_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{553,575},{35,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,31}}</string>
                <key>sourceSize</key>
                <string>{35,31}</string>
            </dict>
            <key>dianweicjzpszlh_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,577},{87,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,76}}</string>
                <key>sourceSize</key>
                <string>{87,76}</string>
            </dict>
            <key>dianweicjzpszlh_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,620},{17,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,16}}</string>
                <key>sourceSize</key>
                <string>{17,16}</string>
            </dict>
            <key>dianweicjzpszlh_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,510},{66,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,61}}</string>
                <key>sourceSize</key>
                <string>{66,61}</string>
            </dict>
            <key>dianweicjzpszlh_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{553,558},{50,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,15}}</string>
                <key>sourceSize</key>
                <string>{50,15}</string>
            </dict>
            <key>dianweicjzpszlh_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,386},{194,115}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{194,115}}</string>
                <key>sourceSize</key>
                <string>{194,125}</string>
            </dict>
            <key>dianweicjzpszlh_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,228},{322,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{322,145}}</string>
                <key>sourceSize</key>
                <string>{322,145}</string>
            </dict>
            <key>dianweicjzpszlh_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{493,224}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{493,224}}</string>
                <key>sourceSize</key>
                <string>{501,224}</string>
            </dict>
            <key>dianweicjzpszlh_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,165},{235,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,144}}</string>
                <key>sourceSize</key>
                <string>{235,144}</string>
            </dict>
            <key>dianweicjzpszlh_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,165},{16,14}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{16,14}}</string>
                <key>sourceSize</key>
                <string>{20,18}</string>
            </dict>
            <key>dianweicjzpszlh_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,183},{10,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,15}}</string>
                <key>sourceSize</key>
                <string>{10,15}</string>
            </dict>
            <key>dianweicjzpszlh_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{511,386},{15,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,12}}</string>
                <key>sourceSize</key>
                <string>{15,12}</string>
            </dict>
            <key>dianweicjzpszlh_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,682},{6,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{6,53}}</string>
                <key>sourceSize</key>
                <string>{6,53}</string>
            </dict>
            <key>dianweicjzpszlh_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,583},{148,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,105}}</string>
                <key>sourceSize</key>
                <string>{148,105}</string>
            </dict>
            <key>dianweicjzpszlh_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,2},{161,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,191}}</string>
                <key>sourceSize</key>
                <string>{161,191}</string>
            </dict>
            <key>dianweicjzpszlh_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{663,450},{25,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,44}}</string>
                <key>sourceSize</key>
                <string>{25,44}</string>
            </dict>
            <key>dianweicjzpszlh_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{605,558},{15,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,20}}</string>
                <key>sourceSize</key>
                <string>{15,20}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dianweilh7.pvr.ccz</string>
            <key>size</key>
            <string>{690,690}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ff72051a1eeb34a16bd903c8ef01c9a8:1/1$</string>
            <key>textureFileName</key>
            <string>dianweilh7.pvr.ccz</string>
        </dict>
    </dict>
</plist>
