<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>suncecjzpszlh_TX_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{809,988},{20,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{20,18}}</string>
                <key>sourceSize</key>
                <string>{24,22}</string>
            </dict>
            <key>suncecjzpszlh_TX_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1007,745},{14,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{14,16}}</string>
                <key>sourceSize</key>
                <string>{18,22}</string>
            </dict>
            <key>suncecjzpszlh_TX_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1007,727},{14,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{14,16}}</string>
                <key>sourceSize</key>
                <string>{18,20}</string>
            </dict>
            <key>suncecjzpszlh_TX_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{809,687},{17,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{17,17}}</string>
                <key>sourceSize</key>
                <string>{21,21}</string>
            </dict>
            <key>suncecjzpszlh_TX_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,994},{15,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{15,15}}</string>
                <key>sourceSize</key>
                <string>{19,19}</string>
            </dict>
            <key>suncecjzpszlh_TX_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1007,763},{16,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{16,14}}</string>
                <key>sourceSize</key>
                <string>{20,18}</string>
            </dict>
            <key>suncecjzpszlh_TX_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,920},{22,21}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{22,21}}</string>
                <key>sourceSize</key>
                <string>{26,23}</string>
            </dict>
            <key>suncecjzpszlh_TX_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{979,484},{10,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{10,11}}</string>
                <key>sourceSize</key>
                <string>{16,17}</string>
            </dict>
            <key>suncecjzpszlh_TX_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,994},{15,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{15,16}}</string>
                <key>sourceSize</key>
                <string>{19,20}</string>
            </dict>
            <key>suncecjzpszlh_TX_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{809,1008},{13,16}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{13,16}}</string>
                <key>sourceSize</key>
                <string>{17,20}</string>
            </dict>
            <key>suncecjzpszlh_TX_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,687},{16,24}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{16,24}}</string>
                <key>sourceSize</key>
                <string>{20,28}</string>
            </dict>
            <key>suncecjzpszlh_TX_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1007,781},{13,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{13,14}}</string>
                <key>sourceSize</key>
                <string>{17,20}</string>
            </dict>
            <key>suncecjzpszlh_TX_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{931,706},{74,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{74,107}}</string>
                <key>sourceSize</key>
                <string>{82,115}</string>
            </dict>
            <key>suncecjzpszlh_TX_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,960},{61,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{61,106}}</string>
                <key>sourceSize</key>
                <string>{65,112}</string>
            </dict>
            <key>suncecjzpszlh_TX_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,452},{692,233}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,28},{692,233}}</string>
                <key>sourceSize</key>
                <string>{700,265}</string>
            </dict>
            <key>suncecjzpszlh_TX_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,960},{44,61}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,5},{44,61}}</string>
                <key>sourceSize</key>
                <string>{54,75}</string>
            </dict>
            <key>suncecjzpszlh_TX_qigan.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,2},{37,331}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,331}}</string>
                <key>sourceSize</key>
                <string>{37,331}</string>
            </dict>
            <key>suncecjzpszlh_TX_qizhi.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,687},{403,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{403,156}}</string>
                <key>sourceSize</key>
                <string>{403,156}</string>
            </dict>
            <key>suncecjzpszlh_TX_shitou_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1007,796},{17,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,12}}</string>
                <key>sourceSize</key>
                <string>{17,12}</string>
            </dict>
            <key>suncecjzpszlh_TX_shitou_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,393},{40,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,37}}</string>
                <key>sourceSize</key>
                <string>{40,37}</string>
            </dict>
            <key>suncecjzpszlh_body_bizi.png</key>
            <dict>
                <key>frame</key>
                <string>{{827,814},{9,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,14}}</string>
                <key>sourceSize</key>
                <string>{9,14}</string>
            </dict>
            <key>suncecjzpszlh_body_bozi.png</key>
            <dict>
                <key>frame</key>
                <string>{{979,435},{47,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,42}}</string>
                <key>sourceSize</key>
                <string>{47,42}</string>
            </dict>
            <key>suncecjzpszlh_body_eye01.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,1007},{18,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,11}}</string>
                <key>sourceSize</key>
                <string>{18,11}</string>
            </dict>
            <key>suncecjzpszlh_body_eye02.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,994},{18,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,11}}</string>
                <key>sourceSize</key>
                <string>{18,11}</string>
            </dict>
            <key>suncecjzpszlh_body_eye03.png</key>
            <dict>
                <key>frame</key>
                <string>{{827,825},{18,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,11}}</string>
                <key>sourceSize</key>
                <string>{18,11}</string>
            </dict>
            <key>suncecjzpszlh_body_eye04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1002,920},{19,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,11}}</string>
                <key>sourceSize</key>
                <string>{19,11}</string>
            </dict>
            <key>suncecjzpszlh_body_face.png</key>
            <dict>
                <key>frame</key>
                <string>{{843,927},{69,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,72}}</string>
                <key>sourceSize</key>
                <string>{69,72}</string>
            </dict>
            <key>suncecjzpszlh_body_faguan.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,335},{37,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,56}}</string>
                <key>sourceSize</key>
                <string>{37,56}</string>
            </dict>
            <key>suncecjzpszlh_body_hair01.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,955},{66,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,46}}</string>
                <key>sourceSize</key>
                <string>{66,46}</string>
            </dict>
            <key>suncecjzpszlh_body_hair02.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,452},{25,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,35}}</string>
                <key>sourceSize</key>
                <string>{25,35}</string>
            </dict>
            <key>suncecjzpszlh_body_hfa.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,496},{309,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{309,99}}</string>
                <key>sourceSize</key>
                <string>{309,99}</string>
            </dict>
            <key>suncecjzpszlh_body_liuhai01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1002,933},{11,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,19}}</string>
                <key>sourceSize</key>
                <string>{11,19}</string>
            </dict>
            <key>suncecjzpszlh_body_liuhai02.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,994},{19,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,39}}</string>
                <key>sourceSize</key>
                <string>{19,39}</string>
            </dict>
            <key>suncecjzpszlh_body_liuhai03.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,988},{13,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,33}}</string>
                <key>sourceSize</key>
                <string>{13,33}</string>
            </dict>
            <key>suncecjzpszlh_body_liuhai04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1007,704},{14,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,21}}</string>
                <key>sourceSize</key>
                <string>{14,21}</string>
            </dict>
            <key>suncecjzpszlh_body_pifeng01.png</key>
            <dict>
                <key>frame</key>
                <string>{{809,706},{120,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,106}}</string>
                <key>sourceSize</key>
                <string>{120,106}</string>
            </dict>
            <key>suncecjzpszlh_body_pifeng02.png</key>
            <dict>
                <key>frame</key>
                <string>{{727,2},{413,255}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{413,255}}</string>
                <key>sourceSize</key>
                <string>{413,255}</string>
            </dict>
            <key>suncecjzpszlh_body_pifeng03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{723,448}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{723,448}}</string>
                <key>sourceSize</key>
                <string>{723,448}</string>
            </dict>
            <key>suncecjzpszlh_body_pifeng04.png</key>
            <dict>
                <key>frame</key>
                <string>{{727,417},{172,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,77}}</string>
                <key>sourceSize</key>
                <string>{172,77}</string>
            </dict>
            <key>suncecjzpszlh_body_shitou_zbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,960},{52,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,193}}</string>
                <key>sourceSize</key>
                <string>{52,193}</string>
            </dict>
            <key>suncecjzpszlh_body_shitou_zshouzhi.png</key>
            <dict>
                <key>frame</key>
                <string>{{809,814},{16,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,28}}</string>
                <key>sourceSize</key>
                <string>{16,28}</string>
            </dict>
            <key>suncecjzpszlh_body_st.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,845},{111,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,108}}</string>
                <key>sourceSize</key>
                <string>{111,108}</string>
            </dict>
            <key>suncecjzpszlh_body_weibo.png</key>
            <dict>
                <key>frame</key>
                <string>{{843,814},{111,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,82}}</string>
                <key>sourceSize</key>
                <string>{111,82}</string>
            </dict>
            <key>suncecjzpszlh_body_wq01.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,845},{99,324}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{99,324}}</string>
                <key>sourceSize</key>
                <string>{99,326}</string>
            </dict>
            <key>suncecjzpszlh_body_wq02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,931},{27,342}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,342}}</string>
                <key>sourceSize</key>
                <string>{27,342}</string>
            </dict>
            <key>suncecjzpszlh_body_wq03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,687},{242,400}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{242,400}}</string>
                <key>sourceSize</key>
                <string>{244,408}</string>
            </dict>
            <key>suncecjzpszlh_body_yanzhao.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,994},{16,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,15}}</string>
                <key>sourceSize</key>
                <string>{16,15}</string>
            </dict>
            <key>suncecjzpszlh_body_yaodai01.png</key>
            <dict>
                <key>frame</key>
                <string>{{597,946},{77,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,60}}</string>
                <key>sourceSize</key>
                <string>{77,60}</string>
            </dict>
            <key>suncecjzpszlh_body_yaodai02.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,815},{43,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,42}}</string>
                <key>sourceSize</key>
                <string>{43,42}</string>
            </dict>
            <key>suncecjzpszlh_body_ydatui.png</key>
            <dict>
                <key>frame</key>
                <string>{{927,815},{127,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,49}}</string>
                <key>sourceSize</key>
                <string>{127,49}</string>
            </dict>
            <key>suncecjzpszlh_body_ykaijia.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,931},{90,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,44}}</string>
                <key>sourceSize</key>
                <string>{90,44}</string>
            </dict>
            <key>suncecjzpszlh_body_yxiaotui.png</key>
            <dict>
                <key>frame</key>
                <string>{{901,417},{77,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,76}}</string>
                <key>sourceSize</key>
                <string>{77,76}</string>
            </dict>
            <key>suncecjzpszlh_body_yxigai.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,859},{38,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,59}}</string>
                <key>sourceSize</key>
                <string>{38,59}</string>
            </dict>
            <key>suncecjzpszlh_body_zb.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,955},{66,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,68}}</string>
                <key>sourceSize</key>
                <string>{66,68}</string>
            </dict>
            <key>suncecjzpszlh_body_zbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,946},{118,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,46}}</string>
                <key>sourceSize</key>
                <string>{118,46}</string>
            </dict>
            <key>suncecjzpszlh_body_zdatui.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,597},{107,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,125}}</string>
                <key>sourceSize</key>
                <string>{107,125}</string>
            </dict>
            <key>suncecjzpszlh_body_zjian.png</key>
            <dict>
                <key>frame</key>
                <string>{{517,946},{60,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,78}}</string>
                <key>sourceSize</key>
                <string>{60,78}</string>
            </dict>
            <key>suncecjzpszlh_body_zkaijia.png</key>
            <dict>
                <key>frame</key>
                <string>{{981,597},{40,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,105}}</string>
                <key>sourceSize</key>
                <string>{40,105}</string>
            </dict>
            <key>suncecjzpszlh_body_zshou.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,955},{39,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,31}}</string>
                <key>sourceSize</key>
                <string>{39,31}</string>
            </dict>
            <key>suncecjzpszlh_body_zxiaotui.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,597},{88,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,156}}</string>
                <key>sourceSize</key>
                <string>{88,156}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>suncelh5.pvr.ccz</string>
            <key>size</key>
            <string>{1023,1023}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:be1fc420eca079105e442ecf7c8e9e5e:1/1$</string>
            <key>textureFileName</key>
            <string>suncelh5.pvr.ccz</string>
        </dict>
    </dict>
</plist>
