<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zhaoyunlh6_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,810},{48,39}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{48,39}}</string>
                <key>sourceSize</key>
                <string>{52,41}</string>
            </dict>
            <key>zhaoyunlh6_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,891},{196,27}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{196,27}}</string>
                <key>sourceSize</key>
                <string>{200,31}</string>
            </dict>
            <key>zhaoyunlh6_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{777,871},{44,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,26}}</string>
                <key>sourceSize</key>
                <string>{44,26}</string>
            </dict>
            <key>zhaoyunlh6_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{713,755},{47,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,137}}</string>
                <key>sourceSize</key>
                <string>{47,137}</string>
            </dict>
            <key>zhaoyunlh6_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,389},{90,218}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,218}}</string>
                <key>sourceSize</key>
                <string>{90,218}</string>
            </dict>
            <key>zhaoyunlh6_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,478},{80,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,90}}</string>
                <key>sourceSize</key>
                <string>{80,90}</string>
            </dict>
            <key>zhaoyunlh6_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,389},{68,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,178}}</string>
                <key>sourceSize</key>
                <string>{68,178}</string>
            </dict>
            <key>zhaoyunlh6_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{713,701},{52,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,150}}</string>
                <key>sourceSize</key>
                <string>{52,150}</string>
            </dict>
            <key>zhaoyunlh6_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,334},{127,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,146}}</string>
                <key>sourceSize</key>
                <string>{127,146}</string>
            </dict>
            <key>zhaoyunlh6_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{845,334},{73,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,122}}</string>
                <key>sourceSize</key>
                <string>{73,122}</string>
            </dict>
            <key>zhaoyunlh6_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,482},{142,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,115}}</string>
                <key>sourceSize</key>
                <string>{142,115}</string>
            </dict>
            <key>zhaoyunlh6_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,882},{7,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{7,87}}</string>
                <key>sourceSize</key>
                <string>{7,91}</string>
            </dict>
            <key>zhaoyunlh6_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,315},{77,313}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{77,313}}</string>
                <key>sourceSize</key>
                <string>{83,319}</string>
            </dict>
            <key>zhaoyunlh6_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{501,782},{74,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,52}}</string>
                <key>sourceSize</key>
                <string>{74,52}</string>
            </dict>
            <key>zhaoyunlh6_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,907},{60,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{60,11}}</string>
                <key>sourceSize</key>
                <string>{62,11}</string>
            </dict>
            <key>zhaoyunlh6_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,804},{46,13}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,13}}</string>
                <key>sourceSize</key>
                <string>{48,13}</string>
            </dict>
            <key>zhaoyunlh6_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{823,895},{23,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,23}}</string>
                <key>sourceSize</key>
                <string>{23,23}</string>
            </dict>
            <key>zhaoyunlh6_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,315},{37,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,67}}</string>
                <key>sourceSize</key>
                <string>{37,67}</string>
            </dict>
            <key>zhaoyunlh6_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,899},{12,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,24}}</string>
                <key>sourceSize</key>
                <string>{12,24}</string>
            </dict>
            <key>zhaoyunlh6_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,899},{20,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,13}}</string>
                <key>sourceSize</key>
                <string>{20,13}</string>
            </dict>
            <key>zhaoyunlh6_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,908},{27,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,10}}</string>
                <key>sourceSize</key>
                <string>{27,10}</string>
            </dict>
            <key>zhaoyunlh6_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{609,881},{37,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,23}}</string>
                <key>sourceSize</key>
                <string>{37,23}</string>
            </dict>
            <key>zhaoyunlh6_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{677,794},{55,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,28}}</string>
                <key>sourceSize</key>
                <string>{55,28}</string>
            </dict>
            <key>zhaoyunlh6_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,748},{107,21}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{107,21}}</string>
                <key>sourceSize</key>
                <string>{111,25}</string>
            </dict>
            <key>zhaoyunlh6_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,875},{13,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,13}}</string>
                <key>sourceSize</key>
                <string>{13,13}</string>
            </dict>
            <key>zhaoyunlh6_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,900},{13,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,65}}</string>
                <key>sourceSize</key>
                <string>{13,65}</string>
            </dict>
            <key>zhaoyunlh6_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,851},{47,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,67}}</string>
                <key>sourceSize</key>
                <string>{47,67}</string>
            </dict>
            <key>zhaoyunlh6_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,883},{26,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,69}}</string>
                <key>sourceSize</key>
                <string>{26,69}</string>
            </dict>
            <key>zhaoyunlh6_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,570},{15,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,9}}</string>
                <key>sourceSize</key>
                <string>{15,9}</string>
            </dict>
            <key>zhaoyunlh6_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{577,881},{37,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,30}}</string>
                <key>sourceSize</key>
                <string>{37,30}</string>
            </dict>
            <key>zhaoyunlh6_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,755},{47,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,24}}</string>
                <key>sourceSize</key>
                <string>{47,24}</string>
            </dict>
            <key>zhaoyunlh6_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,875},{30,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,22}}</string>
                <key>sourceSize</key>
                <string>{30,22}</string>
            </dict>
            <key>zhaoyunlh6_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{501,732},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>zhaoyunlh6_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,845},{24,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,68}}</string>
                <key>sourceSize</key>
                <string>{24,68}</string>
            </dict>
            <key>zhaoyunlh6_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,836},{84,44}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{84,44}}</string>
                <key>sourceSize</key>
                <string>{88,48}</string>
            </dict>
            <key>zhaoyunlh6_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,900},{17,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,62}}</string>
                <key>sourceSize</key>
                <string>{17,62}</string>
            </dict>
            <key>zhaoyunlh6_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,307},{20,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,6}}</string>
                <key>sourceSize</key>
                <string>{20,6}</string>
            </dict>
            <key>zhaoyunlh6_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{873,851},{22,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,35}}</string>
                <key>sourceSize</key>
                <string>{22,35}</string>
            </dict>
            <key>zhaoyunlh6_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{777,899},{11,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,6}}</string>
                <key>sourceSize</key>
                <string>{11,6}</string>
            </dict>
            <key>zhaoyunlh6_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{707,794},{8,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,4}}</string>
                <key>sourceSize</key>
                <string>{8,4}</string>
            </dict>
            <key>zhaoyunlh6_45.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,630},{31,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,28}}</string>
                <key>sourceSize</key>
                <string>{31,28}</string>
            </dict>
            <key>zhaoyunlh6_46.png</key>
            <dict>
                <key>frame</key>
                <string>{{845,458},{18,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,34}}</string>
                <key>sourceSize</key>
                <string>{18,34}</string>
            </dict>
            <key>zhaoyunlh6_47.png</key>
            <dict>
                <key>frame</key>
                <string>{{707,804},{57,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,49}}</string>
                <key>sourceSize</key>
                <string>{57,49}</string>
            </dict>
            <key>zhaoyunlh6_48.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,609},{90,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,127}}</string>
                <key>sourceSize</key>
                <string>{90,127}</string>
            </dict>
            <key>zhaoyunlh6_49.png</key>
            <dict>
                <key>frame</key>
                <string>{{675,851},{48,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,28}}</string>
                <key>sourceSize</key>
                <string>{48,28}</string>
            </dict>
            <key>zhaoyunlh6_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,840},{23,55}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{23,55}}</string>
                <key>sourceSize</key>
                <string>{27,57}</string>
            </dict>
            <key>zhaoyunlh6_50.png</key>
            <dict>
                <key>frame</key>
                <string>{{881,458},{16,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,33}}</string>
                <key>sourceSize</key>
                <string>{16,33}</string>
            </dict>
            <key>zhaoyunlh6_51.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,609},{23,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,16}}</string>
                <key>sourceSize</key>
                <string>{23,16}</string>
            </dict>
            <key>zhaoyunlh6_52.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,771},{37,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,115}}</string>
                <key>sourceSize</key>
                <string>{37,115}</string>
            </dict>
            <key>zhaoyunlh6_53.png</key>
            <dict>
                <key>frame</key>
                <string>{{901,570},{17,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,98}}</string>
                <key>sourceSize</key>
                <string>{17,98}</string>
            </dict>
            <key>zhaoyunlh6_54.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,882},{16,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,80}}</string>
                <key>sourceSize</key>
                <string>{16,80}</string>
            </dict>
            <key>zhaoyunlh6_55.png</key>
            <dict>
                <key>frame</key>
                <string>{{829,804},{39,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,27}}</string>
                <key>sourceSize</key>
                <string>{39,27}</string>
            </dict>
            <key>zhaoyunlh6_56.png</key>
            <dict>
                <key>frame</key>
                <string>{{873,806},{22,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,43}}</string>
                <key>sourceSize</key>
                <string>{22,43}</string>
            </dict>
            <key>zhaoyunlh6_57.png</key>
            <dict>
                <key>frame</key>
                <string>{{901,670},{16,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,20}}</string>
                <key>sourceSize</key>
                <string>{16,20}</string>
            </dict>
            <key>zhaoyunlh6_58.png</key>
            <dict>
                <key>frame</key>
                <string>{{897,810},{12,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,39}}</string>
                <key>sourceSize</key>
                <string>{12,39}</string>
            </dict>
            <key>zhaoyunlh6_59.png</key>
            <dict>
                <key>frame</key>
                <string>{{865,694},{53,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,57}}</string>
                <key>sourceSize</key>
                <string>{53,57}</string>
            </dict>
            <key>zhaoyunlh6_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,2},{174,341}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,5},{174,341}}</string>
                <key>sourceSize</key>
                <string>{178,347}</string>
            </dict>
            <key>zhaoyunlh6_60.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,801},{10,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,7}}</string>
                <key>sourceSize</key>
                <string>{10,7}</string>
            </dict>
            <key>zhaoyunlh6_61.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,630},{169,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,78}}</string>
                <key>sourceSize</key>
                <string>{169,78}</string>
            </dict>
            <key>zhaoyunlh6_62.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,697},{127,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,95}}</string>
                <key>sourceSize</key>
                <string>{127,95}</string>
            </dict>
            <key>zhaoyunlh6_63.png</key>
            <dict>
                <key>frame</key>
                <string>{{549,900},{23,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,12}}</string>
                <key>sourceSize</key>
                <string>{23,12}</string>
            </dict>
            <key>zhaoyunlh6_64.png</key>
            <dict>
                <key>frame</key>
                <string>{{551,569},{155,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,31}}</string>
                <key>sourceSize</key>
                <string>{155,31}</string>
            </dict>
            <key>zhaoyunlh6_65.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,738},{25,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,70}}</string>
                <key>sourceSize</key>
                <string>{25,70}</string>
            </dict>
            <key>zhaoyunlh6_66.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,804},{61,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,39}}</string>
                <key>sourceSize</key>
                <string>{61,39}</string>
            </dict>
            <key>zhaoyunlh6_67.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,753},{10,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,55}}</string>
                <key>sourceSize</key>
                <string>{10,55}</string>
            </dict>
            <key>zhaoyunlh6_68.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,753},{28,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,51}}</string>
                <key>sourceSize</key>
                <string>{28,51}</string>
            </dict>
            <key>zhaoyunlh6_69.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,852},{58,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,12}}</string>
                <key>sourceSize</key>
                <string>{58,12}</string>
            </dict>
            <key>zhaoyunlh6_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{849,570},{50,122}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{50,122}}</string>
                <key>sourceSize</key>
                <string>{54,126}</string>
            </dict>
            <key>zhaoyunlh6_70.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,855},{50,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,23}}</string>
                <key>sourceSize</key>
                <string>{50,23}</string>
            </dict>
            <key>zhaoyunlh6_71.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,845},{48,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,20}}</string>
                <key>sourceSize</key>
                <string>{48,20}</string>
            </dict>
            <key>zhaoyunlh6_72.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,881},{13,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,25}}</string>
                <key>sourceSize</key>
                <string>{13,25}</string>
            </dict>
            <key>zhaoyunlh6_73.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,899},{19,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,30}}</string>
                <key>sourceSize</key>
                <string>{19,30}</string>
            </dict>
            <key>zhaoyunlh6_74.png</key>
            <dict>
                <key>frame</key>
                <string>{{753,871},{22,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,34}}</string>
                <key>sourceSize</key>
                <string>{22,34}</string>
            </dict>
            <key>zhaoyunlh6_75.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,389},{73,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,179}}</string>
                <key>sourceSize</key>
                <string>{73,179}</string>
            </dict>
            <key>zhaoyunlh6_76.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,315},{281,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{281,72}}</string>
                <key>sourceSize</key>
                <string>{283,72}</string>
            </dict>
            <key>zhaoyunlh6_77.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,307},{178,356}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{178,356}}</string>
                <key>sourceSize</key>
                <string>{182,358}</string>
            </dict>
            <key>zhaoyunlh6_78.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,810},{37,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,105}}</string>
                <key>sourceSize</key>
                <string>{37,105}</string>
            </dict>
            <key>zhaoyunlh6_79.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,665},{163,233}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,233}}</string>
                <key>sourceSize</key>
                <string>{163,233}</string>
            </dict>
            <key>zhaoyunlh6_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{705,855},{21,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{21,63}}</string>
                <key>sourceSize</key>
                <string>{25,65}</string>
            </dict>
            <key>zhaoyunlh6_80.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,599},{96,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,134}}</string>
                <key>sourceSize</key>
                <string>{96,134}</string>
            </dict>
            <key>zhaoyunlh6_81.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,849},{98,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,32}}</string>
                <key>sourceSize</key>
                <string>{98,32}</string>
            </dict>
            <key>zhaoyunlh6_82.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,665},{43,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,224}}</string>
                <key>sourceSize</key>
                <string>{43,224}</string>
            </dict>
            <key>zhaoyunlh6_83.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,900},{91,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,16}}</string>
                <key>sourceSize</key>
                <string>{91,16}</string>
            </dict>
            <key>zhaoyunlh6_84.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,609},{160,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,61}}</string>
                <key>sourceSize</key>
                <string>{160,61}</string>
            </dict>
            <key>zhaoyunlh6_85.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,854},{112,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,26}}</string>
                <key>sourceSize</key>
                <string>{112,26}</string>
            </dict>
            <key>zhaoyunlh6_86.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,178},{342,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{342,135}}</string>
                <key>sourceSize</key>
                <string>{348,141}</string>
            </dict>
            <key>zhaoyunlh6_87.png</key>
            <dict>
                <key>frame</key>
                <string>{{493,570},{160,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,56}}</string>
                <key>sourceSize</key>
                <string>{160,56}</string>
            </dict>
            <key>zhaoyunlh6_88.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,771},{28,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,63}}</string>
                <key>sourceSize</key>
                <string>{28,63}</string>
            </dict>
            <key>zhaoyunlh6_89.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,478},{129,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,108}}</string>
                <key>sourceSize</key>
                <string>{129,108}</string>
            </dict>
            <key>zhaoyunlh6_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{577,840},{39,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,71}}</string>
                <key>sourceSize</key>
                <string>{39,71}</string>
            </dict>
            <key>zhaoyunlh6_90.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,570},{51,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,166}}</string>
                <key>sourceSize</key>
                <string>{51,166}</string>
            </dict>
            <key>zhaoyunlh6_91.png</key>
            <dict>
                <key>frame</key>
                <string>{{577,794},{44,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,98}}</string>
                <key>sourceSize</key>
                <string>{44,98}</string>
            </dict>
            <key>zhaoyunlh6_92.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,801},{120,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,51}}</string>
                <key>sourceSize</key>
                <string>{120,51}</string>
            </dict>
            <key>zhaoyunlh6_93.png</key>
            <dict>
                <key>frame</key>
                <string>{{713,334},{130,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,142}}</string>
                <key>sourceSize</key>
                <string>{130,142}</string>
            </dict>
            <key>zhaoyunlh6_94.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,2},{318,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{318,172}}</string>
                <key>sourceSize</key>
                <string>{318,172}</string>
            </dict>
            <key>zhaoyunlh6_95.png</key>
            <dict>
                <key>frame</key>
                <string>{{597,176},{156,315}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,315}}</string>
                <key>sourceSize</key>
                <string>{156,315}</string>
            </dict>
            <key>zhaoyunlh6_96.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,389},{84,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,205}}</string>
                <key>sourceSize</key>
                <string>{84,205}</string>
            </dict>
            <key>zhaoyunlh6_97.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{249,303}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{249,303}}</string>
                <key>sourceSize</key>
                <string>{249,303}</string>
            </dict>
            <key>zhaoyunlh6_98.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,596},{150,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,83}}</string>
                <key>sourceSize</key>
                <string>{150,83}</string>
            </dict>
            <key>zhaoyunlh6_99.png</key>
            <dict>
                <key>frame</key>
                <string>{{551,726},{43,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,31}}</string>
                <key>sourceSize</key>
                <string>{43,31}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zhaoyunlh3.pvr.ccz</string>
            <key>size</key>
            <string>{920,920}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6695462c1ddf9268feb88227f78a3296:1/1$</string>
            <key>textureFileName</key>
            <string>zhaoyunlh3.pvr.ccz</string>
        </dict>
    </dict>
</plist>
