<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>xiahoudunlh8_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,155},{220,119}}</string>
                <key>offset</key>
                <string>{3,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,1},{220,119}}</string>
                <key>sourceSize</key>
                <string>{234,151}</string>
            </dict>
            <key>xiahoudunlh8_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,425},{22,33}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,33}}</string>
                <key>sourceSize</key>
                <string>{22,35}</string>
            </dict>
            <key>xiahoudunlh8_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,379},{39,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,35}}</string>
                <key>sourceSize</key>
                <string>{39,35}</string>
            </dict>
            <key>xiahoudunlh8_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,425},{283,299}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{283,299}}</string>
                <key>sourceSize</key>
                <string>{283,299}</string>
            </dict>
            <key>xiahoudunlh8_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,710},{277,217}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,217}}</string>
                <key>sourceSize</key>
                <string>{277,217}</string>
            </dict>
            <key>xiahoudunlh8_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,288},{89,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,187}}</string>
                <key>sourceSize</key>
                <string>{89,187}</string>
            </dict>
            <key>xiahoudunlh8_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,292},{131,306}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,1},{131,306}}</string>
                <key>sourceSize</key>
                <string>{137,310}</string>
            </dict>
            <key>xiahoudunlh8_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,710},{268,119}}</string>
                <key>offset</key>
                <string>{10,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,2},{268,119}}</string>
                <key>sourceSize</key>
                <string>{292,123}</string>
            </dict>
            <key>xiahoudunlh8_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{965,420},{24,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{24,40}}</string>
                <key>sourceSize</key>
                <string>{26,42}</string>
            </dict>
            <key>xiahoudunlh8_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,460},{21,26}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{21,26}}</string>
                <key>sourceSize</key>
                <string>{23,28}</string>
            </dict>
            <key>xiahoudunlh8_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{974,201},{14,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{14,12}}</string>
                <key>sourceSize</key>
                <string>{16,14}</string>
            </dict>
            <key>xiahoudunlh8_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{404,131}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{404,131}}</string>
                <key>sourceSize</key>
                <string>{410,133}</string>
            </dict>
            <key>xiahoudunlh8_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,488},{31,20}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{31,20}}</string>
                <key>sourceSize</key>
                <string>{33,22}</string>
            </dict>
            <key>xiahoudunlh8_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{974,155},{22,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{22,15}}</string>
                <key>sourceSize</key>
                <string>{26,17}</string>
            </dict>
            <key>xiahoudunlh8_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,694},{67,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,43}}</string>
                <key>sourceSize</key>
                <string>{67,43}</string>
            </dict>
            <key>xiahoudunlh8_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,922},{61,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,61}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>xiahoudunlh8_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,781},{50,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,46}}</string>
                <key>sourceSize</key>
                <string>{50,46}</string>
            </dict>
            <key>xiahoudunlh8_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{907,922},{68,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{68,59}}</string>
                <key>sourceSize</key>
                <string>{72,63}</string>
            </dict>
            <key>xiahoudunlh8_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{974,249},{6,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{6,8}}</string>
                <key>sourceSize</key>
                <string>{6,8}</string>
            </dict>
            <key>xiahoudunlh8_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,633},{55,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,73}}</string>
                <key>sourceSize</key>
                <string>{55,73}</string>
            </dict>
            <key>xiahoudunlh8_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,2},{284,342}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,342}}</string>
                <key>sourceSize</key>
                <string>{284,342}</string>
            </dict>
            <key>xiahoudunlh8_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,288},{246,157}}</string>
                <key>offset</key>
                <string>{3,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,0},{246,157}}</string>
                <key>sourceSize</key>
                <string>{272,177}</string>
            </dict>
            <key>xiahoudunlh8_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,135},{323,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{323,155}}</string>
                <key>sourceSize</key>
                <string>{323,155}</string>
            </dict>
            <key>xiahoudunlh8_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,420},{188,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,139}}</string>
                <key>sourceSize</key>
                <string>{188,139}</string>
            </dict>
            <key>xiahoudunlh8_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,135},{77,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,147}}</string>
                <key>sourceSize</key>
                <string>{77,147}</string>
            </dict>
            <key>xiahoudunlh8_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{909,420},{106,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,54}}</string>
                <key>sourceSize</key>
                <string>{106,54}</string>
            </dict>
            <key>xiahoudunlh8_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,561},{70,70}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,72}</string>
            </dict>
            <key>xiahoudunlh8_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{751,420},{113,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,156}}</string>
                <key>sourceSize</key>
                <string>{113,156}</string>
            </dict>
            <key>xiahoudunlh8_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{725,536},{246,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,156}}</string>
                <key>sourceSize</key>
                <string>{246,156}</string>
            </dict>
            <key>xiahoudunlh8_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{725,694},{195,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,85}}</string>
                <key>sourceSize</key>
                <string>{195,85}</string>
            </dict>
            <key>xiahoudunlh8_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{723,781},{50,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,82}}</string>
                <key>sourceSize</key>
                <string>{50,82}</string>
            </dict>
            <key>xiahoudunlh8_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,2},{232,151}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{232,151}}</string>
                <key>sourceSize</key>
                <string>{254,155}</string>
            </dict>
            <key>xiahoudunlh8_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{974,179},{15,20}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{15,20}}</string>
                <key>sourceSize</key>
                <string>{21,26}</string>
            </dict>
            <key>xiahoudunlh8_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,570},{213,136}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,12},{213,136}}</string>
                <key>sourceSize</key>
                <string>{215,148}</string>
            </dict>
            <key>xiahoudunlh8_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{505,379},{39,29}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{39,29}}</string>
                <key>sourceSize</key>
                <string>{47,29}</string>
            </dict>
            <key>xiahoudunlh8_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,789},{35,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,64}}</string>
                <key>sourceSize</key>
                <string>{35,64}</string>
            </dict>
            <key>xiahoudunlh8_45.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,379},{39,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,64}}</string>
                <key>sourceSize</key>
                <string>{39,64}</string>
            </dict>
            <key>xiahoudunlh8_46.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,739},{64,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,48}}</string>
                <key>sourceSize</key>
                <string>{64,48}</string>
            </dict>
            <key>xiahoudunlh8_47.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,276},{142,218}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,218}}</string>
                <key>sourceSize</key>
                <string>{142,218}</string>
            </dict>
            <key>xiahoudunlh8_48.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,706},{123,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,162}}</string>
                <key>sourceSize</key>
                <string>{123,162}</string>
            </dict>
            <key>xiahoudunlh8_49.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,708},{259,254}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{259,254}}</string>
                <key>sourceSize</key>
                <string>{259,260}</string>
            </dict>
            <key>xiahoudunlh8_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,284},{284,73}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,73}}</string>
                <key>sourceSize</key>
                <string>{286,75}</string>
            </dict>
            <key>xiahoudunlh8_50.png</key>
            <dict>
                <key>frame</key>
                <string>{{775,781},{81,93}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,93}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>xiahoudunlh8_51.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,865},{90,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,120}}</string>
                <key>sourceSize</key>
                <string>{90,120}</string>
            </dict>
            <key>xiahoudunlh8_52.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,870},{116,98}}</string>
                <key>offset</key>
                <string>{1,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{116,98}}</string>
                <key>sourceSize</key>
                <string>{118,110}</string>
            </dict>
            <key>xiahoudunlh8_53.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,826},{61,94}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{61,94}}</string>
                <key>sourceSize</key>
                <string>{65,94}</string>
            </dict>
            <key>xiahoudunlh8_54.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,536},{131,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,168}}</string>
                <key>sourceSize</key>
                <string>{131,168}</string>
            </dict>
            <key>xiahoudunlh8_56.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,870},{52,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,103}}</string>
                <key>sourceSize</key>
                <string>{52,103}</string>
            </dict>
            <key>xiahoudunlh8_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,379},{30,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,40}}</string>
                <key>sourceSize</key>
                <string>{30,40}</string>
            </dict>
            <key>xiahoudunlh8_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{974,215},{13,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,32}}</string>
                <key>sourceSize</key>
                <string>{13,32}</string>
            </dict>
            <key>xiahoudunlh8_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,521},{19,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,30}}</string>
                <key>sourceSize</key>
                <string>{19,30}</string>
            </dict>
            <key>xiahoudunlh8_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,829},{27,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,26}}</string>
                <key>sourceSize</key>
                <string>{27,26}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>xiahoudunlh8.pvr.ccz</string>
            <key>size</key>
            <string>{991,991}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f63f86fdf46b1137fa2c721a02463791:1/1$</string>
            <key>textureFileName</key>
            <string>xiahoudunlh8.pvr.ccz</string>
        </dict>
    </dict>
</plist>
