<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>xiaohouduncjzpszlh_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,598},{62,94}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,11},{62,94}}</string>
                <key>sourceSize</key>
                <string>{78,106}</string>
            </dict>
            <key>xiaohouduncjzpszlh_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{925,265},{58,224}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,224}}</string>
                <key>sourceSize</key>
                <string>{60,224}</string>
            </dict>
            <key>xiaohouduncjzpszlh_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,407},{78,316}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,316}}</string>
                <key>sourceSize</key>
                <string>{78,316}</string>
            </dict>
            <key>xiaohouduncjzpszlh_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,744},{65,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,240}}</string>
                <key>sourceSize</key>
                <string>{65,240}</string>
            </dict>
            <key>xiaohouduncjzpszlh_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,447},{414,202}}</string>
                <key>offset</key>
                <string>{9,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,0},{414,202}}</string>
                <key>sourceSize</key>
                <string>{432,202}</string>
            </dict>
            <key>xiaohouduncjzpszlh_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{845,744},{86,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,94}}</string>
                <key>sourceSize</key>
                <string>{86,94}</string>
            </dict>
            <key>xiaohouduncjzpszlh_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,725},{262,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{262,46}}</string>
                <key>sourceSize</key>
                <string>{262,46}</string>
            </dict>
            <key>xiaohouduncjzpszlh_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{845,840},{83,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,83}}</string>
                <key>sourceSize</key>
                <string>{83,83}</string>
            </dict>
            <key>xiaohouduncjzpszlh_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,407},{38,31}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,31}}</string>
                <key>sourceSize</key>
                <string>{38,33}</string>
            </dict>
            <key>xiaohouduncjzpszlh_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{837,960},{27,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,38}}</string>
                <key>sourceSize</key>
                <string>{27,38}</string>
            </dict>
            <key>xiaohouduncjzpszlh_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{865,709},{33,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,26}}</string>
                <key>sourceSize</key>
                <string>{33,26}</string>
            </dict>
            <key>xiaohouduncjzpszlh_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{801,600},{61,116}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,10},{61,116}}</string>
                <key>sourceSize</key>
                <string>{79,140}</string>
            </dict>
            <key>xiaohouduncjzpszlh_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{811,467},{10,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,6}}</string>
                <key>sourceSize</key>
                <string>{10,6}</string>
            </dict>
            <key>xiaohouduncjzpszlh_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,865},{41,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,53}}</string>
                <key>sourceSize</key>
                <string>{41,53}</string>
            </dict>
            <key>xiaohouduncjzpszlh_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,967},{45,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,16}}</string>
                <key>sourceSize</key>
                <string>{45,16}</string>
            </dict>
            <key>xiaohouduncjzpszlh_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,916},{31,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,71}}</string>
                <key>sourceSize</key>
                <string>{31,71}</string>
            </dict>
            <key>xiaohouduncjzpszlh_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{811,475},{121,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,5},{121,89}}</string>
                <key>sourceSize</key>
                <string>{129,99}</string>
            </dict>
            <key>xiaohouduncjzpszlh_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{487,407},{38,55}}</string>
                <key>offset</key>
                <string>{-10,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{38,55}}</string>
                <key>sourceSize</key>
                <string>{58,65}</string>
            </dict>
            <key>xiaohouduncjzpszlh_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{933,788},{75,52}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{75,52}}</string>
                <key>sourceSize</key>
                <string>{75,54}</string>
            </dict>
            <key>xiaohouduncjzpszlh_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,907},{58,73}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{58,73}}</string>
                <key>sourceSize</key>
                <string>{58,75}</string>
            </dict>
            <key>xiaohouduncjzpszlh_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,863},{108,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,6},{108,186}}</string>
                <key>sourceSize</key>
                <string>{118,198}</string>
            </dict>
            <key>xiaohouduncjzpszlh_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,943},{44,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,45}}</string>
                <key>sourceSize</key>
                <string>{44,45}</string>
            </dict>
            <key>xiaohouduncjzpszlh_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,2},{438,99}}</string>
                <key>offset</key>
                <string>{-7,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,9},{438,99}}</string>
                <key>sourceSize</key>
                <string>{454,111}</string>
            </dict>
            <key>xiaohouduncjzpszlh_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,920},{25,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,43}}</string>
                <key>sourceSize</key>
                <string>{25,43}</string>
            </dict>
            <key>xiaohouduncjzpszlh_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,916},{70,153}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,10},{70,153}}</string>
                <key>sourceSize</key>
                <string>{94,169}</string>
            </dict>
            <key>xiaohouduncjzpszlh_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{893,694},{23,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,41}}</string>
                <key>sourceSize</key>
                <string>{23,41}</string>
            </dict>
            <key>xiaohouduncjzpszlh_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{785,952},{34,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,50}}</string>
                <key>sourceSize</key>
                <string>{34,50}</string>
            </dict>
            <key>xiaohouduncjzpszlh_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,447},{122,464}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,7},{122,464}}</string>
                <key>sourceSize</key>
                <string>{130,480}</string>
            </dict>
            <key>xiaohouduncjzpszlh_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{487,467},{213,154}}</string>
                <key>offset</key>
                <string>{5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,6},{213,154}}</string>
                <key>sourceSize</key>
                <string>{223,160}</string>
            </dict>
            <key>xiaohouduncjzpszlh_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{877,960},{36,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,27}}</string>
                <key>sourceSize</key>
                <string>{36,27}</string>
            </dict>
            <key>xiaohouduncjzpszlh_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{933,709},{77,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,51}}</string>
                <key>sourceSize</key>
                <string>{77,51}</string>
            </dict>
            <key>xiaohouduncjzpszlh_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,596},{66,59}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{66,59}}</string>
                <key>sourceSize</key>
                <string>{72,67}</string>
            </dict>
            <key>xiaohouduncjzpszlh_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,913},{138,51}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,4},{138,51}}</string>
                <key>sourceSize</key>
                <string>{158,61}</string>
            </dict>
            <key>xiaohouduncjzpszlh_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{532,169}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,9},{532,169}}</string>
                <key>sourceSize</key>
                <string>{552,183}</string>
            </dict>
            <key>xiaohouduncjzpszlh_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,491},{73,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,103}}</string>
                <key>sourceSize</key>
                <string>{73,103}</string>
            </dict>
            <key>xiaohouduncjzpszlh_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,746},{157,168}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,6},{157,168}}</string>
                <key>sourceSize</key>
                <string>{173,182}</string>
            </dict>
            <key>xiaohouduncjzpszlh_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{487,623},{121,222}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,7},{121,222}}</string>
                <key>sourceSize</key>
                <string>{137,236}</string>
            </dict>
            <key>xiaohouduncjzpszlh_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{801,718},{62,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,24}}</string>
                <key>sourceSize</key>
                <string>{62,24}</string>
            </dict>
            <key>xiaohouduncjzpszlh_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{845,925},{85,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,33}}</string>
                <key>sourceSize</key>
                <string>{85,33}</string>
            </dict>
            <key>xiaohouduncjzpszlh_45.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,943},{41,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,28}}</string>
                <key>sourceSize</key>
                <string>{41,28}</string>
            </dict>
            <key>xiaohouduncjzpszlh_46.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,664},{43,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,56}}</string>
                <key>sourceSize</key>
                <string>{43,56}</string>
            </dict>
            <key>xiaohouduncjzpszlh_47.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,746},{102,159}}</string>
                <key>offset</key>
                <string>{3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{102,159}}</string>
                <key>sourceSize</key>
                <string>{108,167}</string>
            </dict>
            <key>xiaohouduncjzpszlh_48.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,244},{320,221}}</string>
                <key>offset</key>
                <string>{3,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,8},{320,221}}</string>
                <key>sourceSize</key>
                <string>{336,263}</string>
            </dict>
            <key>xiaohouduncjzpszlh_49.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,173},{232,169}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,7},{232,169}}</string>
                <key>sourceSize</key>
                <string>{262,183}</string>
            </dict>
            <key>xiaohouduncjzpszlh_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{711,600},{142,88}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,12},{142,88}}</string>
                <key>sourceSize</key>
                <string>{162,108}</string>
            </dict>
            <key>xiaohouduncjzpszlh_50.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,173},{352,272}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,9},{352,272}}</string>
                <key>sourceSize</key>
                <string>{368,288}</string>
            </dict>
            <key>xiaohouduncjzpszlh_51.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,467},{107,131}}</string>
                <key>offset</key>
                <string>{-3,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{107,131}}</string>
                <key>sourceSize</key>
                <string>{127,165}</string>
            </dict>
            <key>xiaohouduncjzpszlh_52.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,447},{494,75}}</string>
                <key>offset</key>
                <string>{2,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,8},{494,75}}</string>
                <key>sourceSize</key>
                <string>{518,105}</string>
            </dict>
            <key>xiaohouduncjzpszlh_53.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,475},{14,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,16}}</string>
                <key>sourceSize</key>
                <string>{14,16}</string>
            </dict>
            <key>xiaohouduncjzpszlh_54.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,173},{20,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,7}}</string>
                <key>sourceSize</key>
                <string>{20,7}</string>
            </dict>
            <key>xiaohouduncjzpszlh_55.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,740},{5,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{5,4}}</string>
                <key>sourceSize</key>
                <string>{5,4}</string>
            </dict>
            <key>xiaohouduncjzpszlh_56.png</key>
            <dict>
                <key>frame</key>
                <string>{{915,960},{23,27}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{23,27}}</string>
                <key>sourceSize</key>
                <string>{25,29}</string>
            </dict>
            <key>xiaohouduncjzpszlh_57.png</key>
            <dict>
                <key>frame</key>
                <string>{{976,2},{12,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,5}}</string>
                <key>sourceSize</key>
                <string>{12,5}</string>
            </dict>
            <key>xiaohouduncjzpszlh_58.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,725},{30,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,13}}</string>
                <key>sourceSize</key>
                <string>{30,13}</string>
            </dict>
            <key>xiaohouduncjzpszlh_59.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,863},{14,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,18}}</string>
                <key>sourceSize</key>
                <string>{14,18}</string>
            </dict>
            <key>xiaohouduncjzpszlh_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,103},{356,139}}</string>
                <key>offset</key>
                <string>{-20,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,12},{356,139}}</string>
                <key>sourceSize</key>
                <string>{406,173}</string>
            </dict>
            <key>xiaohouduncjzpszlh_60.png</key>
            <dict>
                <key>frame</key>
                <string>{{893,737},{24,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,5}}</string>
                <key>sourceSize</key>
                <string>{24,5}</string>
            </dict>
            <key>xiaohouduncjzpszlh_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{785,744},{206,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,58}}</string>
                <key>sourceSize</key>
                <string>{206,58}</string>
            </dict>
            <key>xiaohouduncjzpszlh_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{849,265},{208,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,74}}</string>
                <key>sourceSize</key>
                <string>{208,74}</string>
            </dict>
            <key>xiaohouduncjzpszlh_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,103},{160,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,93}}</string>
                <key>sourceSize</key>
                <string>{160,93}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>xiahoudunlh7.pvr.ccz</string>
            <key>size</key>
            <string>{989,989}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:41c0886e41e20a41215fa8842e2c108d:1/1$</string>
            <key>textureFileName</key>
            <string>xiahoudunlh7.pvr.ccz</string>
        </dict>
    </dict>
</plist>
