<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zhouyusznhszlh_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,627},{112,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,53}}</string>
                <key>sourceSize</key>
                <string>{112,53}</string>
            </dict>
            <key>zhouyusznhszlh_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{719,555},{165,57}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,5},{165,57}}</string>
                <key>sourceSize</key>
                <string>{185,73}</string>
            </dict>
            <key>zhouyusznhszlh_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,408},{280,217}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{280,217}}</string>
                <key>sourceSize</key>
                <string>{294,229}</string>
            </dict>
            <key>zhouyusznhszlh_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{893,866},{15,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,15}}</string>
                <key>sourceSize</key>
                <string>{15,15}</string>
            </dict>
            <key>zhouyusznhszlh_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{827,862},{13,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,26}}</string>
                <key>sourceSize</key>
                <string>{13,26}</string>
            </dict>
            <key>zhouyusznhszlh_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{899,2},{11,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,11}}</string>
                <key>sourceSize</key>
                <string>{11,11}</string>
            </dict>
            <key>zhouyusznhszlh_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,547},{17,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,24}}</string>
                <key>sourceSize</key>
                <string>{17,24}</string>
            </dict>
            <key>zhouyusznhszlh_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,891},{33,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,14}}</string>
                <key>sourceSize</key>
                <string>{33,14}</string>
            </dict>
            <key>zhouyusznhszlh_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{855,862},{12,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,13}}</string>
                <key>sourceSize</key>
                <string>{12,13}</string>
            </dict>
            <key>zhouyusznhszlh_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,891},{27,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,19}}</string>
                <key>sourceSize</key>
                <string>{27,19}</string>
            </dict>
            <key>zhouyusznhszlh_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{801,821},{31,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,24}}</string>
                <key>sourceSize</key>
                <string>{31,24}</string>
            </dict>
            <key>zhouyusznhszlh_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,889},{41,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,18}}</string>
                <key>sourceSize</key>
                <string>{41,18}</string>
            </dict>
            <key>zhouyusznhszlh_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{607,558},{72,136}}</string>
                <key>offset</key>
                <string>{-9,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{72,136}}</string>
                <key>sourceSize</key>
                <string>{94,140}</string>
            </dict>
            <key>zhouyusznhszlh_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{607,696},{16,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,22}}</string>
                <key>sourceSize</key>
                <string>{16,22}</string>
            </dict>
            <key>zhouyusznhszlh_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{827,833},{40,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,27}}</string>
                <key>sourceSize</key>
                <string>{40,27}</string>
            </dict>
            <key>zhouyusznhszlh_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,743},{220,134}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,134}}</string>
                <key>sourceSize</key>
                <string>{232,134}</string>
            </dict>
            <key>zhouyusznhszlh_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,200},{117,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,201}}</string>
                <key>sourceSize</key>
                <string>{117,201}</string>
            </dict>
            <key>zhouyusznhszlh_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,2},{204,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,147}}</string>
                <key>sourceSize</key>
                <string>{204,147}</string>
            </dict>
            <key>zhouyusznhszlh_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{535,558},{70,154}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,154}}</string>
                <key>sourceSize</key>
                <string>{70,156}</string>
            </dict>
            <key>zhouyusznhszlh_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,875},{33,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,27}}</string>
                <key>sourceSize</key>
                <string>{33,27}</string>
            </dict>
            <key>zhouyusznhszlh_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{869,866},{20,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,22}}</string>
                <key>sourceSize</key>
                <string>{20,22}</string>
            </dict>
            <key>zhouyusznhszlh_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,889},{25,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,21}}</string>
                <key>sourceSize</key>
                <string>{25,21}</string>
            </dict>
            <key>zhouyusznhszlh_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,887},{23,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,29}}</string>
                <key>sourceSize</key>
                <string>{23,29}</string>
            </dict>
            <key>zhouyusznhszlh_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,466},{43,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{43,14}}</string>
                <key>sourceSize</key>
                <string>{47,18}</string>
            </dict>
            <key>zhouyusznhszlh_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,466},{15,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,10}}</string>
                <key>sourceSize</key>
                <string>{15,10}</string>
            </dict>
            <key>zhouyusznhszlh_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,483},{10,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,13}}</string>
                <key>sourceSize</key>
                <string>{10,13}</string>
            </dict>
            <key>zhouyusznhszlh_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,498},{10,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,11}}</string>
                <key>sourceSize</key>
                <string>{10,11}</string>
            </dict>
            <key>zhouyusznhszlh_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,200},{6,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{6,10}}</string>
                <key>sourceSize</key>
                <string>{6,10}</string>
            </dict>
            <key>zhouyusznhszlh_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,319},{67,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,28}}</string>
                <key>sourceSize</key>
                <string>{67,28}</string>
            </dict>
            <key>zhouyusznhszlh_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{827,792},{44,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,39}}</string>
                <key>sourceSize</key>
                <string>{44,39}</string>
            </dict>
            <key>zhouyusznhszlh_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,364},{28,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,15}}</string>
                <key>sourceSize</key>
                <string>{28,15}</string>
            </dict>
            <key>zhouyusznhszlh_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{595,891},{19,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,18}}</string>
                <key>sourceSize</key>
                <string>{19,18}</string>
            </dict>
            <key>zhouyusznhszlh_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,556},{27,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,36}}</string>
                <key>sourceSize</key>
                <string>{27,36}</string>
            </dict>
            <key>zhouyusznhszlh_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,751},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>zhouyusznhszlh_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,556},{178,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,49}}</string>
                <key>sourceSize</key>
                <string>{178,49}</string>
            </dict>
            <key>zhouyusznhszlh_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,889},{21,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,34}}</string>
                <key>sourceSize</key>
                <string>{21,34}</string>
            </dict>
            <key>zhouyusznhszlh_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{873,792},{41,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,37}}</string>
                <key>sourceSize</key>
                <string>{41,37}</string>
            </dict>
            <key>zhouyusznhszlh_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,902},{22,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,8}}</string>
                <key>sourceSize</key>
                <string>{22,8}</string>
            </dict>
            <key>zhouyusznhszlh_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,829},{39,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,44}}</string>
                <key>sourceSize</key>
                <string>{39,44}</string>
            </dict>
            <key>zhouyusznhszlh_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,879},{7,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,11}}</string>
                <key>sourceSize</key>
                <string>{7,11}</string>
            </dict>
            <key>zhouyusznhszlh_45.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,319},{43,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,33}}</string>
                <key>sourceSize</key>
                <string>{43,33}</string>
            </dict>
            <key>zhouyusznhszlh_46.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,889},{24,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,17}}</string>
                <key>sourceSize</key>
                <string>{24,17}</string>
            </dict>
            <key>zhouyusznhszlh_47.png</key>
            <dict>
                <key>frame</key>
                <string>{{869,835},{40,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,29}}</string>
                <key>sourceSize</key>
                <string>{40,29}</string>
            </dict>
            <key>zhouyusznhszlh_48.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,879},{74,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,25}}</string>
                <key>sourceSize</key>
                <string>{74,25}</string>
            </dict>
            <key>zhouyusznhszlh_49.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,585},{28,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,20}}</string>
                <key>sourceSize</key>
                <string>{28,20}</string>
            </dict>
            <key>zhouyusznhszlh_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,736},{164,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,43}}</string>
                <key>sourceSize</key>
                <string>{164,43}</string>
            </dict>
            <key>zhouyusznhszlh_50.png</key>
            <dict>
                <key>frame</key>
                <string>{{681,600},{29,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,12}}</string>
                <key>sourceSize</key>
                <string>{29,12}</string>
            </dict>
            <key>zhouyusznhszlh_51.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,566},{33,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,22}}</string>
                <key>sourceSize</key>
                <string>{33,22}</string>
            </dict>
            <key>zhouyusznhszlh_52.png</key>
            <dict>
                <key>frame</key>
                <string>{{589,843},{55,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,46}}</string>
                <key>sourceSize</key>
                <string>{55,46}</string>
            </dict>
            <key>zhouyusznhszlh_53.png</key>
            <dict>
                <key>frame</key>
                <string>{{589,714},{127,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,53}}</string>
                <key>sourceSize</key>
                <string>{127,53}</string>
            </dict>
            <key>zhouyusznhszlh_54.png</key>
            <dict>
                <key>frame</key>
                <string>{{719,447},{163,106}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,106}}</string>
                <key>sourceSize</key>
                <string>{165,106}</string>
            </dict>
            <key>zhouyusznhszlh_55.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,381},{224,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,89}}</string>
                <key>sourceSize</key>
                <string>{224,89}</string>
            </dict>
            <key>zhouyusznhszlh_56.png</key>
            <dict>
                <key>frame</key>
                <string>{{615,891},{19,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,17}}</string>
                <key>sourceSize</key>
                <string>{19,17}</string>
            </dict>
            <key>zhouyusznhszlh_57.png</key>
            <dict>
                <key>frame</key>
                <string>{{801,854},{17,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,24}}</string>
                <key>sourceSize</key>
                <string>{17,24}</string>
            </dict>
            <key>zhouyusznhszlh_58.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,697},{82,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,51}}</string>
                <key>sourceSize</key>
                <string>{82,51}</string>
            </dict>
            <key>zhouyusznhszlh_59.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,879},{78,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,31}}</string>
                <key>sourceSize</key>
                <string>{78,31}</string>
            </dict>
            <key>zhouyusznhszlh_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,714},{47,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,175}}</string>
                <key>sourceSize</key>
                <string>{47,175}</string>
            </dict>
            <key>zhouyusznhszlh_60.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,388},{27,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,41}}</string>
                <key>sourceSize</key>
                <string>{27,41}</string>
            </dict>
            <key>zhouyusznhszlh_61.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,750},{69,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,43}}</string>
                <key>sourceSize</key>
                <string>{69,43}</string>
            </dict>
            <key>zhouyusznhszlh_62.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,431},{33,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,26}}</string>
                <key>sourceSize</key>
                <string>{33,26}</string>
            </dict>
            <key>zhouyusznhszlh_63.png</key>
            <dict>
                <key>frame</key>
                <string>{{669,891},{17,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,29}}</string>
                <key>sourceSize</key>
                <string>{17,29}</string>
            </dict>
            <key>zhouyusznhszlh_64.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,879},{31,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,51}}</string>
                <key>sourceSize</key>
                <string>{31,51}</string>
            </dict>
            <key>zhouyusznhszlh_65.png</key>
            <dict>
                <key>frame</key>
                <string>{{569,891},{19,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,24}}</string>
                <key>sourceSize</key>
                <string>{19,24}</string>
            </dict>
            <key>zhouyusznhszlh_66.png</key>
            <dict>
                <key>frame</key>
                <string>{{681,558},{29,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,40}}</string>
                <key>sourceSize</key>
                <string>{29,40}</string>
            </dict>
            <key>zhouyusznhszlh_67.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,891},{20,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,18}}</string>
                <key>sourceSize</key>
                <string>{20,18}</string>
            </dict>
            <key>zhouyusznhszlh_68.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,381},{99,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,173}}</string>
                <key>sourceSize</key>
                <string>{99,173}</string>
            </dict>
            <key>zhouyusznhszlh_69.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,829},{32,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,56}}</string>
                <key>sourceSize</key>
                <string>{32,56}</string>
            </dict>
            <key>zhouyusznhszlh_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,216},{345,190}}</string>
                <key>offset</key>
                <string>{-6,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,10},{345,190}}</string>
                <key>sourceSize</key>
                <string>{367,204}</string>
            </dict>
            <key>zhouyusznhszlh_70.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,752},{83,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,70}}</string>
                <key>sourceSize</key>
                <string>{83,70}</string>
            </dict>
            <key>zhouyusznhszlh_71.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,614},{116,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,39}}</string>
                <key>sourceSize</key>
                <string>{116,39}</string>
            </dict>
            <key>zhouyusznhszlh_72.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,511},{22,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,34}}</string>
                <key>sourceSize</key>
                <string>{22,34}</string>
            </dict>
            <key>zhouyusznhszlh_73.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,696},{106,54}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{106,54}}</string>
                <key>sourceSize</key>
                <string>{108,54}</string>
            </dict>
            <key>zhouyusznhszlh_74.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,743},{117,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,144}}</string>
                <key>sourceSize</key>
                <string>{117,144}</string>
            </dict>
            <key>zhouyusznhszlh_75.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,655},{112,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,40}}</string>
                <key>sourceSize</key>
                <string>{112,40}</string>
            </dict>
            <key>zhouyusznhszlh_76.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,697},{63,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,52}}</string>
                <key>sourceSize</key>
                <string>{63,52}</string>
            </dict>
            <key>zhouyusznhszlh_77.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,319},{162,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,126}}</string>
                <key>sourceSize</key>
                <string>{162,126}</string>
            </dict>
            <key>zhouyusznhszlh_78.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,824},{78,65}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,65}}</string>
                <key>sourceSize</key>
                <string>{84,65}</string>
            </dict>
            <key>zhouyusznhszlh_79.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,216},{161,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,163}}</string>
                <key>sourceSize</key>
                <string>{161,163}</string>
            </dict>
            <key>zhouyusznhszlh_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{500,212}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,3},{500,212}}</string>
                <key>sourceSize</key>
                <string>{516,224}</string>
            </dict>
            <key>zhouyusznhszlh_80.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,408},{217,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,69}}</string>
                <key>sourceSize</key>
                <string>{217,69}</string>
            </dict>
            <key>zhouyusznhszlh_81.png</key>
            <dict>
                <key>frame</key>
                <string>{{827,751},{47,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,39}}</string>
                <key>sourceSize</key>
                <string>{47,39}</string>
            </dict>
            <key>zhouyusznhszlh_82.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,742},{72,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,161}}</string>
                <key>sourceSize</key>
                <string>{72,161}</string>
            </dict>
            <key>zhouyusznhszlh_83.png</key>
            <dict>
                <key>frame</key>
                <string>{{681,614},{80,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,111}}</string>
                <key>sourceSize</key>
                <string>{80,111}</string>
            </dict>
            <key>zhouyusznhszlh_84.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,742},{76,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,168}}</string>
                <key>sourceSize</key>
                <string>{76,168}</string>
            </dict>
            <key>zhouyusznhszlh_85.png</key>
            <dict>
                <key>frame</key>
                <string>{{547,448},{170,108}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,108}}</string>
                <key>sourceSize</key>
                <string>{174,108}</string>
            </dict>
            <key>zhouyusznhszlh_86.png</key>
            <dict>
                <key>frame</key>
                <string>{{547,319},{169,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,127}}</string>
                <key>sourceSize</key>
                <string>{169,127}</string>
            </dict>
            <key>zhouyusznhszlh_87.png</key>
            <dict>
                <key>frame</key>
                <string>{{729,752},{75,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,51}}</string>
                <key>sourceSize</key>
                <string>{75,51}</string>
            </dict>
            <key>zhouyusznhszlh_88.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,607},{124,133}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{124,133}}</string>
                <key>sourceSize</key>
                <string>{126,133}</string>
            </dict>
            <key>zhouyusznhszlh_89.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,627},{114,299}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,299}}</string>
                <key>sourceSize</key>
                <string>{114,299}</string>
            </dict>
            <key>zhouyusznhszlh_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,2},{244,196}}</string>
                <key>offset</key>
                <string>{3,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,15},{244,196}}</string>
                <key>sourceSize</key>
                <string>{260,212}</string>
            </dict>
            <key>zhouyusznhszlh_90.png</key>
            <dict>
                <key>frame</key>
                <string>{{715,208},{191,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,109}}</string>
                <key>sourceSize</key>
                <string>{191,109}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zhouyulh8.pvr.ccz</string>
            <key>size</key>
            <string>{912,912}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c3ea068f1f8cd6ef59bcbe10dfc32784:1/1$</string>
            <key>textureFileName</key>
            <string>zhouyulh8.pvr.ccz</string>
        </dict>
    </dict>
</plist>
