<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pangtonglh5_huo1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,284},{65,96}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{65,96}}</string>
                <key>sourceSize</key>
                <string>{75,110}</string>
            </dict>
            <key>pangtonglh5_huo1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{953,470},{69,90}}</string>
                <key>offset</key>
                <string>{-2,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,20},{69,90}}</string>
                <key>sourceSize</key>
                <string>{75,110}</string>
            </dict>
            <key>pangtonglh5_huo1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{961,636},{61,86}}</string>
                <key>offset</key>
                <string>{-5,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,24},{61,86}}</string>
                <key>sourceSize</key>
                <string>{75,110}</string>
            </dict>
            <key>pangtonglh5_huo1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{873,636},{63,86}}</string>
                <key>offset</key>
                <string>{-4,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,23},{63,86}}</string>
                <key>sourceSize</key>
                <string>{75,110}</string>
            </dict>
            <key>pangtonglh5_huo1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,673},{67,82}}</string>
                <key>offset</key>
                <string>{-4,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,25},{67,82}}</string>
                <key>sourceSize</key>
                <string>{75,110}</string>
            </dict>
            <key>pangtonglh5_huo1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,382},{65,86}}</string>
                <key>offset</key>
                <string>{-4,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,19},{65,86}}</string>
                <key>sourceSize</key>
                <string>{75,110}</string>
            </dict>
            <key>pangtonglh5_huo1_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,592},{63,92}}</string>
                <key>offset</key>
                <string>{-6,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{63,92}}</string>
                <key>sourceSize</key>
                <string>{75,110}</string>
            </dict>
            <key>pangtonglh5_huo1_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,188},{63,94}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,9},{63,94}}</string>
                <key>sourceSize</key>
                <string>{75,110}</string>
            </dict>
            <key>pangtonglh5_huo1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,535},{71,98}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{71,98}}</string>
                <key>sourceSize</key>
                <string>{75,110}</string>
            </dict>
            <key>pangtonglh5_huo1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{797,451},{71,100}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{71,100}}</string>
                <key>sourceSize</key>
                <string>{75,110}</string>
            </dict>
            <key>pangtonglh5_huo1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,484},{73,100}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,100}}</string>
                <key>sourceSize</key>
                <string>{75,110}</string>
            </dict>
            <key>pangtonglh5_huo1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,407},{75,100}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,100}}</string>
                <key>sourceSize</key>
                <string>{75,110}</string>
            </dict>
            <key>pangtonglh5_huo1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,492},{75,98}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,98}}</string>
                <key>sourceSize</key>
                <string>{75,110}</string>
            </dict>
            <key>pangtonglh5_huo1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,188},{73,94}}</string>
                <key>offset</key>
                <string>{1,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{73,94}}</string>
                <key>sourceSize</key>
                <string>{75,110}</string>
            </dict>
            <key>pangtonglh5_huo1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{579,608},{71,90}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,6},{71,90}}</string>
                <key>sourceSize</key>
                <string>{75,110}</string>
            </dict>
            <key>pangtonglh5_huo1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{797,524},{67,92}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,18},{67,92}}</string>
                <key>sourceSize</key>
                <string>{75,110}</string>
            </dict>
            <key>pangtonglh5_huo2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,263},{93,142}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{93,142}}</string>
                <key>sourceSize</key>
                <string>{97,182}</string>
            </dict>
            <key>pangtonglh5_huo2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,188},{65,158}}</string>
                <key>offset</key>
                <string>{-12,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,24},{65,158}}</string>
                <key>sourceSize</key>
                <string>{97,182}</string>
            </dict>
            <key>pangtonglh5_huo2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,517},{69,142}}</string>
                <key>offset</key>
                <string>{-13,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,40},{69,142}}</string>
                <key>sourceSize</key>
                <string>{97,182}</string>
            </dict>
            <key>pangtonglh5_huo2_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{607,366},{69,140}}</string>
                <key>offset</key>
                <string>{-13,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,39},{69,140}}</string>
                <key>sourceSize</key>
                <string>{97,182}</string>
            </dict>
            <key>pangtonglh5_huo2_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,536},{75,136}}</string>
                <key>offset</key>
                <string>{-11,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,41},{75,136}}</string>
                <key>sourceSize</key>
                <string>{97,182}</string>
            </dict>
            <key>pangtonglh5_huo2_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,453},{81,138}}</string>
                <key>offset</key>
                <string>{-8,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,35},{81,138}}</string>
                <key>sourceSize</key>
                <string>{97,182}</string>
            </dict>
            <key>pangtonglh5_huo2_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,386},{87,146}}</string>
                <key>offset</key>
                <string>{-5,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,23},{87,146}}</string>
                <key>sourceSize</key>
                <string>{97,182}</string>
            </dict>
            <key>pangtonglh5_huo2_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,362},{89,144}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,19},{89,144}}</string>
                <key>sourceSize</key>
                <string>{97,182}</string>
            </dict>
            <key>pangtonglh5_huo2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,265},{97,146}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,11},{97,146}}</string>
                <key>sourceSize</key>
                <string>{97,182}</string>
            </dict>
            <key>pangtonglh5_huo2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,287},{97,150}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{97,150}}</string>
                <key>sourceSize</key>
                <string>{97,182}</string>
            </dict>
            <key>pangtonglh5_huo2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,255},{97,156}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{97,156}}</string>
                <key>sourceSize</key>
                <string>{97,182}</string>
            </dict>
            <key>pangtonglh5_huo2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,354},{95,156}}</string>
                <key>offset</key>
                <string>{-1,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,156}}</string>
                <key>sourceSize</key>
                <string>{97,182}</string>
            </dict>
            <key>pangtonglh5_huo2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,190},{95,154}}</string>
                <key>offset</key>
                <string>{-1,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,154}}</string>
                <key>sourceSize</key>
                <string>{97,182}</string>
            </dict>
            <key>pangtonglh5_huo2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,188},{87,150}}</string>
                <key>offset</key>
                <string>{-5,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,150}}</string>
                <key>sourceSize</key>
                <string>{97,182}</string>
            </dict>
            <key>pangtonglh5_huo2_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,277},{83,146}}</string>
                <key>offset</key>
                <string>{-7,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{83,146}}</string>
                <key>sourceSize</key>
                <string>{97,182}</string>
            </dict>
            <key>pangtonglh5_huo2_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,188},{75,156}}</string>
                <key>offset</key>
                <string>{-11,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,26},{75,156}}</string>
                <key>sourceSize</key>
                <string>{97,182}</string>
            </dict>
            <key>pangtonglh5_huo3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,602},{56,132}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,16},{56,132}}</string>
                <key>sourceSize</key>
                <string>{58,168}</string>
            </dict>
            <key>pangtonglh5_huo3_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,475},{40,144}}</string>
                <key>offset</key>
                <string>{7,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,24},{40,144}}</string>
                <key>sourceSize</key>
                <string>{58,168}</string>
            </dict>
            <key>pangtonglh5_huo3_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,190},{42,130}}</string>
                <key>offset</key>
                <string>{8,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,38},{42,130}}</string>
                <key>sourceSize</key>
                <string>{58,168}</string>
            </dict>
            <key>pangtonglh5_huo3_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,491},{42,128}}</string>
                <key>offset</key>
                <string>{8,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,37},{42,128}}</string>
                <key>sourceSize</key>
                <string>{58,168}</string>
            </dict>
            <key>pangtonglh5_huo3_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{749,366},{46,124}}</string>
                <key>offset</key>
                <string>{6,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,39},{46,124}}</string>
                <key>sourceSize</key>
                <string>{58,168}</string>
            </dict>
            <key>pangtonglh5_huo3_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,702},{48,128}}</string>
                <key>offset</key>
                <string>{5,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,31},{48,128}}</string>
                <key>sourceSize</key>
                <string>{58,168}</string>
            </dict>
            <key>pangtonglh5_huo3_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,648},{52,132}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,23},{52,132}}</string>
                <key>sourceSize</key>
                <string>{58,168}</string>
            </dict>
            <key>pangtonglh5_huo3_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,604},{54,132}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,18},{54,132}}</string>
                <key>sourceSize</key>
                <string>{58,168}</string>
            </dict>
            <key>pangtonglh5_huo3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,542},{58,134}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,11},{58,134}}</string>
                <key>sourceSize</key>
                <string>{58,168}</string>
            </dict>
            <key>pangtonglh5_huo3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,482},{58,138}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{58,138}}</string>
                <key>sourceSize</key>
                <string>{58,168}</string>
            </dict>
            <key>pangtonglh5_huo3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,588},{58,142}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{58,142}}</string>
                <key>sourceSize</key>
                <string>{58,168}</string>
            </dict>
            <key>pangtonglh5_huo3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,364},{58,144}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,144}}</string>
                <key>sourceSize</key>
                <string>{58,168}</string>
            </dict>
            <key>pangtonglh5_huo3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,424},{56,144}}</string>
                <key>offset</key>
                <string>{1,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{56,144}}</string>
                <key>sourceSize</key>
                <string>{58,168}</string>
            </dict>
            <key>pangtonglh5_huo3_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,437},{52,138}}</string>
                <key>offset</key>
                <string>{3,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,1},{52,138}}</string>
                <key>sourceSize</key>
                <string>{58,168}</string>
            </dict>
            <key>pangtonglh5_huo3_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,468},{50,134}}</string>
                <key>offset</key>
                <string>{4,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,5},{50,134}}</string>
                <key>sourceSize</key>
                <string>{58,168}</string>
            </dict>
            <key>pangtonglh5_huo3_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,322},{46,144}}</string>
                <key>offset</key>
                <string>{6,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,24},{46,144}}</string>
                <key>sourceSize</key>
                <string>{58,168}</string>
            </dict>
            <key>pangtonglh5_huo4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,94},{192,92}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,2},{192,92}}</string>
                <key>sourceSize</key>
                <string>{202,94}</string>
            </dict>
            <key>pangtonglh5_huo4_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,96},{198,92}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{198,92}}</string>
                <key>sourceSize</key>
                <string>{202,94}</string>
            </dict>
            <key>pangtonglh5_huo4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,94},{198,92}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{198,92}}</string>
                <key>sourceSize</key>
                <string>{202,94}</string>
            </dict>
            <key>pangtonglh5_huo4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,2},{200,90}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{200,90}}</string>
                <key>sourceSize</key>
                <string>{202,94}</string>
            </dict>
            <key>pangtonglh5_huo4_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,2},{202,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{202,90}}</string>
                <key>sourceSize</key>
                <string>{202,94}</string>
            </dict>
            <key>pangtonglh5_huo4_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,2},{202,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{202,92}}</string>
                <key>sourceSize</key>
                <string>{202,94}</string>
            </dict>
            <key>pangtonglh5_huo4_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{202,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{202,92}}</string>
                <key>sourceSize</key>
                <string>{202,94}</string>
            </dict>
            <key>pangtonglh5_huo4_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,96},{198,90}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{198,90}}</string>
                <key>sourceSize</key>
                <string>{202,94}</string>
            </dict>
            <key>pangtonglh5_huo4_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,94},{198,88}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{198,88}}</string>
                <key>sourceSize</key>
                <string>{202,94}</string>
            </dict>
            <key>pangtonglh5_huo4_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,2},{200,90}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{200,90}}</string>
                <key>sourceSize</key>
                <string>{202,94}</string>
            </dict>
            <key>pangtonglh5_huo5_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,681},{87,72}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,1},{87,72}}</string>
                <key>sourceSize</key>
                <string>{97,78}</string>
            </dict>
            <key>pangtonglh5_huo5_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,709},{87,70}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,3},{87,70}}</string>
                <key>sourceSize</key>
                <string>{97,78}</string>
            </dict>
            <key>pangtonglh5_huo5_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,691},{87,74}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,2},{87,74}}</string>
                <key>sourceSize</key>
                <string>{97,78}</string>
            </dict>
            <key>pangtonglh5_huo5_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,593},{87,78}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{87,78}}</string>
                <key>sourceSize</key>
                <string>{97,78}</string>
            </dict>
            <key>pangtonglh5_huo5_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,633},{87,74}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{87,74}}</string>
                <key>sourceSize</key>
                <string>{97,78}</string>
            </dict>
            <key>pangtonglh5_huo5_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,660},{93,76}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{93,76}}</string>
                <key>sourceSize</key>
                <string>{97,78}</string>
            </dict>
            <key>pangtonglh5_huo5_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{891,562},{89,72}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,3},{89,72}}</string>
                <key>sourceSize</key>
                <string>{97,78}</string>
            </dict>
            <key>pangtonglh5_huo5_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,613},{93,76}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{93,76}}</string>
                <key>sourceSize</key>
                <string>{97,78}</string>
            </dict>
            <key>pangtonglh5_huo5_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{671,657},{87,76}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{87,76}}</string>
                <key>sourceSize</key>
                <string>{97,78}</string>
            </dict>
            <key>pangtonglh5_huo5_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,559},{97,72}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{97,72}}</string>
                <key>sourceSize</key>
                <string>{97,78}</string>
            </dict>
            <key>pangtonglh5_lizi_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1004,112},{15,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,20}}</string>
                <key>sourceSize</key>
                <string>{15,20}</string>
            </dict>
            <key>pangtonglh5_lizi_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1004,94},{16,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,18}}</string>
                <key>sourceSize</key>
                <string>{16,18}</string>
            </dict>
            <key>pangtonglh5_xing1.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,184},{186,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,180}}</string>
                <key>sourceSize</key>
                <string>{186,180}</string>
            </dict>
            <key>pangtonglh5_xing2.png</key>
            <dict>
                <key>frame</key>
                <string>{{899,451},{51,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,52}}</string>
                <key>sourceSize</key>
                <string>{51,52}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pangtonglh5.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:64967e2e50336784737ab6a997fbe4a4:1/1$</string>
            <key>textureFileName</key>
            <string>pangtonglh5.png</string>
        </dict>
    </dict>
</plist>
