<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>luzhilh8_huo_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,721},{49,94}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,14},{49,94}}</string>
                <key>sourceSize</key>
                <string>{51,108}</string>
            </dict>
            <key>luzhilh8_huo_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,320},{51,98}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{51,98}}</string>
                <key>sourceSize</key>
                <string>{51,108}</string>
            </dict>
            <key>luzhilh8_huo_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,320},{49,96}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,12},{49,96}}</string>
                <key>sourceSize</key>
                <string>{51,108}</string>
            </dict>
            <key>luzhilh8_huo_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,625},{47,92}}</string>
                <key>offset</key>
                <string>{2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,16},{47,92}}</string>
                <key>sourceSize</key>
                <string>{51,108}</string>
            </dict>
            <key>luzhilh8_huo_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,953},{51,92}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,16},{51,92}}</string>
                <key>sourceSize</key>
                <string>{51,108}</string>
            </dict>
            <key>luzhilh8_huo_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,463},{45,92}}</string>
                <key>offset</key>
                <string>{-2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,16},{45,92}}</string>
                <key>sourceSize</key>
                <string>{51,108}</string>
            </dict>
            <key>luzhilh8_huo_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,625},{49,94}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{49,94}}</string>
                <key>sourceSize</key>
                <string>{51,108}</string>
            </dict>
            <key>luzhilh8_huo_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,320},{45,98}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,10},{45,98}}</string>
                <key>sourceSize</key>
                <string>{51,108}</string>
            </dict>
            <key>luzhilh8_huo_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,320},{45,102}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{45,102}}</string>
                <key>sourceSize</key>
                <string>{51,108}</string>
            </dict>
            <key>luzhilh8_huo_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,320},{45,108}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{45,108}}</string>
                <key>sourceSize</key>
                <string>{51,108}</string>
            </dict>
            <key>luzhilh8_huo_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,320},{51,104}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{51,104}}</string>
                <key>sourceSize</key>
                <string>{51,108}</string>
            </dict>
            <key>luzhilh8_huo_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,320},{51,104}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{51,104}}</string>
                <key>sourceSize</key>
                <string>{51,108}</string>
            </dict>
            <key>luzhilh8_quan_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,2},{78,158}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{78,158}}</string>
                <key>sourceSize</key>
                <string>{80,164}</string>
            </dict>
            <key>luzhilh8_quan_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,658},{80,162}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{80,162}}</string>
                <key>sourceSize</key>
                <string>{80,164}</string>
            </dict>
            <key>luzhilh8_quan_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,791},{76,160}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{76,160}}</string>
                <key>sourceSize</key>
                <string>{80,164}</string>
            </dict>
            <key>luzhilh8_quan_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,627},{74,162}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{74,162}}</string>
                <key>sourceSize</key>
                <string>{80,164}</string>
            </dict>
            <key>luzhilh8_quan_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,822},{74,162}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{74,162}}</string>
                <key>sourceSize</key>
                <string>{80,164}</string>
            </dict>
            <key>luzhilh8_quan_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,463},{76,162}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{76,162}}</string>
                <key>sourceSize</key>
                <string>{80,164}</string>
            </dict>
            <key>luzhilh8_quan_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,824},{76,164}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{76,164}}</string>
                <key>sourceSize</key>
                <string>{80,164}</string>
            </dict>
            <key>luzhilh8_quan_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,658},{78,164}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{78,164}}</string>
                <key>sourceSize</key>
                <string>{80,164}</string>
            </dict>
            <key>luzhilh8_quan_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,824},{80,162}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{80,162}}</string>
                <key>sourceSize</key>
                <string>{80,164}</string>
            </dict>
            <key>luzhilh8_quan_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,463},{80,160}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{80,160}}</string>
                <key>sourceSize</key>
                <string>{80,164}</string>
            </dict>
            <key>luzhilh8_xing1.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,281},{186,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,180}}</string>
                <key>sourceSize</key>
                <string>{186,180}</string>
            </dict>
            <key>luzhilh8_xing2.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,953},{53,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,53}}</string>
                <key>sourceSize</key>
                <string>{53,53}</string>
            </dict>
            <key>luzhilh8_yan_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,2},{213,155}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{213,155}}</string>
                <key>sourceSize</key>
                <string>{217,157}</string>
            </dict>
            <key>luzhilh8_yan_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{217,153}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{217,153}}</string>
                <key>sourceSize</key>
                <string>{217,157}</string>
            </dict>
            <key>luzhilh8_yan_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,157},{211,155}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{211,155}}</string>
                <key>sourceSize</key>
                <string>{217,157}</string>
            </dict>
            <key>luzhilh8_yan_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,155},{211,157}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,157}}</string>
                <key>sourceSize</key>
                <string>{217,157}</string>
            </dict>
            <key>luzhilh8_yan_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{653,2},{209,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{209,157}}</string>
                <key>sourceSize</key>
                <string>{217,157}</string>
            </dict>
            <key>luzhilh8_yan_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{639,161},{193,157}}</string>
                <key>offset</key>
                <string>{10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,0},{193,157}}</string>
                <key>sourceSize</key>
                <string>{217,157}</string>
            </dict>
            <key>luzhilh8_yan_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,82},{197,157}}</string>
                <key>offset</key>
                <string>{9,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,0},{197,157}}</string>
                <key>sourceSize</key>
                <string>{217,157}</string>
            </dict>
            <key>luzhilh8_yan_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,463},{193,155}}</string>
                <key>offset</key>
                <string>{12,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,2},{193,155}}</string>
                <key>sourceSize</key>
                <string>{217,157}</string>
            </dict>
            <key>luzhilh8_yan_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,159},{203,153}}</string>
                <key>offset</key>
                <string>{7,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,4},{203,153}}</string>
                <key>sourceSize</key>
                <string>{217,157}</string>
            </dict>
            <key>luzhilh8_yan_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,2},{215,151}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{215,151}}</string>
                <key>sourceSize</key>
                <string>{217,157}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>luzhilh8.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c79fa49268a3689d69bf097e11a841fb:1/1$</string>
            <key>textureFileName</key>
            <string>luzhilh8.png</string>
        </dict>
    </dict>
</plist>
