<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zhangliaolh7_huo_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,369},{104,88}}</string>
                <key>offset</key>
                <string>{-4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,10},{104,88}}</string>
                <key>sourceSize</key>
                <string>{118,98}</string>
            </dict>
            <key>zhangliaolh7_huo_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,279},{112,92}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{112,92}}</string>
                <key>sourceSize</key>
                <string>{118,98}</string>
            </dict>
            <key>zhangliaolh7_huo_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,448},{100,92}}</string>
                <key>offset</key>
                <string>{-6,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{100,92}}</string>
                <key>sourceSize</key>
                <string>{118,98}</string>
            </dict>
            <key>zhangliaolh7_huo_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,636},{92,86}}</string>
                <key>offset</key>
                <string>{-9,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,12},{92,86}}</string>
                <key>sourceSize</key>
                <string>{118,98}</string>
            </dict>
            <key>zhangliaolh7_huo_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,559},{92,90}}</string>
                <key>offset</key>
                <string>{-10,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,8},{92,90}}</string>
                <key>sourceSize</key>
                <string>{118,98}</string>
            </dict>
            <key>zhangliaolh7_huo_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,569},{92,92}}</string>
                <key>offset</key>
                <string>{-10,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{92,92}}</string>
                <key>sourceSize</key>
                <string>{118,98}</string>
            </dict>
            <key>zhangliaolh7_huo_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,383},{102,94}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{102,94}}</string>
                <key>sourceSize</key>
                <string>{118,98}</string>
            </dict>
            <key>zhangliaolh7_huo_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,283},{114,98}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{114,98}}</string>
                <key>sourceSize</key>
                <string>{118,98}</string>
            </dict>
            <key>zhangliaolh7_huo_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,279},{108,88}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,10},{108,88}}</string>
                <key>sourceSize</key>
                <string>{118,98}</string>
            </dict>
            <key>zhangliaolh7_huo_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,467},{96,90}}</string>
                <key>offset</key>
                <string>{-8,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,8},{96,90}}</string>
                <key>sourceSize</key>
                <string>{118,98}</string>
            </dict>
            <key>zhangliaolh7_huo_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,459},{96,92}}</string>
                <key>offset</key>
                <string>{-10,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,6},{96,92}}</string>
                <key>sourceSize</key>
                <string>{118,98}</string>
            </dict>
            <key>zhangliaolh7_huo_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,373},{102,92}}</string>
                <key>offset</key>
                <string>{-8,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{102,92}}</string>
                <key>sourceSize</key>
                <string>{118,98}</string>
            </dict>
            <key>zhangliaolh7_huo_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,479},{98,88}}</string>
                <key>offset</key>
                <string>{-10,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{98,88}}</string>
                <key>sourceSize</key>
                <string>{118,98}</string>
            </dict>
            <key>zhangliaolh7_huo_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,553},{92,90}}</string>
                <key>offset</key>
                <string>{-12,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,7},{92,90}}</string>
                <key>sourceSize</key>
                <string>{118,98}</string>
            </dict>
            <key>zhangliaolh7_huo_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,354},{110,92}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,6},{110,92}}</string>
                <key>sourceSize</key>
                <string>{118,98}</string>
            </dict>
            <key>zhangliaolh7_xingxing.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,542},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>zhangliaolh7_zhangliaoyanwu_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,2},{164,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,93}}</string>
                <key>sourceSize</key>
                <string>{164,93}</string>
            </dict>
            <key>zhangliaolh7_zhangliaoyanwu_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,2},{164,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,93}}</string>
                <key>sourceSize</key>
                <string>{164,93}</string>
            </dict>
            <key>zhangliaolh7_zhangliaoyanwu_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{164,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,93}}</string>
                <key>sourceSize</key>
                <string>{164,93}</string>
            </dict>
            <key>zhangliaolh7_zhangliaoyanwu_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,97},{160,81}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,12},{160,81}}</string>
                <key>sourceSize</key>
                <string>{164,93}</string>
            </dict>
            <key>zhangliaolh7_zhangliaoyanwu_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,180},{152,85}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{152,85}}</string>
                <key>sourceSize</key>
                <string>{164,93}</string>
            </dict>
            <key>zhangliaolh7_zhangliaoyanwu_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,267},{136,85}}</string>
                <key>offset</key>
                <string>{7,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,5},{136,85}}</string>
                <key>sourceSize</key>
                <string>{164,93}</string>
            </dict>
            <key>zhangliaolh7_zhangliaoyanwu_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,192},{138,85}}</string>
                <key>offset</key>
                <string>{7,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,5},{138,85}}</string>
                <key>sourceSize</key>
                <string>{164,93}</string>
            </dict>
            <key>zhangliaolh7_zhangliaoyanwu_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,192},{146,89}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,2},{146,89}}</string>
                <key>sourceSize</key>
                <string>{164,93}</string>
            </dict>
            <key>zhangliaolh7_zhangliaoyanwu_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,97},{152,93}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{152,93}}</string>
                <key>sourceSize</key>
                <string>{164,93}</string>
            </dict>
            <key>zhangliaolh7_zhangliaoyanwu_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,97},{160,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{160,93}}</string>
                <key>sourceSize</key>
                <string>{164,93}</string>
            </dict>
            <key>zhangliaolh7_zhangliaoyumao.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,97},{20,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,44}}</string>
                <key>sourceSize</key>
                <string>{20,44}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zhangliaolh7.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1e9ad6a7a618f0c9ad0c21eb5353f643:1/1$</string>
            <key>textureFileName</key>
            <string>zhangliaolh7.png</string>
        </dict>
    </dict>
</plist>
