<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zuocicjzpszlh_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,944},{66,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,120}}</string>
                <key>sourceSize</key>
                <string>{66,120}</string>
            </dict>
            <key>zuocicjzpszlh_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,362},{190,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,189}}</string>
                <key>sourceSize</key>
                <string>{190,189}</string>
            </dict>
            <key>zuocicjzpszlh_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,875},{20,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,5}}</string>
                <key>sourceSize</key>
                <string>{20,5}</string>
            </dict>
            <key>zuocicjzpszlh_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,194},{36,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,45}}</string>
                <key>sourceSize</key>
                <string>{36,45}</string>
            </dict>
            <key>zuocicjzpszlh_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,553},{22,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,32}}</string>
                <key>sourceSize</key>
                <string>{22,32}</string>
            </dict>
            <key>zuocicjzpszlh_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{985,2},{33,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,57}}</string>
                <key>sourceSize</key>
                <string>{33,57}</string>
            </dict>
            <key>zuocicjzpszlh_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,931},{11,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,12}}</string>
                <key>sourceSize</key>
                <string>{11,12}</string>
            </dict>
            <key>zuocicjzpszlh_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,890},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>zuocicjzpszlh_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,931},{83,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,62}}</string>
                <key>sourceSize</key>
                <string>{83,62}</string>
            </dict>
            <key>zuocicjzpszlh_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,362},{217,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,71}}</string>
                <key>sourceSize</key>
                <string>{217,71}</string>
            </dict>
            <key>zuocicjzpszlh_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,958},{44,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,43}}</string>
                <key>sourceSize</key>
                <string>{44,43}</string>
            </dict>
            <key>zuocicjzpszlh_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{837,372},{155,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,151}}</string>
                <key>sourceSize</key>
                <string>{155,151}</string>
            </dict>
            <key>zuocicjzpszlh_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{791,735},{109,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,58}}</string>
                <key>sourceSize</key>
                <string>{109,58}</string>
            </dict>
            <key>zuocicjzpszlh_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,925},{89,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,104}}</string>
                <key>sourceSize</key>
                <string>{89,104}</string>
            </dict>
            <key>zuocicjzpszlh_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,683},{101,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,57}}</string>
                <key>sourceSize</key>
                <string>{101,57}</string>
            </dict>
            <key>zuocicjzpszlh_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,840},{18,33}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,33}}</string>
                <key>sourceSize</key>
                <string>{20,33}</string>
            </dict>
            <key>zuocicjzpszlh_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{994,372},{55,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,23}}</string>
                <key>sourceSize</key>
                <string>{55,23}</string>
            </dict>
            <key>zuocicjzpszlh_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{903,779},{64,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,98}}</string>
                <key>sourceSize</key>
                <string>{64,98}</string>
            </dict>
            <key>zuocicjzpszlh_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,190},{238,76}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{238,76}}</string>
                <key>sourceSize</key>
                <string>{238,78}</string>
            </dict>
            <key>zuocicjzpszlh_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{847,909},{61,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,60}}</string>
                <key>sourceSize</key>
                <string>{61,60}</string>
            </dict>
            <key>zuocicjzpszlh_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{767,589},{41,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,100}}</string>
                <key>sourceSize</key>
                <string>{41,100}</string>
            </dict>
            <key>zuocicjzpszlh_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,268},{128,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,102}}</string>
                <key>sourceSize</key>
                <string>{128,102}</string>
            </dict>
            <key>zuocicjzpszlh_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{865,845},{54,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,70}}</string>
                <key>sourceSize</key>
                <string>{54,70}</string>
            </dict>
            <key>zuocicjzpszlh_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,557},{159,124}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{159,124}}</string>
                <key>sourceSize</key>
                <string>{161,124}</string>
            </dict>
            <key>zuocicjzpszlh_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,840},{38,149}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,149}}</string>
                <key>sourceSize</key>
                <string>{44,151}</string>
            </dict>
            <key>zuocicjzpszlh_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,688},{45,118}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{45,118}}</string>
                <key>sourceSize</key>
                <string>{47,118}</string>
            </dict>
            <key>zuocicjzpszlh_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,931},{87,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,42}}</string>
                <key>sourceSize</key>
                <string>{87,42}</string>
            </dict>
            <key>zuocicjzpszlh_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,581},{122,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{122,88}}</string>
                <key>sourceSize</key>
                <string>{122,90}</string>
            </dict>
            <key>zuocicjzpszlh_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{937,845},{57,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,64}}</string>
                <key>sourceSize</key>
                <string>{57,64}</string>
            </dict>
            <key>zuocicjzpszlh_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{969,904},{49,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,52}}</string>
                <key>sourceSize</key>
                <string>{49,52}</string>
            </dict>
            <key>zuocicjzpszlh_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,1004},{22,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,14}}</string>
                <key>sourceSize</key>
                <string>{22,14}</string>
            </dict>
            <key>zuocicjzpszlh_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,840},{162,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,71}}</string>
                <key>sourceSize</key>
                <string>{162,71}</string>
            </dict>
            <key>zuocicjzpszlh_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,633},{76,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,53}}</string>
                <key>sourceSize</key>
                <string>{76,53}</string>
            </dict>
            <key>zuocicjzpszlh_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,717},{206,91}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,91}}</string>
                <key>sourceSize</key>
                <string>{206,93}</string>
            </dict>
            <key>zuocicjzpszlh_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,843},{64,75}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,5},{64,75}}</string>
                <key>sourceSize</key>
                <string>{72,85}</string>
            </dict>
            <key>zuocicjzpszlh_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{985,61},{90,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,29}}</string>
                <key>sourceSize</key>
                <string>{90,29}</string>
            </dict>
            <key>zuocicjzpszlh_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,742},{94,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,51}}</string>
                <key>sourceSize</key>
                <string>{94,51}</string>
            </dict>
            <key>zuocicjzpszlh_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{655,268},{233,88}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{233,88}}</string>
                <key>sourceSize</key>
                <string>{233,104}</string>
            </dict>
            <key>zuocicjzpszlh_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,340},{215,79}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,79}}</string>
                <key>sourceSize</key>
                <string>{215,95}</string>
            </dict>
            <key>zuocicjzpszlh_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,840},{89,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,88}}</string>
                <key>sourceSize</key>
                <string>{89,88}</string>
            </dict>
            <key>zuocicjzpszlh_45.png</key>
            <dict>
                <key>frame</key>
                <string>{{837,358},{14,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,12}}</string>
                <key>sourceSize</key>
                <string>{14,12}</string>
            </dict>
            <key>zuocicjzpszlh_46.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,984},{38,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,34}}</string>
                <key>sourceSize</key>
                <string>{38,34}</string>
            </dict>
            <key>zuocicjzpszlh_47.png</key>
            <dict>
                <key>frame</key>
                <string>{{909,904},{58,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,59}}</string>
                <key>sourceSize</key>
                <string>{58,59}</string>
            </dict>
            <key>zuocicjzpszlh_48.png</key>
            <dict>
                <key>frame</key>
                <string>{{847,972},{50,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,37}}</string>
                <key>sourceSize</key>
                <string>{50,37}</string>
            </dict>
            <key>zuocicjzpszlh_49.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,838},{50,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,44}}</string>
                <key>sourceSize</key>
                <string>{50,44}</string>
            </dict>
            <key>zuocicjzpszlh_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,2},{326,234}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,7},{326,234}}</string>
                <key>sourceSize</key>
                <string>{332,244}</string>
            </dict>
            <key>zuocicjzpszlh_50.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,909},{63,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,73}}</string>
                <key>sourceSize</key>
                <string>{63,73}</string>
            </dict>
            <key>zuocicjzpszlh_51.png</key>
            <dict>
                <key>frame</key>
                <string>{{1003,779},{15,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,36}}</string>
                <key>sourceSize</key>
                <string>{15,36}</string>
            </dict>
            <key>zuocicjzpszlh_52.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,589},{107,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,92}}</string>
                <key>sourceSize</key>
                <string>{107,92}</string>
            </dict>
            <key>zuocicjzpszlh_53.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,525},{180,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,53}}</string>
                <key>sourceSize</key>
                <string>{180,53}</string>
            </dict>
            <key>zuocicjzpszlh_54.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,846},{167,132}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,132}}</string>
                <key>sourceSize</key>
                <string>{169,132}</string>
            </dict>
            <key>zuocicjzpszlh_55.png</key>
            <dict>
                <key>frame</key>
                <string>{{985,153},{39,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,33}}</string>
                <key>sourceSize</key>
                <string>{39,33}</string>
            </dict>
            <key>zuocicjzpszlh_56.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,698},{146,328}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,328}}</string>
                <key>sourceSize</key>
                <string>{148,332}</string>
            </dict>
            <key>zuocicjzpszlh_57.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,742},{84,96}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,96}}</string>
                <key>sourceSize</key>
                <string>{84,98}</string>
            </dict>
            <key>zuocicjzpszlh_58.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,688},{85,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,89}}</string>
                <key>sourceSize</key>
                <string>{85,89}</string>
            </dict>
            <key>zuocicjzpszlh_59.png</key>
            <dict>
                <key>frame</key>
                <string>{{679,520},{129,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,67}}</string>
                <key>sourceSize</key>
                <string>{129,67}</string>
            </dict>
            <key>zuocicjzpszlh_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,238},{122,239}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{122,239}}</string>
                <key>sourceSize</key>
                <string>{128,243}</string>
            </dict>
            <key>zuocicjzpszlh_60.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,718},{134,120}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{134,120}}</string>
                <key>sourceSize</key>
                <string>{136,126}</string>
            </dict>
            <key>zuocicjzpszlh_61.png</key>
            <dict>
                <key>frame</key>
                <string>{{679,358},{156,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{156,160}}</string>
                <key>sourceSize</key>
                <string>{156,162}</string>
            </dict>
            <key>zuocicjzpszlh_62.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,580},{51,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,183}}</string>
                <key>sourceSize</key>
                <string>{51,183}</string>
            </dict>
            <key>zuocicjzpszlh_63.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,633},{53,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,130}}</string>
                <key>sourceSize</key>
                <string>{53,130}</string>
            </dict>
            <key>zuocicjzpszlh_65.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,553},{107,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,162}}</string>
                <key>sourceSize</key>
                <string>{107,162}</string>
            </dict>
            <key>zuocicjzpszlh_66.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,2},{241,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,186}}</string>
                <key>sourceSize</key>
                <string>{241,186}</string>
            </dict>
            <key>zuocicjzpszlh_67.png</key>
            <dict>
                <key>frame</key>
                <string>{{561,717},{225,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,89}}</string>
                <key>sourceSize</key>
                <string>{225,89}</string>
            </dict>
            <key>zuocicjzpszlh_68.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{410,336}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{410,336}}</string>
                <key>sourceSize</key>
                <string>{410,336}</string>
            </dict>
            <key>zuocicjzpszlh_69.png</key>
            <dict>
                <key>frame</key>
                <string>{{791,795},{110,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,46}}</string>
                <key>sourceSize</key>
                <string>{110,46}</string>
            </dict>
            <key>zuocicjzpszlh_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,340},{329,356}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{329,356}}</string>
                <key>sourceSize</key>
                <string>{337,366}</string>
            </dict>
            <key>zuocicjzpszlh_70.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,846},{195,168}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{195,168}}</string>
                <key>sourceSize</key>
                <string>{197,168}</string>
            </dict>
            <key>zuocicjzpszlh_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{909,965},{52,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{52,61}}</string>
                <key>sourceSize</key>
                <string>{52,63}</string>
            </dict>
            <key>zuocicjzpszlh_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{655,238},{27,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,85}}</string>
                <key>sourceSize</key>
                <string>{27,85}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zuocilh5.pvr.ccz</string>
            <key>size</key>
            <string>{1020,1020}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9d763a5268ff313d069ced061e8d0f10:1/1$</string>
            <key>textureFileName</key>
            <string>zuocilh5.pvr.ccz</string>
        </dict>
    </dict>
</plist>
