<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zhouyulh8_xingxing.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,584},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>zhouyulh8_zhouyuhuo_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,488},{211,94}}</string>
                <key>offset</key>
                <string>{5,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,15},{211,94}}</string>
                <key>sourceSize</key>
                <string>{229,114}</string>
            </dict>
            <key>zhouyulh8_zhouyuhuo_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{227,114}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,114}}</string>
                <key>sourceSize</key>
                <string>{229,114}</string>
            </dict>
            <key>zhouyulh8_zhouyuhuo_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,112},{223,112}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{223,112}}</string>
                <key>sourceSize</key>
                <string>{229,114}</string>
            </dict>
            <key>zhouyulh8_zhouyuhuo_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,218},{223,86}}</string>
                <key>offset</key>
                <string>{-3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{223,86}}</string>
                <key>sourceSize</key>
                <string>{229,114}</string>
            </dict>
            <key>zhouyulh8_zhouyuhuo_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,2},{227,108}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{227,108}}</string>
                <key>sourceSize</key>
                <string>{229,114}</string>
            </dict>
            <key>zhouyulh8_zhouyuhuo_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,338},{217,104}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{217,104}}</string>
                <key>sourceSize</key>
                <string>{229,114}</string>
            </dict>
            <key>zhouyulh8_zhouyuhuo_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,394},{217,92}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,19},{217,92}}</string>
                <key>sourceSize</key>
                <string>{229,114}</string>
            </dict>
            <key>zhouyulh8_zhouyuhuo_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,306},{219,86}}</string>
                <key>offset</key>
                <string>{-5,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,28},{219,86}}</string>
                <key>sourceSize</key>
                <string>{229,114}</string>
            </dict>
            <key>zhouyulh8_zhouyuhuo_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,118},{223,98}}</string>
                <key>offset</key>
                <string>{-3,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{223,98}}</string>
                <key>sourceSize</key>
                <string>{229,114}</string>
            </dict>
            <key>zhouyulh8_zhouyuhuo_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,554},{209,98}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,16},{209,98}}</string>
                <key>sourceSize</key>
                <string>{229,114}</string>
            </dict>
            <key>zhouyulh8_zhouyuhuo_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,444},{213,108}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{213,108}}</string>
                <key>sourceSize</key>
                <string>{229,114}</string>
            </dict>
            <key>zhouyulh8_zhouyuhuo_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,226},{221,110}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{221,110}}</string>
                <key>sourceSize</key>
                <string>{229,114}</string>
            </dict>
            <key>zhouyulh8_zhouyuqinsaoguang_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,678},{22,18}}</string>
                <key>offset</key>
                <string>{-36,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,18}}</string>
                <key>sourceSize</key>
                <string>{94,62}</string>
            </dict>
            <key>zhouyulh8_zhouyuqinsaoguang_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,288},{56,44}}</string>
                <key>offset</key>
                <string>{19,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,15},{56,44}}</string>
                <key>sourceSize</key>
                <string>{94,62}</string>
            </dict>
            <key>zhouyulh8_zhouyuqinsaoguang_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,40},{48,42}}</string>
                <key>offset</key>
                <string>{23,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,20},{48,42}}</string>
                <key>sourceSize</key>
                <string>{94,62}</string>
            </dict>
            <key>zhouyulh8_zhouyuqinsaoguang_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,790},{42,42}}</string>
                <key>offset</key>
                <string>{26,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,20},{42,42}}</string>
                <key>sourceSize</key>
                <string>{94,62}</string>
            </dict>
            <key>zhouyulh8_zhouyuqinsaoguang_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,744},{34,40}}</string>
                <key>offset</key>
                <string>{30,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,22},{34,40}}</string>
                <key>sourceSize</key>
                <string>{94,62}</string>
            </dict>
            <key>zhouyulh8_zhouyuqinsaoguang_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,720},{22,36}}</string>
                <key>offset</key>
                <string>{36,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,26},{22,36}}</string>
                <key>sourceSize</key>
                <string>{94,62}</string>
            </dict>
            <key>zhouyulh8_zhouyuqinsaoguang_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,702},{12,24}}</string>
                <key>offset</key>
                <string>{41,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,38},{12,24}}</string>
                <key>sourceSize</key>
                <string>{94,62}</string>
            </dict>
            <key>zhouyulh8_zhouyuqinsaoguang_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,768},{32,24}}</string>
                <key>offset</key>
                <string>{-31,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,24}}</string>
                <key>sourceSize</key>
                <string>{94,62}</string>
            </dict>
            <key>zhouyulh8_zhouyuqinsaoguang_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,724},{42,32}}</string>
                <key>offset</key>
                <string>{-26,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,32}}</string>
                <key>sourceSize</key>
                <string>{94,62}</string>
            </dict>
            <key>zhouyulh8_zhouyuqinsaoguang_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,2},{50,36}}</string>
                <key>offset</key>
                <string>{-22,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,36}}</string>
                <key>sourceSize</key>
                <string>{94,62}</string>
            </dict>
            <key>zhouyulh8_zhouyuqinsaoguang_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,334},{56,38}}</string>
                <key>offset</key>
                <string>{-18,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{56,38}}</string>
                <key>sourceSize</key>
                <string>{94,62}</string>
            </dict>
            <key>zhouyulh8_zhouyuqinsaoguang_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,84},{62,46}}</string>
                <key>offset</key>
                <string>{-10,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{62,46}}</string>
                <key>sourceSize</key>
                <string>{94,62}</string>
            </dict>
            <key>zhouyulh8_zhouyuqinsaoguang_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,742},{66,42}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,6},{66,42}}</string>
                <key>sourceSize</key>
                <string>{94,62}</string>
            </dict>
            <key>zhouyulh8_zhouyuqinsaoguang_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,660},{68,40}}</string>
                <key>offset</key>
                <string>{9,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,9},{68,40}}</string>
                <key>sourceSize</key>
                <string>{94,62}</string>
            </dict>
            <key>zhouyulh8_zhouyuqinsaoguang_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,718},{68,40}}</string>
                <key>offset</key>
                <string>{13,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,12},{68,40}}</string>
                <key>sourceSize</key>
                <string>{94,62}</string>
            </dict>
            <key>zhouyulh8_zhouyushandiansi_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,702},{68,38}}</string>
                <key>offset</key>
                <string>{6,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,0},{68,38}}</string>
                <key>sourceSize</key>
                <string>{118,104}</string>
            </dict>
            <key>zhouyulh8_zhouyushandiansi_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,148},{54,66}}</string>
                <key>offset</key>
                <string>{-21,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,5},{54,66}}</string>
                <key>sourceSize</key>
                <string>{118,104}</string>
            </dict>
            <key>zhouyulh8_zhouyushandiansi_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,654},{102,90}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,4},{102,90}}</string>
                <key>sourceSize</key>
                <string>{118,104}</string>
            </dict>
            <key>zhouyulh8_zhouyushandiansi_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,678},{66,82}}</string>
                <key>offset</key>
                <string>{20,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,11},{66,82}}</string>
                <key>sourceSize</key>
                <string>{118,104}</string>
            </dict>
            <key>zhouyulh8_zhouyushandiansi_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,240},{56,46}}</string>
                <key>offset</key>
                <string>{22,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,43},{56,46}}</string>
                <key>sourceSize</key>
                <string>{118,104}</string>
            </dict>
            <key>zhouyulh8_zhouyushandiansi_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,650},{104,72}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,16},{104,72}}</string>
                <key>sourceSize</key>
                <string>{118,104}</string>
            </dict>
            <key>zhouyulh8_zhouyushandiansi_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,654},{62,68}}</string>
                <key>offset</key>
                <string>{-18,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,16},{62,68}}</string>
                <key>sourceSize</key>
                <string>{118,104}</string>
            </dict>
            <key>zhouyulh8_zhouyushandiansi_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,746},{56,22}}</string>
                <key>offset</key>
                <string>{6,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,1},{56,22}}</string>
                <key>sourceSize</key>
                <string>{118,104}</string>
            </dict>
            <key>zhouyulh8_zhouyushandiansi_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,216},{52,22}}</string>
                <key>offset</key>
                <string>{11,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,1},{52,22}}</string>
                <key>sourceSize</key>
                <string>{118,104}</string>
            </dict>
            <key>zhouyulh8_zhouyushandiansi_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,374},{114,68}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,15},{114,68}}</string>
                <key>sourceSize</key>
                <string>{118,104}</string>
            </dict>
            <key>zhouyulh8_zhouyushandiansi_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,584},{116,64}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{116,64}}</string>
                <key>sourceSize</key>
                <string>{118,104}</string>
            </dict>
            <key>zhouyulh8_zhouyushandiansi_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,724},{70,64}}</string>
                <key>offset</key>
                <string>{-20,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,20},{70,64}}</string>
                <key>sourceSize</key>
                <string>{118,104}</string>
            </dict>
            <key>zhouyulh8_zhouyushandiansi_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,654},{64,36}}</string>
                <key>offset</key>
                <string>{-21,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,26},{64,36}}</string>
                <key>sourceSize</key>
                <string>{118,104}</string>
            </dict>
            <key>zhouyulh8_zhouyushandiansi_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,490},{74,104}}</string>
                <key>offset</key>
                <string>{-15,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{74,104}}</string>
                <key>sourceSize</key>
                <string>{118,104}</string>
            </dict>
            <key>zhouyulh8_zhouyushandiansi_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,596},{62,84}}</string>
                <key>offset</key>
                <string>{-20,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,3},{62,84}}</string>
                <key>sourceSize</key>
                <string>{118,104}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zhouyulh8.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1b2947dec02eb98faff72346efc1ac5d:1/1$</string>
            <key>textureFileName</key>
            <string>zhouyulh8.png</string>
        </dict>
    </dict>
</plist>
